 .hm-menu>ul>li {
    float: left;
    list-style: none;
}

.hm-menu>ul>li.dropdown>span.msg-notfcsn {
    background-color: #E26D48;
    position: absolute;
    right: -4px;
    z-index: 99;
    top: 0px;
    font-size: 11px;
    padding: 2px;
    border-radius: 4px;
    color: #fff;
    min-width: 16px;
    text-align: center;
}

.hm-menu>ul>li:nth-child(4) a {
    padding-right: 0px;
}
.fa-bell:before {
    content: "\f0f3";
}
.hm-menu>ul>li>ul.dropdown-menu.notifcsn-drop {
    min-width: 320px;
    max-width: 320px;
}
.hm-menu>ul>li>ul.dropdown-menu {
    right: -12px !important;
    left: auto;
    margin-top: 0px;
}
.for-scrl {
    float: left;
    width: 100%;
    max-height: 325px;
    overflow-y: scroll;
}

a.title_sch {
    color: black !important;
}

/*05-06-2019*/
.dropdown-menu.notifcsn-drop #noticescroll li.red-notifcsn {
    padding: 5px 15px;
}

h5.no_record_noti {
    text-align: center;
    font-size: 16px;
}