
#compose-modal #loadingmessage {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #0000009e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    }
#compose-modal #loadingmessage img {
    max-width: 100px !important;
    }
div#addmsg {
    text-align: center;
    margin-top: 15px;
    }
.frm_add label {
    font-size: 18px;
    font-weight: 500;
    }
.form-control {
    font-size:16px !important;
    }


.navbar-right .btn.btn-default {
    background-color: #279ce7;
    color: #fff !important;
    border-color:#279ce7;
    border-bottom-color: #279ce7;
    border-radius: 20px !important;
    }



.navbar-right .btn.btn-default:hover {
    background-color:none;
    color:#000 !important;
    border-color: #3ec6de;
    border-bottom-color: #3ec6de;    
    }

.table-mailbox tr{
    cursor:pointer;
    }

.buttondiv button#btn_delete {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0;
    text-align: center;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    border: 2px solid #117bc1;
    transition: .5s;
    cursor: pointer;
    min-width: 180px;
    background: #2499e3;
    color: #fff;
    float: right;
    }

.delete-email a {
    background:#269ce7;
    border:1px solid #0466a9;
    border-radius:20px;
    padding:6px 25px;
    color:#fff;
    }
.delete-email {
    display:inline-block;
    }


.mod_pdf {
    max-width: 120px;
    display: inline-block;
    margin: 15px 0px 15px 15px;
}

.mod_pdf a {
        border: 1px solid #ccc;
    padding: 5px;
    display: inline-block;
    height: 85px !important;
}


#getCode h4.modal-title {
    display: inline-block;
}

#getCode button.close {
    color: #000;
    opacity: 1;
    font-size: 30px;
    margin-top: -5px;
}

#getCode h4.modal-title {
    display: inline-block;
}

#getCode button.close {
    color: #000;
    opacity: 1;
    font-size: 30px;
    margin-top: -5px;
}

.bx_stw strong {
    font-size: 16px;
}

.bx_hts {
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px; 
}
#detail_mail .modal-dialog{
    width: 500px !important;
  }

div#getCode {
    display: inline-block;
    width: 100%;
    }

.mod_pdf a img {
    height: 100%;
    width: 100% !important;
}



.mod_img {
    display: inline-block;
    padding: 15px;
    width: 100%;
    }
.mod_img a {
    max-width: 260px;
    display: inline-block; 
    }
.mod_img a iframe#myiframe {
    overflow: auto;
    }

.mod_img a {
    max-width: 120px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 85px !important;
    text-align:center; 
}   
.mod_img a img {
    height: 100%;
}


ul.attach_file {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

ul.attach_file li {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

#modal_form_id .modal-footer.clearfix {
    margin-top: 0px;
}