#compose-modal #loadingmessage {

    position: absolute;

    top: 0px;

    left: 0px;

    right: 0px;

    margin: 0px auto;

    text-align: center;

    width: 100%;

    height: 100%;

    background: #0000009e;

    text-align: center;

    display: flex;

    align-items: center;

    justify-content: center;

    vertical-align: middle;

}
/* .header-main.he_cont .navbar .container-fluid{
flex-flow: row wrap !important;
} */
section.content.weather-bg.news_section label {
    font-weight: normal;
    font-size: 17px;
}
section.content.weather-bg.news_section {
    min-height: auto;
}
section.content.weather-bg.news_section .col-md-2 {    margin-bottom: 5px;
    text-align: right;
    justify-content: center;
    vertical-align: middle;
}
.news_section .col-md-10 h3 {
    padding: 0;
    margin-top: 0;    font-size: 24px;
    margin-bottom: 10px;
}
section.content.weather-bg.news_section .col-md-10 input {
    margin-right: 6px !important;
}
#compose-modal #loadingmessage img {

    max-width: 100px !important;

}

div#addmsg {

    text-align: center;

    margin-top: 15px;

}

.frm_add label {

    font-size: 18px;

    font-weight: 500;

}

.form-control {

    font-size:16px !important;

}

.navbar-right .btn.btn-default {

    background-color: #279ce7;

    color: #fff !important;

    border-color:#279ce7;

    border-bottom-color: #279ce7;

    border-radius: 20px !important;

}

.navbar-right .btn.btn-default:hover {

    background-color:none;

    color:#000 !important;

    border-color: #3ec6de;

    border-bottom-color: #3ec6de;    

}

.table-mailbox tr{

    cursor:pointer;

}

.buttondiv button#btn_delete{

    font-size: 15px;

    font-weight: 600;

    text-transform: uppercase;

    margin-left: 0;

    text-align: center;

    padding: 8px 15px;

    border-radius: 20px;

    margin-right: 0px;

    border: 2px solid #5c676f;

    transition: .5s;

    cursor: pointer;

    min-width: 180px;

    background: #878f96;

    color: #fff;

    float: right;

}

.buttondiv .enbl_btn {

    border: 2px solid #117bc1 !important;

    background: #2499e3 !important;

    color: #fff !important;    

}

.delete-email a {

    background: #269ce7;

    border: 1px solid #0466a9;

    padding: 2px 5px;

    color: #fff;

    font-size: 19px;

    display: inline-block;

    border-radius: 50%;

    width: 32px;

    text-align: center;

    height: 32px;

}

.delete-email a:hover {

    color:#269ce7; 

    background:none;

    border: 1px solid #0466a9;

}

.delete-email {

    display:inline-block;

}

.mod_pdf {

    max-width: 120px;

    display: inline-block;

    margin: 15px 0px 15px 15px;

}

.mod_pdf a {

    border: 1px solid #ccc;

    padding: 5px;

    display: inline-block;

    height: 85px !important;

}

#getCode h4.modal-title {

    display: inline-block;

}

#getCode button.close {

    color: #000;

    opacity: 1;

    font-size: 30px;

    margin-top: -5px;

}

#getCode h4.modal-title {

    display: inline-block;

}

#getCode button.close {

    color: #000;

    opacity: 1;

    font-size: 30px;

    margin-top: -5px;

    line-height: 8px;

}



/*.bx_stw strong {

    font-size: 16px;

    }*/



    .bx_stw {

        font-size: 16px;

        padding: 15px;

        display: inline-block;

        word-break: break-all;

        width: calc(100% - 80px);

    }





    .bx_hts {

        margin-top:0px;

        border-top:1px solid #e5e5e5;

        padding:15px 15px;

    }

    .msg_cls {

        font-size: 16px;

        display: inline-block;

    }

    #detail_mail .modal-dialog{

        width:560px !important;

    }

    div#getCode {

        display: inline-block;

        width: 100%;

    }

    .mod_pdf a img {

        height: 100%;

        width: 100% !important;

    }

    .mod_img {

        display: inline-block;

        padding: 15px;

        width: 100%;

    }

    .mod_img a {

        max-width: 260px;

        display: inline-block; 

    }

    .mod_img a iframe#myiframe {

        overflow: auto;

    }

    .mod_img a {

        max-width:120px;

        border:1px solid #ccc;

        padding:5px;

        height:85px !important;

        text-align:center; 

    }    

    .mod_img a img {

        height:100%;

    }

    .mod_img img {

        height:100%;

    }

    ul.attach_file {

        list-style:none;

        padding:0px;

        margin-top:10px;

        display:inline-block;

        margin-bottom: 0px;

        width: 100%;

    }

    ul.attach_file li {

        border: 1px solid #ccc;

        padding: 5px 10px;

    }

    #modal_form_id .modal-footer.clearfix {

        margin-top: 0px;

    }

    .date_cls {

        float: right;

        display: inline-block;

        width: 100%;

        text-align: right;

        margin-bottom: 5px;

        font-weight: 600;

    }

    ul.attach_file li .removeImg .fa {

        float: right;

        margin-top: -17px;

        font-weight: 500 !important;

    }

    button.bk_btn a {

        font-size: 15px;

        font-weight: 600;

        text-transform: uppercase;

        margin-left: 0;

        text-align: center;

        padding: 8px 15px;

        border-radius: 20px;

        margin-right: 10px;

        border: 2px solid #117bc1;

        transition: .5s;

        cursor: pointer;

        min-width: 100px;

        background: #2499e3;

        color: #fff;

        float: right;

    }

    button.bk_btn {

        background:none;

        border:0px;

        padding:0px;

        margin:-8px 0px;

    }

    button.bk_btn a:hover {

        background:#fff;

        color:#1b8cd4;

    }

    .buttondiv .enbl_btn:hover {

        background:#fff;

        color:#1b8cd4;

    }

    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {

        background-color:#269ce7 !important;

        border-color:#269ce7 !important;

    }

    #compose-modal .close {

        opacity:.82;    

    }

    #compose-modal .btn.btn-success{

        background-color:#269ce7;

        border-color:#2289cc;

        border-radius:40px;

        width: 151px;

    }

    #modal_form_id label.error{

        display:inline-block;

        width:100%;

        position:absolute;

        left:0px;

        bottom:-22px;

        font-size:13px;

        font-weight:600;

        color:#f00;

    }

    .swt_cor .col-sm-6 {

        position:absolute;

        top:20px;

        z-index:999;

        width:100px;

    }

    .tb_swt div#sampleTable_length {

        padding-left:100px;

        margin-bottom:5px;

    }

    div#sampleTable_paginate .pagination {

        margin: 5px 0px 0px !important;

        float: right;

    }

    div#sampleTable_info {

        margin-top: 5px;

    }

    ul.nav.nav-pills.nav-stacked {

        border: 1px solid #cccccc5c;

    }

    ul.nav.nav-pills.nav-stacked li + li {

        border-top: 1px solid #cccccc5c;

        margin: 0px;

    }

    .box-bSwt {

        padding:10px 20px 20px !important;

    }

    #getCode .modal-body {

        padding: 0px;

    }

    .to_mail_cls {

        padding:15px;

        display:inline-block;

        max-width:80px;

        width: 100%;

        font-size: 16px;

        font-weight: 600;

        float: left;

    }

    .to_mail_clses {

        display: inline-block;

        max-width: 80px;

        width: 100%;

        font-size: 16px;

        font-weight: 600;

    }

    ul.new_detail_cls li a img {

        max-height: 70px;

    }

    ul.new_detail_cls {

        list-style:none;

        padding:0px 10px;

        margin:0px 0px 10px;

        display:inline-block;

        width:100%;

    }

    ul.new_detail_cls li {

        max-width: 22%;

        border: 1px solid #ccc;

        padding: 5px;

        height: 85px !important;

        text-align: center;

        width: 100%;

        float: left;

        margin: 0% 1.50%;

        display: flex;

        align-items: center;

        justify-content: center;

    }

    ul.new_detail_cls li a {

        display: inline-block;

    }

    .newmsg {

        word-break: break-all;

        text-align: justify;

        margin-bottom: 5px;

    }

    .bx_details{

        padding-top:5px !important;  

    }

    #progress-wrp .progress-bar {

        height:4px !important;

        background-color:#269ce7 !important;

    }

    .doc_cate {

        padding:20px 15px;

        background:#eef5f9;

        overflow:auto;

    }

    .doc_cateMidd {

        padding: 15px;

        background: #fff;

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    }

    .mn_crt {

        text-align: center;

        background: #40aaec;

        padding: 15px;

        border-radius: 4px;

        margin-bottom: 30px;

    }

    .img_caTe {

        height: 100px;

        width: 100px;

        border-radius: 50%;

        margin: 0px auto 10px;

        display: inline-block;

    }

    .bx_subCat h4 {

        font-size:22px;

        white-space:nowrap;

        text-overflow:ellipsis;

        overflow:hidden;

    }

    .bx_subCat {

        color:#fff;

    }



    /**Dr. list page**/



    .themetechmount-box-team.themetechmount-teambox-view-overlay {

        background-color:#fff;

        -webkit-box-shadow:0 0 10px 0 rgba(41, 61, 88, 0.63);

        -moz-box-shadow:0 0 10px 0 rgba(41, 61, 88, 0.63);

        box-shadow:0 0 10px 0 rgba(41, 61, 88, 0.63);

        margin-bottom:25px;

    }

    .themetechmount-post-item{

        position:relative;

    }

    .themetechmount-team-image-box {

        position:relative;

        overflow:hidden;

    }

    .themetechmount-teambox-view-overlay .themetechmount-item-thumbnail {

        border:8px solid #fff;

        border-bottom:none;

        display:block;

        height:135px

    }

    .themetechmount-item-thumbnail-inner {

        display:block;

        max-height:200px;

        background:#40aaec;

        text-align:center;

    }

    img.wp-post-image {

        height:auto;

        max-width:100%;

    }

    .themetechmount-teambox-view-overlay:hover .themetechmount-overlay, .themetechmount-box-team.themetechmount-box-view-topimage-bottomcontent:hover .themetechmount-overlay {

        opacity:1;

        height:100%;

    }

    .themetechmount-box-team.themetechmount-teambox-view-overlay .themetechmount-box-content {

        text-align:center;

        position:relative;

        z-index:2;

        padding:10px 10px 2px;

    }

    .themetechmount-box-team.themetechmount-teambox-view-overlay:hover .themetechmount-box-content{

        background-color:#40aaec;

        -webkit-transition: all 0.3s ease-in-out;

        transition: all 0.3s ease-in-out;

    }

    .themetechmount-teambox-view-overlay .themetechmount-box-title h4 {

        font-size:19px;

        line-height:26px;

        margin-top:0px;

        font-weight:500;

        margin-bottom:5px;

    }

    .themetechmount-teambox-view-overlay .themetechmount-overlay{

        position:absolute;

        top:0;

        left:0;

        width:100%;

        height:100%;

        content: '';

        text-align:left;

        opacity:0;

        -webkit-transition: opacity .5s;

        transition: opacity .5s;

        background-color: rgba(29, 42, 55, 0.5);

        border:8px solid #40aaec;

        border-bottom:none;

    }

    .themetechmount-teambox-view-overlay .themetechmount-box-title h4 a {

        color:#033b4a;

        font-weight:600;    

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;

        display: inline-block;

        width: 100%;

    }

    .themetechmount-team-position {

        margin-bottom:10px;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;

        display: inline-block;

        width: 100%;

    }

    .themetechmount-teambox-view-overlay:hover .themetechmount-box-content h4 a{

        color:#fff;

    }

    .themetechmount-teambox-view-overlay:hover .themetechmount-team-position{

        color:#fff; 

    }

    .doc_cateMidd.doc_listMidd {

        padding:25px;

    }



    /* search start  */



    .searching a {

        color:#000;

        padding-top:1px;

        float:left;

        margin-left:12px;

        font-size:17px;

    }

    .search-inline {

        width: 100%;

        left: 0;   

        top: 0;

        height: 100%;

        position: absolute;

        opacity: 0;

        visibility: hidden;

        background-color: #ffffff;

        z-index: 9;

        transition: all .5s ease-in-out;

        margin-top: 2px;

    }

    .search-inline.search-visible {

        opacity: 1;

        visibility: visible;

        animation: fadeInDown 0.4s ease-in-out;

    }

    .search-inline button[type="submit"] {

        position: absolute;

        right: 52px;

        top: 0;

        background-color: transparent;

        border: 0px;

        top: 0;

        right: 80px;

        padding: 0px;

        cursor: pointer;

        width: 80px;

        height: 99%;

        background: #1078be;

        color: #fff;

    }

    .search-inline .form-control {

     position: absolute;

     left: 1%;

     top: 0;

     height: 100%;

     width: 99%;

     outline: none;

     background: #ffffff;

     border: 1px solid #0e77bc;

     font-size: 20px !important;

     padding-left: 15px;

 }

 .search-inline .search-close {

    position: absolute;

    top: 0;

    right: 0;

    color: #ffffff;

    width: 80px;

    height: 100%;

    text-align: center;

    display: table;

    background: #1078be;

    text-decoration: none;

    border-left:1px solid #fff;

}

.search-inline .search-close i {

    display:table-cell;

    vertical-align:middle;

}

.form-control {

    display:block;

    width: 100%;

    padding: .375rem .75rem;

    font-size: 1rem;

    line-height: 1.5;

    color: #495057;

    background-color: #efefef;

    background-clip: padding-box;

    border: 1px solid #efefef;

    border-radius: .25rem;

    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;

}

.bootstrap-datetimepicker-widget table td span {

    height: 34px !important;

    line-height: 34px !important;

}

.bootstrap-datetimepicker-widget table td {

    width: 0px !important;

}

.bootstrap-datetimepicker-widget table td {

    width: 54px !important;

    height: 34px !important;

    line-height: 34px !important;

}





@keyframes fadeInDown {

    from {

        opacity: 0;

        transform: translate3d(0, -20%, 0);

    }

    to {

        opacity: 1;

        transform: translate3d(0, 0, 0);

    }

}



/****/



a.search-open {

    float: right;

    border-radius: 50%;

    border: 1px solid #000;

    width: 30px;

    height: 30px;

    margin-top: -5px;

}

a.search-open .fa {

    color: #000;

    font-size: 20px;

}

.cat_pagination {

    text-align: center;

}

.cat_pagination ul.pagination.pagination-sm li a {

    padding: 10px 20px;

    font-size: 16px;

}

.cat_pagination .pagination>li>a:hover, .cat_pagination .pagination>li>span:hover, .cat_pagination .pagination>li>a:focus, .cat_pagination .pagination>li>span:focus {

    background-color: #269ce7 !important;

    border-color: #269ce7 !important;

    color: #fff !important;

}

.cat_pagination ul.pagination.pagination-sm {

    margin:0px;

}

.tm-team-details-list {

    list-style: none;

    padding: 0;

}

.tm-team-details-list > li {

    position: relative;

    padding: 3px 0 6px 0;

    font-size: 15px;

    line-height: 24px;

    display: block;

    float: left;

    width: 100%;

}

.tm-team-list-title {

    margin-right:8px;

    position:relative;

    color:#033b4a;

    font-weight:600;

    font-size:16px;

    line-height:20px;

    display:inline-block;

    max-width:190px;

    width: 100%;    

}

ul.tm-team-details-list {

    list-style: none;

    padding: 0px;

    margin: 0px;

    border-top: 1px solid #f2f2f2;

    padding-top: 25px;

    margin-top: 20px;

}

h2.tm_member {

    font-size: 25px;

    line-height: 32px;

    font-weight: 500;

    margin-bottom: 0;

    color: #033b4a;

}

h5.tm_position {

    font-size:16px;

    color:#6e6e6e;

    font-weight:400;

    margin-bottom:10px;

    word-break:break-all;

    padding-right:10px;

    line-height:20px;

}

.btn_apoi {

    background-color: #40aaec;

    font-size: 15px;

    font-weight: 600;

    text-transform: uppercase;

    margin-left: 0;

    text-align: center;

    padding:7px 20px;

    border-radius: 20px;

    border: 2px solid #117bc1;

    transition: .5s;

    cursor: pointer;

    min-width: 180px;

    background: #2499e3;

    color: #fff;

    margin-top:15px; 

    outline: none;

}

.btn_apoi:hover{

    background:none;

    color:#40aaec;  

}    

button.btn_apoi .fa{

    margin-right:6px;

}

.tm-team-list-value {

    display:inline-block;

    color:#6e6e6e;

    font-size:16px;

    width:calc(100% - 200px);

    float:right;

}

.tm-team-list-value a {

    color: #033b4a;

    font-size: 16px;

}

.tm-team-list-title .fa {

    width: 20px;

    color: #2499e3;

}

.pro_img {

    border:1px solid #e4e3e3;

    text-align:center;

    padding:15px;

}

.pro_img img {

    max-height:400px;

    width:100%;

}

a.btn_apoi:hover{

    background:none;

    color:#40aaec;

}

span.in_time {

    display:table;

}

.tm-team-list-value .bootstrap-timepicker {

    max-width: 240px;

}

ul.list_time li{

    color: #AAAAAA;

    display: inline-block;

    position: relative;

    float: left;

    width: auto;

}

ul.list_time li input[type=radio]{

    position: absolute;   

    z-index: 999;

    margin-top: 10px;

    opacity: 0;

}

ul.list_time li label{

    display:block;

    position:relative;

    font-size:16px;

    padding:2px 15px 0px 20px;

    margin:0px auto;

    height:22px;

    z-index:1;

    cursor:pointer;

    -webkit-transition: all 0.25s linear;

    font-weight:500;

    color:#6e6e6e;    

}

ul.list_time {

    list-style:none;

    padding:0px;

    margin:0px;

}

ul.list_time > li:hover label{

    color:#6e6e6e;

}

ul.list_time > li .check{

    display:block;

    position:absolute;

    border:2px solid #AAAAAA;

    border-radius:100%;

    height:15px;

    width:15px;

    top:7px;

    left:0px;

    z-index:1;

    transition:border .25s linear;

    -webkit-transition:border .25s linear;     

}

ul.list_time > li:hover .check {

    border: 2px solid #6e6e6e;

}

ul.list_time > li .check::before {

    display: block;

    position: absolute;

    content: '';

    border-radius: 100%;

    height: 7px;

    width: 7px;

    top: 2px;

    left: 2px;

    margin: auto;

    transition: background 0.25s linear;

    -webkit-transition: background 0.25s linear;    

}

ul.list_time > li input[type=radio]:checked ~ .check {

 border: 2px solid #2499e3;

}

ul.list_time > li input[type=radio]:checked ~ .check::before{

    background: #2499e3;

}

ul.list_time > li input[type=radio]:checked ~ label{

  color:#2499e3;

}

.reminder_listMain{

    position:relative; 

}

.reminder_listMain .row.swt_cor{

    height:14px;

}

.reminder_listMain .swt_cor .col-sm-6{    

    top:30px;

}

.rem_add {

    float:right;

    margin-top:-6px;

}

.edit_btn {

    background:#269ce7 !important;

    border-radius:20px;

    padding:1px 5px 2px;

    margin:0px !important;

    color:#fff !important;

    font-size:12px;

    margin-right:5px !important;

    width:50px;

    text-align:center;

    display:inline-block;

    border:1px solid #269ce7;

    min-width:60px;

}

.edit_btn:hover {

    background:none !important;

    color:#269ce7 !important;

}

.reminder_listMain table#sampleTable {

    margin-bottom:0px;

}

.main_thanu .tm-team-list-title {

    max-width: 150px;    

}

.main_thanu .tm-team-list-value {

    width: calc(100% - 160px);

}

#modal_form_id .input-group {

    margin-bottom: 25px;

}

form#reminder {

    min-height:350px;

}

.reminder_listMain .alert-success.message{

    position:absolute;

    left:0px;

    right:0px;

    width:320px;

    margin:0px auto;

    top:7px;

    z-index:999;

}

.error { 

    color:red;

}

.back_reminder{

    float:right;

    margin-top:-6px;

}

.back_reminder a{

    background:#269ce7 !important;

    border:1px solid #117bc1 !important;

    border-radius:20px;

    padding:6px 25px;

    margin:0px !important; 

}

.uploader button.btn.btn-primary.pull-right:hover {

    background:none !important; 

}

.full-image figure img {

    border:10px solid #fff;

    display:inline-block !important;

}

.full-image figure {

    max-width:80% !important;

    width:100% !important;

    display:inline-block !important;

    height:90% !important;

}

.frm_add label.error {

    position:absolute;

    font-size:14px;

    display:block;

    line-height:12px;

}

#reminder .form-group {

    margin-bottom:25px;

}

.btn-primary .fa {

    margin-right:5px;

}

button.btn.btn-primary + .btn.btn-primary {

    margin-left:10px !important;

}

.btn.btn-primary:hover {

    background:none !important;

    color:#269ce7 !important;

}

form.frm_add {

    min-height:400px;

}  

.tab_medi {

    text-align:center;

}

.tab_medi thead tr th {

    text-align:center;

} 

.weather {

    height:100px;

    font-size:16px;

    color:#fff;

}

.activity_ajax_main .hasDatepicker {

    width:100% !important;

}

.activity_ajax_main .hasDatepicker .ui-datepicker-inline {

    width:100%;

}

ul.activity_show {

    list-style:none;

    padding:0px;

    margin:15px 0px;

    border:1px solid #ccc;

}

ul.activity_show li + li {

    border-top:1px solid #ccc;

}

ul.activity_show li {

    padding:10px 15px;

    font-size:18px;

}

.activity_show_list {

    display:inline-block;

    min-width:160px;

}

.activity_show_list_second {

    display:inline-block;

}

.activity_show_list a{

    color:#333;

}

#shedule_dates .ui-datepicker td a{

    padding:1em !important;

    text-align:center !important; 

}

.ui-datepicker td a{

    text-align:center !important; 

}

.no_record {

    text-align:center;

    font-size:18px;

    padding:10px;

    font-weight:600;

}

.bx_med {

    max-width:180px;

    display:inline-block;

    width:100%;

    font-size:16px;

    font-weight:600;

    float: left;

}

.bx_meSec{

    display:inline-block;

    font-size:16px;

    font-weight:500;

}

#detail_acknowledge .form-group {    

    border: 1px solid #e6e5e5;

    padding: 15px;

    background: #f9f9f9;

}

.newcodecls {

    display:inline-block;

}

.newcodecls ul.tm-team-details-list {

    display:inline-block;

    padding:15px 30px;

}

.newcodecls .tm-team-list-value {

    width:calc(100% - 150px);

    word-break:break-all;

}

.newcodecls .tm-team-list-title {

    max-width:140px !important;

}

.newcodecls .pro_img {

    height:120px;

    margin:15px 20px 0px;

    width:120px;

    border-radius:50%;

    border:1px solid #dbdbdb;

}   

.newcodecls .pro_img img {

    width:auto;

    height:100%;

}

.newcodecls .bx_nam{

    margin-top:30px;

}

.newcodecls .bx_nam {

    margin-top:30px;

}

ul.common_remind_ul {

    list-style:none;

    margin:0px;

    padding:5px 20px 10px;

}

ul.common_remind_ul li + li {

    border-top:1px solid #ccc;

}

ul.common_remind_ul li {

    padding:10px;

    font-size:16px;

}

.remind_cls {

    float:left;

    min-width:130px;

    margin-right:15px;

}

.remind_new_cls {

    /*    font-weight:600;*/

    text-transform: capitalize;

}

span.multiselect-native-select {

    width:100%;

    display:block;

}

span.multiselect-native-select .btn-group {

    width: 100%;

}

span.multiselect-native-select .btn-group button {

    width: 100%;

    text-align: left;

    background: none;

    box-shadow: none;

    border-radius: 0px;

}

span.multiselect-native-select .open>.dropdown-menu {

    width: 100% !important;

}

html body .event a{

    background-color:#0b71b5 !important;

}

.red_star {

    color: #f00;

}

.min_img {

    width:50px;

    height:50px;

    border-radius: 50%;

    overflow: hidden;

    border: 1px solid #ccc;

    float: left;

}

.min_txt {

    display: inline-block;

    margin-left: 15px;

}

.min_txt h5 {

    font-size:18px;

    margin:5px 0px;

}

.articl_main {

    padding:15px;

    background:#fff;

    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);

}

.bx_artLeft h4 {

    font-size:30px;

    margin-bottom:15px;

}

.bx_artLeft {

    font-size:16px;

}

.bx_artLeft p {

    text-align:justify;

}

ul.list_like {

    list-style:none;

    padding:0px;

    margin:10px 0px;

    float:right;

}

ul.list_like li {

    display:inline-block;

}

ul.list_like li a .fa {

    font-size:22px;

    color:#269ce7;

}

ul.list_like li a {

    padding:5px;

}

.art_img {

    margin-bottom:20px;

    background:#f5f3f3;

    text-align:center;

}

.bx_minImg {

    margin-bottom:10px;

    display:inline-block;

    width:100%;

}

.post-thumb-wrapper {

    display:inline-block;

    width:80px;

    height:80px;

}

h2.mag-title {

    margin-top: 0px;

    margin-bottom: 20px;

}

ul.list_popu {

    list-style:none;

    padding:0px;

    margin:0px;

}

.post-thumb-wrapper {

    display:inline-block;

    width:80px;

    height:60px;

    float:left;

    border:1px solid #ccc;

}

.post-thumb-wrapper img{

    height:100%;

    width:100%;

}

.bx_txt {

    width: calc(100% - 100px);

    float:right;

}

.bx_txt h4 {

    margin:0px 0px 5px;

}

.bx_txt h4 a {

    font-size:18px;

    color:#707070;

}

ul.list_popu li {

    display:inline-block;

    width:100%;

}

ul.list_popu li + li {

    margin-top:10px;

    border-top:1px solid #e0e0e0;

    padding-top:10px;

}

.magmax_Posts {

    margin-bottom:25px;

}   

.multiselect-native-select label.error {

    bottom:-20px;

} 

ul.player_list {

    list-style:none;

    margin:50px 0px;

    padding:0px;

    float:right;

}

ul.player_list li {

    z-index:1000;

    position:relative;

    margin:7px 7px 0px 0px;

}

ul.player_list li a {

    border-radius:50%;

    width:40px;

    height:40px;

    display:inline-block;

    background:#435d6e;

    text-align:center;

    font-size:20px;

    line-height:40px;

    color:#a5b1b8;

}

.player_main .controls {

    top:7px;

    left:inherit;

    right:-57px;

}

.player_main .controls .play{

    width: 40px !important;

    height: 40px !important;

    background-size: 100% !important;

}

.player_main .volume {

    height: 11px;

    left: 20px;

    position: absolute;

    top: 165px;

    width: 120px;

}

.player_main .cover{

    border-radius:5px 5px 5px 5px;

    height:120px;

    left:20px;

    position:absolute;

    top:20px;

    width:120px;

    background-size:cover;

}

.player_main .descrip {

    display: inline-block;

    overflow: hidden;

    top: 80px;

    position: absolute;

    left: 167px;

    width: 260px;

    color: #acadb1;

    height: 100px;

    text-align: justify;  

}

.player_main .title {

    color:#ffffff;

    font-size:22px;

    font-weight:400;

    top:15px;

    white-space:nowrap;

    text-overflow:ellipsis;

    overflow:hidden;

    width:290px;

}

.player_main .artist {

    color:#acadb1;

    font-size:16px;

    top:45px;

}

div#ui-datepicker-div {

    z-index:999999999999999999999;

}

.dat span.input-group-addon{

    position:absolute;

    top:0px;

    right:0px;

    z-index:0;

    text-align:center;

    min-width:40px;

    height:34px;

    border-left:1px solid #ccc;

}

.dat input#datetimepickerh {

    z-index:1;

    position:relative;

    background:transparent;

    min-width:240px;

}

.new-music-btn{

    position:absolute !important;

    top:15px;

    z-index:9;

    right:12px;

}

.new-music-btn a.mus-new {

    background:#000000c9;

    width:20px;

    height:20px;

    display:block;

    text-align:center;

    color:#fff;

    border-radius:50%;    

}

.new-music-btn .dropdown-menu {

    right:0px;

    left:inherit;

    min-width:100px;

    padding:0px;

    -webkit-box-shadow: 0 0 10px 0 rgba(41, 61, 88, 0.63);

    -moz-box-shadow: 0 0 10px 0 rgba(41, 61, 88, 0.63);

    box-shadow:0 0 10px 0 rgba(41, 61, 88, 0.63);

    border-radius:2px;

}

.new-music-btn .dropdown-menu a {

    display:block;

    color:#000;

    padding:5px 10px;

}

.new-music-btn .dropdown-menu a + a {

    border-top:1px solid #ccc;

}

.new-music-btn .dropdown-menu a .fa {

    color:#333;

    margin-right:7px;

}

.new-music .themetechmount-teambox-view-overlay .themetechmount-box-title h4 { 

    line-height: 20px;

    margin-top: 0px; 

    margin-bottom: 0px;

    height: 40px;

    vertical-align: middle;

    align-items: center;

    display: flex;

    justify-content: center;

}

.no-record{

    color:#f00;

}

.tm-team-list-value .bootstrap-timepicker div#datetimepickerhs{

    width:100%;

}

ul.list_time li label.error {

    color:#f00;

    display:inline-block;

    width:250px;

    position:absolute;

    bottom:-17px;

    left:-20px;

    font-size:15px;

}

.multiselect-native-select .dropdown-menu>li>a {    

    padding:3px 0px;

}

.toggle.btn {    

    height: 36px !important;

}

.toggle-group .btn {

    padding-top: 3px !important;

}

.movieSize video{

    width:100%;

}

.con_detailMain{

    padding:15px;

    background:#fff;

    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);

}

.con_detailMain .btn_apoi{

    font-size:20px !important;

    min-width:50px !important;

    margin-top:0px !important;

    min-height:50px;

    border-radius:50%;

    padding:0px;

    text-align:center;

    margin:0px auto;

    float:none;   

}

.con_detailMain .tm-team-list-value{

    display:inline-block;

    color:#6e6e6e;

    font-size:16px;

    width:auto;    

    margin:0px auto 5px;

    float:none !important;

}

.con_detailMain h5.tm_position {

    font-size:20px !important;

    color:#484848 !important;    

}

.con_detailMain .btn_apoi .fa{

    margin-right:0px;

}

.con_detailMain .tm-team-list-title {

    margin-right:0px;

    font-size:16px;

    line-height:20px;

    display:inline-block;

    max-width:100px;

    width:100%;

    text-align:center;

}

.con_detailMain .tm-team-details-list > li {

    padding:3px 0 6px 0;

    font-size:15px;

    display:block;

    float:left;

    width:20%;

    text-align:center;

}

.con_detailMain .tm-team-details-list li {

    box-shadow:0px 0px 1px #949494;

    margin-right:10px;

    padding:10px !important;

}

.weather-box{

    background-color:#eef5f9 !important;

}

section.content.weather-bg {

    padding: 25px;

    background: #fff;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

    margin: 15px;

    min-height:490px;

}

.weather-bg table + table {

    border-left: 0px solid #f00;

    margin-left: 1.5%;

}

.weather-bg table {

    float: left;
    table-layout: fixed !important;
    min-width: 15.40%;

}

.weather-bg table th, .weather-bg table td {

    text-align:center;

    border-color:#ccc;

}  

.weather-bg table th {

    font-weight:600;

    font-size:15px;

}

ul.frd_swtChild {

    list-style:none;

    margin-bottom:2px;

}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {

    color: #fff !important;

}

.frd_swtChild li.active > a, .frd_swtChild li > a:hover{

    color:#fff !important;

}

.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {    

    background: #1d2a37 !important;

}

ul.frd_swtChild li a .fa {

    margin-right:10px;

}

ul.frd_swtChild {

    padding-left:40px !important;

}

.music_category {

    width:100%;

    float:right;

    margin-bottom:15px;

    margin-top:-10px;

}

select#music_cat {

    max-width:23%;

    float:right;

}

.profile-up {

    width:70px;

    height:70px;

    overflow:hidden;

    border:1px solid #ccc;

    padding:5px !important;

    margin-top:5px;

}

.profile-up img {

    max-height:70px;

    width:100%;

    height:100%; 

}

#add_testreport label.error {

    position:relative;

    margin-bottom:0px;

    line-height:18px;

}

#add_testreport input[type="file"] {

    padding-top:4px !important;

}

#edit_testreport input[type="file"] {

    padding-top:4px !important;

}

ul.list_lk {

    list-style:none;

    margin:-10px 0px 10px;

    float:right;

    position:absolute;

    right:0px;

    top:10px;

    background:#0000006e;

    padding:5px 10px;

    z-index:999;

}

ul.list_lk li {

    display:inline-block;

}

ul.list_lk li a {

    padding:5px;

    font-size:20px;

    color:#fff;

}

.sub_movie2 {

    position:relative;

}

.timepicker a.btn {

    box-shadow:none;

}

#detail_acknowledge a.btn.btn-primary {

    min-width:152px;

}

.min_img img {

    height:100%;

}

div#datetimepickerhs {

    width:100%;

}

ul.list_appi {

    margin:0px;

    padding:0px;

    list-style:none;

    display:inline-block;

    width:100%;

}

.bx_list {

    margin:30px 0px 0px;

}

.pro_imgOne {

    border:1px solid #dddddd;

    text-align:center;

    padding:0px;

    width:80px;

    height:80px;

    float:left;

    border-radius:50%;

    overflow:hidden;

    margin-right:25px;

    background:#fff;

}

.dr_name {

    display:inline-block;

    float:left;

    margin-right:15px;    

    width:calc(100% - 120px);   

    padding-top:0px;

}

.dr_date {

    display: inline-block;

    text-align: left;

    float: right;

    padding-top: 10px;

    width: 100%;

}

.dr_viw {

    display: inline-block;

    float: right;

    position: relative;

}

ul.list_appi li:nth-child(even){

    float:right;

    clear: both;

}

ul.list_appi li {

    border:1px solid #dedede;

    display:inline-block;

    width:49%;

    padding:15px;

    border-radius:1px;

    margin-bottom:15px;

    background:#fafafa;

    height:120px;

}

.dr_name h4 {

    font-size:19px;

    margin-bottom:0px !important;

    margin-top:0px;

}

.dr_name h5 {

    font-size: 16px;

    margin-top: 6px;

    height: 36px;

    overflow: hidden;

    margin-bottom: 0px;   

}

.dr_date h4 {

    font-size:16px;

    display:inline-block;

    float:left;    

}    

.dr_date h5 {

    font-size: 16px;

    margin-top: 0px !important;

    float: right;    

}

.form-control {

    padding: 4px 12px 6px !important;

}

.photo-listMain label {

    font-size: 16px;

    font-weight: normal;

}

ul.list_appi li:hover {

    background:#269ce7;

    color:#fff;

}

ul.list_appi li .new-music-btn{

    right:0px;

}

.photo-listMain .box-footer {

    margin-top: 15px;

}

.usr_img {

    display:inline-block;

    float:left;

    width:60px;

    border:1px solid #ccc;

    border-radius:50%;

    overflow:hidden;

    margin-right:20px;

    height: 60px;

}    

.bx_usr {

    display: inline-block;

    width: 100%;

    margin-bottom: 30px;

}

.bx_usr h2.tm_member {

    display: inline-block;

    font-size: 28px;

    text-transform: capitalize;

    margin-top: 15px;

}

.bx_rest {

    background-color: #fff;

    -webkit-box-shadow: 0 0 10px 0 rgba(41, 61, 88, 0.63);

    -moz-box-shadow: 0 0 10px 0 rgba(41, 61, 88, 0.63);

    box-shadow: 0 0 10px 0 rgba(41, 61, 88, 0.63);

    margin-bottom: 25px;

    padding: 10px;

}

.bx_mig a {

    position: absolute;

    top: 0px;

    right: 0px;

    color: #fff;

    background: #000;

    width: 40px;

    height: 40px;

    text-align: center;

    line-height: 40px;

    font-size: 24px;

}

.bx_mig {

    position: relative;

}

.bx_name h4 {

    text-align: center;

    font-size: 20px;

    margin-bottom: 0px;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

}

.bx_mig img {

    -webkit-transition: all 400ms ease;

    -moz-transition: all 400ms ease;

    -ms-transition: all 400ms ease;

    -o-transition: all 400ms ease;

    transition: all 400ms ease; 

    width:100%; 

}

.bx_mig img:hover {

    transform: scale(1.1);

    -webkit-transition: all 400ms ease;

    -moz-transition: all 400ms ease;

    -ms-transition: all 400ms ease;

    -o-transition: all 400ms ease;

    transition: all 400ms ease;

    opacity: 0.7;

}

.bx_mig {

    overflow:hidden;

    background:#000;

    min-height: 238px;

    max-height: 238px;

    vertical-align: middle;

    display: flex;

    align-items: center;

} 

.sr_rest{

    font-size:22px !important;

    margin-bottom:20px;

    margin-top:0px;

    text-align:center;

}

ul.abs {

    list-style:none;

    margin:5px 0px 0px;

    padding:0px;

    text-align:center;

}

ul.abs li {

    display:inline-block;

    color:#ffdd2a;

    font-size:16px;

}

.fav_bank h5 {

    font-size:18px;

    text-align:center;

}

.fav_bank h5 .fa {

    margin-right:6px;

}

.fav_bank h4 {    

    font-size:22px;

}

.feature-item{

    margin:20px 0;

    text-align:left;

    font-size:15px;

}

.feature-item img {

    margin-bottom:30px;

    height:60px;

    width:auto;

}

.feature-item h2 {

    font-size:1.125em;

    font-weight:600;

    line-height:2;

    margin:0px;

}

.bx_ftMain {

    display:inline-block;

    width:100%;

    padding:45px 0px;

}

.video-box figure.image {

    max-width:450px;

    margin:0px auto;

    border:1px solid #ccc;

}

ul.treeview-menu li .submenu-cls {

 padding:5px 5px 5px 25px;

 display:block;

 font-size: 14px;

 margin: 0px 0px;

 color: #777;

}

ul.treeview-menu li .submenu-cls .fa {

 margin-right: 12px;

}

.tabbable-panel .tab-pane h1.text-center {

    margin: 0;

    font-size: 24px;

}

.tabbable-panel section.content-header.no-margin {

    background:#fff;

    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1);

    position:relative;

    padding:15px 15px 10px 20px;

}

.cus_tab{    

    padding-left:5px !important;

}

.cus_tab li {

    margin:0px !important;

}

.cus_tab li a {

    border:0px !important;

    font-size:17px !important;

    color:#333 !important;

    background:none !important;

    padding:6px 35px !important;   

}

.cus_tab li.active a, .cus_tab>li.active>a:hover, .cus_tab>li.active>a:focus {

    border:0px !important;

    border-bottom:2px solid #269ce7 !important;

    background:#269ce7 !important;

    color:#fff !important;   

}

.cus_tab .back_reminder{

    margin-top:5px;

    margin-right:15px;

}

#update_pro .box-footer, #change_pass .box-footer{

    margin:0px !important;

}

.tabbable-line .tab-pane {

    padding:20px 15px;

}

.btn.btn-default {

    box-shadow:none !important;

}

.toggle-group .toggle-on.btn{    

    padding-top:5px !important;

}

.toggle-group .toggle-off.btn {    

    padding-top:5px !important;

}

.con_detailMain .col-md-offset-3.col-md-5 {

    min-width:400px;

}

.back_reminder{

    margin-left:15px;

}

.bx_name h4 a{

    color:#333 !important;

    line-height:24px !important;

}

.pro_img img {

    max-height:300px;

}

.photo-listMain{

    min-height:500px !important;

}

.no-record-appoint {

    border:1px solid #dedede;

    display:inline-block;

    width:100%;

    padding:15px;

    border-radius:1px;

    margin-bottom:15px;

    background:#fafafa;

    text-align:center;

    font-size:18px;

}

.multiselect-item .dropdown-menu>li>a {

    padding:0px 0px !important;

}

.owl-carousel{

    display:block;

}

.main_sld{

    height:290px;

    overflow:hidden;

    margin:0px -10px;

}

.widget-header h2 {

    font-size:18px;

    float:left;

    color:#212121;

    margin:0px;

}

.widget-header {

    display:inline-block;

    width:100%;

    margin:30px 0px 15px;

}

.wid-header-rhs a {

    background:#269ce7 !important;

    border:1px solid #117bc1;

    border-radius:20px;

    padding:7px 25px;

    margin:0px !important;

    color:#fff;

}

.wid-header-rhs {

    float:right;

}

ul.list_sld {

    list-style:none;

    margin:0px;

    padding:0px;

}

.widget-header h2 {

    font-size:20px;

    float:left;

    color:#212121;

    margin:0px;

    font-weight:600;

}

.widget-header {

    display:inline-block;

    width:100%;

    margin:30px 0px 15px;

}

.wid-header-rhs a {

    background: #269ce7 !important;

    border: 1px solid #117bc1;

    border-radius: 20px;

    padding: 7px 25px;

    margin: 0px !important;

    color: #fff;

}

.wid-header-rhs a:hover {

    background:none !important;

    color:#117bc1;

}

.wid-header-rhs {

    float:right;

}

ul.list_sld {

    list-style:none;

    margin:0px;

    padding:0px;

}

.rail-content > a {

    width:85%;

    float:left;

    margin-top:2px;

    color:#212121;

    overflow:hidden;

    text-overflow:ellipsis;

    white-space:nowrap;

    font-size:12px;

}

ul.list_sld li {

    width: 150px;

    cursor: pointer;

    display: inline-block;

    float: left;

}

.rail-content {

    background-color:#d9e5ec;

    padding:6px;

    display:inline-block;

    position:relative;

    width:100%;

}

span.playbutton {

    position: absolute;

    bottom: 0px;

    left: 7px;

    color: #fff;

    z-index: 1;

    font-size: 26px;

    text-shadow: 0 0 8px rgba(0,0,0,.3);

}

.rail-thumb {

    position:relative;

    min-height:140px;

    background:#d8dcde;

    border:1px solid #e6e6e6;

    border-bottom:0px;

}

.rail-thumb img {

    width:100%;

    /*    height:140px;*/

}

.rail-content a {

    width:85%;

    color:#222;

}

span.rhs {

    display: inline-block;

    margin-bottom: 20px;

    position: absolute;

    width: 100%;

}

.rail-content .btn-group.new-music-btn {

    top: 4px;

    right: 5px;

}

.rail-content .btn-group.new-music-btn a.mus-new.dropdown-toggle {

    background: none;

    color: #222;

    font-size: 18px;

    font-weight: normal;

    padding: 0px;

    margin: 0px;

    width: 15px;

    box-shadow: none;

    float:right; 

}

.rail-content .new-music-btn .dropdown-menu a {

    width:100%;

}

.rail-content .dropdown-menu {

    min-width:105px;

    right:-3px;

}

ul.list_sld li + li {

    margin-left:15px;

}

.bx_right {

    right:0;

    top:50px;

    height:100%;

    background-color:#fff;

    border-left:1px solid #e2e2e2;

    position:fixed;

    width:100%;

    max-width:280px;    

}

.queue-header {

    width: 100%;

    float: left;

    padding: 10px;

    border-bottom: 1px solid #e2e2e2;

    background-color: #fff;

}

.hd_que {

    width: 100%;

    display: inline-block;

    margin-bottom: 8px;

}

.hd_que h5 {

    font-size: 17px;

    font-weight: 700;

    margin: 0px;

}

.bx_chkAll {

    display: inline-block;

    float: left;

}

.bx_rgt {

    float: right;

}   

.bx_rgt a {

    font-size: 12px;

    color: #269ce7;

    margin: 0 2px;

    border: 1px solid #eae6e6;

    padding: 2px 10px 3px;

    border-radius: 4px;

    -webkit-border-radius: 4px;

    -moz-border-radius: 4px;

    -ms-border-radius: 4px;

    -o-border-radius: 4px;

    background-color: #fff;

}

input.chk_bx {

    margin: 0px 5px 0px 0px !important;

    width: 17px;

    height: 17px;

}

span.select-input {

    vertical-align: middle;

    align-items: center;

    display: flex;

}

.listing_sng {

    overflow-y:auto;

    border-bottom:0px solid #fff;

    width:100%;

    height:55vh !important;   

}

ul.list_songs {

    list-style:none;

    padding:0px 0px 50px !important;

    margin:0px !important;

    display:inline-block;

    width:100%;

}

ul.list_songs li {

    width: 100%;

    float: left;

    padding: 10px;

}

.select-input {

    float:left; 

}

.select-input_one {

    float:left;

    padding-top:5px;

}

.select-input_one input {

    width:17px;

    height:17px;

    margin-right:8px !important;

}

.queue-songlist-lhs {

    display:inline-block;

}

.song-current {

    width:35px;

    height:35px;

}

.queue-songlist-img {

    display: inline-block;

    float: left;

    margin-right: 10px;

}

.queue-songlist-info {

    display: inline-block;

    width: 160px;

}

.queue-songlist-info p {

    margin:0px;

    color:#222;

    text-overflow:ellipsis;

    white-space:nowrap;

    overflow: hidden;

    font-weight:600;

    line-height:16px;

}

.queue-songlist-info span {

    color:#848484;

    font-size:13px;

}

.col-md-3.mrg_non {

    padding:0px;

}

.queue-songlist-rhs .new-music-btn {    

    top:3px;  

    right:0px;

}

.queue-songlist-rhs .new-music-btn a.mus-new {

    background:none;    

    color:#000;    

    font-size:20px;

    box-shadow:none;

    width: 10px; 

}

.queue-songlist-rhs {

    position:relative;

    float:right;

}
.artic_list section.content.weather-bg.news_section {
    min-height: auto;
    box-shadow: none !important;
    width: 100% !important;
}
.queue-songlist-rhs .dropdown-menu{

    min-width:150px;

}

.bx_leftScrollmain {

    left: 235px;

    top: 210px;

    height: 90%;

    position: fixed;

    width: calc(100% - 515px);

    overflow-y: auto;

    padding-bottom: 25px;

}

.bx_leftScroll {

    background:#fff;

    padding:0px 10px 10px 10px;    

    display:inline-block;

    width:100%;

}

.searchbar-wrap {

    max-width:76.4%;

    margin-top:-51px;

    z-index:9999;

    position:relative;

    margin-left:60px;

}

.searchbar-wrap input.form-control {

    border-radius:3px !important;

    border:0px;

    height:40px;

    max-width:380px;

    float:left;

}

.mus_list section.content-header.no-margin {

    padding: 0px;

}

.mCSB_inside > .mCSB_container {

    margin-right: 15px !important;

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {    

    background-color: rgb(60, 60, 60) !important;    

}

.mCSB_scrollTools .mCSB_draggerRail {    

    background-color: rgba(0, 0, 0, 0.2) !important;    

}





.sdl div#carousel-example-generic{

    height:290px !important;

}

.sdl .carousel-indicators{

    bottom:0px;

}

.sdl .carousel-control{

    filter:none !important;

    background:none !important;

    font-size:30px;

    width: 5%;

}

.image-cont.colimg img {

    width: 100%;

    display: inline-block;

    float: left;

    height: 100%;

}

.image-cont.colimg {

    float:left;

    width:150px;

    height:150px;

    position:relative;

    margin-right:20px;

    box-shadow:0px 0px 4px #848484;

}

.inside-pageinfo-rhs {

    display: inline-block;

}

.pageinfo-top-lhs h1 {

    font-size: 24px;

    margin: 15px 0px 0px;

}

.myplaylist_totalsong {

    margin: 5px 0px 30px;

    color: #848484;

    font-size: 18px;

}

.pageinfo-bottom button {

    background: #269ce7 !important;

    border: 1px solid #117bc1;

    border-radius: 20px;

    padding: 7px 15px;

    margin: 0px !important;

    color: #fff;

    margin-right: 10px !important;

    display: inline-block;

    outline:none; 

    min-width: 130px;

}

.pageinfo-bottom button:hover {

    background: none !important;

    color: #269ce7 !important;

}

.pageinfo-bottom button .fa {

    margin-right: 8px;

}

.inside-pageinfo-wrap {

    display: inline-block;

    width: 100%;

    margin-bottom: 20px;

    margin-top: 10px;

}

.pageinfo-bottom button:hover {

    background: none !important;

    color: #269ce7 !important;

}

.songlist-rhs {

    float:right;

    margin-right:30px;    

    margin-top: 14px;

}

.songlist-rhs span{

    display:inline-block;

    float:left;

    margin:0px 10px;

    font-size:16px;

}

.songlist-rhs span a{

    color:#333;

}

.bx_viewAll .song-current {

    width:50px;

    height:50px;

}

.bx_viewAll .select-input_one {    

    padding-top: 12px;

}

.bx_viewAll .queue-songlist-info{

    padding-top:7px;

}

ul.list_songs li + li {

    border-top: 1px solid #e2e2e2;

}

.bx_viewAll .queue-songlist-rhs .new-music-btn {

    top:13px;

}

.bx_viewAll .bx_rgt a {

    font-size:14px;

    border:1px solid #bfbebe;

    padding:4px 10px 5px;

}

ul.list_songs li:hover{

    background:#f5f5f5;

}
/* .bx_leftScrollmain {
    top: 164px;
} */
.mus_list section.content.weather-bg.news_section {
    min-height: auto;
    float: left;
    width: 100%;
    /* min-width: 100px !important; */
    max-width: 1020px;
    margin: 15px;
    padding: 25px !important;
    box-sizing: border-box;
    /* position: absolute; */
    /* top: 0; */
    /* overflow: hidden; */
    /* visibility: visible; */
    margin-top: 22px !important;
    box-sizing: border-box;
    margin-left: -26px;
}
.add_music_btn {

    background: #fff;
margin-top:5px;
    height: 40px;

    display: inline-block;

    margin-left: 3px;

    line-height: 40px;

    padding: 0px 15px;

    border-radius: 3px;

    color:#1d2a37;

    font-size:16px;

    font-weight:500;

    float:right; 

}



.add_music_btn:hover {

    color: #269ce7;

}

a.add_music_btn .fa {

    margin-right:8px;

}

.skin-blue .navbar .navbar-right > .nav {

    margin-right: 0px !important;

}

.main_sld .item img{

    width: auto;

    max-height: 290px;

    min-height: 290px;

    display: inline-block !important;   

}

.rail-content .dropdown-menu {

    margin-top:-112px;

    background:rgba(255, 255, 255, 0.95);

}

.rail-content .new-music-btn .dropdown-menu a {

    font-size:13px;

}

ul.lSPager.lSpg {

    display:none !important;

}

.dropdown-menu.music_dropdown{

    margin-top:-162px;

}

.main_sld .item {

    background: #e8e8e8;

    min-height: 289px;

    text-align: center;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

.sdl .carousel-inner {

    position:relative;    

    overflow:hidden;

    display:table;

    background:#e8e8e8;

    min-height:289px;

    text-align:center;

    width:100%;

}

.sdl .carousel-inner>.active, .sdl .carousel-inner>.next, .sdl .carousel-inner>.prev {

    display:table-cell;

    vertical-align:middle;

    align-items:center;

    text-align:center !important;

    float:none !important;

}

.rail-content .dropdown-menu:after, .rail-content .dropdown-menu:before {

    top:100%;

    left:93px;

    border: solid transparent;

    content: " ";

    height: 0;

    width: 0;

    position: absolute;

    pointer-events: none;

}

.rail-content .dropdown-menu:after {

    border-color:rgba(255, 255, 255, 0);

    border-top-color:#fff;

    border-width:6px;

    margin-left:-6px;

}

.rail-content .dropdown-menu:before {

    border-color:rgba(194, 225, 245, 0);

    border-top-color:#c2e1f5;

    border-width:6px;

    margin-left:-6px;

}    

.queue-play-list button.mus-new.dropdown-toggle {

    border:0px;

    background:none;

    color:#000;

    font-size:20px;

    box-shadow:none;

}

.queue-play-list .dropdown-menu button {

    display:block;

    background:none;

    border:none;

    padding:5px 10px;

    width:100%;

    text-align:left;

    outline:none;

}

.queue-play-list .dropdown-menu button + button {

    border-top:1px solid #ccc;

}

.queue-play-list .dropdown-menu {

    min-width:110px;

    margin-top:-36px;

    margin-right:15px;

}

.queue-play-list .dropdown-menu:after, .queue-play-list .dropdown-menu:before {

    left:100%;

    top:18px;

    border:solid transparent;

    content: " ";

    height:0;

    width:0;

    position:absolute;

    pointer-events:none;

}

.queue-play-list .dropdown-menu:after {

    border-color:rgba(255, 255, 255, 0);

    border-left-color:#fff;

    border-width:6px;

    margin-top:-5px;

}

.queue-play-list .dropdown-menu:before {

    border-color:rgba(194, 225, 245, 0);

    border-left-color:#aba6a6;

    border-width:8px;

    margin-top:-7px;

}

.sng-crnt {

    width:40px;

    height:40px;

    float:left;

    margin-right:10px;

    border:1px solid #e2e2e2;

}

.sng-crnt img {

    height:100%;

}

.sng-txt {

    display:inline-block;

}

.ply_sng {

    padding:10px;

}

.bx_mus {

    border-top:1px solid #ccc;

    position:fixed;

    bottom:0px;

    background:#fff;

}

.sng-txt h4 {

    margin:0px 0px 2px;        

    color:#222;

    font-weight:600;

    font-size:17px;

}

.sng-txt p{

    font-size:15px;

}

.song-current img{

    width:100%;

    height:100%;

}

.bx_upImg{

    width:70px;

    border:1px solid #ccc;

    padding:5px;

    height:70px;

    background:#f5f5f5;

    display:flex;

    align-items:center;

    vertical-align:middle;

} 

#add_music textarea.form-control{

    min-height:120px;

}

.back_reminder a:hover {

    background:none !important;

    color:#269ce7;

}

#edit_music textarea.form-control{

    min-height:120px;

}

ul#playlist {

    margin-bottom:40px;

    display:inline-block;

}

.bx-topList h3 {

    margin-bottom:15px;

    padding-bottom:10px;

    padding-top:0px;

    border-bottom:1px solid #d8d4d4;

    font-size:20px;

    font-weight:600;

}

.pkg-info {

    padding:10px;

    background-color:#f5f5f5;

}

.pkg-info h2 {

    font-size: 16px;

    margin: 0;

    width: 95%;

    text-overflow: ellipsis;

    white-space: nowrap;

    overflow: hidden;

    font-weight: 500;

}

.pkg-of-pkg {

    margin-bottom: 15px;

    cursor: pointer;

    box-shadow: 0px 0px 3px #0006;

}

.pkg-img-cont {

    width:100%;

    height:181px;

    display:flex;

    overflow:hidden;

    vertical-align:middle;

    align-items:center;

    background:#000;

}

.pkg-img-cont img {

    transition: .2s ease-in-out;

    -webkit-transition: .2s ease-in-out;

    -moz-transition: .2s ease-in-out;

    -ms-transition: all .2s ease-in-out;

    -o-transition: .2s ease-in-out;

}

.pkg-of-pkg:hover img {

    transform: scale(1.1);

    -webkit-transform: scale(1.1);

    -moz-transform: scale(1.1);

    -ms-transform: scale(1.1);

    -o-transform: scale(1.1);

}

ul.list_songs li a{

    float:left;

}

span.playbutton a .fa {

    color:#fff;

}

ul.getinfolist {

    width:100%;

    float:left;

}

ul.getinfolist li {

    width:100%;

    display:table;

    padding:7px 0px;

    border-bottom:1px solid #ccc;

}

ul.getinfolist li p {

    display:table-cell;

    vertical-align:middle;

    font-weight:600;

    font-size:16px;

}

ul.getinfolist li p {

    width:15%;

}

ul.getinfolist li p + p {

    width:70%;    

    font-weight:500;

}

ul.getinfolist li p + p a{

    color:#000; 

}

.bx_leftScroll.get_main {

    min-height:550px;

}

.play-list-empty {

    font-size:18px;

    text-align:center;

    padding:70% 0px;

    width:100%;

}

.back-category a {

    font-size:28px;

    color:#269ce7;

    line-height:30px;

    padding:0px 15px;

    box-shadow:0px 0px 1px #686a6b;

    border-radius:2px;

    height:30px;

    display:inline-block;

}

.back-category {

    float:right;

    margin-top:-8px;

}

.get_main .image-cont.colimg img {

    width:100%;    

    height:100%;

}

.bx_leftScroll.get_main {

    padding:15px;

}

span.icon_play {

    position:absolute;

    left:0px;

    right:0px;

    margin:0px auto;

    text-align:center;

    padding-top:35%;

    font-size:30px;

    color:#fff;

    height:100%;

    background:rgba(0, 0, 0, 0.43);

    opacity:0;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.image-cont.colimg:hover span.icon_play {

    opacity: 1;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.queue-songlist-info p a {

    color:#222;

}

.queue-songlist-info span a {

    color:#848484;

}

.bx_related {

    display:inline-block;

    width:100%;

}

.bx_related h3 {

    font-size:20px;

    margin-bottom:20px;

}

.bx_related ul.list_sld li {

    width:23.55%;    

}

.src_sbmit{
margin-top:5px;
    border-radius:3px !important;

    border:0px;

    height: 40px;

    width: 380px;

    float: left;

    display: inline-block;

    position: relative;

}

.src_sbmit button {

    position: absolute;

    right: 0px;

    top: 0px;

    border: 0px;

    padding: 10px;

    border-radius: 0px 4px 4px 0px;

    border-left: 1px solid #d6d4d4;

    background: none;

}

.artic_list .bx_leftScrollmain{    

    width:calc(100% - 235px);

    top:275px;

    height:84%;

}

.artic_list .rail-thumb{

    height: 207px;

    border: 1px solid #d4d4d4;

    overflow: hidden;

    display: flex;

    align-items: center;

    vertical-align: middle;

}

.artic_list .rail-thumb img {    

    height:207px;

}

.artic_list .rail-content a {

    font-size:16px;

    margin-top:0px;

}

.artic_list .rail-content {    

    padding:6px 10px 8px;  

}    

.artic_list .searchbar-wrap {

    position:absolute;

}

.bx_movieList .mCSB_inside > .mCSB_container{

    margin-right:5px !important;

}

.bx_movieList .bx_mus {

    position:relative;

}

.bx_movieList .listing_sng {

    height:90vh !important;

}

.bx_movieList ul.getinfolist li {    

    padding:7px 10px;    

}

.bx_movieList {

    top:65px !important;

}

.queue-play-list .dropdown-menu a {

    width: 100%;

}

ul.info_like {

    list-style: none;

    display: inline-block;

    margin:0px;

    float: right;

}

ul.info_like li a {

    font-size: 26px;

    line-height: 40px;

}

ul.info_like li {

    border: 1px solid #cccccc;

    border-radius: 50%;

    height: 40px;

    width: 40px;

    text-align: center;

}

.inside-pageinfo-rhs {

    display: inline-block;

    width: calc(100% - 170px);

}

.inside-pageinfo-lhs {    

    float:left;

}

.back-info {

    display: inline-block;

}

.back-info a {

    background: #269ce7 !important;

    border: 1px solid #117bc1;

    border-radius: 20px;

    padding: 7px 25px;

    margin: 0px !important;

    color: #fff;

    margin-right: 10px !important;

    outline: none;

    min-width: 110px;

    text-align: center;

    display: flex;

    align-items: center;

    font-size:14px;

}

.back-info a:hover{

    background:none !important;

    color:#269ce7 !important;

}

ul.info_like li#renew {

   /* background: #3c8dbc;

   border-color: #3c8dbc;*/

}

ul.info_like li#renew a {

    /*color: #fff;*/

}

ul.info_like li#re a {

    color:#269ce7;

}





.back-info a .fa {

    margin-right: 8px;

    font-size: 18px;

}





.back_common .back-info {

    float: right;

}



.bx_movName h5 {

    font-size: 26px;

    color: #1d1d1d;

    margin-bottom: 0px;

}

.bx_movName span {

    font-size: 18px;

}

.up_box {

    display:inline-block;

    padding:0px 0px 6px 10px;

    width:100%;

    border-bottom:1px solid #e8e8e8;

}

.up_box h5 {

    font-size: 20px;

    color: #000;

    margin-bottom: 0px;

}

.mov_qu img {

    min-height: 120px;

    max-height: 120px;

}

.up_box .back-info {

    float: right;

    padding-top: 5px;

}





.queue-movie {

    display: inline-block;

    width: 100%;

    /*    cursor: pointer;*/

}



.nam_view h5 {

    font-size: 18px;

    margin: 5px 0px 1px;

    font-weight: 600;

}

.bx_movRight .listing_sng {

    height: 85vh !important;

}

.bx_movName {

    display: inline-block;

    width: 100%;

    border-bottom: 1px solid #e2e2e2;

    padding-bottom: 10px;

    margin-bottom: 10px;

}

.mov_dec p {

    text-align:justify;

}

.up_box .back-info a {    

    padding: 5px 15px 7px !important;

    min-width: auto !important;    

}





.play-list-empty h4 {

    font-size: 22px;

    color: #333;

}

span.blnk_queue {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    background:#269ce7;

    display:inline-block;

    line-height:56px;

    font-size:28px;

    color:#fff;

    border:1px solid #117bc1;

}

.box_viewFull .rail-content {

    padding:8px 10px 10px;

    margin-bottom:25px;

    background:#1d2a37;

}

.box_viewFull .rail-thumb img{

    height:auto;

    /*width:auto; */

}

.box_viewFull .rail-thumb {

    text-align:center;

    height:200px;

    border:none;

    border-bottom:1px solid #d4d4d4;

}

.box_viewFull .rail-content {

    text-align:center;

}

.box_viewFull {

    padding:25px 15px;

}

.box_viewFull .rail-content a {

    color:#fff;

    font-size:18px;

    width:100%;

}

.rail-thumb > a{

    position:relative;

    display:flex;

    width:100%;

    overflow:hidden;

    vertical-align:middle;

    align-items:center;

    background:#000;

    height:140px;

}

.rail-thumb a:after{

    content: "";

    background: rgba(0,0,0,0.50);

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    opacity: 0;

    -webkit-transform: scale(0);

    transform: scale(0);

    -webkit-transition: transform .5s ease, opacity .7s ease;

    transition: transform .5s ease, opacity .7s ease;

    width: 100% !IMPORTANT;

    height: 100% !IMPORTANT;

}

.rail-thumb a:hover:after{

    opacity: 1;

    -webkit-transform: scale(1);

    transform: scale(1);

    -webkit-transition: transform .5s ease, opacity 1.3s ease;

    transition: transform .5s ease, opacity 1.3s ease;

}

.mov_qu {

    display:inline-block;

    width:100%;

}

.mov_qu a {

    width:100%;

    display:inline-block;

    background:#000;

    text-align:center;

    position: relative;

}

.nam_view h5 {

    display:inline-block;

    width:100%;

}

.nam_view h5 a{

    color:#333;

}

#add_movie textarea.form-control{

    min-height: 120px;

}

.bx_adMov {

    width:215px;

    border: 1px solid #ccc;

    padding: 5px;

    height: 120px;

    background: #f5f5f5;

    margin-bottom: 10px;

}





.bx_adMov video{   

    width: 100%; 

    height: 110px;    

}

#add_movie .bx_upImg {

    width: 120px;

    border: 1px solid #ccc;

    padding: 5px !important;

    height: 120px;

    background: #f5f5f5;

    overflow: hidden;

    display: inline-block;

    text-align: center;

}



#edit_movie textarea.form-control {

    min-height: 168px;

}

#edit_movie .bx_upImg {

    width: 100%;

    border: 1px solid #ccc;

    padding: 5px !important;

    height: 120px;

    background: #f5f5f5;

    overflow: hidden;

    display: inline-block;

    text-align: center;

}

#edit_movie .bx_upImg img {

    height:100%;

}

.bx_movRight ul.list_songs li:hover{

    background:none;

}

span.iconplay {

    position: absolute;

    left: 0px;

    right: 0px;

    text-align: center;

    background: rgba(0, 0, 0, 0.1);

    height: 100%;

    padding: 16%;

    font-size: 30px;

    color: #fff;

    text-shadow: 0px 0px 4px #000;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.mov_qu a:hover span.iconplay {

    background: rgba(0, 0, 0, 0.5);

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.usr_img img {

    height:100%;

    width:100%;

}

.bkbtn .pkg-img-cont{

    height:140px;

}

.bkbtn .pkg-img-cont a img{

    height:100%;

}

.pkg-info a{

    color:#333;

}

.bkbtn .pkg-img-cont a {

    width:100%;

    text-align:center;

    display:inline-block;

}

.pkg-img-cont a img {

    height:100%;

    width:100%;

}

ul.ui-autocomplete {

    height:345px;

    overflow:auto;     

    border-radius:0px;

    border: 1px solid #ccc !important;

    padding:0px; 

}

ul.ui-autocomplete li a:hover{

    background:#e8eaed !important;

    border-color:#e8eaed;    

}

ul.ui-autocomplete li a:focus{

    background:#e8eaed !important;

    border-color:#e8eaed;    

}

ul.ui-autocomplete li a{

    border:none;

    border-radius:0px;

    padding:10px 10px !important; 

    font-size:14px !important;

    display:inline-block !important;   

    width:100% !important; 

     /*border-top:1px solid transparent !important;

     border-bottom:1px solid #e8eaed !important;*/

     cursor:pointer; 

 }

 ul.ui-autocomplete li{     

    border-bottom:1px solid #e8eaed !important;

}

.dropdown-menu.read_menu {

    margin-top:-55px;

}

.mobile_logo {

    display: none;

}

.photo-list .buttondiv .bttn:first-child {

    float: left !important;

}

.photo-list-empty {

    font-size: 18px;

    text-align: center;

    padding: 20vh 0px;

    height: 250px !important;

    display: inline-block;

    width: 96%;

    box-sizing: border-box;

    float: none;

    border: 1px solid #ddd;

    background: #f1f1f1;

    height: 60vh !important;

    margin: 0px 2%;

}

span.blnk_photo {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    background: #269ce7;

    display: inline-block;

    line-height: 56px;

    font-size: 28px;

    color: #fff;

    border: 1px solid #117bc1;

}

.photo-list-empty h4 {

    font-size:22px;

}

.doc_cat_cls .themetechmount-item-thumbnail{

    min-height:200px;

}

.doc_cat_cls img.wp-post-image {

    max-height:200px;

}

.bx_meSec img {

    border:1px solid #ccc;

    padding:2px;

}

.bx_meSec {

    width: calc(100% - 185px) !important;

}

.bx_meSec.note_desc {

    word-break: break-all;

}

#reminder_description{

    min-height:80px;

    width:100% !important;

}

#getCodenew .pro_img{

    padding:0px;

    overflow:hidden;

}

.dnt_drop{

    position: absolute;    

    top: 0;

    background-color: transparent;

    border: 0px;

    top: 0;

    right: 80px;

    padding: 0px;

    cursor: pointer;

    width: 80px;

    height: 99%;

    background: #1078be;

    color: #fff !important;

    text-align:center;

    line-height:50px;

}        

#add_note .form-group textarea{

    min-height:90px;

}

.select_radius {

    float: right;

    margin-top: -22px;

    position: relative;

    z-index: 11;

    margin-bottom: 15px;

}

.newarticlelist .rail-thumb img {

    width:auto !important;    

}

#upload_music .sng-crnt img {    

    width:100%;

}

.newarticlelist .rail-thumb a {

    background:none;

    height:auto;

    display:block;

}

.blk-img .pro_img {

    min-height:220px;

    background:#212121;

}

.blk-img ul.tm-team-details-list {

    border-top:0px solid #f2f2f2;

}

.new_article_li .rail-thumb img {

    height:auto !important;

    width:auto !important;

    max-width:inherit !important;

    margin:0px auto !important;

}

/*.new_article_li .rail-thumb > a {

    height:auto !important;

    text-align:center !important;

    }*/



    .new_article_li .rail-thumb > a {

        height:auto !important;

        text-align:center !important;

        background:none;

    }

    .bx_leftScrollmain.scrl{

        width: calc(100% - 235px) !important;

    }

    #add_article .bx_upImg1 {

        margin-bottom:15px;

    }

    .f_nameOne img{

        width:100%;

    }

    .ss{

        overflow:hidden;

        background:#000;

        min-height:238px;

        max-height:238px;

        vertical-align:middle;

        display:flex;

        align-items:center;

    }





    .cat-art-new-cls .rail-thumb a {

        height: 207px !important;

        text-align: center;

    }

    .cat-art-new-cls .rail-thumb a img.mCS_img_loaded {

        width: auto !important;

        height: auto;

        margin: 0px auto;

    }

    .hm-menu > ul > li > ul.dropdown-menu {

        right: 15px !important;

    }









    /**Responsive**/











    @-moz-document url-prefix() { 

        input[type="file"] {

            padding-top:0px !important; 

        }

    }







    @media screen and (-webkit-min-device-pixel-ratio:0) { 

        /* Safari and Chrome */

        input[type="file"] {

            padding-top:4px !important; 

        }  

    }





    @media screen and (max-width: 1330px) {

        .bx_related ul.list_sld li{

            width:23%;

        }

        .searchbar-wrap{

            max-width:74%;    

            width:100%;

        }

    }



    @media only screen and (max-width: 1240px){

        .weather-bg table{

            min-width:29% !important;

            margin:0px 2.16% 25px !important;

        }

    }







    @media screen and (max-width: 1200px) {

        .doc_cat_cls .themetechmount-item-thumbnail {

            min-height: auto;

            max-height: 200px;

            height: auto;

        }



    }



    @media only screen and (max-width: 1200px){



        .act {

            width:200px;

            min-width:200px;

        }

        .searchbar-wrap{

            max-width:70%;     

        }

        .pageinfo-bottom button {

            min-width:80px;

            margin-right:3px !important;

        }

        .back-info a{

            min-width:80px;

            margin-right:3px !important;

            padding: 7px 15px;

        }

        .new_cat_scroll .bx_leftScroll .col-md-3 {

            max-width:33.33% !important;

            width:100%;

        }

        .pro_imgOne {

            width:60px;

            height:60px;

            margin-right:10px;

        }

        .dr_name h4 {

            margin-top:0px;

        }

        .dr_date h4 {

            margin-top:0px;

        }

        .new-music-btn {    

            top:5px;

        }

        .bx_subCat h4 {

            font-size:16px !important; 

        }

        .pro_imgOne {

            width:70px;

            height:70px; 

            margin-right:15px;

        }

        .dr_name h4{

            font-size:20px;     

        }

        .dr_name h5 {

            font-size: 16px;

            margin-top: 10px;

        }

        .dr_date h4 {

            font-size:16px;

        }

        .dr_date h4{

            font-size:16px;

            margin-bottom:5px;

        }

        .dr_date h5{

            font-size:16px;

            margin-top:0px !important;

        }

        ul.list_appi li .new-music-btn {

            right:-10px;

        }

        .dr_name {

            margin-right:15px;

        }

        ul.list_appi li {

            padding:10px

        }

        .appoint_photo ul.list_appi li{

            min-height:120px;

        }

        .appoint_photo ul.list_appi li .new-music-btn{

            right:0px;

        }

    }



    @media screen and (max-width: 1080px) {



        .searchbar-wrap {

            max-width: 67%;    

        }



        ul.list_time li label {

            padding:2px 5px 0px 17px;

        }   

        .bx_related ul.list_sld li {

            width: 46%;

            margin: 0px 2% 15px !important;

        }

    }





    @media screen and (max-width: 1060px) {

        .pageinfo-bottom button {

            width: 36px;

            margin-right:3px !important;

            font-size: 0px;

            min-width: inherit;

            padding: 0px;

            height: 36px;

            text-align: center;

        }

        .pageinfo-bottom button .fa {

            margin-right: 0px;

            font-size: 14px;

        }

        .back-info a {

            width: 36px;

            margin-right: 3px !important;

            font-size: 0px;

            min-width: inherit;

            padding: 0px;

            height: 36px;

            text-align: center;

        }

        .back-info a .fa{         

            font-size:14px;

            margin: 0px auto !important;

        }

    }

    @media screen and (max-width: 1024px) {



        .separate_tble_cls #sampleTable_length{

            padding-left:80px !important;        

        }

        .separate_tble_cls #sampleTable_length label {        

            font-weight:normal !important;

        }

        .separate_tble_cls .dataTables_filter input.form-control.input-sm {

            max-width: 140px !IMPORTANT;    

        }

        .separate_tble_cls .dataTables_filter label {    

            font-weight:normal !important;

        }

        .appoint_photo ul.list_appi li .new-music-btn {

            right:-7px;

        }

    }



    @media only screen and (max-width: 992px) and (min-width: 561px) {



        .mobile_logo {

            display:inline-block;

            margin-left:60px;

        }

        .header > .logo {

            display:none !important;

        }

        body > .header .navbar {

            margin-left:0px !important;

            text-align:center;

        }

    }

    @media only screen and (max-width: 820px) and (min-width: 768px) { 

        .separate_tble_cls #sampleTable_length {    

            display:none;

        }

    }



    @media screen and (max-width: 992px) {





        div#appointment_search_data {

            margin-top:0px;

        }

        .sidebar .sidebar-menu {

            padding-bottom: 50px;

        }

        .bx_leftScrollmain {

            left:0px;

            width: calc(100% - 270px);

            position:inherit;

            top:0px;

            z-index:1;        

        }

        .mus_list .searchbar-wrap {

            display:none;

        }

        .appoint_photo ul.list_appi li .new-music-btn {

            right:0px;

        }

        #slots_avail {

            min-height:70px;

        }

        #reminder .box-footer{

            margin-top:0px;

        }

        .artic_list .bx_leftScrollmain {

            width: calc(100% - 0px);        

            left: 0px;

            position:inherit !important;

            top:0px !important; 

        }

        .artic_list .searchbar-wrap {    

            display:none;

        }

    }



    @media screen and (max-width: 840px) {

        .separate_tble_cls #sampleTable_length label {    

            font-size:13px !important;

        }

        .separate_tble_cls .dataTables_filter label {    

            font-size:13px !important;

        }

        .separate_tble_cls #sampleTable_length {

            padding-left:74px !important;

        }

    }





    @media screen and (max-width: 800px) {

        ul.list_appi li:nth-child(2n) {

            float:left;

            clear:both;

        }

        ul.list_appi li {

            width:100%;

            float: left;

        }

        .appoint_photo ul.list_appi li {

            min-height:inherit;

            height:auto; 

        }

        .dr_name h5 {

            height: auto;

        }

    }





    @media screen and (max-width: 768px) {

        .photo-list .buttondiv .bttn:nth-child(2){

            float:none !important;

        }

        .photo-list .sc_photo_list_item {

            margin-bottom:25px !important;

        }

    }

    @media screen and (max-width: 767px) {



        .bx_chkAll {

            display:none;

        }

        .main_chk .bx_rgt {

            display:none;

        }

        .sc_team_item {

            max-width:360px;

            margin:0px auto 35px;

        }

        #medicine_info_modal .modal-body { 

            padding:0px;

        }

        .new_cat_scroll .bx_leftScroll .col-md-3 {

            max-width:33.33% !important;

            width:100%;

            float:left;

        }

        #upload_music {

            width:100%;

            z-index:111111;

            position:fixed;

            bottom:0px;

            left:0px;

            overflow:hidden;

            height:90px;

            top:inherit;

        }

        .bx_mus {

            width:100%;

        }

        .bx_mus audio{  

            width:100%;

        }

        .bx_leftScroll {

            padding:0px 10px 55px 10px;    

        }

        #upload_music .queue-header{

            display:none;

        }

        #upload_music .listing_sng {

            display:none;

        }

        .bx_right.bx_movieList {

            display:none;

        }

        .sng-txt p {

            font-size:14px;

            margin-bottom:0px;

        }

        .ply_sng {

            padding:5px;

        }

        .sng-txt h4 {

            font-size:15px;

        }

        .bx_movRight{

            right:0;

            top:0px;

            position:inherit;    

            max-width:100%;

        }

        .bx_movRight ul.list_songs li {

            width:50%;

            float:left;

            padding:10px;

        }

        .col-md-3.mrg_non {

            padding:0px 15px;

        }

        .bx_leftScrollmain {    

            width:calc(100% - -10px);

        }

        .newcodecls ul.tm-team-details-list {    

            padding:15px;

        }

        .edit_btn {    

            float:left !important;

            margin-bottom:1px !important;

        }

        .main_thanu .pro_img img{

            max-height:300px !important;    

        }

        .appoint_photo .box-footer {

            margin-top:15px;

            display:inline-block;

            width:100%;

        }

        .doc_cateMidd .pro_img img{

            max-height:inherit !important;

            width:auto !important;

        }

        .doc_cateMidd.doc_listMidd{

            padding:15px;

        }

        a.search-open{

            text-align:center;

        }

        .mn_crt{

            margin-bottom:15px;

        }

        .mailbox .nav-stacked > li:not(.header) {

            width: 33.33% !important;

        }

        .separate_tble_cls #sampleTable_length {

            padding-left: 0px !important;

        }

        .separate_tble_cls .dataTables_filter input.form-control.input-sm {

            max-width: 200px !important;

        }



        .photo-list .buttondiv {

            margin: 0px 0 20px !important;

        }    

        section.content.weather-bg {

            padding: 15px 10px;

        }

        .right-side > .content-header > .breadcrumb{      

            background:none !important;

        }   

        .tb_swt div#sampleTable_length label select {

            width: 200px;

            text-align: right;

            float: right;

            margin-left: 10px;

        } 

        .tb_swt div#sampleTable_length {

            padding-left: 0px;

            margin-bottom: 0px;

            width: 310px;

            float: right;

        }

        .tb_swt #sampleTable_wrapper .row:first-child{    

            text-align: right;

        }

        .table-responsive.tb_swt {

            border: 0px !important;

        }

        .reminder_listMain .row.swt_cor {

            height:0px;

        }

        .tb_swt #sampleTable_wrapper > .row .col-sm-6 {

            width:85%;

            display: inline-block;

            float: right;

        }

        div#sampleTable_info {    

            text-align:center;

        }

        div#sampleTable_paginate .pagination {

            margin: 5px 0px 10px !important;

            float: none;

        }

        #sampleTable_paginate {

            text-align:center;

        }

        .tb_swt table {

            min-width:550px;

        }   

        .photo-list .buttondiv .bttn {

            font-size: 13px !important;    

            margin-left: 0;

            padding: 6px 10px !important;

            margin-right: 10px !important;

            min-width: 150px !important;

        }

        .buttondiv button#btn_delete {

            font-size:13px !important;

            margin-left:0;

            padding:6px 10px;

            margin-right:0px;

            min-width:150px;

        }



    }



    @media screen and (max-width: 740px) {



        .act {

            width:220px;

            min-width:220px;

        }    

        .weather-bg table { 

            min-width:29% !important;

            margin:0px 2.16% 25px !important;

        }

        .tm-team-list-title {

            font-size: 15px;

            max-width: 160px;    

        }   

        .tm-team-list-value {    

            width: calc(100% - 170px);    

        }

    }



    @media screen and (max-width: 600px) {



        .new_cat_scroll .bx_leftScroll .col-md-3 {

            max-width: 50% !important;

            width: 100%;

            float: left;

        }



        .inside-pageinfo-lhs {    

            width:100%;

        }



        .image-cont.colimg {

            float: none !important;

            margin: 0px auto !important;

        }

        .myplaylist_totalsong {

            margin:5px 0px 0px !important;

        }

        .inside-pageinfo-rhs {

            display: inline-block !important;

            width: calc(100% - 0px);

        }   

        .inside-pageinfo-rhs {

            display: inline-block;

            width: calc(100% - 0px);

        }

        .back-info a {    

            margin-right:0px !important;

        }

        .songlist-rhs {    

            margin-right:15px;

        }

        .songlist-rhs span {

            margin:0px 5px;

        }

        .photo-list .tz-gallery .col-xs-6{

            width:100% !important;

            max-width:100% !important; 

        }

        .photo-list .sc_photo_list_item {

            margin-bottom:25px !important;

        }

        .main_sld .item img {    

            height:200px;

            height:200px;

        }

        .sdl div#carousel-example-generic {

            height:200px !important;

        }

        .main_sld {

            height: 200px;    

        }





    }



    @media screen and (max-width: 560px) {



        .weather-bg table {

            min-width:45% !important;    

        }

        .artic_list .bx_leftScrollmain {    

            top:160px;    

        }

        #getCodenew .pro_img {

            padding:0px;

            overflow:hidden;

            margin:20px 10px 0px;

            width:80px;

            height:80px;

        }   

        .newcodecls .bx_nam{

            margin-top:25px;

        }

        .right-side > .content-header > h1 {    

            font-size:22px !important;

            text-align:left;

        }

        .right-side > .content-header {    

            padding:10px !important;

        }

        .edit_btn {

            float:left;

        }

        .con_detailMain .col-md-offset-3.col-md-5 {

            min-width:100%;

        }

        .con_detailMain .tm-team-details-list li {    

            margin-right:5px;

            padding:10px 5px !important;

        }

        .con_detailMain .tm-team-list-title {

            font-size:14px;

        }

        .photo-list .buttondiv .bttn {

            font-size:0px !important;

            margin:0px !important;

            padding:0px !important;

            min-width:40px !important;

            height:40px;

            border-radius:100% !important;

            line-height:40px;

            text-align: center !important;

        }

        .photo-list .buttondiv .bttn i {

            margin-right:0px !important;

            font-size:18px;        

            top:0px !important;

            line-height:38px !important;

        }

        #btn_delete .fa {

            font-size: 18px;

            line-height: 34px;

        }

        .buttondiv button#btn_delete {

            font-size: 0px !important;

            margin-left: 0;

            padding: 0px !important;

            margin-right:0px !important;

            min-width: 40px !important;

            height: 40px;

            border-radius:100% !important;

            line-height:40px;

            text-align:center !important;

        }

        .bx_subCat h4 {    

            line-height:18px;

        }

    }



    @media screen and (max-width: 500px) {



        .remind_cls {

            margin-right: 0px;

            display: inline-block;

            width: 100%;

        }



        .new_cat_scroll .bx_leftScroll .col-md-3 {

            max-width:100% !important;        

        }



        .songlist-rhs span {

            margin:0px 5px;

        }

        .separate_tble_cls .dataTables_filter input.form-control.input-sm {

            max-width:60% !important;

        }

        .box-bSwt .swt_cor .col-sm-6 {

            width:100px;

            top:0px;

            position:relative;

        }

        .box-bSwt .delete-email a {

            padding:0px 5px;

        }

        .box-bSwt #btn_delete .fa {    

            line-height:14px;

        }

        .nav > li > a {

            padding:10px 10px !important;

        }

        .reminder_listMain .row.swt_cor {

            height:auto;

            margin-bottom:0px;

        }

        .reminder_listMain .swt_cor .col-sm-6 {

            top:0px;

            position:relative;

        }

        .dataTables_filter label {

            width:100%;

            text-align:left !important;

        }

        .tb_swt #sampleTable_wrapper > .row .col-sm-6 {

            width:100%;

            display:inline-block;

            float:left;

        }

        .tb_swt div#sampleTable_length {

            padding-left:0px;

            margin-bottom:0px;

            width:100%;

            float:left;

            text-align:left;

        } 

        .tb_swt div#sampleTable_length label {

            width:100%;

        }

        .tb_swt #sampleTable_wrapper .row:first-child {    

            margin-bottom:5px;

        }

        .reminder_listMain .row.swt_cor {    

            margin-bottom:10px;

            border-bottom:1px solid #ddd;

            padding-bottom:5px;

        }

        .dataTables_filter input.form-control.input-sm {

            max-width:60% !important;

        }

        .tb_swt div#sampleTable_length label select {

            width:60%;

        }

    }



    @media screen and (max-width: 480px) {



        ul.getinfolist li p {

            width: 100% !important;

            display: block !important;

        }

        ul.getinfolist li p + p {

            width: 100% !important;



        }



        .bx_movRight ul.list_songs li {

            width:100%;

            padding-left: 10px;        

        }



        ul.list_songs li {

            padding:10px 0px !important;

        }

        .queue-songlist-info {    

            width:90px !important;

        }

        .box_viewFull {

            padding:10px 0px;

        }

        .newarticlelist .mCSB_inside > .mCSB_container {

            margin-right:0px !important;

        }

        .newcodecls .tm-team-list-title {

            max-width:100%;

        }

        .newcodecls .tm-team-list-value {

            width:100%;

        }

        .activity_show_list_second {    

            float:right;

        }

        .activity_show_list {    

            min-width:auto;

        }

        .ui-datepicker table {    

            font-size: .7em !important;    

        }

        .newcodecls .bx_nam {

            margin-top:0px;

        }

        #reminder .col-xs-6.col-sm-6.col-md-6 {

            width:100%;

        }

        .bx_meSec {

            display:inline-block;

            font-size:16px;

            font-weight:500;

            width:100% !important;

        }

        .bx_med {

            max-width:100%;

            display:inline-block;

            width:100%;

            font-size:16px;

            font-weight:600;

        }

        .main_thanu .tm-team-list-title {

            max-width:150px;

            max-width:100%;

            margin:0px;

        }

        .main_thanu .tm-team-list-value {

            width:100%;    

            padding-left:0px;

        }

        h2.tm_member {

            font-size:20px;

            line-height:30px;

        }

        .dr_name {

            min-width:72%;

            max-width:50%;

            width:100%;

            margin-right:0px;

            padding-top:0px;

        }

        .dr_date {

            text-align:left;

            float:left;

            padding-top:5px;

        }

        #appointment_search_data ul.list_appi li .new-music-btn {    

            top:5px;

        }

        .appoint_photo ul.list_appi li .new-music-btn {    

            top:-55px;

        }

        .dr_name h4 {

            font-size:18px;

        }

        .dr_name h5 {

            font-size:15px;

            margin-top:5px;

        }

        .weather-bg table {

            min-width:45% !important;

            margin:0px 2.50% 25px !important;

        }

        .doc_cateMidd .col-xs-6.col-sm-4.col-md-3 {

            width:100%;

        }

        .tm-team-list-value {

            width:100%;

            padding-left:25px;

        }

        .tm-team-list-title {    

            max-width:100%;

            margin:0px;

        }

        .bx_apoi .btn_apoi{

            margin-top:-10px !important;

        }

    }



    @media screen and (max-width: 400px) {

        .weather-bg table {

            min-width: 95% !important;    

        }

        .pro_imgOne {

            margin:0px auto 10px !important;

            float:none;

        }

        .dr_name {

            min-width:100%;

            max-width:100%;

            width:100%;

            margin-right:0px;

            padding-top:0px;

            text-align:center;

        }

        .dr_date {

            text-align:center;

            float:left;

            padding-top:10px;

            width:100%;

        }

        .appoint_photo ul.list_appi li .new-music-btn {

            top:-130px;

        }

        #appointment_search_data ul.list_appi li .new-music-btn {

            top: -75px;

        }

        .appoint_photo ul.list_appi li {

            min-height:203px;

        }

    }



    @media screen and (max-width: 360px) {

        .right-side > .content-header > h1 {

            font-size:20px !important;

            text-align:left;

        }

    }



    span.dtime {

        float: right; 

    }





    span.msg {

        width: 62%;

        float: left;

    }





.main_adm_se {

    float: left;

    width: 100%;

        padding: 0px 10px;

}



.main_adm_se .form-group {

    float: left;

    width: 100%;

}



.main_adm_se  span.msg {

    display: inline-block;

    font-size: 16px;

    font-weight: 500;

    width: 100%;

}





.main_adm_se  span.msg123 {

    display: inline-block;

    font-size: 16px;

    font-weight: 500;

    width: 70%;

}





a.reply_but_new {

    float: left;

    background: #269ce7;

    padding: 10px 20px;

    border-radius: 50px;

    color: #fff;

}



a.reply_but_new i.fa.fa-reply {

    padding-right: 7px;

}





a.reply_but_new:hover

{

    background: #000 !important; 

    color: #fff !important; 

}