div#loading2 {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background:#000000bd;
    border-radius: 10px;
    text-align:center; 
    }
.loader-image img {
    vertical-align: middle;
    display: inline-block;
    padding-top: 48%;
    max-width: 100px;
    }
.loader-image center {
    color: #fff;
    font-size: 24px;
    }
