@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Elements
	6.1 Buttons
	6.2 Accordions
	6.3 Tabs
	6.4 Loaders
	6.5 Milestones
	6.6 Icon Boxes
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 500;
	color: #6d6d6d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(255,163,123,1);
	color: #ffffff;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #393939;
	font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.container_custom .container
{
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}
.container_custom .container .row
{
	margin-left: 0;
	margin-right: 0;
}
.container_custom .container .row > div[class^='col']
{
	padding-left: 0;
	padding-right: 0;
}
.button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	box-shadow: 0px 10px 23px rgba(0,0,0,0.15);
}
.button a
{
	display: block;
	height: 100%;
	line-height: 54px;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 100;
}
.header::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: rgba(0,0,0,0.7);
	content: '';
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled::before
{
	height: 100%;
}
.header_content
{
	width: 100%;
	height: 128px;
	padding-left: 62px;
	padding-right: 62px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 90px;
}
.logo
{
	width: 130px;
	height: 41px;
	border: solid 2px #ffffff;
	text-align: center;
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
	line-height: 37px;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 49px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #ffa37b;
}
.book_button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	margin-left: 45px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.book_button:hover
{
	background: rgba(255,255,255,0.2);
}
.book_button:hover a
{
	color: #ffa37b;
}
.book_button a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 54px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}
.header_phone
{
	width: 190px;
	height: 54px;
	background: #ffa37b;
	margin-left: 14px;
}
.header_phone span
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 9px;
}
.header_phone span::selection
{
	background: #ffffff;
	color: #ffa37b;
}
.hamburger
{
	display: none;
	margin-left: 25px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 24px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #ffa37b;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	background: rgba(255,255,255,0.93);
	visibility: hidden;
	opacity: 0;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_content
{
	padding-right: 30px;
	padding-top: 170px;
}
.menu_close
{
	position: absolute;
	top: 50px;
	right: 30px;
	cursor: pointer;
	z-index: 1;
}
.menu_close i
{
	font-size: 24px;
	color: #121212;
}
.menu_close:hover i
{
	color: #ffa37b;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{
	font-weight: 700;
	font-size: 36px;
	color: #121212;
	line-height: 1.2;
}
.menu_nav ul li a:hover
{
	color: #ffa37b;
}
.menu_nav ul li a span
{
	color: #690772;
}
.menu_extra
{
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.menu_book
{
	display: none;
	margin-top: 50px;
}
.menu_book a
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
}
.menu_book a::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.62);
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_book a:hover
{
	color: #ffa37b;
}
.menu_book a:hover::after
{
	background: #ffa37b;
}
.menu_phone
{
	margin-top: 10px;
}
.menu_phone span
{
	font-size: 16px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	margin-left: 9px;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 588px;
	background: #0f0e24;
}
.home .background_image
{
	opacity: 0.28;
}
.home_container
{
	position: absolute;
	top: 60.3%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.home_content
{

}
.home_title
{
	font-size: 72px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}
.booking_form_container
{
	width: 100%;
	margin-top: 34px;
	padding-left: 78px;
	padding-right: 88px;
}
.booking_form
{
	display: block;
	width: 100%;
}
.booking_input
{
	width: 100%;
	height: 54px;
	background: rgba(255,255,255,0.2);
	border: solid 2px #ffffff;
	padding-left: 27px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	outline: none;
}
.booking_input_container
{
	width: 100%;
}
.booking_input_container > div
{
	padding-right: 10px;
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2)
{
	width: 32.60869565217391%;
}
.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4)
{
	width: 17.39130434782609%;
}
.booking_input_a
{
	
}
.booking_input_b
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.booking_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
} 
.booking_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #FFFFFF !important;
}
.booking_button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
}
.booking_button:hover
{
	background: rgba(255,255,255,0.2);
}

/*********************************
6. Elements
*********************************/

.elements
{
	background: #ffffff;
	border-bottom: solid 2px #eaf2f7;
	padding-top: 105px;
	padding-bottom: 24px;
}
.buttons_container
{
	margin-top: 36px;
}
.buttons_container .button
{
	margin-bottom: 10px;
}
.buttons_container .button:not(:last-child)
{
	margin-right: 19px;
}
.button_2
{
	background: #393333;
}
.button_2:hover
{
	background: #ffa37b;
}
.button_3
{
	background: #312d72;
}
.button_3:hover
{
	background: #ffa37b;
}
.button_4
{
	background: #ffffff;
	border: solid 2px #ffa37b;
}
.button_4 a
{
	color: #393939;
	line-height: 50px;
}
.button_4:hover
{
	background: #ffa37b;
}
.button_4:hover a
{
	color: #ffffff;
}

/*********************************
6.2 Accordions
*********************************/

.acc_tabs
{
	margin-top: 84px;
}
.acc_tabs_row
{
	margin-top: 36px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 15px;
}
.accordion
{
	height: 54px;
	width: 100%;
	background: #ffffff;
	padding-left: 32px;
	cursor: pointer;
	color: #393333;
	font-size: 14px;
	font-weight: 700;
	line-height: 54px;
	border: solid 2px #ffa37b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion:hover
{
	background: #ffa37b;
	color: #ffffff;
}
.accordion.active
{
	background: #ffa37b;
	color: #FFFFFF;
}
.accordion.active:hover
{
	
}
.accordion.active:hover::after
{
	
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 27px;
	height: 100%;
	content: '+';
	font-size: 14px;
	color: #000000;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	content: '-';
	color: #FFFFFF;
}
.accordion:hover::after
{
	color: #ffffff;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 20px;
}
.accordion_panel p
{
	font-size: 14px;
	line-height: 2.143;
	font-weight: 500;
	padding-top: 29px;
}

/*********************************
6.3 Tabs
*********************************/

.tabs_container
{
	width: 100%;
}
.tab
{
	height: 54px;
	background: #ffffff;
	font-size: 14px;
	color: #393333;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: 9px;
	padding-left: 30px;
	padding-right: 26px;
	border: solid 2px #ffa37b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover
{
	background: #ffa37b;
	color: #ffffff;
}
.tab:not(:last-child)
{
	margin-right: 15px;
}
.tab.active
{
	background: #ffa37b;
	color: #FFFFFF;
}
.tab_panels
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 14px;
	padding-bottom: 32px;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}
.tab_text
{
	margin-top: -2px;
}
.tab_text p
{
	font-size: 14px;
	line-height: 2.143;
	font-weight: 400;
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}

/*********************************
6.4 Loaders
*********************************/

.loaders
{
	margin-top: 75px;
}
.loaders_container
{
	margin-top: 37px;
}
.loader_container
{
	width: calc(100% / 4);
	height: 155px;
	margin-bottom: 60px;
}
.loader
{
	width: 155px;
	height: 155px;
	background: transparent;
	margin-left: auto;
	margin-right: auto;
}
.loader_content
{
	position: absolute;
	left: 50%;
	bottom: 48px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 500;
	color: #232323;
	white-space: nowrap;
	text-align: center;
}
.loader_title
{
	font-size: 14px;
	font-weight: 600;
	color: #868686;
	line-height: 0.75;
	white-space: nowrap;
}
.progressbar-text
{
	top: calc(40% + 1px) !important;
	font-size: 48px !important;
	font-weight: 600 !important;
	color: #393939 !important;
	line-height: 0.75 !important;
}

/*********************************
6.5 Milestones
*********************************/

.milestones
{
	margin-top: 45px;
}
.milestones_container
{
	margin-top: 36px;
	padding-right: 50px;
}
.milestone
{
	width: calc(100% / 4);
	margin-bottom: 60px;
}
.milestone_counter
{
	font-size: 72px;
	color: #393939;
	font-weight: 600;
	line-height: 0.75;
}
.milestone_title
{
	font-size: 16px;
	color: #868686;
	font-weight: 600;
	line-height: 0.75;
	margin-top: 35px;
}

/*********************************
6.6 Icon Boxes
*********************************/

.icon_boxes
{
	margin-top: 48px;
}
.icon_boxes_row
{
	margin-top: 31px;
}
.icon_box_col
{
	margin-bottom: 80px;
}
.icon_box_icon
{
	width: 82px;
	height: 82px;
}
.icon_box_icon img
{
	max-width: 100%;
	max-height: 100%;
}
.icon_box_icon svg
{
	max-width: 100%;
	max-height: 100%;
}
.svg path, .svg rect, .svg polygon
{
    fill: #a1a1a1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.icon_box:hover .svg path,
.icon_box:hover .svg rect,
.icon_box:hover .svg polygon
{
	fill: #ffa37b;
}
.icon_box_title
{
	margin-top: 16px;
}
.icon_box_title h2
{
	
}
.icon_box_text
{
	margin-top: 21px;
}

/*********************************
7. Footer
*********************************/

.footer
{
	background: #ffffff;
	padding-top: 81px;
}
.footer_content
{
	padding-bottom: 52px;
}
.footer_logo
{
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.footer_logo > div:first-of-type
{
	width: 235px;
	height: 74px;
	border: solid 3px #393939;
	font-size: 43.32px;
	font-weight: 600;
	color: #393939;
	line-height: 68px;
}
.footer_logo > div:last-of-type
{
	font-size: 16px;
	font-weight: 600;
	color: #393939;
	line-height: 0.75;
	margin-top: 15px;
}
.footer_logo a
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.footer_row
{
	margin-top: 74px;
}
.footer_title
{
	font-size: 18px;
	font-weight: 700;
	color: #393939;
	line-height: 1.2;
}
.footer_list
{
	margin-top: 9px;
}
.footer_list ul li
{
	font-size: 15px;
	font-weight: 500;
	color: #6d6d6d;
	line-height: 2;
}
.newsletter_container
{
	margin-top: 8px;
}
.newsletter_form
{
	display: block;
	position: relative;
}
.newsletter_input
{
	width: 100%;
	height: 64px;
	background: #ffffff;
	border: none;
	border-bottom: solid 2px #393939;
	outline: none;
	font-size: 15px;
	font-weight: 600;
	color: #393939;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_input::input-placeholder
{
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #6d6d6d !important;
}
.newsletter_button
{
	width: 152px;
	height: 54px;
	background: #ffa37b;
	margin-top: 23px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
}
.certificates
{
	padding-left: 12px;
	padding-top: 10px;
}
.cert
{
	margin-bottom: 30px;
}
.copyright
{
	width: 100%;
	height: 33px;
	background: #ffffff;
	text-align: center;
	line-height: 33px;
	font-size: 15px;
	font-weight: 500;
	color: #6d6d6d;
}