section {
  			width: 40%;
  			min-height: 200px;
  			height: 200px;
  			color: black;
  			
  			padding: 5%;
  			padding-left: 0px;
  			float: left;
  			background-color: white;
		}
		section.two {
  			width: 40%;
  			min-height: 200px;
  			height: 200px;
  			color: black;
  			
  			padding: 5%;
  			
  			float: left;
  			background-color: white;
		}
		section.one1{
			width: 20%;
  			min-height: 100px;
  			height: 100px;
  			color: black;
  			
  			padding: 5%;
  			padding-left:0px;
  			float: center;
  			background-color: white;
		}
		section.t2{
			width: 20%;
  			min-height: 100px;
  			height: 100px;
  			color: black;
  			
  			padding: 0px;
  			padding-left: 0px;
  			float: left;
  			background-color: white;
		}
		section.two2{
			width: 60%;
  			min-height: 100px;
  			height: 100px;
  			color: black;
  			
  			padding: 5%;
  			padding-left: 0px;
  			float: left;
  			background-color: white;
		}
		section.two22{
			width: 15%;
  			min-height: 100px;
  			height: 100px;
  			color: black;
  			
  			padding-top: 0px;
  			padding-left: 0px;
  			float: left;
  			background-color: white;
  			padding-left: 180px;
		}
		section.two22.dr{
			width: 40%;
  			min-height: 100px;
  			height: 100px;
  			color: black;
  			
  			padding-top: 0px;
  			padding-left: 0px;
  			float: left;
  			background-color: white;
  			padding-left: 100px;
		}
		.bottom-line {
  
  			border-bottom: 1px solid #000;
  			padding-bottom: 20px;
		}
		.body {

			padding:0 !important;
			margin:0 !important; 
			display:block !important; 
			min-width:100% !important; 
			width:100% !important; 
			background:#f4f4f4; 
			-webkit-text-size-adjust:none;
		}

		.td.container {
			width:650px; 
			min-width:650px; 
			font-size:0pt; 
			line-height:0pt; 
			margin:0; 
			font-weight:normal; 
			padding:55px 0px;
		}

		td.sec1{
			padding-bottom: 20px;
		}

		td.p30-15 {
			padding: 25px 30px 25px 30px; 
			background: #fff;
		}
		th.column-top {
			font-size:0pt; 
			line-height:0pt; 
			padding:0; 
			margin:0; 
			font-weight:normal; 
			vertical-align:top;
		}
		td.img.m-center {
			font-size:0pt; 
			line-height:0pt; 
			text-align:left;
		}
		img.img.m-center {
			padding-left: 230px;
		}
		td.h3.pb20{
			color:#114490; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:24px; 
			line-height:32px; 
			text-align:center; 
			padding-bottom:0px;
			padding-top: 10px
		}
		td.text.pb20{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:left; 
			padding-bottom:10px;
			font-weight: 700;
		}
		td.text.pb201{
			color:#777777; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:left; 
			padding-bottom:10px;
		}
		td.text.pb202{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:24px; 
			line-height:26px; 
			text-align:left; 
			padding-bottom:10px;
		}
		td.text1.pb201{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:center; 
			padding-top: 0px; 
			font-weight: 600;
		}
		td.text2.pb201{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:center; 
			padding-top: 10px; 
			font-weight: 600;

		}
		td.text1.pb2012{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:center; 
			padding-top: 0px; 
			font-weight: 600;
			padding-bottom: 15px;
		}
		td.text2.pb20{
			color:#777777; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:center;
			padding-bottom: 20px;
		}
		td.p30-155{
			padding: 5px 5px ;
		}
		td.sec2{
			border-collapse: collapse; 
			border-spacing: 0;

		}
		img.sec2{
			padding: 0px; 
			margin: 0; 
			outline: none; 
			text-decoration: none; 
			-ms-interpolation-mode: bicubic; 
			border: 0px solid orange; 
			border-radius:8px; 
			display: block;
			float:left;
			color: #000000;
		}
		td.p30-151{
            padding: 70px 0px;
		}
		td.text-footer1.pb10{
            color:#999999; 
            font-family:'Noto Sans', Arial,sans-serif; 
            font-size:16px; 
            line-height:20px; 
            text-align:left; 
            padding-bottom:0px;
		}
		td.text-footer1.pb20{
            color:#999999; 
            font-family:'Noto Sans', Arial,sans-serif; 
            font-size:16px; 
            line-height:20px; 
            text-align:left; 
            padding-bottom:10px;
		}
		td.p30-152{
			padding: 0px 0px;
		}
		td.sec3{
			padding-bottom: 30px;
		}
		td.text1.pb20{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:24px; 
			line-height:26px; 
			text-align:left;
		}
		td.text12.pb20{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:24px; 
			line-height:26px; 
			text-align:left;
			font-weight: 700;
		}
		td.sec4{
			font-size:0pt; 
			line-height:0pt; 
			text-align:left;
		}
		td.text3.pb20{
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:24px; 
			line-height:26px; 
			text-align:center; 
			padding-bottom:0px;
			text-transform: uppercase;
			padding-top: 15px;
		}
		a.atext {
			color:#000; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:20px; 
			line-height:26px;
			text-transform: none;
			padding-top: 15px;
		}
		td.text21.pb20{
			color:#777777; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:14px; 
			line-height:26px; 
			text-align:center;
			padding-top: 15px;
		}
		.p30-153{
			padding: 50px 30px;
		}
		td.textfooter1{
			color:#999999; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:16px; 
			line-height:20px; 
			text-align:center; 
			padding-bottom:10px;
		}
		td.textfooter2{
			color:#999999; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:12px; 
			line-height:26px; 
			text-align:center; 
			padding-bottom:10px;
		}
		td.textfooter3{
			color:#c0c0c0; 
			font-family:'Noto Sans', Arial,sans-serif; 
			font-size:12px; 
			line-height:18px; 
			text-align:center;
		}
		a.link3-u{
			color:#c0c0c0; 
			text-decoration:underline;
		}
		span.link3-u{
			color:#c0c0c0; 
			text-decoration:underline;
		}
		td.textt.pb201{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		padding-top: 10px;
    		font-weight: 600;
		}
		td.textt.pb20{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		
    		font-weight: 600;
		}
		th.textt.pb20{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		background-color: #f5f5f5;
    		font-weight: 600;
    		border-right: 2px solid #c9c9c9;
    		
    		border-bottom: 2px solid #c9c9c9;
    		border-top: 2px solid #c9c9c9;

		}
		th.data.pb20{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: center;
    		background-color: #f5f5f5;
    		font-weight: 600;
    		border-right: 2px solid #c9c9c9;
    		border-bottom: 2px solid #c9c9c9;
    		

		}
		th.data.pb201{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: center;
    		background-color: #f5f5f5;
    		font-weight: 600;
    		
    		border-bottom: 2px solid #c9c9c9;
    		

		}
		td.textt.pb2012{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		padding-top: 0px;
    		font-weight: 600;
    		padding-bottom: 15px;
		}
		td.texttt.pb201{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		padding-top: 10px;
    		font-weight: 300;
		}
		td.data.pb201{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: center;
    		
    		font-weight: 300;
    		border-right: 2px solid #c9c9c9;
    		
    		
		}
		td.data.pb20{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: center;
    		
    		font-weight: 300;
    		border-right: 2px solid #c9c9c9;
    		border-bottom: 2px solid #c9c9c9;
		}
		td.texttt.pb20{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		
    		font-weight: 300;
		}
		td.texttt.pb2012{
			color: #000;
    		font-family: 'Noto Sans', Arial,sans-serif;
    		font-size: 14px;
    		line-height: 26px;
    		text-align: left;
    		padding-top: 0px;
    		font-weight: 300;
    		padding-bottom: 15px;
		}
		td.cb{
			text-align: center;
			border-right: 2px solid #c9c9c9;
            border-bottom: 2px solid #c9c9c9;
		}
		td.cb1{
			text-align: center;
			border-right: 2px solid #c9c9c9;
           
		}
		table.daily{
         
          box-shadow: rgb(0 0 0 / 35%) 0px 2px 41px -17px;
          border-radius: 10px;
		}
		td.cb2{
			text-align: center;
			
            border-bottom: 2px solid #c9c9c9;
		}
		td.cb12{
			text-align: center;
			
           
		}