@charset "utf-8";
/* CSS Document */
/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*********************************
2. Body and some general stuff
*********************************/
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	line-height:25px;
	font-weight: 500;
	color: #6d6d6d;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	/*border-bottom: solid 1px #ffa07f;*/
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover {
	color: #4bbad8;
	/* background: #ffa07f; */
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgb(38, 219, 235);
	color: #ffffff;
}
p::selection
{
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #393939;
	font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
	min-height: 400px;
	background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
/*********************************
3. Header
*********************************/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 100;
}
.header::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: rgba(0,0,0,0.7);
	content: '';
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled::before
{
	height: 100%;
}
.header_content
{
	width: 100%;
	height: 81px;
	padding-left: 62px;
	padding-right: 62px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	-webkit-box-shadow: 8px 20px 17px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 20px 17px -25px rgba(0,0,0,0.75);
	box-shadow: 8px 20px 17px -25px rgba(0,0,0,0.75);
}
.header.scrolled .header_content
{
	height: 90px;
}
.logo
{
	width: 155px;
	/*height: 41px;*/
	/*border: solid 2px #000;*/
	text-align: center;
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	/*color: #000;*/
	line-height: 37px;
}
.main_nav ul li:not(:last-of-type) {
	/* margin-right: 49px; */
	margin: 0 5px;
}
.main_nav ul li a {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	padding: 10px 0px 10px 0;
	margin: 0px 15px;
	/*    border-radius: 20px;*/
}
/*.main_nav ul li a:hover, .main_nav ul li.active a {
    color: #ffffff;
    background-color: #ddd;
    background: #ffffff;
    text-align: center;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    padding: 10px 15px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #2aa3ef 0%, #0466a9 100%);
        font-size: 14px;
}
*/
.main_nav ul li a:hover, .main_nav ul li.active a {
	color: #000000;
	background-color: #ddd;
	background: #ffffff;
	text-align: center;
	border-bottom: 2px solid #000;
}
.book_button {
	/* width: 152px; */
	/* height: 54px; */
	/* background: #ffffff;*/
	margin-left: 15px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	/* padding: 8px 15px;*/
	border-radius: 20px;
}
.book_button:hover a
{
	color: #fff;
}
.book_button a {
	display: block;
	width: 100%;
	height: 100%;
	/* line-height: 35px; */
	font-size: 14px;
	font-weight: 600;
	color: #151515;
	text-transform: uppercase;
}
.book_button a i.fa {
	font-size: 18px;
	position: relative;
	top: 1px;
	margin-right: 2px;
}
.header_phone
{
	width: 190px;
	height: 54px;
	background: #ffa37b;
	margin-left: 14px;
}
.header_phone span
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 9px;
}
.header_phone span::selection
{
	background: #ffffff;
	color: #ffa37b;
}
.hamburger
{
	display: none;
	margin-left: 25px;
	cursor: pointer;
}
.hamburger i
{
	font-size: 24px;
	color: #ffffff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #ffa37b;
}
/*********************************
4. Menu
*********************************/
.menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	background: rgba(255,255,255,0.93);
	visibility: hidden;
	opacity: 0;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_content
{
	padding-right: 30px;
	padding-top: 170px;
}
.menu_close {
	position: absolute;
	top: 31px;
	right: 15px;
	cursor: pointer;
	z-index: 1;
}
.menu_close i
{
	font-size: 24px;
	color: #121212;
}
.menu_close:hover i
{
	color: #ffa37b;
}
.menu_nav ul li:not(:last-of-type)
{
	margin-bottom: 5px;
}
.menu_nav ul li a
{
	font-weight: 700;
	font-size: 36px;
	color: #11eef5;
	line-height: 1.2;
}
.menu_nav ul li a:hover
{
	color: #ffa37b;
}
.menu_nav ul li a span
{
	color: #690772;
}
.menu_extra
{
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.menu_book
{
	display: none;
	margin-top: 50px;
}
.menu_book a
{
	display: inline-block;
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
}
.menu_book a::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.62);
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_book a:hover
{
	color: #ffa37b;
}
.menu_book a:hover::after
{
	background: #ffa37b;
}
.menu_phone
{
	margin-top: 10px;
}
.menu_phone span
{
	font-size: 16px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	margin-left: 9px;
}
/*********************************
5. Home
*********************************/
.home
{
	width: 100%;
	height: 100vh;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider .owl-dots
{
	display: none;
}
.home_slider_dots_container {
	position: absolute;
	left: 0;
	top: 30%;
	z-index: 1;
	width: 100%;
	right: 0;
}
.home_slider_custom_dots li
{
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_custom_dots li:not(:last-of-type)
{
	margin-right: 5px;
}
.home_slider_custom_dots li.active,
.home_slider_custom_dots li:hover
{
	color: #ffa37b;
}
.home_slider .slide
{
	background: #0f0e24;
}
.home_slider .background_image
{
	opacity: 0.48;
}
.home_slider_dots {
	position: fixed;
	right: 20px;
	top: 50%;
}
.home_container
{
/*	position: absolute;
	top: 36.5%;
	left: 0;
	width: 100%;*/
}
.home_title {
	font-size: 54px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}
.booking_form_container
{
	width: 100%;
	margin-top: 34px;
	padding-left: 78px;
	padding-right: 88px;
}
.booking_form
{
	display: block;
	width: 100%;
}
.booking_input
{
	width: 100%;
	height: 54px;
	background: rgba(255,255,255,0.2);
	border: solid 2px #ffffff;
	padding-left: 27px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	outline: none;
}
.booking_input_container
{
	width: 100%;
}
.booking_input_container > div
{
	padding-right: 10px;
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2)
{
	width: 32.60869565217391%;
}
.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4)
{
	width: 17.39130434782609%;
}
.booking_input_a
{
}
.booking_input_b
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.booking_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6f6f6f !important;
}
.booking_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6f6f6f !important;
}
.booking_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6f6f6f !important;
} 
.booking_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: ##6f6f6f !important;
}
.booking_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #6f6f6f !important;
}
.booking_button {
	/*    width: 152px;*/
	cursor: pointer;
	background: transparent;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	padding: 10px 15px;
	border-radius: 20px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}
.booking_button i.fa{
	margin-right: 5px;
}
.booking_button:hover
{
	background: rgba(255,255,255,0.2);
}
.home_slider_botm {
	position: absolute;
	left: 0;
	bottom: 40px;
	z-index: 1;
	width: 100%;
	right: 0;
}
.home_slider_botm .justify-content-start {
	width: 100%;
	text-align: center;
}
.home_slider_botm .booking_button {
	width: auto;
	cursor: pointer;
	background: #fff;
	background: #ffffff;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 20px;
	border: none;
	color: #fff;
	padding: 5px 6px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	padding-right: 12px;
	margin: 5px;
	line-height: 25px;
	background: linear-gradient(to bottom, #2aa3ef 0%, #0466a9 100%);
}
.home_slider_botm .booking_button span {
	padding: 0px;
	background-color: #151515;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 5px;
}
.home_slider_botm .booking_button span i.fa {
	margin-right: 0;
	font-size: 14px;
	color: #fff;
	position: relative;
	top: -2px;
}
.home_slider_custom_dots li span {
	width: 14px;
	height: 14px;
	border: 2px solid #ddd;
	display: block;
	margin: 5px;
	border-radius: 50%;
}
.home_slider_custom_dots li.active span {
	background-color: #0466a9;
}
button.booking_button:hover {
	background: linear-gradient(to bottom,  #0466a9 0%, #2aa3ef 100%);
	color: #fff;
}
.home-text {
	color: #fff;
	font-size: 15px;
	max-width: 615px;
	display: table;
	margin: 0 auto;
}
.home_slider_botm .booking_button:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
	box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
	-webkit-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
	-moz-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
	-o-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
	transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
}
/*******************************************************************************
	Sign Up page style
	********************************************************************************/
	.signup-page {
		font-size: 14px;
		line-height: 1.8;
		color: #222;
		font-weight: 400;
		font-family: 'Montserrat';
		background-image: url(../images/signup-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		background-position: center center;
		padding: 1px 0;
		min-height: 100vh;
	}
	.signup-page:before {
		/*background-image: linear-gradient(to left, #2aa3ef, #0466a9);*/
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0.7;
	}
	.signup-page .container {
		width: 900px;
		position: relative;
		margin: 0 auto;
	}
	label.label-agree-term a {
		color: #282222;
		font-weight: 500;
	}
	label.label-agree-term a:hover {
		color:#1988d0;
	}
	p.loginhere a:hover
	{
		color: #4bbad8;
	}
	.signup-content {
		background: #fff;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		padding: 25px 30px;
	}
	.form-group {
		/*overflow: hidden;*/
		margin-bottom: 20px;
	}
	.form-input {
		width: 100%;
		border: 1px solid #ebebeb;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		padding: 14px 20px;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: 500;
		color: #222;
	}
	.field-icon {
		float: right;
		margin-right: 17px;
		margin-top: -32px;
		position: relative;
		z-index: 2;
		color: #555;
	}
	.loginhere {
		color: #555;
		font-weight: 500;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.loginhere-link {
		font-weight: 700;
		color: #222;
	}
	.form-submit {
		width: 100%;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		padding: 17px 20px;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		border: none;
    /*background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6);*/
    background: linear-gradient(to bottom,  #2aa3ef 0%, #0466a9 100%);
    cursor: pointer;
}
form#signup-form h2.form-title {
	font-size: 22px;
	margin-bottom: 16px;
}
span.fa.fa-eye.toggle-password {
	position: absolute;
	top: 20px;
	right: 12px;
	color: #909090;
	cursor: pointer;
}
/*****/
.about-us header.header {
	border-bottom: 1px solid #c1c0c0;
	background: #00000080;
}
.ban_box{
	background-image:url(../images/img_about.jpg);
	background-position:top center;
	padding:200px 0px 100px;
}
.ban_box:before{
	background: #000;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.5;
}
.ben_hed nav {
	display:inline-block;
	background:none !important;
	float:right;
}
.ben_hed h2 {
	display:inline-block;
	color:#fff;  
}
.ben_hed nav ol.breadcrumb {
	background:none;
}
.ben_hed nav ol.breadcrumb li a {
	color:#fff;
	font-size: 18px;
}
.ben_hed nav ol.breadcrumb li{    
	font-size: 18px;
}
.ben_hed .breadcrumb-item.active {
	color:#000000;    
}
.ben_hed .breadcrumb-item+.breadcrumb-item::before {   
	color:#000;
}
h2.hd_services {
	text-align: center;
	color: #3a5668;
	font-size: 32px;
	margin: 50px 0px;
	padding: 0px;
}
h2.hd_services:after {
	content:' ';
	display:block;
	width:100px;
	height:1px;
	margin:20px auto 25px;
	background-color:#abafb3;
}
.sc_services_item {
	background:#f4f7f9;
	color:#8496a2;
	text-align:center;
	padding:3.5em 0.5em 3em;
	border-radius:3px;
	margin-bottom:25px;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
a.icon_item {
	color:#40c4dd;
	font-size:60px;
	margin:0px 0px 10px;
	display:inline-block;
}
.item_content h4 a{
	color:#3a5668;
}
.sc_services_item:hover{
	background:#40c4dd;
	color:#fff;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.item_description p{
	line-height:21px;
}
.sc_services_item:hover .item_description p{
	color:#fff;
}
.sc_services_item:hover  a.icon_item{
	color:#fff;
}
.sc_services_item:hover h4.item_title a{
	color:#fff;
}
.bx_ourMission{
	background-image:url(../images/img_ourMission.png);
	background-position:center center;
	padding:150px 0px 150px;
}
.mission_main h2 {
	font-size: 32px;
	margin-bottom: 20px;
}
.main_about {
	margin-bottom: 35px;
}
.sc_team_item_avatar {
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_team_item_info {
	text-align: center;
}
.sc_team_item_info h5.sc_team_item_title a {
	color: #3a5668;
	font-size: 18px;
	margin: 15px 0px 0px;
	display: inline-block;
	width: 100%;
}
.sc_team_item_avatar {
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_team_item_info {
	text-align: center;
}
.sc_team_item_info h5.sc_team_item_title a {
	color: #3a5668;
	font-size: 18px;
	margin: 15px 0px 0px;
	display: inline-block;
	width: 100%;
}
.sc_team_item {
	margin-bottom: 35px;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_team_item_hover {
	height:0px;
	opacity: 0;
}
.sc_team_item:hover .sc_team_item_hover {
	background: rgba(52,184,221,0.8);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 1;
	filter: alpha(opacity=0);
	text-align: center;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
	height:auto; 
}
.sc_socials {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);    
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.sc_socials_item a {
	width: 2.5em;
	height: 2.5em;
	line-height: 15px;
	display: block;
	text-align: center;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
.sc_socials_item a .fa {
	font-size: 18px;
	line-height: 31px;
}
.sc_socials_item {
	display: inline-block;
	margin: 0px 3px;
}
.sc_team_item_socials {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.sc_button {
	background: linear-gradient(to bottom, #00ffff 0%, #56b1d3 100%) !important;
	padding: 10px 25px !important;
	border-radius: 3px !important;
	color: #fff;
	text-transform: uppercase !important;    
}
.sc_button:hover {
	background:linear-gradient(to bottom, #56b1d3 0%, #00ffff 100%) !important;
	color: #000 !important; 
}
.sc_team_button {
	text-align: center;
	width: 100%;
	margin: 10px 0px 25px;
}
.bx_ourTeam {
	display:inline-block;
	width:100%;
	padding:15px 0px 45px;
}
.bx_ourGat{
	background-image:url(../images/img_get.png);
	background-position:top center;
	padding:50px 0px 50px;
}
h2.action_title {
	font-size: 32px;
	margin: 0px 0px 0px;
	color: #fff;
}
.action_descr {
	display: inline-block;
	margin-bottom: 15px;
	color: #fff;
	font-size: 16px;
}
.sc_call_to_action_buttons {
	display: inline-block;
	width: 100%;
}
.bx_ourGat:before {
	background-image:linear-gradient(to left, #74ebd5, #9face6);
	content: "";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	opacity:0.8;
}
/* footer open*/
.footer-full {
	background:#223645;
	display: inline-block;
	width: 100%;
}
.footer {
	padding:60px 0 30px;
}
.footer-first p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	padding-top: 10px;
}
.footer p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 5px;
}
.footer h4 {
	color: #fff;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.footer-second ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer-second ul li {
	display: block;
}
.footer-second ul li a {
	display: inline-block;
	color: #e1e1e1;
	padding: 3px 7px;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}
.footer-second ul li a:hover {
	color: #33c5fe;
}
.footer-third ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.footer-third ul li {
	display: inline-block;
}
.footer-third ul li a {
	display: inline-block;
	color: #fff;
	padding: 3px 7px;
	font-size: 25px;
	font-weight: 400;
	text-decoration: none;
}
.footer-third ul li a:hover {
	color: #33c5fe;
}
.footer .footer-third p {
	padding-left: 40px;
	position: relative;
}
.footer .footer-third p .fa {
	font-size: 20px;
	position: absolute;
	top: 3px;
	left: 5px;
}
.footer_bottom {
	border-top: 1px solid #999;  
}
.footer_bottom p {
	color: #f0f0f0;
	margin-bottom: 0px;
	padding: 15px 0px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
}
/* footer close*/
/**Contact-page**/
.contact_form_main {
	width: 100%;
}
.contact_form_main .col-md-7 {
	float: left;
}
.contact_form_main .col-md-1 {
	float: left;
}
.contact_form_main .col-md-4.col-sm-5 {
	float: left;
}
.contact_form {
	display: inline-block;
	width:100%;
	margin:0px;
	padding:60px 0px;
}
.about_are{
	margin:0px 0px 15px 0px;
	padding-bottom:15px;
	position:relative;
}
.about_are:after {
	position:absolute;
	content: '';
	background: rgba(51, 51, 51, 0.72);
	height:2px;
	width:50px;
	left:0px;
	bottom:0px;
}
.info {
	padding:0px;
	margin-bottom:20px;
}
.info li {
	list-style:none;
	border-bottom:1px solid #eeeeee;
	overflow:hidden;
	padding:15px 0px;
	display:flex;
	align-items:center;
}
.info li .icon {
	float: left;
	margin-right: 15px;
	font-size:26px;
	color:#696969;
	line-height:1;
}
.info li .icon .fa-envelope {    
	font-size:22px;    
}	
.info li .content p {
	margin:0px;
	color:#696969;
	font-size:14px;
	font-weight:600;
}
.contact-info .info li .content {
	display:table;
}
.contact_02_social_media ul {
	padding: 0px;
}
.contact_02_social_media ul li {
	display: inline;    
	margin-right: 10px;
	float: left;
}		
.contact_02_social_media ul li a {
	text-decoration: none;
	border: solid 1px #999;
	border-radius: 100%;
	overflow: hidden;
	color: #000;
	transition: all ease-in-out 400ms;
	float: left;
	width: 50px;
	height: 50px;
	font-size: 19px;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}	
.contact_02_social_media ul li a:hover {
	transform: rotate(360deg);
	transition: all ease-in-out 400ms;
	background: linear-gradient(to bottom, #00ffff 0%, #56b1d3 100%);
	color: #101010;
	border-color: #4abbd8;
}	
.contact_02_social_media .fa {
	text-decoration:none;
	position:absolute;
	top:15px;
	left:0px;
	right:0;
	bottom:0;
	margin:0px auto;
	width:16px;
}
.or_heading {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	position: relative;
	height:340px;
}	
.or_heading::before {
	position: absolute;
	background: #000;
	width: 1px;
	content: '';
	top: 0;
	left: 33px;
	right: 0;
	bottom: 0;
	margin-top: 30px;
}	
.or_heading h3 {
	margin: 0px;
	padding: 0px;
	border-radius: 100%;
	background:linear-gradient(to bottom, #00ffff 0%, #56b1d3 100%);
	color: #fff;
	width: 65px;
	height: 65px;
	padding-top: 16px;
	vertical-align: middle;
	position: absolute;
	margin: 0 auto;
	top: 43%;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	font-family: quicksand;
	font-weight: 500;
	font-size: 20px;
}	
.contact_form_section input[type="submit"]{
	background: #fcba4a;
	border: none;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 15px;
	position: relative;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	border-radius: 0px;
}	
.contact_form_section textarea {
	border-radius:0px;
	box-shadow:none;
	padding-left:45px;
	color:#333;
}
.contact_form_section {
	margin-top:40px;
}
section.contact-map-main {
	display:inline-block;
	width:100%;
}
.contact_form_section .input-filed input {
	color:#333;
	padding:10px 10px 10px 45px;
}
.contact_form_section .input-filed img.icon {
	top:0px;
	left:0px;
	background:#000;
	padding:9px 7px 9px;
	position:absolute; 
}
.contact_form_section .input-filed textarea {
	height:110px;
	box-shadow:none;
}
.contact_form_section .text_areaicon img.icon {
	padding:42px 7px 42px;
}
.contact_form_section .input-filed textarea{
	border:1px solid rgba(183, 183, 183, 0.54);
}
.contact_form_section input[type="submit"]:hover {
	background:#000;
	color:#fff;
}	
.input-filed {
	position: relative;
}
.input-filed input {
	padding: 10px 10px 10px 40px;
	width: 100%;
	background: transparent;
	border: 1px solid rgba(183, 183, 183, 0.54);
	margin-bottom: 20px;
}
/****/
/**How  it work**/
.acm-txt-sub p {
	line-height:25px;
	letter-spacing:0.3px;
}
section.about-cont-main {
	background: url(../images/about.jpg);
	padding:20px 0px;
	background-size:100%;
	background-attachment:fixed;
	position:relative;
	margin-top:2px;
}
section.about-cont-main::before {
	content: '';
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:rgba(0, 0, 0, 0.66);
	width:50%;
}
section.about-cont-main .acm-txt {
	color:#fff;
}
.acm-txt-sub ul {
	margin:0px;
	padding:0px;
}
.acm-txt-sub ul li {
	list-style: none;
	padding-left: 30px;
	position: relative;
}
.acm-txt-sub ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	background: #b3b3b3;
}
.about-img img {
	width: 100%;
}
.about-img {
	margin-top: 30px;
	margin-right: 30px;
	border: 10px solid rgb(228, 228, 228);
}
.acm-txt-sub ul li p {
	line-height: 22px;
	font-size: 13px;
	letter-spacing: 0;
}
section.about-cont-sub {
	padding: 20px 0;
}
section.firm-value {
	padding: 20px 0;
	background: #f3f3f3;
}
.fv-sub p {
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: 22px;
}
.fv-sub {
	padding-left: 65px;
	position: relative;
}
.fv-sub h3 {
	font-weight: 700;
	font-size: 16px;
}
section.testimonial-abt {
	text-align: center;
}
.test-sub {
	max-width: 700px;
	margin: 25px auto 70px;
	position: relative;
}
section.testimonial-abt .owl-buttons {
	top: 0;
}
section.testimonial-abt .owl-buttons .owl-prev, section.testimonial-abt .owl-buttons .owl-next {
	color: #333 !important;
}
.author-name {
	font-size: 13px;
	font-weight: 600;
	color: #a0a0a0;
}
.author-name span {
	font-weight: 400;
}
.test-sub::before {
	content: "\f10d";
	position: absolute;
	left: -70px;
	top: -37px;
	font-family: fontAwesome;
	font-size: 70px;
	color: #eaeaea;
	z-index: -1;
}
.test-sub p {
	letter-spacing: 0.3px;
	line-height: 26px;
	font-style: italic;
}
section.testimonial-abt .owl-pagination {
	max-width: initial;
	text-align: center;
	display: block;
}
.acm-head h2 {    
	font-weight:400;
	font-size:30px;
}
section.about-cont-main .acm-txt h2, section.about-cont-main .acm-txt p{
	color:#fff !important;
}
.form-group p {
	color: red;
}
label.error {
	color: red;
	font-size: 18px;
}
.agreeterm > label.error {
	position: absolute;
	top: 19px;
	left: 1px;
	font-size: 18px;
}
/*How it Work End*/
h2.form-title {
	font-size: 22px;
	margin-bottom: 15px;
	text-align: center;
}
#forgot_password h2 {
	font-size:22px;
	margin-bottom:0px;
	text-align: center;
}
p.for_subHd {
	font-size: 12px;
	margin-bottom: 20px;
	text-align: center;
}
#verifyotp-form h2{
	font-size:22px;
	margin-bottom:0px;
	text-align:center;
}
#verifyotp-form > p{
	font-size:12px;
	margin-bottom:20px;
	text-align:center;
}
p.loginhere a{
	z-index:0;
	position:relative;
}
p.loginhere {
	position: relative;
	z-index: 0;
}
div#loading2 {
	z-index:99999;
}	
/*****/
.feature-item{
	margin:20px 0;
	text-align:left;
	font-size:15px;
}  
.feature-item img {
	margin-bottom: 30px;
	height: 60px;
	width: auto;
}
.feature-item h2 {
	font-size:20px;
	font-weight:600;
	line-height:2;
	margin:0px;
}
.bx_ftMain {
	display: inline-block;
	width: 100%;
	padding: 45px 0px;
}
.video-box figure.image {
	max-width:450px;
	margin:0px auto;
	border:1px solid #ccc;
	box-shadow:0px 0px 10px #00000070;
}
.content-column {
	display: flex;
	align-items: center;
}
.content-column .text p {
	font-size: 18px;
	line-height: 30px;
}
.sec-title h2 {
	font-size:34px;
	margin-bottom:15px;
	color:#3a5668;
}
a.theme-btn.btn-style-four {
	border: none;
	color: #fff;
	padding: 10px 25px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 20px 0px;
	line-height: 25px;
	background: linear-gradient(to bottom, #2aa3ef 0%, #0466a9 100%);
	display: inline-block;
	border-radius: 30px;
}
.bx_ftMain .row + .row{
	margin-top:35px;
}
p.bx_hdText {
	text-align: center;
	max-width: 80%;
	margin:-25px auto 25px;
	font-size: 18px;
}
.feature-item .fa {
	font-size:48px;
	color:#1b8bd3;
	margin-bottom:5px;
}
@media screen and (max-width: 991px) {	
	.menu_nav ul li a {
		font-weight:600 !important;
		font-size: 24px !important;
		color: #0466a9 !important; 
	}
	.menu_content {
		padding-right: 30px;
		padding-top: 80px !important;
	}
}
@media screen and (max-width: 767px) {
	.sc_team_item {
		max-width: 360px !important;
		margin: 0px auto 35px !important;
	}
}
@media screen and (max-width: 575px) {
	.or_heading {
		height:100px;
	}
	.or_heading::before {
		width: 0px;
	}
	.or_heading h3{    
		top: 15%;
	}
}
/* 4 may */
.log_left_s
{
	width: 100%;
	height: 100%;
	float: left;
	margin: 0px;
	position: relative;
	background-image: url(https://mobivdigital.com/carepro/assets/images/login_right_bg.jpg);
	background-size: cover;
	padding: 45px;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px;
	-ms-border-radius: 0px 10px 10px 0px;
}
section.signup.login-s_n .col-md-6 {
	padding: 0;
}
.log_left_s:before {
	content: "";position: absolute;
	background: #0000006b;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px
	-ms-border-radius: 0px 10px 10px 0px;
}
.log_left_s h1.head_txt_s {
	position: relative;
	z-index: 999;
	color: #fff;
	font-size: 65px;
	font-family: 'Lato', sans-serif;
	display: none;
}
.log_left_s span {
	color: #fff;
	position: relative;
	z-index: 999;
	font-family: 'Lato', sans-serif;
}
.signup-content.log_right_s {
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 110px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	padding: 20px 15px;
}

/*.signup-content.log_right_s {
	border-radius: 10px 0 0 10px;
	-moz-border-radius: 110px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	padding: 20px 15px;
	}*/
	.signup-content.log_right_s h2.form-title {
		text-align: left;
	}
	.signup-content.log_right_s input {
		border-bottom: 1px solid #ebebeb !important;
		border: 0;
		padding-left: 6px;
		/*   text-transform: uppercase;*/
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		font-weight: 600;
		color: #6f6f6f;
	}
	.signup-content.log_right_s h2.form-title {
		text-align: left;
	}
	.signup-content.log_right_s input {
		border: 1px solid #b3b3b3 !important;
		padding: 10px 10px 10px 40px;
		/*text-transform: capitalize;*/
		font-size: 14px;
		font-weight: 500;
		color: #6f6f6f;
		font-family: 'Open Sans', sans-serif;
		height: 44px;
		border-radius: 50px;
	}
	.signup-content.log_right_s label.label-agree-term {
		font-size: 14px;
		text-transform: capitalize;
		position: relative;
		font-family: 'Open Sans', sans-serif;
	}
	input#remember_me {
		font-size: 12px;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		position: relative;
		top: 3px;
		margin-right: 4px;
	}
/*.signup-content.log_right_s .form-group:nth-child(4) {
    width: 50%;
    float: left;
}
.signup-content.log_right_s .form-group:nth-child(5) {
    width: 50%;
    float: left;
}
.signup-content.log_right_s .form-group:nth-child(6) {
    width: 50%;
    float: left;
    }*/
/*.signup-content.log_right_s .form-group:nth-child(6) {
   width: 100%;
    float: right;
    }*/
    .signup-content.log_right_s {
    	float: left;
    	width: 100%;
    }
    p.loginhere a
    {
    	text-transform: uppercase;
    	padding-left: 5px;
    }
    p.loginhere a {
    	text-transform: capitalize;
    	padding-left: 5px;
    	font-size: 15px;
    	color: #2092d9;
    	font-weight: 600;
    }
    p.loginhere {
    	float: left !important;
    }
    /* 7 may */
    .book_button a {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2aa3ef+0,1177b7+100 */
    	background: #2aa3ef; /* Old browsers */
    	background: -moz-linear-gradient(top,  #2aa3ef 0%, #1177b7 100%); /* FF3.6-15 */
    	background: -webkit-linear-gradient(top,  #2aa3ef 0%,#1177b7 100%); /* Chrome10-25,Safari5.1-6 */
    	background: linear-gradient(to bottom,  #2aa3ef 0%,#1177b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 ); /* IE6-9 */
    	width: 196px;
    	height: 50px;
    	border-radius: 100px;
    }
    .book_button {
    	position: relative;
    }
    .book_button a:after {
    	position: absolute;
    	content: "";
    	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1177b7+1,2aa3ef+100 */
    	background: #1177b7; /* Old browsers */
    	background: -moz-linear-gradient(top,  #1177b7 1%, #2aa3ef 100%); /* FF3.6-15 */
    	background: -webkit-linear-gradient(top,  #1177b7 1%,#2aa3ef 100%); /* Chrome10-25,Safari5.1-6 */
    	background: linear-gradient(to bottom,  #1177b7 1%,#2aa3ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 ); /* IE6-9 */
    	left: 0px;
    	top: -2px;
    	z-index: -1;
    	width: 196px;
    	height: 54px;
    	border-radius: 100px;
    }
    .book_button a {
    	font-family: 'Asap Condensed', sans-serif;
    }
    .book_button a {
    	font-family: 'Asap Condensed', sans-serif;
    	color: #fff;
    	font-size: 24px;
    	letter-spacing: 1px;
    	line-height: 36px;
    	padding: 8px 15px;
    }
    .main_nav ul li a
    {
    	font-family: 'Nunito', sans-serif;
    	font-weight: 600;
    	letter-spacing: 0.5px;
    }
    .log_left_s {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	text-align: center;
    	color: #fff;
    }
    .log_left_s_m h3 {
    	color: #fff;
    	font-family: 'Open Sans', sans-serif;
    	font-size: 22px;
    }
    h1.left_logo_login {
    	text-align: center;
    	/*margin-bottom: -1px;*/
    	margin-bottom: 30px;
    }
    input.form-submit {
    	background: #2aa3ef;
    	background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    	background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    	background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    	width: 100%;
    	position: relative;
    	width: 100%;
    	position: relative;
    	font-family: 'Asap Condensed', sans-serif;
    	font-size: 20px;
    	line-height: 8px;
    	text-transform: uppercase;
    	border-radius: 100px;
    }
/*input#submit {
    width: auto;
    padding: 12px 15px;
    min-width: 100px;
    border-radius: 50px;
    float: right;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    }*/
    input#remember_me
    {
    	top: 0px;
    	height: auto;
    }
    .form-group.email_on {
    	margin-bottom: 15px;
    }
    .form-group.pass_tw {
    	margin-bottom: 12px;
    }
    .form-group.email_on label.error {
    	font-size: 12px;
    	font-family: 'Open Sans', sans-serif;
    	padding-left: 10px;
    }
    label.label-agree-term.for_g {
    	float: right;
    }
    .form-group.sub_but_s input.form-submit {
    	font-family: 'Asap Condensed', sans-serif;
    	color: #fff;
    	text-transform: uppercase;
    	font-size: 20px;
    	letter-spacing: 0.5px;
    }
    p.loginhere {
    	margin-top: 0;
    	text-align: center;
    	width: 100%;
    	color: #606060;
    	font-size: 15px;
    	letter-spacing: 0.5px;
    }
    .form-group.sub_but_s {
    	margin-bottom: 13px;
    }
    .form-group.sub_but_s .form-submit:hover
    {
    	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1177b7+1,2aa3ef+100 */
    	background: #1177b7; /* Old browsers */
    	background: -moz-linear-gradient(top,  #1177b7 1%, #2aa3ef 100%); /* FF3.6-15 */
    	background: -webkit-linear-gradient(top,  #1177b7 1%,#2aa3ef 100%); /* Chrome10-25,Safari5.1-6 */
    	background: linear-gradient(to bottom,  #1177b7 1%,#2aa3ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 ); /* IE6-9 */
    }
/*.form-submit:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    }*/
    .book_button a:hover
    {
    	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1177b7+1,2aa3ef+100 */
    	background: #1177b7; /* Old browsers */
    	background: -moz-linear-gradient(top,  #1177b7 1%, #2aa3ef 100%); /* FF3.6-15 */
    	background: -webkit-linear-gradient(top,  #1177b7 1%,#2aa3ef 100%); /* Chrome10-25,Safari5.1-6 */
    	background: linear-gradient(to bottom,  #1177b7 1%,#2aa3ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 ); /* IE6-9 */
    }
/*.book_button:hover {
     background: rgba(255,255,255,0.2); 
    background: linear-gradient(to bottom, #2aa3ef 0%, #0466a9 100%);
    }*/
/*.book_button:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
    -moz-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
    -o-transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
    transition: box-shadow .4s cubic-bezier(.215,.61,.355,1);
    }*/
    .book_button i.fa.fa-lock {
    	display: none;
    }
    section.signup.login-s_n {
    	margin-top: 40px;
    }
    .all_log_in {
    	width: 100%;
    	float: left;
/*    display: flex;
    -webkit-box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: #fff;*/
}
/*
.form-group.sub_but_s {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 100%;
    position: relative;
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    height: 46px;
    position: relative;
}
.form-group.sub_but_s:after {
    position: absolute;
    content: "";
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    left: 0px;
    height: 50px;
    top: -5px;
    width: 100%;
}
*/
.form-group.sub_but_s {
	background: #2aa3ef;
	background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
	background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
	background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
	width: 100%;
	position: relative;
	font-family: 'Asap Condensed', sans-serif;
	color: #fff;
	font-size: 20px;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: 46px;
	position: relative;
	border-radius: 100px;
	z-index: 99;
}
.form-group.sub_but_s input {
	border: 0px solid #ebebeb !important;
}
.form-group.sub_but_s:before {
	position: absolute;
	content: "";
	background: #1177b7;
	background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
	background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
	background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
	left: 0px;
	height: 48px;
	top: -2px;
	width: 100%;
	border-radius: 100px;
	z-index: -1;
}
header.header.scrolled .main_nav ul li a {
	color: #ffffff;
}
.sign_right_s {
	width: 100%;
	height: 100%;
	float: left;
	margin: 0px;
	position: relative;
	background-image: url(https://mobivdigital.com/carepro/assets/images/sign_up_right.jpg);
	background-size: cover;
	padding: 45px;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px;
	-ms-border-radius: 0px 10px 10px 0px;
	/* background-size: contain; */
	background-position: 40%;
}
.sign_right_s:before {
	content: "";
	position: absolute;
	background: #00000075;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px -ms-border-radius: 0px 10px 10px 0px;
}
.sign_right_s {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.sign_right_s span {
	color: #fff;
	position: relative;
	z-index: 999;
	font-family: 'Lato', sans-serif;
}
.signup-content.log_right_s h2.form-title.rig_tx {
	text-align: center;
	margin-bottom: 35px;
}
.form-group.reg_one1 {
	margin-bottom: 12px;
	position: relative;
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
.form-group.reg_one1.reg_tw label.label-agree-term {
	float: left;
}
.form-group.reg_one1.reg_tw input.agree-term {
	float: left;
	height: auto;
	margin-right: 10px;
	position: relative;
	top: 5px;
}
.form-group.rem_th {
	width: 50%;
	float: left;
	margin-bottom: 8px;
}
.form-group.for_fo {
	width: 50%;
	float: left;
	margin-bottom: 8px;
}
.form-group.sub_but_s {
	float: left;
	width: 100%;
}
.form-group.reg_one1.reg_fiv {
	float: left;
	width: 100%;
	margin-top: 9px;
	margin-bottom: 10px;
}
.form-group.reg_one1.reg_fiv label.radio-inline {
	width: auto;
	float: left;
	margin-right: 45px;
}
.form-group.reg_one1.reg_fiv label.radio-inline span {
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	line-height: 12px;
	font-family: 'Open Sans', sans-serif;
}
.form-group.reg_one1.reg_fiv label.radio-inline input[type="radio"] {
	float: left;
	height: auto;
}
.form-group.reg_one1.reg_six textarea {
	border: 1px solid #b3b3b3 !important;
	padding: 10px 30px;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	color: #6f6f6f;
	font-family: 'Open Sans', sans-serif;
	height: 70px;
	border-radius: 50px;
}
.scrollbar
{
	float: left;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
}
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
#style-4::-webkit-scrollbar-thumb
{
	background-color: #2398e1;
	border: 1px solid #1e8ed4;
}
.form-group.reg_one1.reg_othr {
	background: #2aa3ef;
	background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
	background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
	background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
	width: 100%;
	position: relative;
	font-family: 'Asap Condensed', sans-serif;
	color: #fff;
	font-size: 20px;
	line-height: 12px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	height: 46px;
	position: relative;
	border-radius: 100px;
	z-index: 99;
}
.form-group.reg_one1.reg_othr:before {
	position: absolute;
	content: "";
	background: #1177b7;
	background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
	background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
	background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
	left: 0px;
	height: 48px;
	top: -2px;
	width: 100%;
	border-radius: 100px;
	z-index: -1;
}
.form-group.reg_one1.reg_othr .form-submit:hover {
	background: #1177b7;
	background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
	background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
	background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
}
.form-group.reg_one1.reg_othr {
	float: left;
}
.form-group.reg_one1.reg_othr input {
	float: left;
	font-family: 'Asap Condensed', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.5px;
}
.form-group.reg_one1.reg_othr input#btnsubmit {
	border: 0px !important;
}
.form-group.reg_one1 i.fa {
	position: absolute;
	top: 13px;
	left: 15px;
	color: #949494;
	font-size: 16px;
}
.form-group.email_on {
	position: relative;
}
.form-group.pass_tw {
	position: relative;
}
.form-group.email_on i.fa {
	position: absolute;
	top: 13px;
	left: 15px;
	color: #949494;
	font-size: 16px;
}
.form-group.pass_tw  i.fa {
	position: absolute;
	top: 13px;
	left: 15px;
	color: #949494;
	font-size: 16px;
}
.form-group.reg_one1.reg_six i.fa.fa-map-marker {
	top: 17px;
}
.form-group.reg_one1.reg_six {
	margin-bottom:10px;
}
label.error {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
/* 16 may */
.signup-page.scrollbar.sign_up_m {
	padding-top: 10px;
}
.form-group.reg_one1.reg_th {
	width: 40%;
	float: left;
}
.form-group.reg_one1.reg_eig {
	width: 55%;
	float: left;
	margin-left: 4%;
}
.sig_bott_s {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.form-group.reg_one1.reg_six3 {
	width: 47%;
	margin-right: 3%
}
.form-group.reg_one1.reg_six4 {
	width: 49%;
	margin-left: 3%
}
.form-group.reg_one1.reg_six3 {
	width: 45%;
}
.main_sig_sec_n {
	-webkit-box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
	box-shadow: 3px 5px 17px -5px rgba(0,0,0,0.75);
	border-radius: 10px;
	background: #fff;
	float: left;
	padding: 15px;
}
h2.form-title.rig_tx {
	font-size: 35px;
	letter-spacing: 0.5px;
	margin-top: 0;
}
.form-group.reg_one1.reg_othr {
	max-width: 250px;
	margin-right: 15px;
	float: right;
}
.agreeterm {
	padding-left: 20px;
}
.sig_bott_s .form-group.reg_one1.reg_tw {
	width: 50%;
	float: left;
}
.log_left_s {
	min-height: 397px;
}
.subsc_h_sn
{
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
/* 25 may */
.signup-page-new {
	font-size: 14px;
	line-height: 1.8;
	color: #222;
	font-weight: 400;
	font-family: 'Montserrat';
	background-image: url(../images/signup-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-position: center center;
	padding: 1px 0;
	min-height: 100vh;
}
.signup-page-new:before {
	/*background-image: linear-gradient(to left, #2aa3ef, #0466a9);*/
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.7;
}
.signup-page-new .container {
	width: 900px;
	position: relative;
	margin: 0 auto;
}
.signup-page-new .log_hhh {
	min-height: 575px !important;
	padding-top: 45px;
}
section.signup_new.login-s_n_new {
	margin-top: 40px;
	margin-bottom: 40px;
}
.all_log_in_new {
	width: 100%;
	float: left;
	background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 25px 30px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(125,125,125,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(125,125,125,1);
	box-shadow: 0px 0px 5px 1px rgba(125,125,125,1);
}
.all_log_in_new h1.left_logo_login {
	margin-top: 0;
	margin-bottom: 15px;
}
.form-group.sig_fm {
	margin-top: 10px;
	width: 48%;
	float: left;
	margin: 0px 1% 0px;
	min-height: 95px;
}
input.form-input.fm_ctl {
	border: 1px solid #b3b3b3 !important;
	padding: 10px 10px 10px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #6f6f6f;
	font-family: 'Open Sans', sans-serif;
	height: 44px;
	border-radius: 50px;
}
label.new_fs {
	font-size: 14px;
	font-weight: 600;
	color: #6f6f6f;
	font-family: 'Open Sans', sans-serif;
}
.form-group.sig_fm i.fa {
	font-size: 15px;
	padding-right: 5px;
}
.all_log_in_new h2.form-title.rig_tx
{
	margin-bottom: 12px;
}
.form-group.sig_fm_l {
	float: left;
	width:51%;
	margin: 0px;
	padding: 0px;
	margin-top: 12px;
	margin-bottom: 5px;
	color: #6f6f6f;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	padding-left: 8px;
}
label.label-agree-term {
	font-family: 'Open Sans', sans-serif;
	padding-left: 8px;
	font-weight: 600;
}
.form-group.sig_fm_rr {
	float: left;
	width: 48%;
}
.all_log_in_new label.error {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: left;
	width: auto;
	margin-bottom: 0;
}
span#errmsgarea {
	color: #ff0000;
	font-weight: 600;
	font-size: 12px;
	margin-bottom:0px;
	float: left;
	width: auto;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1px;
	padding-left: 13px;
}
span#errmsg
{
	color: #ff0000;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 0px;
	float: left;
	width: auto;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1px;
	padding-left: 13px;
}
.form-group.sig_fm_l label.label-agree-term {
	float: left;
}
.form-group.sig_fm_l input#agreeterm {
	float: left;
}
.form-group.sig_fm_l label.error {
	float: right;
	position: absolute;
	bottom: -20px;
	left: 21px;
}
.form-group.sig_fm_rr input#btnsubmit {
	width: 50%;
	float: right;
}
.container-fluid.he_cont {
	padding-left: 40px;
	padding-right: 40px;
}
.form-group.sig_fm_rr {
	margin-top: 10px;
	margin-right: 0px;
}