
@font-face {
    font-family: 'DINOTBold';
    src: url('../fonts/DINOTBold.eot');
    src: url('../fonts/DINOTBold.eot') format('embedded-opentype'),
         url('../fonts/DINOTBold.woff2') format('woff2'),
         url('../fonts/DINOTBold.woff') format('woff'),
         url('../fonts/DINOTBold.ttf') format('truetype'),
         url('../fonts/DINOTBold.svg#DINOTBold') format('svg');
}




a, .btn, button {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
html {
    width: 100%;
    overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
    overflow-x: hidden;
    width: 100%;
}
*, *:focus,
.btn:focus, button:focus, a:focus,
form:focus {
    outline:  none !important;
}


/*top header*/
nav.menu-header {
    border-radius: 0;
    margin: 0;
    border: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}
.top-header ul {
    display:  block;
    padding: 0;
    margin:  0;
	    margin-top: 6px;
}
.top-header ul li {
    display:  inline-block;
    padding:  0;
    margin:  0;
    list-style:  none;
}
.top-header ul li a {
    padding:10px 20px 10px 0px;
    display:block;
    color:#fff;
    text-decoration:none;
    position: relative;
}
.top-navi ul li:nth-last-child(1) a:after,
.top-navi ul li:nth-last-child(2) a:after {
    display: none;
}
.top-navi ul li a:after {
    position: absolute;
    content: '';
    right: 6px;
    height: 20px;
    width: 1px;
    background: #fff;
    top: 50%;
    margin-top: -10px;
}
.top-header {
    position:relative;
    background: #ed3f44;
	    height: 47px;
}
.top-navi ul { 
    text-align: right;
}
/**header**/
.navbar-default {
background-color: #fff;
    border-bottom: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-box-shadow: -1px 3px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px -3px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px -3px rgba(0,0,0,0.75);
}
nav.menu-header.navi {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    z-index: 99999999;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}
header#main_header_id {
    width:  100%;
    position: relative;
    z-index: 9999;
	    background: #ffffffa3;
}
ul.main-nav li a {
    color: #000 !important;
    font-weight: 500;
    padding: 20px 0px 10px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    margin: 10px 25px;
}
ul.main-nav li a:hover {
    color: #000000 !important;
        border-bottom: 2px solid;
}
a.navbar-brand {
    padding: 6px 15px;
}
.navbar-brand img {
    max-width: 220px;
    width: 100%;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
}
.navi ul.main-nav li a {
    padding: 10px 0px;
    margin: 10px 30px;
}
.navi .navbar-brand img {
    max-width: 100px;
}
ul.nav.navbar-nav.main-nav {
    float:  none;
    display: inline-block;
    margin:  0 auto;
}
.navbar-brand {
    height: auto;
}
.home-slider-img {
    position: relative;
  /*  max-height: 100vh;*/
    height: 100%;
}
.home-slider-img img {
    width:  100%;
}

.home_slider .owl-next, .home_slider .owl-prev {
    position:  absolute;
    top: 50%;
    z-index: 9999999;
    background: transparent !important;
}
.home_slider .owl-next {
    right: 0;
}
.home_slider .owl-prev {
    left: 0;
}
.home_slider .owl-next i.fa,
.home_slider .owl-prev i.fa {
    font-size:  80px;
}
.owl-theme .owl-controls {
    margin-top: 0 !important;
}
section.popu-countries {
    padding: 30px 0;
}
.heading h2 {
    font-weight:  lighter;
    font-size:  35px;
    margin: 0 0 15px;
    padding:  0;
    color: #000000;
    text-transform: uppercase;
}
.heading h2 span {
    font-weight:600;
	color: #000000;
}
.er-containt p {
    letter-spacing: 1px;
    line-height: 27px;
    margin: 20px 0;
    color: #000;
}
.top-header ul li a .fa {
    font-size: 16px;
    margin-right: 5px;	
}
.video-er iframe {
    height: 285px;
    width: 100%;
}
button.know-more {
    border: 2px solid #1f3345;
    padding: 8px 15px;
    background: transparent;
    color: #1f3345;
    font-weight: 600;
}
button.know-more i.fa {
    font-size: 20px;
    margin: -3px 0 0 10px;
    vertical-align: middle;
    border-radius: 50%;
    text-align: right;
}
/**service-sec**/
.service-box {
    padding: 30px;
    text-align: center;
    background: #1f3345;
    border-bottom: 1px solid #fff;
    max-height: 275px;
    min-height: 275px;
}
.service-box h3 {
    color: #fff;
    padding: 0 0 10px;
    margin: 0 0 10px;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 22px;
}
.service-box p {
    color: #fff;
    margin: 20px 0;
    letter-spacing: 1.2px;
    line-height: 34px;
}
.service-box h3:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -10px;
    background: #fff;
    width: 70px;
    height: 1px;
    border-radius: 4px;
    margin: 0 auto;
}
.service-box button.know-more {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.box-section .col-md-4 {
    padding: 0;
}
.box-section .col-md-4:nth-child(1) .service-box,
.box-section .col-md-4:nth-child(2) .service-box,
.box-section .col-md-4:nth-child(4) .service-box,
.box-section .col-md-4:nth-child(5) .service-box {
    border-right: 1px solid #fff;    
}
.box-section .col-md-4:nth-child(2) .service-box,
.box-section .col-md-4:nth-child(4) .service-box,
.box-section .col-md-4:nth-child(6) .service-box {
    background: #355068;    
}
.service-box a {
    color: #fff;
    font-size: 90px;
    margin: 7px 0;
    display: inline-block;
}
.heading p {
    letter-spacing: 1.1px;
    max-width: 570px;
    margin: 10px auto 35px;
    line-height: 30px;
    color: #4b4b4b;
}

/**Test box**/
.box {
    padding: 15px;
    background: #ffffff;
    text-align: center;
    margin-top: 40px;
}
.icons-setting-top {
    height: 73px;
    width: 73px;
    margin: -20px auto 0;
    text-align: center;
    box-shadow: 0 1px 8px #ccc !important;
	    padding: 11px;
}
.icons-setting-top img {
    width:  100%;
}


.img-gallery img {
    width: 100%;
}
.content-gall {
    padding:  15px;
    border: 1px solid #dadada;
    margin: 0 0;
}

/**books**/

section {
    overflow: hidden;
}
section.service-sec {
    padding: 50px 0 30px 0;
}
h4.had_fact {
    color: #fff;
    font-size: 36px;
    margin: 18px 0 15px;
    position: relative;
    padding-left: 15px;
}
.bg-two button.know-more,
.books button.know-more {
    border: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0;
}
/****/

ul.list-choose {
    display: block;
    padding: 0 0 0 15px;
    margin:0; 
}	
ul.list-choose li {
    margin-bottom: 25px;
    color: #fff;
    background: url(../images/icon_listImg.png) no-repeat;
    padding: 10px 0 10px 35px;
    font-weight: 600;
    margin: 0 0;
    list-style: none;
    text-align: left;
    background-position: left center;
}
.add-class .heading-section:after {
    background: url(../images/img_treeDark.png) no-repeat;
}	

.bg-two button.know-more {
    margin: 18px 0 0 50px;
}
span.date {
    border: 3px solid #fcc84a;
    padding: 5px;
    display: block;
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    margin-right: 10px;
    color: #fcc84a;
}
span.comment {
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 8px 0;
    color: #6a6a69;
}
.content-gall h3 {
    overflow: hidden;
    margin: 0 0 20px;
}
.img-gallery {
    overflow: hidden;
}
.student-pro,
.img-div {
    overflow: hidden;
}
.student-pro img,
.books ul li img,
.img-gallery img {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    width: 100%;
}
.student-pro:hover img,
.books ul li:hover img:hover,
.img-gallery:hover img {
     -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
button.know-more:hover {
    border-color: #999b9c;
    background: #1f3345;
    color: #fff;
}
section.box-section {
    padding-bottom: 20px;
}
/***/
.st-details {
    padding: 10px 10px;
    text-align: center;
}
.st-details h4 {
    margin:  0;
    padding: 0 0 8px;
    font-size:  16px;
    color:  #000;
    font-weight:  600;
}
.st-details p {
    margin:  0;
}
.top-student {
    padding: 35px 0; 
}
/****/
section.why-chose {
    padding: 40px 0;
    background: url(../images/why-chose.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.counter {
    text-align: center;
    padding: 15px 0;
    border-right: 1px solid #fff;
}
.counter h2 {
    color: #fff;
    font-weight: 600;
    font-size: 45px;
    margin: 0;
    padding: 10px 0;
}
.counter h5 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1.2px;
}
.heading.why {
    text-align: center;
}
.heading.why p {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    font-size: 16px;
}
.heading.why h2 span, .heading.why h2 {
    color: #fff;
    letter-spacing: 1.2px;
}
.heading.why h2 {
    margin-bottom: 40px;
}
.heading.why p:after {
    display: none;
}
section.qation-sec  {
    background: #f2f3f6;
    margin-bottom: 20px;
}
.que-form .heading.why p,
.que-form .heading.why h2 span {
    color: #000;
}
.que-form-main input {
    background: #fff;
    border-radius: 7px;
    padding: 15px 15px;
    height: 60px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
div#student-demo {
    padding-top: 15px; 
}
.que-form-main textarea {
    background: #fff;
    border-radius: 7px;
    padding: 15px 15px;
    height: 80px !important;
    width: 100% !important;
    border: none;
    margin-bottom: 20px;
}
.que-form {
    padding: 40px 0;
}
.que-form-main input.sub-btn {
    background: #1f3345;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    height: auto;
    width: auto;
    border-radius: 50px;
    padding: 14px 30px;
    margin: 0 auto;
    border: 2px solid #1f3345;
}

/*****/
/* Footer */

footer.main_footer {
    background-repeat: no-repeat;
    padding: 0px 0;
    width: 100%;
    float: left;
    background: #d5f7ff;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-top: 35px;
    background: #dcf7fe;
    background: -moz-linear-gradient(top, #dcf7fe 20%, #eefbffc4 100%);
    background: -webkit-linear-gradient(top, #dcf7fe 20%,#eefbffc4 100%);
    background: linear-gradient(to bottom, #d0f6ff 20%,#eefbffc4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f7fe', endColorstr='#ffffff',GradientType=0 );
}
.f_heading h3 {
	font-size: 20px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 23px;
    letter-spacing: 0.4px;
}
.footer-bottom {
	padding: 25px 0;
    float: left;
    width: 100%;
/*    border-top:2px solid #000000;*/
}

.f_heading.footer-add p {
    color: #000;
    line-height: 25px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 0.8px;
    font-size: 14px;
}
.f_middle {
    padding: 40px 0;
    overflow: hidden;
}
.working_hours ul {
    padding: 0;
    display: block;
    margin: 0;
}
.f_follow.text-center {
    color: #000;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.working_hours ul li {
    padding: 4px 0;
    margin: 0;
    display: block;
    list-style: none;
}
.working_hours ul li a {
    color: #000;
    text-decoration: none;
    display: block;
    letter-spacing: 0.8px;
    font-size: 14px;
    font-weight: 400;
}
.working_hours ul li a:hover {
    color: #ffffff;
}
.footer-add li {
    color: #000;
    padding: 4px 0 8px 26px !important;
    position: relative;
    letter-spacing: 0.8px;
    font-size: 14px;
}
.social-demo ul {
    padding: 0;
    display: block;
    margin: 0;
}
.social-demo ul li {
    padding: 0 0 !important;
    margin: 0;
    display: inline-block;
    list-style: none;
}
.social-demo ul li a i.fa {
    position: static;
}
.social-demo ul li a {
color: #000;
    text-decoration: none;
    display: block;
    margin: 10px 10px 0 0;
    font-size: 30px;
}
.social-demo ul li a:hover {
    color: #37aa7b;
}
.footer-add li .fa {
    position: absolute;
    left: 0;
    top: 8px;
}
.que-form-main input.sub-btn:hover {
    background: #fff;
    color: #1f3345;
    border-color: #1f3345;
}






/* 28 home page */



.banner_text {
    position: absolute;
    z-index: 999;
    top: 28%;
    width: 30%;
    left: 13%;
}
.banner_text h1 {
    color: #000;    
    line-height: 25px;
    margin: 0;
    letter-spacing: 0.8px;
    font-size: 14px;
    font-weight: 500;
}

.banner_text a {
    border: 1px solid #fff;
    float: left;
    padding: 15px;
    color: #fff;
    width: 280px;
    font-size: 19px;
    letter-spacing: 1px;
}

.banner_text a {
    border: 1px solid #fff;
    float: left;
    padding: 22px 22px;
    color: #fff;
    width: auto;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 100;
}
.home_slider {
    margin-top: -98px;
}
.banner_text a:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #ed3f44;
    background: #ed3f44;
}

section.wel_cont {
width:100%;
float:left;
background:url(../images/sec_one_bg.jpg);
background-attachment:fixed;
background-size:cover;
}

.main-content {
    margin-top: 2px;
	    margin-bottom: 2px;
}
section.wel_cont .mapdiv {
    margin-top: 86px;
}

section.wel_cont .mapdiv h1 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
}


section.wel_cont p {
	font-size: 15px;
    line-height: 28px;
    color: #000;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 24px;
}




.heading.sec_he.text-center h2:before {
    content: '';
    background: #ed4749;
    position: absolute;
    width: 86px;
    left: -310px;
    right: 0;
    margin: 0 auto;
    bottom: -2px;
    height: 5px;
    z-index: 99;
}

.heading.sec_he.text-center h2:after {
    content: '';
    background: #ccc;
    position: absolute;
    width: 392px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 1px;
}




.icons-setting-top.in_one {
    background: #f06724;
}

.icons-setting-top.in_tw {
    background: #19a7d2;
}

.icons-setting-top.in_the {
    background: #ed4749;
}

.icons-setting-top.in_four {
    background: #ed4749;
}

.icons-setting-top.in_fiv {
    background: #efb633;
}

.icons-setting-top.in_six {
    background: #799e3e;
}


.box {
    border-right: 1px solid #c7c7c780;
}

.box.bot_on:before {
    margin-top: 47px;
    border-top: 1px solid #c7c7c759;
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: -76px;
    left: -14px;
}
.box.bot_on {
    margin-top: 52px;
}

.cont_box_sec
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

.cont_box_sec_l {
    text-align: center;
    width: 100%;
    padding: 19.2%;
	background:#f2f2f3;
	    float: left;
}

.cont_box_sec_l h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.cont_box_sec_l p {
    font-size: 18px;
    line-height: 31px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.cont_box_sec .col-md-6 {
    padding: 0;
}
.cont_box_sec_r img {
    width: 100%;
}

.box .icons-setting-top {
    display: table;
    text-align: center;
    margin: 15px auto 15px auto;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow: hidden;
}
.box:hover .icons-setting-top {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.cont_box_sec_l span {
    width: 110px;
    height: 110px;
    border: 10px solid #ed3f44;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
}

.cont_box_sec_l span {
    display: table;
    text-align: center;
    margin: 15px auto 15px auto;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    overflow: hidden;
}
.cont_box_sec_l:hover span {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}



.books {
    width: 60%;
    float: left;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 35px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 35px;
    margin-top: 14px;
}

.bg-one p {
    float: left;
    width: 100%;
    color: #eaeaea;
    padding-left: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
}

.bg-one {
    position: relative;
}

span.news_ic {
    position: absolute;
    right: 25px;
    top: 25px;
}

.bg-two p {
    float: left;
    width: 100%;
    color: #eaeaea;
    padding-left: 15px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
}

.bg-one {
    margin-top: 35px;
}
.bg-two {
    margin-top: 35px;
}









.top-navi ul li a:hover {
    color: #000;
	text-decoration: none;
}




.heading-section {
    max-width: 899px;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px 35px;
    position: relative;
}
.heading-section h2 {
    margin: 45px auto 25px;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 300;
}



.tes-pro {
    margin: 0px 10px;
    text-align: right;
}

p.coment {
    text-align: left;
    margin: 0 auto 24px;
    font-size: 15px !important;
    line-height: 32px;
    color: #fff;
    font-style: normal !important;
}

.item-cont h3 {
    color: #fff;
    margin: 0 0 0;
    padding: 10px 0 5px;
    font-weight: 700;
    font-size: 15px;
    text-align: left;
}
.item-cont h3 span {
    font-weight: 300;
}

.slider-test .owl-controls.clickable {
    position: relative;
    top: 26px;
}

.copy_left
{
	width:50%;
	float:left;
	margin:0px;
	padding:0px;
}

.copy_left a {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    padding-right: 30px;
}

.copy_left a:hover
{
	text-decoration:none;
	color: #ed4749;
}






.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

li.dropdown.open ul.dropdown-menu a {
    padding: 12px 15px;
}

li.dropdown.open ul.dropdown-menu  {
    padding-top: 0px;
}


.top-navi {
    width: 15%;
    float: left;
}

.menu_s {
    width: 62%;
    float: left;
}

.top_lange select {
    background: transparent;
    border: 0;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
}


.navbar-header.logo_s {
    width: 20%;
    float: left;

}

.top-navi {
    width: auto;
    float: left;
    margin-top: 25px;
}

.top_lange {
width: auto;
    float: right;
    margin-top: 15px;
}

.top_lange select {
    background: #ffffff;
    border: 0;
    font-size: 14px;
    color: #000;
    letter-spacing: 1px;
    padding: 5px;
    margin-right: 10px;
}


a.sig {
    border-radius: 0px 21px 21px 0px;
}
a.log {

    border-radius: 21px 0px 0px 21px;
	    position: relative;
}

.main-srch-sub {
position: absolute;
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px 15px !important;
    box-sizing: border-box !important;
    bottom: 15%;
    left: 48%;
}


.main-srch-sub .form-group {
    margin: 0;
}
.form-group.form-sub {
    position: relative;
}


.banner_ser {
    position: absolute;
    top: 45%;
    left: 2%;
}


.container.banner_ser h1 {
    font-size: 44px;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
	    text-transform: capitalize;
}

.form-group.form_first::before {
    content: '';
    position: absolute;
    left: 0;
    height: 40px;
    background: #ababab;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}

.col-sm-2.col-md-2.butt_se {
    padding-right: 0;
}
.banner_ser p {
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
	    margin-bottom: 30px;
}


select.form-control.cat-form.selectpicker {
    height: 60px;
    background: transparent;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    outline: none !important;
    border-radius: 0;
    box-shadow: none !important;
}


.exp-img:hover h3 {
    margin-top: 60px;
    color: #fff;
}

.exp-img {
    width: 100%;
    float: left;
    height: 240px;
    margin: 15px 0px;
    position: relative;
    display: inline-block;
}

.exp-img .fimg img, .exp-img .filter {
    width: 100%;
    height: 240px;
}
.img-info {
    width: 100%;
    z-index: 1;
    position: absolute;
    height: 100%;
    color: #fff;
}

.filter {
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.exp-img h3 {
    margin-top: 100px;
    margin-bottom: 5px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-align: center;
    font-weight: 600;
}

.exp-img h6 {
    display: table;
    margin: auto;
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
}
.exp-img .ffs-bs {
    opacity: 0;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #37aa7b;
    border-color: #2d9c6f;
}

.exp-img .btn {
    border-color: transparent;
    display: table;
    margin: auto;
}
.exp-img:hover .ffs-bs {
    opacity: 1;
 background-color: #37aa7b;
    border-color: #2d9c6f;
}

.exp-img:hover .filter {
    background-color: rgba(0, 0, 0, 0.7);
}

.exp-img .fimg img, .exp-img .filter {
    width: 100%;
    height: 240px;
}

.btn-sm, .btn-small {
    padding: 9px 0;
    width: 125px;
    height: 40px;
}

a h1, a h2, a h3 {
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: lighter;
}


.main-headings h1 {
padding: 30px 0 30px;
    position: relative;
    margin: 0 0 30px;
   font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
    color: #171515;
    font-weight: 100;
    text-transform: capitalize;
}




section.recent_add_sec
{
    width: 100%;
    float: left;
    margin: 20px 0px;
    padding: 20px 0px 35px;
    background: #f5f8fb;
}

.recent_add_box {
    width: 100%;
    float: left;
    margin: 10px 0;
}
.add_box_one {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 6px -1px rgba(186,186,186,1);
    -moz-box-shadow: 0px 2px 6px -1px rgba(186,186,186,1);
    box-shadow: 0px 2px 6px -1px rgba(186,186,186,1);
	    margin-bottom: 25px;
}


span.box_img_s {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
	    overflow: hidden;
}

.add_box_one_text {
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    float: left;
	    overflow: hidden;
}
.add_box_one_text h3 {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.add_box_one_text p {
    color: #717171;
    font-size: 12px;
    letter-spacing: 0.5px;
}

section.featur_dev_sec
{
    width: 100%;
    float: left;
    margin: 0px 0px;
    padding: 0px 0px 35px;
}
.recent_add_box .add_box_one_text {
    background: #f5f4f4;
}

.simple_step_sec
{
	width:100%;
	float:left;
	margin:0px;
	    margin-bottom: 25px;
	padding:0px;
}




.feature-panel {
    position: relative;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 18px;
}

.feature-panel .feature--icon {
    margin-bottom: 0px;
	    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.feature-panel .feature--content h3 {
    color: #000000;
    font-size: 23px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 19px;
    text-transform: capitalize;
}
.feature-panel .feature--content p {
    line-height: 26px;
    margin-bottom: 0;
    color: #828282;
    font-size: 14px;
    letter-spacing: 1px;
}



.feature-panel.last_ch:after
{
height: 0px;
}

.feature--icon:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.interstng-sec-head h1 {
    color: #fff;
}

.interstng-sec-head .main-headings h1:before
{
    background: #fff;
}

.scro_div {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 5px 5px;
    color: #fff;
    position: relative;
}
.scro_div p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.scro_div span a {
    color: #ecb923;
}


.homes_locations
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	background:url(../images/homes_bg.jpg);
}
.homes_locations_one
{
	width:100%;
	float:left;
	margin:25px 0px;
	padding:0px;
	    padding-bottom: 23px;
}

.homes_locations_one_l
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}


.homes_locations_one_l ul {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0;
}
.homes_locations_one_l ul li {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.homes_locations_one_l ul li a {
    color: #000;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 23px;
}



.f_heading.footer-add ul {
    list-style: none;
    padding-left: 4px;
}

span.news_let {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

span.news_let form {
    background: #f4f1f1;
    padding: 0px;
    border: 1px solid #cacaca;
}

input.news_letter_sec {
    background: #f4f1f1;
    padding: 15px;
    border: 0px solid #cacaca;
	    width: 85%;
}

span.news_let form button {
    border: 0;
    background: transparent;
}

h3.get_touch {
    float: left;
    width: 100%;
    margin-bottom: 6px;
}

.f_heading.footer-add .social-demo {
    float: none;
    width: 100%;
    margin-top: 42px;
    text-align: left;
    max-width: 190px;
    margin: 0 auto;
}

.top-navi.mobile
{
	display:none;
	    margin-top: 7px;
}

.top-navi.mobile ul li a {
    padding: 5px 10px;
    font-size: 12px;
}


.homes_locations_one_l ul li a:hover {
    text-decoration: none;
    color: #38aa7c;
}


.scro_div img {
    width: 100%;
}


/* 16 august */



.navi .top_lange {
    margin-top: 14px;
}
.navi .top-ser_s a {
    color: #fff;
    margin-top: 0px;
}
.navi .top-ser_s {
    margin-top: 20px;
}

.navi .top-ser_s a i.fa.fa-times {
    color: #000;
}

.navi .navbar-header.logo_s {
    margin-top: 0px;
}

.navi ul.main-nav li a:hover {
 border-bottom: 2px solid;
}
.navi .top-navi ul li a:hover
 {
    color:#f5c819 !important;
}


 


/* box section */


.main-headings h1 strong:before {
    position: absolute;
    width: 49px;
    height: 73px;
    content: "";
    background: url(../images/map_ic.png);
    top: 12px;
    left: 48%;
}


.view_all_C {
    float: none;
    margin: 35px auto 55px;
    display: table;
    text-align: center;
    width: 250px;
    position: relative;
    top: 18px;
}
.view_all_C a {
    background: #ffce10;
    padding: 12px 25px;
    width: 100%;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #e6bd1f;
}

.view_all_C a:hover {
    background: #000;
    text-decoration: none;
    border: 2px solid #464646;
}


.cate_item_block h1 a:hover {
    text-decoration: none;
}




.rev_sec {
position: absolute;
    top: 17%;
    background: #fff;
    width: auto;
    left: 8%;
    color: #000;
    max-width: 480px;
    padding: 24px;
}

.rev_sec h2 {
    color: #ffce10;
    font-size: 32px;
    text-shadow: 2px 2px #e0e0e0ad;
    margin: 10px 0 25px;
}

.rev_bg_s {
    background: #eaeaea;
    padding: 15px;
    border-radius: 18px;
}

.rev_bg_s p {
    font-size: 17px;
    padding: 5px 15px 10px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 500;
}

.rev_bg_s strong {
    font-size: 22px;
    letter-spacing: 1px;
}

span.star_sec {
    margin-top: 15px;
    float: left;
    width: 100%;
    text-align: center;
}


span.star_sec a {
    font-size: 20px;
    margin: 0px 2px;
}


.feature--icon {
    width: 131px;
    height: 131px;
    background: #ffce10;
    border-radius: 15px;
    margin: 0 auto;
    padding: 25px 15px;
}

.feature--content {
    position: relative;
    top: -64px;
    z-index: -1;
    padding: 70px 15px 24px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(186,186,186,1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(186,186,186,1);
    box-shadow: 0px 2px 5px 1px rgba(186,186,186,1);
}

.latest_reviews
{
	width:100%;
	float:left;
	margin:0px;
	padding:20px 0px;
	background:#f5f5f5;
}

.add_box_m
{
	width: 100%;
    float: left;
    margin: 0px;
}
.add_box_m_l
{
	width:50%;
	float:left;
	margin:0px;
	padding:0px;
}

.add_box_m_r
{
	width:50%;
	float:left;
	margin:0px;
	padding:0px;
}

.add_box_m_l span {
    float: left;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.add_box_m_l img {
    float: left;
    margin-right: 7px;
}
.add_box_m_r p {
    margin-bottom: 0;
    text-align: right;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.add_box_m_r a {
    float: right;
    margin: 2px 2px;
    color: #ffce10;
}

.add_box_m_l a {
    color: #ec982b;
    float: left;
    margin: 2px 1px;
}

.add_box_one h3 {
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 10px 0;
    float: left;
    width: 100%;
}

.add_box_one p.box_tx {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.most_reviews
{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}
.most_reviews_sec
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
}
.most_reviews_sec_l
{
	background:#f4f4f4;
	width:100%;
	float:left;
	margin:0px;
}


.most_reviews_sec_l span.revi_mst_l {
    width: 50%;
    float: left;
}

.most_reviews_sec_l span.revi_mst_r {
    width: 50%;
    float: left;
    padding: 15px;
}
.most_reviews_sec_r {
    background: #f4f4f4;
    width: 100%;
    float: left;
    margin: 0px;
}


.most_reviews_sec_r span.revi_mst_l {
    width: 50%;
    float: left;
}

.most_reviews_sec_r span.revi_mst_r {
    width: 50%;
    float: left;
    padding: 15px;
}


.revi_mst_r .add_box_m_l span p {
    font-size: 13px;
    margin-top: 3px;
}

.revi_mst_r p {
    float: left;
    width: 100%;
    margin-top: 14px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    line-height: 21px;
}


footer.main_footer:before {
    position: absolute;
    content: "";
    height: 100%;
    background: url(../images/footer_bottom_bg.jpg);
top: -60px;
    height: 225px;
    left: 0;
    width: 100%;
}

.nes_let
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}


.nes_let h1 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 15px 0;
}

.nes_let form {
    width:60%;
    margin: 30px auto;
}

.nes_let input[type="text"] {
    background: #8fcfe5;
    width: 80%;
    padding: 25px;
    border: 0;
    color: #fff;
    border-radius: 8px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.nes_let button {
    background: #8fcfe5;
    color: #fff;
    border: 0;
    width: 12%;
    padding: 7px;
    font-size: 27px;
    height: 70px;
    margin-left: 0.5%;
    position: relative;
    top: 8px;
    border-radius: 8px;
}




span.revi_mst_l img {
    width: 100%;
}


input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-weight:300;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-weight:300;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-weight:300;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-weight:300;
}

.social-demo ul li a:hover {
    color: #64c2e2;
}






.scrollToTop{
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #bfebfb;
    text-decoration: none;
    position: absolute;
    top: -29px;
    right: 47.5%;
    display: none;
    background-color: #fff;
    border-radius: 100px;
    border: 3px solid #bfebfb;
    font-size: 32px;
    float: left;
    z-index: 9;
}
.scrollToTop:hover{
    text-decoration:none;
}


.recent_add_box .owl-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
}


.recent_add_box .owl-prev {
    position: absolute;
    left: 22px;
}
.recent_add_box .owl-next {
    position: absolute;
    right: 22px;
}
.recent_add_box .owl-theme .owl-controls .owl-buttons div
{
	color: #0c0d0d;
	    padding: 10px 10px;
		    border-radius: 30px;
			    background: #fff;
				    font-size: 25px;
}


.recent_add_sec .owl-pagination {
    display: none;
}


@media(min-width:320px) and (max-width:400px)
{
.home_slider {
    margin-top: 0px;
}

.home-slider-img img
{
    min-height: 200px;
}	

.navbar-header.logo_s
{
	width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.navbar-header.logo_s img {
    width: 70%;
}

.top-navi.mobile
{
	display:block;
}

.top-navi {
    display: none;
}

.home_slider .owl-controls.clickable {
    display: none !important;
}


.banner_ser {
    top: 13%;
}

.container.banner_ser h1
{
    font-size: 20px;
	    margin-bottom: 10px;
}

.main-srch-sub {
    border-radius: 6px;
}

select.form-control.cat-form.selectpicker
{
    height: 40px;
    padding: 6px 10px;
    font-size: 14px;	
}
.form-group.form-sub input.form-control
{
    height: 40px;
	padding: 6px 10px;
    font-size: 14px;
}

.main-srch-sub button.btn.btn-default {
    width: 93%;
    height: 40px;
    font-size: 16px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 5px;
}

.form-group.form_first::before
{
	display:none;
}

.main-headings h1
{
    padding: 15px 0 17px;
	font-size: 22px;
	    line-height: 26px;
		    letter-spacing: 1px;	
}
.simple_step_sec h1 {
    margin-bottom: 20px;
}

.feature-panel:after
{
	display:none;
}

.homes_locations_one_l
{
	margin-bottom:15px;
}

.social-demo ul li a:hover {
    color: #37aa7b;
}


#owl-demo-1 .owl-pagination {
    display: none;
}




/* 16 august */
.banner_ser .main-srch-sub {
    display: none;
}
.banner_ser .slide_txt_s {
    display: none;
}
.rev_sec
{
	display:none;
}



.navi .top-navi.mobile {
    display: none;
}
.navi .top-ser_s {
    display: none;
}
.top-ser_s {
    margin-top: 13px;
    position: absolute;
    right: 12px;
}
.top_lange {
    margin-top: 5px;
    position: absolute;
    right: 59px;
}

.navbar-header.logo_s button.navbar-toggle {
    margin-right: 0;
}

.navi .top_lange {
    display: none;
}

.main-headings h1 strong:before
{
	left:40%;
}

.recent_add_box .owl-buttons {
    top: 40%;
}
.recent_add_box .owl-theme .owl-controls .owl-buttons div
{
	padding: 7px 8px;
    font-size: 9px;	
}

.feature--content
{
    position: static;
    top: 5px;
	    margin-top: 18px;
		padding: 5px 15px 24px;
}
.most_reviews_sec_l span.revi_mst_l
{
	width:100%;
}
.most_reviews_sec_l span.revi_mst_r
{
	width:100%;	
}
.most_reviews_sec_r span.revi_mst_l
{
	width:100%;	
}
.most_reviews_sec_r span.revi_mst_r
{
	width:100%;		
}
.nes_let h1
{
	font-size:29px;
}

.nes_let form
{
	width: 94%;
    margin: 30px auto 20px;	
}

.f_heading
{
margin:10px 0;	
}
.menu_s {
    width: 100%;

}

}


@media(min-width:401px) and (max-width:520px)
{
.home_slider {
    margin-top: 0px;
}

.home-slider-img img
{
    min-height: 200px;
}	

.navbar-header.logo_s
{
	width:auto;
}

.navbar-header.logo_s img {
    width: 70%;
}

.top-navi.mobile
{
	display:block;
}

.top-navi {
    display: none;
}

.home_slider .owl-controls.clickable {
    display: none !important;
}


.banner_ser {
    top: 13%;
}

.container.banner_ser h1
{
    font-size: 20px;
	    margin-bottom: 10px;
}

.main-srch-sub {
    border-radius: 6px;
}

select.form-control.cat-form.selectpicker
{
    height: 40px;
    padding: 6px 10px;
    font-size: 14px;	
}
.form-group.form-sub input.form-control
{
    height: 40px;
	padding: 6px 10px;
    font-size: 14px;
}

.main-srch-sub button.btn.btn-default {
    width: 93%;
    height: 40px;
    font-size: 16px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 5px;
}

.form-group.form_first::before
{
	display:none;
}

.main-headings h1
{
    padding: 15px 0 17px;
	font-size: 22px;
	    line-height: 26px;
		    letter-spacing: 1px;	
}
.simple_step_sec h1 {
    margin-bottom: 20px;
}

.feature-panel:after
{
	display:none;
}

.homes_locations_one_l
{
	margin-bottom:15px;
}

.social-demo ul li a:hover {
    color: #37aa7b;
}

#owl-demo-1 .owl-pagination {
    display: none;
}






/* 16 august */
.banner_ser .main-srch-sub {
    display: none;
}
.banner_ser .slide_txt_s {
    display: none;
}
.rev_sec
{
	display:none;
}



.navi .top-navi.mobile {
    display: none;
}
.navi .top-ser_s {
    display: none;
}
.top-ser_s {
    margin-top: 13px;
    position: absolute;
    right: 12px;
}
.top_lange {
    margin-top: 5px;
    position: absolute;
    right: 59px;
}

.navbar-header.logo_s button.navbar-toggle {
    margin-right: 0;
}

.navi .top_lange {
    display: none;
}

.main-headings h1 strong:before
{
	left:40%;
}

.recent_add_box .owl-buttons {
    top: 40%;
}
.recent_add_box .owl-theme .owl-controls .owl-buttons div
{
	padding: 7px 8px;
    font-size: 9px;	
}

.feature--content
{
    position: static;
    top: 5px;
	    margin-top: 18px;
		padding: 5px 15px 24px;
}
.most_reviews_sec_l span.revi_mst_l
{
	width:100%;
}
.most_reviews_sec_l span.revi_mst_r
{
	width:100%;	
}
.most_reviews_sec_r span.revi_mst_l
{
	width:100%;	
}
.most_reviews_sec_r span.revi_mst_r
{
	width:100%;		
}
.nes_let h1
{
	font-size:29px;
}

.nes_let form
{
	width: 94%;
    margin: 30px auto 20px;	
}

.f_heading
{
margin:10px 0;	
}

.menu_s {
    width: 100%;

}
}

@media(min-width:992px) and (max-width:1199px)
{

.menu_s
{
    width: 45%;	
}

.banner_ser {
	top: 17%;
    left: 1.5%;
}

input.news_letter_sec
{
    width: 80%;
}

.cate_item_block h1
{
    font-size: 15px;	
}
.view_all_C
{
    width: 100%;	
}
.rev_sec
{
    top: 12%;	
}

.add_box_one p.box_tx
{
    font-size: 12px;
    line-height: 20px;	
}

.most_reviews_sec_l span.revi_mst_r
{
    padding: 8px 15px;	
}

.revi_mst_r p
{
	margin-top: 4px;
    font-size: 12px;
    line-height: 17px;	
}


}

@media(min-width:1200px) and (max-width:1370px)
{

input.news_letter_sec
{
    width: 80%;
}

.rev_sec
{
    top: 12%;	
}

.add_box_one p.box_tx
{
    font-size: 12px;
    line-height: 20px;	
}

.most_reviews_sec_l span.revi_mst_r
{
    padding: 8px 15px;	
}

.revi_mst_r p
{
    margin-top: 12px;
    font-size: 13px;
    line-height: 21px;
}


}










.top_lange {
    position: relative;
        text-align: center;
}
.top_lange a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 196px;
    height: 50px;
    border-radius: 100px;
        float: left;
}

.top_lange a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
        text-transform: uppercase;
}

.top_lange a:after {
    position: absolute;
    content: "";
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    left: 0px;
    top: -2px;
    z-index: -1;
    width: 196px;
    height: 54px;
    border-radius: 100px;
}


.top_lange a:hover {
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    border-bottom: 0px;
    text-decoration: none;
}


.navi .top_lange {
    margin-top: 11px;
}

.navi .top_lange a {
    font-size: 20px;
    line-height: 28px;
    padding: 8px 15px;
}
.navi .top_lange a:after
{
    height: 49px;
}


.banner_txt_l p {
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px #c3c3c3;
}


.banner_txt_l h1 {
    font-size: 62px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #000;
    text-shadow: 2px 2px #c3c3c3;
    margin-top: 0;
}





span.bat_bann {
    position: relative;
        text-align: center;
            float: left;
}
span.bat_bann a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 254px;
    height: 50px;
    border-radius: 100px;
        float: left;
}

span.bat_bann a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-transform: uppercase;
}

span.bat_bann a:after {
    position: absolute;
    content: "";
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    left: 0px;
    top: -2px;
    z-index: -1;
    width: 254px;
    height: 54px;
    border-radius: 100px;
}


span.bat_bann a:hover {
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    border-bottom: 0px;
    text-decoration: none;
}



.buy_butt {
    width: auto;
    margin: 0 auto;
    display: table;
    margin-top: 28px;
}



 .btn-get-started {
    font-size: 36px;
    display: table;
    padding: 4px 0;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin: 0 auto;
    width: 38px;
    height: 64px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    position: absolute;
    bottom: 30px;
    left: 50%;
}

section.teacherSection {
    padding: 60px 0px;
    background: -webkit-gradient(linear,left top,right top,from(#f4fefc),to(#fff));
    background: -webkit-linear-gradient(left,#f4fefc,#fff);
    background: linear-gradient(180deg,#f4fefc,#fff);
}




section.teacherSection {
    padding:30px 0px 30px;

    background: #dcf7fe;
    background: -moz-linear-gradient(top, #dcf7fe 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #dcf7fe 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #dcf7fe 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f7fe', endColorstr='#ffffff',GradientType=0 );

}


.bigText {
    /* font-family: 'Archivo Black', sans-serif; */
text-transform: uppercase;
    font-size: 139px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 0;
    top: -25px;
    line-height: 66px;
    color: #d0eaf2;
    font-weight: normal;
    font-family: 'DINOTBold';

 font-family: 'DINOTBold';
}

.bigHeading h2.margin-bottom-xxl.text-center {
    position: relative;
    color: #71888d;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.bigHeading h2.text-center strong {
    font-weight: 800;
}

.text-center {
    text-align: center!important;
}

.bigHeading {
    position: relative;
    min-height: 70px;
    margin-bottom: 30px;
}


.sec_one_box
{
width: 100%;
float: left;
margin: 0px;
padding: 0px;
margin-bottom: 45px;
}


.sec_one_box_one {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



.sec_one_box_one {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.sec_one_box_one .img_s {
    width: 100%;
    float: left;
    border: 10px solid #fff;
}

.img_s img {
    width: 100%;
}



.txt_im {
    float: left;
    width: 80%;
    display: table;
    margin: -10% 10%;
    background: #fff;
    padding: 15px 20px;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 1px 3px 9px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 9px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 9px -5px rgba(0,0,0,0.75);
        position: relative;
    z-index: 999;
}


.txt_im p {
     font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 23px;
}

.txt_im h3 {
    margin: 19px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.more_butt_sec
{
width: 100%;
    margin: 80px auto 30px;
    float: left;
}






.more_butt_sec span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
     position: relative;
        text-align: center;
            float: none;
}

.more_butt_sec span.more_b a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 254px;
    height: 50px;
    border-radius: 100px;
        float: left;
}

.more_butt_sec span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
}

.more_butt_sec span.more_b a:after {
    position: absolute;
    content: "";
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    left: 0px;
    top: -2px;
    z-index: -1;
    width: 254px;
    height: 54px;
    border-radius: 100px;
}


.more_butt_sec span.more_b a:hover {
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    border-bottom: 0px;
    text-decoration: none;
}


.whole_family
{
    background-color: #f0f4fa;
    width: 100%;
    float: left;
    margin: 45px 0px 70px;
    padding: 0px;
    overflow: inherit;
    padding-bottom: 45px;
}
.whole_family_main
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.whole_family_main_l
{
width: 100%;
    float: left;
    margin: 0px 0px;
    padding: 0px;
    padding-top: 80px;
}

.whole_family_main_r
{
      width: 100%;
    float: left;
    margin: 0px 0px;
    padding: 0px;  
}

.whole_family_main .bigText {
    color: #d9e8ef;
}

.whole_family_main_l p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 35px;
}


.effortless_sec_on
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.effortless_sec_two
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 55px 0px 30px;
    background: #dcf7fe;
    background: -moz-linear-gradient(top, #dcf7fe 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #dcf7fe 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #dcf7fe 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f7fe', endColorstr='#ffffff',GradientType=0 );

}


.effortless_sec_two_m
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}


section.effortless_sec {
    float: left;
    width: 100%;
    padding-top: 90px;
}


.effortless_sec_on .bigText {
    color: #ecf4f6;
    font-weight: bold;
    font-size: 113px;
}



/* box section */
.categorie_item {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 30px;
}
.categorie_item:hover {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
    transition: all .6s ease-in-out 0;
}
.cate_item_block {
    background: #fcfbfb;
    /*border:1px solid rgba(0, 0, 0, 0.10);*/
    border-radius: 6px;
    text-align: center;
    padding: 15px 0;
}
.cate_item_social {
   /* background: #ffce10;*/
    border-radius: 50px;
    color: #ffffff;
    height: 117px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width:117px;
}
.cate_item_social i {
    display: block;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
}
.cate_item_social img {
    border-radius:0px;
    display: inline-block;
    height: 117px;
    max-width: 100%;
    padding: 0px;
    text-align: center;
}
.cate_item_block h1 {
    color:#4a4a4a;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight:600;
    text-transform: uppercase;
}
.cate_item_block h1 a {
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
.cate_item_block:hover {
    background: #d7e7f8;
    color: #01273a;
}
.categorie_item:hover .cate_item_social i {
    background: transparent;
    color: #ffce10;
    border-radius: 50px;
    border:1px solid rgba(0, 0, 0, 0.12);
    width: 90px;
    height: 90px;
    line-height: 90px;
    -webkit-transition: ease-out .5s;
    -moz-transition: ease-out .5s;
    -o-transition: ease-out .5s;
    transition: ease-out .5s;
    /*transform: rotate(360deg);*/
    transition: all .6s ease-in-out 0;  
}
.hi-icon {
    color:#ffffff;
    display: block;
    position: relative;
    text-align: center;
    z-index: 1
}
.hi-icon::after {
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%
}
.categorie_item:hover .hi-icon-effect-8 .hi-icon {
  /*  background: #fff;*/
    color: #ffce10;
    cursor: pointer
}
.hi-icon-effect-8 .hi-icon::after {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    left: 0;
    opacity: 0;
    padding: 0;
    top: 0;
    transform: scale(0.9);
    z-index: -1
}
.no-touch .hi-icon-effect-8 .hi-icon:hover {
    background: rgba(255,255,255,0.05) none repeat scroll 0 0;
    color: #fff;
    transform: scale(0.93)
}
.categorie_item:hover .hi-icon-effect-8 .hi-icon::after {
    animation: 1.3s ease-out 75ms normal none 1 running sonarEffect
}
@keyframes sonarEffect {
 0% {
opacity:.3
}
 40% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #9a9a9a, 0 0 0 5px rgba(255,255,255,0.1);
opacity:.5
}
 100% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #9a9a9a, 0 0 0 5px rgba(255,255,255,0.1);
opacity:0;
transform:scale(1.1)
}
 0% {
opacity:.3
}
 40% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #9a9a9a, 0 0 0 5px rgba(255,255,255,0.1);
opacity:.5
}
 100% {
box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #9a9a9a, 0 0 0 5px rgba(255,255,255,0.1);
opacity:0;
transform:scale(1.1)
}
}

/* end of box section */







.effortless_sec_two_m .col-md-3.col-sm-6.col-xs-12 {
    width: 20%;
}


.more_butt_sec-ar {
    width: auto;
    margin: 0 auto;
    display: table;
    margin-top: 28px;
}


.more_butt_sec-ar span.down_aro {
    float: left;
    width: auto;
}

.more_butt_sec-ar span.down_aro a
{
    float: left;
    width: auto;
    margin: 0px;
}

.member_story_s
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 35px 0px;

}


.member_story_s .bigText {
    font-size: 130px;
    color: #eff6f7;
}

.member_story_s_one
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}


.member_story_s_two
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
     position: relative;
}

.member_story_s_on_l
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.member_story_s_on_r
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 20px;
    background:#9dd1de;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: -65px;
    -webkit-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    top: 50px;
}


span.vid_butt {
    position: absolute;
    bottom: 0;
    top: 115px;
    left: 235px;
}


.member_story_s_on_r h2 {
    color: #fff;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 34px;
}


.member_story_s_on_r p {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

span.click_plus {
    display: inline-block;
    margin-bottom: 45px;
}


.member_story_s_on {
    margin-top: 50px;
}


.member_story_s_two_r_l {
    width: 100%;
    float: right;
    margin: 0px;
    padding: 20px;
    background: #9dd1de;
    border-radius: 20px;
    text-align: center;
    position: relative;
    right: -8px;
    -webkit-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    top: 90px;
    max-width: 455px;
    z-index: 9;
}

.member_story_s_two_r_l h2 {
    color: #fff;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 34px;
}

.member_story_s_two_r_l p {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}

span.click_plus {
    display: inline-block;
    margin-bottom: 45px;
}

.member_story_s_two_r_r {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
    left: -50px;
}


.nes_let button i.fa.fa-paper-plane {
    font-size: 40px;
}


a.scrollToTop:hover {
    color: #2397df;
    border: 3px solid #1d8cd2;
}


.f_heading.footer-add .social-demo {
    float: none;
    width: 100%;
    margin-top: 42px;
    text-align: left;
    max-width: 190px;
    margin: 0 auto;
}

.f_heading.footer-add .social-demo b {
    font-weight: 300;
    margin-right: 15px;
}





.f_heading.last_tb {
    margin-top: 42px;
    float: left;
    margin-left: 0px;
}

.f_heading.last_tb ul {
 list-style: none;
    float: left;
    padding-left: 0;
}

.f_heading.footer-add {
    margin-top: 45p;
}

.f_heading.last_tb ul li {
    float: left;
    width: 100%;
}

.f_heading.last_tb ul li a {
    color: #000;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.f_heading.footer-add.se_tab {
    margin-top: 0px;
    border-left: 1px solid #000;
    padding-bottom: 45px;
    border-right: 1px solid;
    padding-top: 42px;
}


.foot_m
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-left: 70px;
}


.whole_family_main_r img {
    width: 100%;
    top: -120px;
    position: absolute;
    z-index: 9999999;
}



.sec_one_box_one .img_s {
    overflow: hidden;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.sec_one_box_one .img_s img {
    width: 100%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.sec_one_box_one .img_s:hover img {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}


div#next_sec {
position: absolute;
top: -100px;
}

section.teacherSection {
position: relative;
}

div#next_sec1 {
position: absolute;
top: -100px;
}

section.member_story_s {
position: relative;
}



/* faqs */

.page-bredcrm {
    background-color: #1985c9;
    box-shadow: 2px 2px 2px #dddd;
    float: left;
    width: 100%;
}
.brdcurm {
    float: left;
    padding: 10px;
    font-size: 12px;
    color: #b4e0ff;
}
.brdcurm i {
    margin: 0px 5px;
    color: #ffffff;
}
.brdcurm {
float: none;
    padding: 10px;
    font-size: 12px;
    color: #b4e0ff;
    display: inline-block;
    margin-top: 10px;
}


.brdcurm a {
    color: #fff;
}


section.h__inner_sec
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background: url(../images/faq-bg.jpg);
    position: relative;
    min-height: 150px;
    text-align: center;
}

section.h__inner_sec:before
{
    background:#0009;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    content:"";
}

.hed-sec-top h2 {
    color: #fff;
}
.hed-sec-top {
    padding: 58px 0;
    line-height: 12px;
    z-index: 1;
    position: relative;
}

.hed-sec-top h2 {
    margin: 0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 32px;
}


.FAQ_sec
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 20px;
   /* background: #fff;*/
}



.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
        margin-bottom: 10px;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #ffffff;
        border-color: #EEEEEE;
    }

    .panel-title {
       font-size: 20px;
       font-weight: 600;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
    
    
h2.faq_hed {
    width: 100%;
    margin: 0px;
    padding: 0px;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 25px;
    color: #0067b1;
    font-size: 36px;
    font-weight: 700;
}

.FAQ_sec div#accordion {
    width: 100%;
    float: left;
}   
    



main#main_inner {
    float: left;
    width: 100%;
}


main#main_inner section.teacherSection {
    padding-top: 65px;
}



/*  subcription */

.subsc_story_s
{
width: 100%;
    float: left;
    margin: 0px;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    
    position: relative;
    left: -65px;
    -webkit-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    top: 80px;
}

.subsc_story_s h2
{
    color: #000;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-left: 10px;
    margin-bottom: 25px;
 
}

.subsc_story_s p
{
font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    float: left;
    margin: 0px;
    padding: 0px 10px;
    line-height: 28px;
    letter-spacing: 0.5px;
}


section.How_it_works_s {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 45px
}


section.How_it_works_s .bigText {
    color: #d0eaf247;
}

.How_it_works_s_on
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
}
.How_it_works_s_on_main
{
    width: 100%;
    float: none;
    margin: 0px auto;
    padding: 0px;
    max-width: 75%;
    display: table;
}


.home_five_box .cate_item_block h1 a
{
     text-transform: capitalize;
    line-height: 30px;
    padding: 0px 15px;   
}

.How_it_works_s_on_main .categorie_item {
    min-height: 277px;
}

.How_it_works_s_on_main .cate_item_block.hi-icon-effect-8 {
    min-height: 260px;
}



section.our_plan_s
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 50px 0px;
        padding: 30px 0px 30px;
    background: #dcf7fe;
    background: -moz-linear-gradient(top, #dcf7fe 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #dcf7fe 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #dcf7fe 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f7fe', endColorstr='#ffffff',GradientType=0 );

}

.our_plan_s_main
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 15px 0px;
}

section.our_plan_s div#section2 {
    margin-top: 55px;
}













/*
#generic_price_table{
    background-color: #f0eded;
}*/

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
    background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
    background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{  
    color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
    color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    background-color: #E4E4E4;
    border-left: 5px solid #1f90d8;
}

#generic_price_table .generic_content .generic_price_btn a{
    border: 2px solid #259ae4;
    color: #259ae4;
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
    border-color: #2397df rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2397df;
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
    background-color: #259ae4;
    color: #fff;
} 
#generic_price_table{
    margin: 0px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
    overflow: hidden;
    position: relative;
    text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
    margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    padding: 9px 0;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
    padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
    margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) { 
}

@media (max-width: 767px) {
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
        float:left;
        width:50%;
    }
    
    #generic_price_table .col-md-4{
        float:left;
        width:50%;
    }
    
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
     font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.demo-pic{
    margin: 0 auto;
}
.demo-pic:hover{
    opacity: 0.7;
}

#generic_price_table_home ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}
#generic_price_table_home li{
    float: left;
}
#generic_price_table_home li + li{
    margin-left: 10px;
    padding-bottom: 10px;
}
#generic_price_table_home li a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}
#generic_price_table_home .blue{
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
    background: #2ECC71;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
    background: #E74C3C;
    transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
#generic_price_table_home .divider span{
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}
#generic_price_table_home .itemname{
    text-align: center;
    font-size: 50px ;
    padding: 50px 0 20px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
    padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;
    
}
.bottom_btn:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;
}


.price_tab_s_new
{
    width: 100%;
    float: none;
    margin: 0 auto;
    padding: 0px;
    max-width: 1000px;
}



.generic_content.clearfix {
    border: 1px solid #e2e2e2c2;
}