.How_it_works_s_on_main

{

    width: 100%;

    float: none;

    margin: 0px auto;

    padding: 0px;
    max-width: 1200px !important;
    margin: 0 auto !important;

    display: table;

}

section.teacherSectionhome1 {
    padding: 30px 0px 30px;
    position: relative;
    background: linear-gradient(to bottom, #d1f6ff 0%,#ffffff 100%) !important;
  
  }
  
  .bigHeading h2.margin-bottom-xxl.text-center1 {
      position: relative;
      color: #71888d;
      text-transform: capitalize;
      font-family: Myriad Pro;
      margin-top: 50px !important;
  }
  
  .text-center1 {
      text-align: center!important;
  }
  
  .heart {
      margin-left: 360px;
  }
  
  img.imagehome {
      border:none !important; 
      width:85%;
  }
  
  img.imagehome1 {
      border:none !important; 
      width:75%;
      margin-left: 100px;
  
  }
  
  .mini-titlehome {
      margin-bottom: 10px;
      font-family: Roboto, sans-serif;
      color: #71888d;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1.5px;
      word-spacing: 5px;
      text-transform: capitalize; 
      line-height: 30px;
  }
  
  .phome {
      color: #5f4d5d;
      font-size: 24px;
      line-height: 30px;
  }
  
  .effortless_sechome {
      background: #fff;
      margin-top: 50px;
  }
  
  .effortless_sechome p {
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      line-height: 35px;
      text-align: center;
      margin-top: 50px;
  }
  
  .effortless_sec_on .bigText {
      color: #ecf4f6;
      font-weight: bold;
      font-size: 70px;
      font-size: 100px;
      margin-top: 10px;
  }
  
  .bigHeading h2.margin-bottom-xxl.text-center {
      position: relative;
      color: #71888d;
      font-family: 'Open Sans', sans-serif;
      text-transform: capitalize;
      margin-top: 50px !important;
  }
  
  .How_it_works_s_on {
      width: 100%;
      float: left;
      margin: 0px;
      padding: 0px;
      padding-top: 25px;
      margin-top: 50px;
  }
  
  .How_it_works_s_on_mainhome {
      width: 100%;
      float: none;
      margin: 0px auto;
      padding: 0px;
      max-width: 100%;
      display: table;
  }
  
  .col-md-4.home {
      width:25%;
  }
  
  
  /*----------------------end home---------------------------*/
  
  .teacherSectionfeatures {
      background :#fff;
      position: relative;
      padding: 30px 0px 30px;
      
  }