
 


body {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}


p {
  margin-bottom: 10px;
}

a {
  color: #5f4d5d;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 22px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 22px;
}

li {
  margin-bottom: 2px;
}

figcaption {
  margin-top: 5px;
  font-family: Roboto, sans-serif;
  color: #b0b0b0;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}








.content-section {
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
  background: #ebf5f7;
}

.content-section.thistle-medium {
  background-color: #d5f7ff;
}

.content-section.gray {
  background-color: #f3f3f3;
}

.content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1265px;
  
}

.effortless_sec {
    background: #fff;
}

.hero-section {
  position: relative;
  height: 100%;
  padding-top: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.center-box {
  display: block;
  width: 65%;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.mini-title {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #71888d;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  text-transform: uppercase;
}

.mini-title1 {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 30px;
}

.mini-title.white {
  color: #fff;
}



.flex-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.intro-text-box {
  padding: 23px;
  background-color: #9dd1de;
}

.intro-text-box1 {
  padding: 23px;
  background-color: #9dd1de;
  height:450px;
  border-radius: 25px !important;
}





.image-hover {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.image-hover:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.image-hover1 {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.image-hover1:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}



.h1-white {
  font-family: 'Open-sans', sans-serif;
  color: #fff;
  font-size: 25px;
 
}

.h1-white1 {
    font-family: 'Cormorant Garamond';
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

.h1-white.white {
  font-family: 'Cormorant Garamond', sans-serif;
  color: #fff;
}

.h1-white.medium {
  font-size: 40px;
  line-height: 50px;
}



.underline {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.arrow {
  margin-top: 14px;
  margin-bottom: 0px;
  font-size: 22px;
}


.profile-image {
  position: relative;
  left: 135px;
  display: inline-block;
  width: 44%;
  height: 675px;
  min-width: 540px;
  background-image: url("https://www.mysoultab.com/assets/images/planA1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-image.left {
  left: -135px;
  background-image: url("https://www.mysoultab.com/assets/images/planB2.jpg");
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-block {
  position: absolute;
  bottom: 0px;
  right: 0px;
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width:50%;
  background-color: rgba(54, 187, 217, 0.74);

}

.text-block1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  
  color: #71888d;
  padding-left: 20px;
  padding-right: 20px;
  width:100%;
  background-color:#ebf5f7;
 
}



.flex-center1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.flex-center3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._50-column {
  width: 50%;
}

.text-block-2 {
  width: 80%;
}

.top-border._40 {
    background: #fff;
}

._50-column-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-line {
  padding-bottom: 40px;
  border-bottom: 2px solid #bdf3ff;
}



.products-details {
  padding-top: 10px;
  text-align: center;
}






.mini-title-white {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-small {
  font-size: 22.5px;
}

.text-small.white {
  color: #fff;
}


.flex-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._49-column-2 {
  display: block;
  width: 49%;
  max-width: 689px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}



.text-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.text-white {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 17px;
}

.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}



._90-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 91%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}





.go-up {
  width: 32.6px;
  height: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #ba9fb7;
  background-image: url("https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8f49cb519295d9cf00000_flecha-hacia-arriba.svg");
  background-position: 50% 50%;
  background-size: 13px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.go-up:hover {
  background-color: #b99bb6;
}

.notice-link {
  color: #fff;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.hero-image {
  position: relative;
  right: -65px;
  width: 70%;
  height: 675px;
  background-image: url("https://assets.website-files.com/5bd86c52b7abc5114b2ed43c/5bd8a753b7abc549d52f2255_noah-buscher-1118080-unsplash.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image._2 {
  background-image: url("https://www.mysoultab.com/assets/images/banner.jpg");
}

.right-arrow {
  width: 50px;
  height: 50px;
  margin-bottom: 0px;
  background-color: #b08ead;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.right-arrow:hover {
  opacity: 0.8;
}

.left-arrow {
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  background-color: #a78ba4;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.left-arrow:hover {
  opacity: 0.8;
}

.hero-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hero-flex.vertical {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #b08ead;
}

.slide {
  margin-bottom: 70px;
}

.hero-text-box {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 300px;
  max-width: 440px;
  margin-top: 300px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #36bbd9;

}

.intro-box {
    width: 19%;
    margin-right: 3%;
    background-color: #9dd1de;
}

.intro-box1 {
    width: 30.2%;
    margin-right: 3%;
    background-color: #9dd1de;
    height: 300px;
    border-radius: 25px !important;

}
.intro-box3 {
    width: 21.2%;
    margin-right: 3%;
   
    

}

.relative {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.text-box {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  height: 450px;
  max-width: 440px;
  margin-top: 110px;
  margin-right: 10%;
  padding-right: 2%;
  padding-left: 3%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #36bbd9;
  background-image: none;
  background-size: auto;
}

.text-box.left {
  left: 0px;
  top: 0px;
  right: auto;
  bottom: 0px;
  margin-left: 10%;
}



.flex-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feature_story_s_one {
    width: 80% !important;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-top: 0px;
    margin-left: 300px !important;
    margin-bottom: 100px;
}







.product-image {
  margin-top: 10px;
}

.small-text {
  font-family: Roboto, sans-serif;
  color: #b0b0b0;
  font-size: 13.5px;
  line-height: 21px;
  font-weight: 700;
}

.bottom-border._15 {
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.top-line {
  margin-top: 5px;
  padding-top: 7px;
  border-top: 1px solid #ddd;
}

.inner-hero {
  overflow: hidden;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #d6bbd3;
}

.row {
  margin-bottom: 3%;
}



.text-link-2 {
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-link-2:hover {
  opacity: 0.8;
}

.product-slider {
  position: relative;
  width: 105%;
  height: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}



.product-slide {
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.align-right {
  text-align: right;
}

.mini-title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.mini-title-link:hover {
  opacity: 0.8;
}

.product-description {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 530px;
  padding: 32px 40px 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b08ead;
}


.small-text-2 {
  font-family: Roboto, sans-serif;
  color: #b0b0b0;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}


.bg-botttom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 44%;
  background-color: #d5f7ff;
}

.bg-top {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 56%;
  background-color: #bdf3ff;
}

.product-section {
  position: relative;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}

._100-percent {
  width: 100%;
}

.product-image-large {
  height: 680px;
  margin-bottom: 40px;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}


img.image-hover {
    width: 50%;
    margin-left: 65px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

img.image-hover1 {
    width:100%;
    height:300px;

}

img.image-hover2 {
    width:50%;
   padding-bottom: 50px;
   width: 50%;
   margin-left:65px;

}







 :root {
    
    /* colors */
    --purple: #7276e1;
    --orange: hsl(14, 88%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --grey-light: hsl(237, 12%, 33%);
    --blue-mid: hsl(240, 6%, 50%);

    /* fonts */
    --font: 'Kumbh Sans', sans-serif;
    --base-font-size: 1.2rem;

}

.attribution { 
    color: #fff;
    font-size: 11px; 
    margin-top: 25px;
    text-align: center;  
}

.attribution a { color:#fff; }

* { box-sizing: border-box; }

html {

  }

.body { 
    align-items: center;
    background : #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Open-sans',sans-serif;
    font-weight: 400;
    height: 100vh;
    justify-content: center;
    padding: 0;
    position: relative;
  
}

.faq { 
    background-color: linear-gradient(to bottom, #dcf7fe 0%,#ffffff 100%);
    border-radius: 25px;
    padding: 50px 25px;
    margin: 150px 5% 5% 5%;
    min-width: 320px;
    max-width: 320px;
    
}

.faq__logo {
   
    background-color: transparent;
    margin: 0 auto;
    max-width: 300px;
    padding: 0;
    margin-top: -157px;
}

.faq__logo__image {
    margin-left: -13px;
    margin-bottom: 13px;
}

.faq__heading { 
    color: var(--blue-dark);
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center; 
}

.faq__detail {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 20px 0 0 0;
    padding: 5px 0 20px 0;
}

.faq__summary:hover,
.faq__summary:active { 
    color: var(--orange);
    cursor: pointer; 
}

.faq__detail[open] > .faq__summary { 
    font-weight: 700; 
}

.faq__summary {
    list-style: none;
  }

.faq__summary::-webkit-details-marker {
    display: none;
  }

.faq__summary { 
    display: block;
    padding: 10px;
    position: relative;
    text-align:left;
}

    
.faq__summary:after {
    display: inline-block;
   
    background-repeat: no-repeat;
    background-position: right center;
    text-align: right;
    padding-bottom: 20px;
  }
  
details[open] .faq__summary:after {
    display: inline-block;
    width: 18px;
    height: 10px;
    content: "";
    background-image: url("https://www.mysoultab.com/assets/images/minus.png");
    background-repeat: no-repeat;
    background-position: center right;
    transform:scaleY(-1);
}
  

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%;

}

.faq__question {
    display: inline-block;
    margin: 5px 0;
    text-align: left;
    width: 90%;
    padding-left: 7px;
}

.faq__summary {
    color: var(--blue-dark);
    font-size: 1.4rem; 
}

.faq__summary:focus {
    color: var(--orange); 
    font-weight: bold;
    outline: none;
}

.faq__text {
    color: var(--blue-mid);
    font-size: var(--base-font-size);
    line-height: 1.6;
    padding-top:30px;
}

.hidden-lg { display: block; }
    
.visible-lg { display: none; }


.tabs{
  max-width: 100%;
}
.tabs-nav li {
  float: left;
  width: 33%;
  list-style-type: none;
}
.tabs-nav .atabs li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav .atabs li:last-child a {
  border-top-right-radius: 6px;
}
a.atabs {
  background: #9dd1de;
  border: 2px solid #fff ;
  color: #fff;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
a.atabs:hover {
  background-color: #71888d;
}
.tab-active .atabs a {
  background: ;
  border-bottom-color: transparent;
  color: #2db34a;
  cursor: default;
}
.tabs-stage {
  border: 0px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
  width:1230px;
  background: linear-gradient(to bottom, #dcf7fe 0%,#ffffff 100%);
}



@media (min-width: 900px) {
    .faq {
        align-items: center;
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        padding: 0;
        margin: 0;

    }

    .faq__logo__holder { 
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .faq__holder {
        margin-right: 50px;
        padding: 0px 0;
        max-width: 100%;
        width: 100%;
    }

    .faq__logo {
        display: flex;
        align-items: center;
       
        background-position: -75px center, -571px -270px;
        background-size: 100%, 200%;
        height: 100%;
        min-width: 300px;
        margin: 0;
        padding: 0;
        width: 525px;
        max-width: 500px;
        position: relative;
    }

    .faq__heading {
        text-align: left;
    }

    .hidden-lg { display: none; }

    .visible-lg { 
        display: block; 
        position: absolute;
        margin-top: 120px;
        left: -80px;    
    }

    .faq__text {
        padding-top:30px;
    }

    .faq__detail {
        margin: 10px 0 0 0 0;
        padding: 0;
    }
}



@media screen and (max-width: 991px) {
  .menu-button {
    width: 60px;
    padding-top: 51px;
    float: right;
  }
  .center-box {
    width: 80%;
  }
  .nav-link {
    height: 70px;
    padding-top: 20px;
  }
  .cart {
    z-index: 100;
    float: right;
  }
  .profile-image {
    min-width: 420px;
  }
  ._25-column {
    width: 35%;
  }
  ._49-column-2 {
    width: 80%;
  }
  .perk {
    width: 40%;
  }
  .perk.tablet-none {
    display: none;
  }
  .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-flex.vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-text-box {
    width: 45%;
    margin-right: 5%;
  }
  .text-box {
    width: 45%;
    margin-right: 5%;
  }
  .product-slider {
    width: 100%;
    height: 450px;
  }
  .product-slide {
    height: 450px;
  }
  .product-description {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 430px;
  }
  .checkout-form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .contact-info {
    width: 100%;
    margin-bottom: 40px;
  }
  .ordered-items {
    width: 100%;
  }
  .icon {
    color: #ceb3cb;
  }
  .nav-menu-2 {
    background-color: #fff;
  }
}



.more_butt_sec1  span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
}

.more_butt_sec1 span.more_b1  a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 100%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
}

.more_butt_sec1 span.more_b1 a:after {
    position: absolute;
    content: "";
    background: #1177b7;
    background: -moz-linear-gradient(top, #1177b7 1%, #2aa3ef 100%);
    background: -webkit-linear-gradient(top, #1177b7 1%,#2aa3ef 100%);
    background: linear-gradient(to bottom, #1177b7 1%,#2aa3ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1177b7', endColorstr='#2aa3ef',GradientType=0 );
    left: 0px;
    top: -2px;
    z-index: -1;
    width: 100%
    height: 54px;
    border-radius: 100px;
}

.arrow {
  border: 2px solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.5pc;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  
  .profile-image {
    left: 40px;
    width: 80%;
    min-width: auto;
  }
  .profile-image.left {
    left: -40px;
  }
  ._50-column {
    width: 100%;
  }
  .text-block-2 {
    width: 100%;
  }
  .image {
    border-width: 10px;
  }
  ._50-column-center {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  ._50-column-center.mobile-border {
    margin-bottom: 4%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .collection-item {
    width: 47.8%;
  }
  
  ._90-column {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  
  .go-up {
    margin-top: 15px;
  }
  
}

@media screen and (max-width: 479px) {
 
  .profile-image {
    left: 0px;
    width: 100%;
    max-width: 440px;
  }
  .profile-image.left {
    left: 0px;
  }
 
  ._25-column {
    width: 100%;
    margin-right: 0%;
  }
  .text-field-2 {
    width: 100%;
    border-right-style: solid;
    border-radius: 3px;
  }
 
  ._90-column {
    width: 100%;
  }
  
  .hero-image {
    right: 0px;
    width: 100%;
  }
  .hero-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-text-box {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-right: 0%;
    padding-left: 9%;
  }
  .text-box {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-right: 0%;
    padding-left: 9%;
  }
  .text-box.left {
    margin-left: 0%;
  }
  .flex-grid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
 
  .product-description {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-right: 0%;
    padding-left: 9%;
  }
  .flex-column {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}




/*-------feature tabs------*/



 
 /*-------------------------*/