@media(min-width: 1920px){
    .more_butt_sec1ftrs {
    padding-top: 30px !important;
}
}

.bigText {

    /* font-family: 'Archivo Black', sans-serif; */

    text-transform: uppercase;

    font-size: 139px;

    position: absolute;

    text-align: center;

    width: 100%;

    z-index: 0;

    top: -25px;

    line-height: 66px;

    color: #d0eaf2;

    font-weight: normal;

    font-family: 'DINOTbold';
}

.more_butt_sec1ftrs2 span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.more_butt_sec1ftrs3 span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.more_butt_sec1ftrs span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.more_butt_sec1ftrs1 span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}


.more_butt_sec1ftrs {
    padding-top: 2px;
}
 .more_butt_sec1ftrs2 {
    padding-top: 60px;
}


.tabordion{
	padding-left: 5px !important;
}
.tabordion section label{
	border-bottom: 2px solid #fff !important;
}

@media(min-width: 1920px){
  img.image-hover2 {
   
    padding-bottom: 50px;
    width: 25%;
    margin-left: 160px;
}
 
}

h3.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-top:0px !important;
}

img.image-hover2 {
   
    padding-bottom: 50px;
    width: 25% !important;
    margin-left: 100px;
}

@media(min-width: 1280px){
h4.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
}
}

@media(min-width: 1280px){
h3.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    margin-top: 0px !important;
}
}

.flex-center1.pftrs1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 0px;
    padding-bottom: 20px !important;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 30px;
}

@media (min-width: 1280px){
h4.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
}

p.margin-bottom-xxl.text-centerfeatures  {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #71888d;
}

section.teacherSectionhome1 {
  padding: 30px 0px 30px;
  position: relative;
  background: linear-gradient(to bottom, #d1f6ff 0%,#ffffff 100%) !important;

}

.bigHeading h2.margin-bottom-xxl.text-center1 {
    position: relative;
    color: #71888d;
    text-transform: capitalize;
    font-family: Myriad Pro;
    margin-top: 50px !important;
}

 h2.margin-bottom-xxl.text-center3 {
    position: relative;
    color: #71888d;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px !important;
}

 h2.margin-bottom-xxl.text-center2 {
    position: relative;
    color: #71888d;
    text-transform: none;
    margin-top: 70px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.text-center1 {
    text-align: center!important;
}

.text-center2 {
    text-align: center!important;
}

.text-center3 {
    text-align: center!important;
}

.heart {
	margin-left: 360px;
}

img.imagehome {
	border:none !important; 
	width:85%;
}

img.imagehome1 {
	border:none !important; 
	width:75%;
	margin-left: 100px;

}

.mini-titlehome {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #71888d;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    text-transform: capitalize; 
    line-height: 30px;
}

.phome {
	color: #5f4d5d;
	font-size: 24px;
	line-height: 30px;
}

.effortless_sechome {
    background: #fff;
    margin-top: 50px;
}

.effortless_sechome p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    margin-top: 50px;
}

.effortless_sec_on .bigText {
    color: #ecf4f6;
    font-weight: bold;
    font-size: 70px;
    font-size: 100px;
    margin-top: 10px;
}

.bigHeading h2.margin-bottom-xxl.text-center {
    position: relative;
    color: #71888d;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 50px !important;
}

.How_it_works_s_on {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    margin-top: 50px;
}

.How_it_works_s_on_mainhome {
    width: 100%;
    float: none;
    margin: 0px auto;
    padding: 0px;
    max-width: 100%;
    display: table;
    margin-bottom: 100px;
}

.col-md-4.home {
	width:25%;
}


/*----------------------end home---------------------------*/

.teacherSectionfeatures {
	background :#fff;
	position: relative;
	padding: 30px 0px 30px;

}

p.title-linkfeatures{
	text-align: center;
	color: #71888d;
	font-weight: 200;
	font-family:'Roboto', sans-serif;
	font-size: 20px;
	margin-top: 50px

}

.How_it_works_s_on_mainfeatures {
    width: 100%;
    float: none;
    margin: 0px auto;
    padding: 0px;
    max-width: 100%;
    display: table;
}

.cate_item_block.hi-icon-effect-8.features {

	min-height: 450px;
}

.cate_item_block.hi-icon-effect-8.features2 {

    min-height: 250px;
}

.cate_item_block.hi-icon-effect-8.features h1 {
    text-transform: capitalize;
    line-height: 28px;
    padding: 0px 15px;
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    margin-top: 15px;
}

.cate_item_block.hi-icon-effect-8.features h2 {
    text-transform: capitalize;
    line-height: 28px;
    padding: 0px 15px;
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 15px;
}

.cate_item_block.hi-icon-effect-8.features h3 {
    text-transform: capitalize;
    line-height: 28px;
    padding: 0px 15px;
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.cate_item_block.hi-icon-effect-8.features h4{
    text-transform: capitalize;
    line-height: 28px;
    padding: 0px 15px;
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    
    padding-top: 40px;
}

.more_butt_sec1ftrs span.more_b1 a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.more_butt_sec1ftrs {
    padding-top: 30px;
}

.more_butt_sec1ftrs span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
}

.arrow.down {
    border-color: #000;
}

.more_butt_sec1ftrs1 span.more_b1 a {
    background: #2aa3ef;
    background: -moz-linear-gradient(top, #2aa3ef 0%, #1177b7 100%);
    background: -webkit-linear-gradient(top, #2aa3ef 0%,#1177b7 100%);
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa3ef', endColorstr='#1177b7',GradientType=0 );
    width: 85%;
    height: 50px;
    border-radius: 100px;
    float: left;
    margin-top: 90px;
    margin-left: 30px;
}

.more_butt_sec1ftrs1 {
    padding-top: 0px !important;
}

.more_butt_sec1ftrs1 span.more_b1 a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    text-align: center;
}

.more_butt_secfeatures {
    width: 100%;
    margin: 80px auto 30px;
    float: left;
}
.more_butt_secfeatures span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
    position: relative;
    text-align: center;
    float: none;
}
.more_butt_secfeatures span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
   
    width: 254px;
    height: 50px;
    border-radius: 100px;
    float: left;
}



.member_story_sfeatures {
    width: 100%;
    float: left;
   
    padding: 35px 0px;
   
    background-color:#fff;
    margin-top: 50px;
   

}



.member_story_sfeatures .bigText {
    font-size: 130px;
    color: #d0eaf2;
}

p.margin-bottom-xxl.text-centerfeatures  {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #71888d;
}

.text-centerfeatures{
    text-align: center;
}


/*------------------------end how it works------------------------*/

.bigText.pftrs {
    /* font-family: 'Archivo Black', sans-serif; */
    text-transform: uppercase;
    font-size: 80px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 0;
    top: -25px;
    line-height: 66px;
    color: #d0eaf2;
    font-weight: normal;
    font-family: 'DINOTBold';
    font-family: 'DINOTBold';
}

.feature_main_rtop {
   
    float: left;
    margin: 0px;
    padding: 20px;
    background: #9dd1de;
    border-radius: 20px;
    position: relative;
    left: -90px;
    -webkit-box-shadow: 0px 2px 41px -17px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 41px -17px rgb(0 0 0 / 75%);
    top: 60px;
    width:80%; 
    margin-left: 100px
}

.feature_main_rtop h2 {
    color: #fff;
   
    margin-bottom: 3px;
    padding: 5px 15px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.feature_main_rtop p {
    
    margin-bottom: 18px;
    padding: 5px 15px;
   
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.feature_main_rbottom {
   
    float: left;
    margin: 0px;
    padding: 20px;
    background: #9dd1de;
    border-radius: 20px;
    position: relative;
    left: -200px;
    -webkit-box-shadow: 0px 2px 41px -17px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 2px 41px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 41px -17px rgb(0 0 0 / 75%);
    top: 60px;
   
    margin-left: 100px;
    width:400px;
    top:200px;
}

.feature_main_rbottom h2 {
    color: #fff;
   
    margin-bottom: 3px;
    padding: 5px 15px;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

.feature_main_rbottom p {
    
    margin-bottom: 18px;
    padding: 5px 15px;
   
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.mini-titlepftrs {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: #71888d;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    text-transform: none; 
    line-height: 30px;
   
}

ul.pftrs {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}

li.pftrs {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

a.w-inline-block.w-lightbox.pftrs {
    margin-right: 50px;
}


/*---------------featurestabs---------------vertical---*/

h2.feature {
  color: #71888d;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

p.feature{
  font-family: 'Roboto',sans-serif;
  color: #5f4d5d;
    line-height: 30px;
    font-size: 15px;
}
.tabordion {
  color: #333;
  display: block;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  
  height: 500px;
  font-size: 25px;
  padding-left:10px;
  background-color: #fff;
}

.tabordion input[name="sections"] article {
  left: -9999px;
  position: absolute;
  

}



.tabordion section {
  display: block;
}

.tabordion section label {
  background: #71888d;
  border:0px solid #ebf5f7 ;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  
  padding: 15px 20px;
  position: relative;
  width: 210px;
  z-index:100;
  font-family: 'Roboto',sans-serif;
   color: #fff;
   font-weight: 500;


}

.tabordion section article {
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  background-color: #71888d;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
  height: 500px;
}

.tabordion input[name="sections"]:checked + label { 
  background: #71888d;
  color: #bbb;

}

.tabordion input[name="sections"]:checked ~ article {
  display: block;

}


@media (max-width: 533px) {
  
 

  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  
  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  

  .tabordion {
    width: 70%;
  }
}

/*--------------------end vertical feature tabs-----------------*/

.flex-center1.pftrs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 0px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 30px;
}

.w-inline-block.pftrs {
    max-width: 100%;
    display: block;
}

.text-block1.pftrs {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #71888d;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #fff;
}

h4.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

h3.productf {
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.intro-text-box.pftrs {
   background-color: #fff;
    padding: 0px;
}

.margin-bottom-xxl.text-center.pftrs{

    position: relative;
    color: #71888d;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-right: 50px;
    font-weight: bold;
    padding-top: 80px;
}

.faq__holder {
    margin-right: 50px;
    padding: 0px 0;
    max-width: 100%;
    width: 100%;
}
.faq__holder1 {
    margin-left: 50px;
    padding: 0px 0;
    max-width: 100%;
    width: 100%;
    margin-right: 50px;
    padding-top: 80px;

}

.faq__detail1{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 20px 0 0 0;
    padding: 0px;
    margin-bottom: 100px;
}

.faq__question {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 90%;
    color: #71888d;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
}

li.pftrs1{
    font-family: 'Kumbh Sans', sans-serif;
}


/*-----------------------end productfeatures----------------*/

.member_story_s_on_l.mstory{
    width: 100%;
    float: left;
    
    padding: 0px;
    padding-left: 50px;
   
}

.container.mstory {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    margin-bottom: 50px;

}

.member_story_sfeatures1 {
    width: 100%;
    float: left;
    padding: 35px 0px;
    background-color: #fff;
    
}

.more_butt_secbuyn {
    width: 100%;
    margin: 80px auto 30px;
    float: left;
    padding-top: 80px;
}

.more_butt_secbuyn span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
    position: relative;
    text-align: center;
    float: none;
}

.more_butt_secbuyn span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    
    width: 254px;
    height: 50px;
    border-radius: 100px;
    float: left;
}

.more_butt_secbn {
    width: 100%;
    margin: 80px auto 30px;
    float: left;
    padding-top: 15px;
}

.more_butt_secbn span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
    position: relative;
    text-align: center;
    float: none;
}

.more_butt_secbn span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    
    width: 254px;
    height: 50px;
    border-radius: 100px;
    float: left;
}

img.bn{
    padding-left: 0px;
}

.tabsbn {

    margin-top: 200px;
    margin-left: auto;
    max-width: 100%;

}

ul.tabs-nav {
    padding-left: 0px;
}

.tabs-stagebn {
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
    width: 100%;
    background: #fff;
}

h2.bn {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    color: #71888d;
    font-size: 30px;
}

.mini-titlebn {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: none;
   
    color: #5f4d5d;
    
}

a.bn {
    color: #000;
    font-family: 'Nunito', sans-serif;
}

a.bn1 {
    color: #000;
     font-size: 20px; 
     color: #5f4d5d ;
     font-family: 'Nunito', sans-serif;
}

h2.bn {
    text-transform: capitalize;
    line-height: 28px;
   
    color: #71888d;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2.bnn {
    text-transform: capitalize;
    line-height: 28px;
    padding: 0px 15px;
    color: #5295e1;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    margin-top: 15px;
}

img.bnn {

    padding-left: 0px;
    margin-top: 80px;
}

.col-md-4.col-sm-6.col-xs-12.bn {
    margin-left: 400px;
}


@media (max-width: 1080px) {
    .more_butt_sec1ftrs {
    padding-top: 65px;
}
}


@media (max-width: 1080px) {
 .more_butt_secbuyn {
    width: 100%;
    margin: 80px auto 30px;
    float: left;
    padding-top: 80px;
}

.more_butt_secbuyn span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
    position: relative;
    text-align: center;
    float: none;
}

.more_butt_secbuyn span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    
    width: 254px;
    height: 50px;
    border-radius: 100px;
    float: left;
}

.more_butt_secbn {
    width: 100%;
    margin: 80px auto 30px;
    float: left;
    padding-top: 15px;
}

.more_butt_secbn span.more_b {
    margin: 0 auto;
    width: auto;
    display: table;
    position: relative;
    text-align: center;
    float: none;
}

.more_butt_secbn span.more_b a {
    font-family: 'Asap Condensed', sans-serif;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 36px;
    padding: 8px 15px;
    background: linear-gradient(to bottom, #2aa3ef 0%,#1177b7 100%);
    
    width: 254px;
    height: 50px;
    border-radius: 100px;
    float: left;
}   
}