/* CSS Document */
.btn-file {
	position:relative;
	overflow:hidden;
	}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
	}
#img-upload{
	width: 100%;
	}
.multiselect-native-select .btn-group {
	width: 100% !important;
	}
.multiselect-native-select button.multiselect.dropdown-toggle.btn.btn-default {
	width: 100% !important;
	text-align: left !important;
	overflow: hidden;
	}
.btn-file {
	position: relative;
	overflow: hidden;
	}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
	width: 85px;
	height: 34px;
}
.travel-video img {
	width: 100%;
}
#img-upload{
	width: 100%;
}
.dash-counter{
	margin-bottom: 30px;
	padding: 15px;
	box-shadow: 1px 1px 5px #d8d8d8;
	background: #ffffff;
	display: inline-block;
	width: 100%;
	margin-top: 15px;
	}
.dash-counter h2 {
	margin:0px 0px 20px;
	font-weight: 300;
	font-size:24px;
	color:#636363;
	padding-left:15px;
	border-left:2px solid rgba(0, 0, 0, 0.13);
	display:inline-block;
	}
.dc-sub {
	display: inline-block;
	width: 100%;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 1px 1px 5px #d8d8d8;
	}
.dc-sub-ico {
	width: 80px;
	height: 70px;
	background: #ffb53e;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding: 12px;
	position: absolute;
	left: 0;
	top: 0;
	}
.dc-sub-txt {
	display: inline-block;
	width: 100%;
	padding: 5px 0 0 90px;
	height: 70px;
	background: #f3f3f3;
}
.dc-sub-txt h3 {
	font-size: 30px;
	font-weight: 300;
	margin: 2px 0 0;
}
.dc-sub-txt p {
	color: #929292;
}
.dc-sub-ico.busi-ico {
	background: #00cad6;
}
.dc-sub-ico.new-let-ico {
	background: #F44336;
}
.dc-sub-ico.event-ico {
	background: #2196F3;
}
.dc-sub-txt p {
	color: #929292;
}
.dc-sub-txt.pu-txt h3 {
	color: #4c925a;
}
.tooltip-2 {
	position: relative;
	display: inline-block;
	margin-right: 2px;
}
.link-del-view a {
	width: 20px;
	/* height: 25px; */
	/* background: #048047; */
	display: inline-block;
	text-align: center;
	color: #269ce7;
	border-radius: 7px;
	padding: 4px;
	/* margin-bottom: 5px; */
	font-size: 15px;
}
.tooltip-2 .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 30px;
	padding: 5px 10px;
	font-size: 10px;
	right: 0;
}
.tooltip-2:hover .tooltiptext {
	visibility:visible;
}
.link-del-view a:hover {
color:#000;
}
.read-more a:hover {
	text-decoration:none;
	color:#fff;
	background:#1f262d;
	}
.read-more {
text-align: center;
display: inline-block;
width: 100%;
}
.read-more a {
display: inline-block;
padding: 7px 15px;
background: #269ce7;
color: #fff;
text-decoration: none;
border-radius: 0px;
}
.row {
margin-right: -15px;
margin-left: -15px;
}
label.control-label.col-md-4 {
text-align: left;
font-weight: 500;
font-size: 14px;
}
span.field_req {
font-size: 14px;
color: #f00;
}
.forHalfField input {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
box-shadow: none;
border-radius: 2px;
margin-bottom: 0px;
}
.box_txtAre textarea {
min-height: 80px;
margin: 0px 0px;
display: block;
width: 100% !important;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
box-shadow: none;
border-radius: 2px;
}
.navbar.navbar-inverse {
	min-height: 40px;
	}
.import-create.dash-counter .dc-sub-ico {
	background: #f3f3f3;
	color: #b7b7b7;
	}
.card-header p {
	margin: 5px 0 0;
	font-size: 13px;
	}
.read-more a {
	float: right;
	}
.help-block {
color: #f90e0e !important;
}
label.col-lg-12.control-label.pull-left {
text-align: left;
margin-left: 10px;
}
/* 17 march */
form#AddUsers ul.multiselect-container.dropdown-menu {
max-height: 200px;
overflow-y: scroll;
}
form#AddUsers img#img-upload {
max-width: 85px;
margin-top: 15px;
}
form#AddUsers .col-md-8 {
min-height: 35px;
}
form#AddService .form-group.box_txtAre img#img-upload {
max-width: 85px;
margin-top: 15px;
}
form#EditProfile img#img-upload {
width: 85px;
margin-top: 15px;
}
.Schedule_main_one span.btn.btn-default.btn-file label.error {
left: 0;
font-size: 12px;
top: 28px;
}
.Schedule_main_one span.btn.btn-default.btn-file {
overflow: initial;
}
.Schedule_main_one select.form-control {
margin-bottom: 12px;
}
.dash-counter.users-main.my-sts-table .card-body .add-btn {
width: 100%;
float: left;
}
.btn-primary {
color: #fff;
background-color: #048047;
border-color: #048047;
}
.btn-primary:hover {
background-color: #048047;
border-color: #048047;
}
form#AddTestimonial img#img-upload {
width: 85px;
margin-top: 15px;
}
form#AddTestimonial .form-group.box_txtAre .col-md-12 label.error {
	bottom: -22px;
	}
form#AddTransports img#img-upload {
	width: 85px;
	margin-top: 15px;
	}
.Schedule_main_one label.error {
	position: absolute;
	bottom: -10px;
	}
.dash-counter.users-main.my-sts-table .card-body .add-btn a {
	float:right;
	padding:10px;
	background-color:#269ce7;
	color:#fff;
	}
span.multiselect-native-select ul.multiselect-container {
max-height: 200px;
overflow-x: scroll;
}
.Schedule_main_one span.multiselect-native-select label.error {
bottom: -31px;
}
.Schedule_main_one input.form-control {
margin-bottom: 12px;
}
table#sampleTable img.list-img {
max-width: 60px;
}
.general-info #floating-panel input {
padding-left: 10px !important;
padding-right: 10px !important;
min-width: 180px !important;
}
a.att_resume {
border: 1px solid #ccc;
background: #eee;
display: block;
padding: 14px;
width: 23%;
text-align: center;
margin: 0 1% 10px;
float: left;
font-size: 13px;
min-height: 125px;
}
a.att_resume i {
font-size: 45px;
display: block;
margin-bottom: 10px;
}
.tooltipThree a .app, .tooltipThree a .disapp {
position: absolute;
top:0px;
left: -15px;
background: #048047;
border: none;
border-radius: 2px;
padding: 5px;
display: inline-block !important;
font-size: 11px;
height: 25px;
}
.tooltipThree {
float: left;
display: inline-block;
width: 33.33%;
margin-right: 0px;
margin-top: 5px;
}
#complaintform a#close-review-box {
background-color: #048047;
border-color: #048047;
color: #fff;
}
#complaintform a#close-review-box:hover {
background: #449d44;
}
#update_users_profile .box_txtAre input.uplimg {
width:100%;
height:34px;
padding:6px 12px;
border:1px solid #ccc;
margin-bottom:15px;
}
#update_users_profile .box_txtAre img.img-fluid {
border:1px solid #ccc;
padding:10px;
}

.change_pass button.chnge-mail.btn.btn-default.upps {
width: 100%;
}
.change_pass .col-sm-4 a{width: 100%;}


.lang_ar {
background:#2e363f6b;
padding-top: 15px;
text-align: right;
border-bottom: 1px solid #fff;
padding-bottom: 5px;
}
.lang_ar .form-control{
text-align:right;
}
.link-del-view a.distlink {
width: 143px;
}
/*div#sampleTable_wrapper {
padding: 15px;
}*/
.form-mantain {
float: left;
width: 100%;
padding: 15px 0px;
}
#distractionModal .modal-confirm .icon-box {
border: 3px solid #048047 ;
}
#distractionModal .modal-confirm .icon-box i {
color: #048047 ;
}
#distractionModal .modal-confirm .btn-danger, .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
background: #048047 ;
}
#distractionModal .modal-confirm h4 {
text-align: center;
font-size: 26px;
margin: 30px 0 0px;
}
.modal-confirm {
color: #636363;
width: 400px;
}
.modal-confirm .modal-content {
padding: 20px;
border-radius: 5px;
border: none;
text-align: center;
font-size: 14px;
}
.modal-confirm .modal-header {
border-bottom: none;
position: relative;
padding: 0 15px !important;
background: transparent;
}
.modal-confirm h4 {
text-align: center;
font-size: 26px;
margin: 30px 0 -10px;
}
.modal-confirm .close {
position: absolute;
top: -5px;
right: -2px;
}
.modal-confirm .modal-body {
color: #999;
}
.modal-confirm .modal-footer {
border: none;
text-align: center;
border-radius: 5px;
font-size: 13px;
padding: 20px 15px 0;
}
.modal-confirm .modal-footer a {
color: #999;
}
.modal-confirm .icon-box {
width: 80px;
height: 80px;
margin: 0 auto;
border-radius: 50%;
z-index: 9;
text-align: center;
border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
color: #f15e5e;
font-size: 46px;
display: inline-block;
margin-top: 13px;
}
.modal-confirm .btn {
color: #fff;
border-radius: 4px;
background: #60c7c1;
text-decoration: none;
transition: all 0.4s;
line-height: normal;
min-width: 120px;
border: none;
min-height: 40px;
border-radius: 3px;
margin: 0 5px;
outline: none !important;
}
.modal-confirm .btn-info {
background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
background: #a8a8a8;
}
.modal-confirm .btn-danger {
background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
background: #ee3535;
}
.trigger-btn {
display: inline-block;
margin: 100px auto;
}
.modal-confirm button.close {
font-size:  35px;
margin: -10px;
}
.leave-request span.lea_req,.document-from-company span.doc_req_cmpy {
margin-right: 5px;
margin-bottom: 10px;
display: inline-block;
}
.leave-request span.lea_req input[type="radio"],
.document-from-company span.doc_req_cmpy input[type="checkbox"] {
margin: 0 5px 0 0;
}
th.ap-dp {
width: 175px !important;
}
img#existing-img-upload {
margin-top: 15px;
width: 85px;
}
img#img-upload {
width: 85px;
margin-top: 15px;
}
input#order_receipt_upload {
float: left;
z-index: -1;
}
a.cancel-btn.btn {
background-color: #269ce7;
color: #fff;
}
/****/
div#sampleTable_filter {
float:right;
margin-right:0px;
}
.form-horizontal .input-group,  .form-horizontal .input-group .input-group-btn {
width: 100% !important;
max-width: 100% !important;
display: block;
text-align: left;
}
.form-horizontal .input-group, .form-horizontal .input-group .input-group-btn span.btn.btn-default.btn-file {
width: 100%;
display: inline-block;
text-align: left;
}
.form-horizontal label.error {
display: inline-block;
width: 100%;
float: left;
}
.form-horizontal .input-group label.error {
position:inherit;
margin-top:-10px;
padding-top:0px;
}
.users-main div#sampleTable_length {
left:0px;
margin-left:0px;
}
.Schedule_main_one .form-control {
margin-bottom: 12px;
}
.btn-files {
width: 100%;
}
.bnt_sub {
margin:20px 0px 0px;
}
.error { color: red;}
.general-info .social-profile {
background:#e8e8e8;
    padding: 5px;
}
td.cat-logo {
background:#cacaca;
text-align:center;
}
img.cat{
background:#cacaca;
text-align:center;
}
#doctor_add .col-sm-offset-2.col-sm-10 {
margin-top: 0px !important;
}
img#img-upload {
width: 60px;
margin-top: 0px;
border: 1px solid #ccc;
}
textarea#doctor_address {
min-height: 100px;
border-radius: 0px;
box-shadow: none;
}
ul.list_time {
list-style: none;
padding: 0px;
margin: 0px;
width: 100%;
display: inline-block;
}
ul.list_time li {
color: #AAAAAA;
display: inline-block;
position: relative;
float: left;
width: auto;
}
ul.list_time li input[type=radio] {
position: absolute;
visibility: hidden;
}
ul.list_time li label {
	display: block;
	position: relative;
	font-size: 16px;
	padding: 2px 15px 0px 20px;
	margin: 0px auto;
	height: 22px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	font-weight: 500;
	color: #6e6e6e;
	}
ul.list_time > li .check {
	display: block;
	position: absolute;
	border: 2px solid #AAAAAA;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 7px;
	left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
	}
ul.list_time > li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 7px;
	width: 7px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	}
form#appointment_search{
	padding:15px;
	}
#appointment_search_data{
	padding:0px 15px;
	}
#appointment_search label {
	font-weight:500;
	}
ul.list_time > li input[type=radio]:checked ~ label {
	color: #2499e3;
	}
ul.list_time > li input[type=radio]:checked ~ .check {
	border: 2px solid #2499e3;
	}
ul.list_time > li input[type=radio]:checked ~ .check::before {
	background: #2499e3;
	}
span.multiselect-native-select ul.multiselect-container {
	width: 100%;
	}
.multiselect-container>li>a>label {
	padding:3px 20px 3px 20px !important;
	}
.shedule .input-group-addon {
	position: absolute;
	top: 0px;
	z-index: 8;
	right: 0px;
	text-align: center;
	width: 40px;
	border-radius: 0px;
	height: 34px;
	border-left: 1px solid #ccc;
	}
.input-group.date.shedule {
	position: relative;
	}
ul.abs {
	list-style: none;
	margin: 5px 0px 0px;
	padding: 0px;
	}
ul.abs li {
	display: inline-block;
	color: #ffdd2a;
	font-size: 16px;
	}
.pagination .paginate_button {
    padding:0px !important;
    background:none !important;
    cursor:inherit;
    border:none !important;
    margin-left:4px !important;
	}
.pagination .paginate_button:hover {
    background:none !important;
    border:none !important;
	}
ul.frd_swtChild {
    display:block !important;
	}	
.admin_back {
    padding:7px 20px 8px;
    background-color:#269ce7;
    color:#fff;
    display:inline-block;
    border: 1px solid #269ce7;
	}
.back_ad {
    float:right;
    margin-right:15px;
    margin-top:-39px;
	}
.admin_back:hover {
    color:#269ce7;
    background:none;
	}


ul.frd_swtChild {
    padding-left: 0px !important;
    list-style: none;
	}
span.submenu-cls {
    padding-left: 15px;
    width: 100%;
    padding: 10px 0 10px 15px;
    display: inline-block;
	}
ul.frd_swtChild li a {
    padding-left: 30px !important;
	}


.add-btn a:hover {
    background: none;
    color: #269ce7;
}
.add-btn a {
    padding: 5px 15px;
    background-color: #269ce7;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #269ce7;
	}
.bx_user {
    float:right;
    margin-top:-37px;
    margin-right:15px;
    }
table.dataTable.no-footer {
    border-bottom:1px solid #ddd !important;
    margin:10px auto !important;
    }
table.dataTable thead th, table.dataTable thead td {        
    border-bottom:0px solid #ddd !important;
    border-top:1px solid #ddd !important;
    }
#sampleTable_filter label{
	font-size:14px;
	}
.tab_comn {
    margin-bottom:5px !important;  
	}
.tab_comn thead tr{
    background:#f5f5f5 !important;
    border:1px solid #dddddd !important;
	}
.tab_comn button.btn.btn-primary.btn-xs {
    min-width:60px;
    border:none;
	}
#deleteModal .modal-body h3 {
    font-size:18px;
    margin:0px;
    line-height:25px;
	}
#deleteModal .modal-sm {
    min-width:400px;
	}
#deleteModal .modal-body {
    min-height:80px;
	}
#deleteModal .modal-footer{
    padding:10px;	
	}
ul.list_prof li a {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:inline-block;
    width:100%;
	}
th.sorting_asc {
    min-width:40px;
	}
.tab_comn {
    border:1px solid #ddd !important;
    border-top:0px !important;
	}
.tooltip-2 a {
    color:#666;
	}
#footer {
    color:#fff;
	}
.btn-primary{ 
    background-color:#269ce7 !important;
    border-color:#117bc1 !important;
	}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #269ce7 !important;
    background:#1f262d !important;
    border-color:#1f262d !important;
	}
.main_dashboard .dash-counter{
    margin-bottom:0px;
	}
.main_dashboard .users-main table{
    max-width:99.99%;
	}
.main_dashboard .table th{
	text-align:left;
	}
#sidebar > ul > li.active a .fa{
    color:#fff !important;
    opacity:1 !important;
	}
#profile-messages .dropdown-menu{
    padding:0px;
	}
#sidebar > ul li ul li.active .fa {
    opacity: 1 !important;
	}
#sidebar > ul li ul li a:hover .fa {
    opacity: 1 !important;
	}
#schedule_search .input-group, #appointment_search .input-group{
    width:100%;
	}
.btn_topBack{ 
    float:right;
	}
.xbt{
	background-color: #FF0000;
	color: white;
	width: 90%;
	}
.ybt{
	background-color: #639d34;
	color: white;
	width: 90%;
	}
.f_nameOne.eml {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	}
.pht{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	}
.brd {
    margin-left:10px;
    }
.f_nameOne img{
    width:100%;
	}
#AddUsersss img#img-upload {
    margin-top: 15px;
	}
.cat-img {
    background: #ccc;
    width: 60px;
    text-align: center;
	}
.f_nameOne.decri {
    padding-left: 45px !important;
	}
.doc-fix .rrow {
    display:inline-block;
    width:100%;
	}
.doc-fix span#dol {
    position:inherit;
    margin:0px;
	}
.doc-fix .f_nameOne img {
    width:80px;
    border:1px solid #ccc;
    max-height:80px;
	}
.rest-img {
    width:80px;
    border:1px solid #ccc;
	}
.general-info .rrow {
    display:inline-block;
    width:100%;
	}
.f_nameOne {
    word-break:break-all;	
	}

.admin-ban {
    width:60px;
    height:50px;
	}
.admin-ban img#img-upload {
    height:50px;
    width:60px;
	}

.cat-img-admin {
    max-width: 100px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.cat-img-admin img {
    width: auto;
    max-height: 100px;
    height: inherit;
    max-width: 100px;
}
.art-img {
    max-width: 100px;
    border: 1px solid #ccc;
    padding: 3px;
	}
.art-img img {
    width: auto;
    height: auto;
    max-width: 100%;
	}
.art-cat-img img {
    background:#ccc;
    width:auto;
    height:auto;
    max-width:80px;
	}


@media screen and (max-width: 1080px) {
	.f_nameOne.decri {
    	padding-left:38px !important;
	}
}
