/* CSS Document */

.player .title {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 290px;
}

.player .artist {
    color: #acadb1;
    font-size: 16px;
    top: 45px;
}

.player .descrip {
    display: inline-block;
    overflow: hidden;
    top: 80px;
    position: absolute;
    left: 167px;
    width: 260px;
    color: #acadb1;
    height: 100px;
    text-align: justify;
}

.player .cover {
    border-radius: 5px 5px 5px 5px;
    height: 120px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 120px;
    background-size: cover;
}

.player .volume {
    height: 11px;
    left: 20px;
    position: absolute;
    top: 165px;
    width: 120px;
}

.player .controls .play {
    width: 40px !important;
    height: 40px !important;
    background-size: 100% !important;
}

.player .controls {
    top: 7px;
    left: inherit;
    right: -57px;
}