* {
outline:none !important;
-moz-outline: none !important;
}
html, body{height:100%}
/* Main */
/*Bootstrap-overlay*/
body {
	overflow-x: hidden;
	margin-top: -10px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#666;
}
	a{color:#666;}
	a:hover, a:focus {
	text-decoration: none; color:#269ce7;
}
.dropdown-menu .divider{ margin:4px 0px;}
.dropdown-menu{ min-width:180px;}
.dropdown-menu > li > a{ padding:3px 10px; color:#666; font-size:12px;}
.dropdown-menu > li > a i{ padding-right:3px;}
.userphoto img{ width:19px; height:19px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert{ border-radius:0px;}
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ box-shadow:none;}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary{background-image:none;}
.accordion-heading h5{ width:70%; }
.form-horizontal .form-actions{ padding-left:20px; }
#footer{ padding:10px; text-align:center;}
hr{ border-top-color:#dadada;}
.carousel{ margin-bottom:0px;}
.fl { float:left}
.fr {float:right}
.label-important, .badge-important{ /*background:#f74d4d;*/}
/*Metro Background color class*/
.bg_lb{ background:#27a9e3;}
.bg_db{ background:#2295c9;}
.bg_lg{ background:#28b779;}
.bg_dg{ background:#28b779;}
.bg_ly{ background:#ffb848;}
.bg_dy{ background:#da9628;}
.bg_ls{ background:#2255a4;}
.bg_lo{ background:#da542e;}
.bg_lr{ background:#f74d4d;}
.bg_lv{ background:#603bbc;}
.bg_lh{ background:#b6b3b3;}
/* Header */
#header {
height: 50px;
position: fixed;
width: 100%;
z-index: 9;
top: 0;
}
#header h1 {
background: url(../img/logo.png) no-repeat scroll 0 0 transparent;
height: 31px;
left: 20px;
/* line-height: 600px; */
overflow: hidden;
position: relative;
top: 6px;
width: 210px;
margin: 0;
}
#header h1 a {
display: block;
font-size: 32px;
color: #fff;
}
/* Search input */
#search {
position: absolute;
z-index: 25;
top: 6px;
right:10px;
}
#search input[type=text] {
padding: 4px 10px 5px;
border: 0;
width: 100px;
}
#search button {
border: 0;
margin-left:-3px;
margin-top: -11px;
padding: 5px 10px 4px;
}
#search button i {
opacity: 0.8; color:#fff;
}
#search button:hover i, #search button:active i {
opacity: 1;
}
/* Top user navigation */
#user-nav {
position: fixed;
right: 0px;
top: 5px;
z-index: 20;
margin: 0;
}
#user-nav > ul {
margin: 0;
padding: 0;
list-style: none; border-right: 1px solid #2e363f;border-left: 1px solid #000;
}
#user-nav > ul > li {
float: left;
list-style-type: none;
margin: 0;
position: relative;
padding: 0; border-left: 1px solid #2e363f; border-right: 1px solid #000;
}
#user-nav > ul > li > a {
padding: 10px 10px;
display: block;
color: #d2cbcb;
font-size: 13px;
}
#user-nav > ul > li > a:hover, #user-nav > ul > li.open > a {
color: #ffffff;  background:#000;
}
#user-nav > ul > li > a > i, #sidebar li a i {
opacity: .5;
margin-top: 2px;
}
#user-nav > ul > li > a:hover > i, #user-nav > ul > li.open > a > i {
opacity: 1;
}
#user-nav > ul > li > a > .label {
vertical-align: middle;
padding: 1px 4px 1px;
margin: -2px 4px 0;
display: inline-block;
}
#user-nav > ul ul > li > a {
text-align: left;
}
#user-nav > ul ul > li > a:hover {
}
/* Sidebar Navigation */
#sidebar {
display: block;
float: left;
position: fixed;
width: 220px;
z-index: 16;
height: 96vh;
overflow-y: auto;
}
#sidebar > ul {
list-style: none;
margin: 0px 0 0;
padding: 0;
position: absolute;
width: 220px;
}
#sidebar > ul > li {
display: block;
position: relative;
}
#sidebar > ul > li > a {
padding: 10px 0 10px 10px;
display: block;
color:#f5f5f5;
}
#sidebar > ul > li > a > i {
margin-right: 10px;
}
#sidebar > ul > li.active > a {
background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
text-decoration:none;
}
#sidebar > ul > li > a > .label {
margin: 0 5px 0 0;
float: right;
padding: 3px 5px 2px;
}
#sidebar > ul li ul {
display: none;
margin: 0;
padding: 0;
}
/*#sidebar > ul li.open ul {
display: block;
}*/
#sidebar > ul li ul li a {
padding: 10px 0 10px 15px;
display: block;
color: #777777;
}
#sidebar > ul li ul li:first-child a {
border-top: 0;
}
#sidebar > ul li ul li:last-child a {
border-bottom: 0;
}
/* Content */
#content {
background: none repeat scroll 0 0 #eeeeee;
margin-left: 220px;
margin-right: 0;
padding-bottom: 25px;
position: relative;
min-height: 100%;
width: auto;
margin-top: 88px;
}
#content-header {
position: abslute;
width: 100%;
margin-top: -38px;
z-index: 20;
}
#content-header h1 {
color: #555555;
font-size: 28px;
font-weight: normal;
float: none;
text-shadow: 0 1px 0 #ffffff;
margin-left: 20px;
position: relative;
}
#content-header .btn-group {
float: right;
right: 20px;
position: absolute;
}
#content-header h1, #content-header .btn-group {
margin-top: 20px;
}
#content-header .btn-group .btn {
padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
position: absolute;
top: -7px;
}
.container-fluid .row-fluid:first-child {
margin-top: 20px;
}
/* Breadcrumb */
#breadcrumb {
background-color: #fff;
border-bottom: 1px solid #e3ebed;
}
#breadcrumb a {
padding:10px 20px 10px 10px;
display: inline-block;
background-image: url('../img/breadcrumb.png');
background-position: center right;
background-repeat: no-repeat;
font-size: 14px;
color: #666666;
}
#breadcrumb a:hover {
color: #333333;
}
#breadcrumb a:last-child {
background-image:none;
}
#breadcrumb a.current {
font-weight: bold;
color: #444444;
}
#breadcrumb a i {
margin-right: 5px;
opacity: .6;
}
#breadcrumb a:hover i {
margin-right: 5px;
opacity: .8;
}
/*todo-list*/
.todo ul {
list-style: none outside none;
margin: 0;
}
.todo li {
border-bottom: 1px solid #EBEBEB;
margin-bottom: 0;
padding: 10px 0;
}
.todo li:hover {
background: none repeat scroll 0 0 #FCFCFC;
border-color: #D9D9D9;
}
.todo li:last-child{ border-bottom:0px;}
.todo li .txt {
float: left;
}
.todo li .by {
margin-left: 10px;
margin-right: 10px;
}
.todo li .date {
margin-right: 10px;
}
/* Stat boxes and quick actions */
.quick-actions_homepage {
width:100%;
text-align:center; position:relative;
float:left;
margin-top:10px;
}
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
display: block;
list-style: none outside none;
margin: 15px 0;
text-align: center;
}
.stat-boxes2 {
display: inline-block;
list-style: none outside none;
margin:0px;
text-align: center;
}
.stat-boxes2 li {
display: inline-block;
line-height: 18px;
margin: 0 10px 10px;
padding: 0 10px; background:#fff; border: 1px solid #DCDCDC
}
.stat-boxes2 li:hover{ background: #f6f6f6; }
.stat-boxes2 .left, .stat-boxes .right {
text-shadow: 0 1px 0 #fff;
float: left;
}
.stat-boxes2 .left {
border-right: 1px solid #DCDCDC;
box-shadow: 1px 0 0 0 #FFFFFF;
font-size: 10px;
font-weight: bold;
margin-right: 10px;
padding: 10px 14px 6px 4px;
}
.stat-boxes2 .right {
color: #666666;
font-size: 12px;
padding: 9px 10px 7px 0;
text-align: center;
min-width: 70px; float:left
}
.stat-boxes2 .left span, .stat-boxes2 .right strong {
display: block;
}
.stat-boxes2 .right strong {
font-size: 26px;
margin-bottom: 3px;
margin-top: 6px;
}
.quick-actions_homepage .quick-actions li{ position:relative;}
.quick-actions_homepage .quick-actions li .label{ position:absolute; padding:5px; top:-10px; right:-5px;}
.stats-plain {
width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
float: left;
line-height: 18px;
margin: 0 10px 10px 0px;
padding: 0 10px;
}
.stat-boxes li a:hover, .quick-actions li a:hover, .quick-actions-horizontal li a:hover, .stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover {
background: #2E363F;
}
.quick-actions li {
min-width:14%;
min-height:70px;
}
.quick-actions_homepage .quick-actions .span3{ width:30%;}
.quick-actions li, .quick-actions-horizontal li {
padding: 0;
}
.stats-plain li {
padding: 0 30px;
display: inline-block;
margin: 0 10px 20px;
}
.quick-actions li a {
padding:30px 30px;
}
.stats-plain li h4 {
font-size: 40px;
margin-bottom: 15px;
}
.stats-plain li span {
font-size: 14px;
color: #fff;
}
.quick-actions-horizontal li a span {
padding: 10px 12px 10px 10px;
display: inline-block;
}
.quick-actions li a, .quick-actions-horizontal li a {
display: block;
color: #fff; font-size:14px;
font-weight:lighter;
}
.quick-actions li a i[class^="icon-"], .quick-actions li a i[class*=" icon-"] {
font-size:30px;
display: block;
margin: 0 auto 5px;
}
.quick-actions-horizontal li a i[class^="icon-"], .quick-actions-horizontal li a i[class*=" icon-"] {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center;
background-color: transparent;
width: 16px;
height: 16px;
display: inline-block;
margin: -2px 0 0 !important;
border-right: 1px solid #dddddd;
margin-right: 10px;
padding: 10px;
vertical-align: middle;
}
.quick-actions li:active, .quick-actions-horizontal li:active {
background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}
.stat-boxes .left, .stat-boxes .right {
text-shadow: 0 1px 0 #fff;
float: left;
}
.stat-boxes .left {
border-right: 1px solid #DCDCDC;
box-shadow: 1px 0 0 0 #FFFFFF;
font-size: 10px;
font-weight: bold;
margin-right: 10px;
padding: 10px 14px 6px 4px;
}
.stat-boxes .right {
color: #666666;
font-size: 12px;
padding: 9px 10px 7px 0;
text-align: center;
min-width: 70px;
}
.stat-boxes .left span, .stat-boxes .right strong {
display: block;
}
.stat-boxes .right strong {
font-size: 26px;
margin-bottom: 3px;
margin-top: 6px;
}
.stat-boxes .peity_bar_good, .stat-boxes .peity_line_good, {
color: #459D1C;
}
.stat-boxes .peity_bar_neutral, .stat-boxes .peity_line_neutral {
color: #757575;
}
.stat-boxes .peity_bar_bad, .stat-boxes .peity_line_bad {
color: #BA1E20;
}
.stats-plain {
}
.site-stats {
margin: 0;
padding: 0; text-align:center;
list-style: none;
}
.site-stats li {
cursor: pointer; display:inline-block;
margin: 0 5px 10px; text-align:center; width:42%;
padding:10px 0; color:#fff;
position: relative;
}
.site-stats li i{ font-size:24px; clear:both}
.site-stats li:hover { background:#2E363F;
}
.site-stats li i {
vertical-align: baseline;
}
.site-stats li strong {
font-weight: bold;
font-size: 20px; width:100%; float:left;
margin-left:0px;
}
.site-stats li small {
margin-left:0px;
font-size: 11px;
width:100%; float:left;
}
/* Charts & graphs **/
.chart, .pie, .bars, #donut, #interactive, #placeholder, #placeholder2 {
height: 300px;
max-width: 100%;
}
#choices{ border-top:1px solid #dcdcdc; margin:10px 0; padding:10px;}
#choices br{ display:none;}
#choices input{ margin:-5px 5px 0 0;}
#choices label{ display:inline-block; padding-right:20px; }
#tooltip {
position: absolute;
display:none;
border: none;
padding: 3px 8px;
border-radius: 3px;
font-size: 10px;
background-color: #222222;
color: #ffffff;
z-index: 25;
}
/* Widgets */
.widget-box {
background: none repeat scroll 0 0 #F9F9F9;
border-left: 1px solid #CDCDCD;
border-top: 1px solid #CDCDCD;
border-right: 1px solid #CDCDCD;
clear: both;
margin-top: 16px;
margin-bottom: 16px;
position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
overflow:hidden !important;
}
.accordion .widget-box {
margin-top: -2px;
margin-bottom: 0;
border-radius: 0;
}
.widget-box.widget-plain {
background: transparent;
border: none;
margin-top: 0;
margin-bottom: 0;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
background:#efefef;
border-bottom: 1px solid #CDCDCD;
height: 36px;
}
.widget-title .nav-tabs {
border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
border-bottom: medium none !important;
border-left: 1px solid #DDDDDD;
border-radius: 0 0 0 0;
border-right: 1px solid #DDDDDD;
border-top: medium none;
color: #999999;
margin: 0;
outline: medium none;
padding: 9px 10px 8px;
font-weight: bold;
text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
background-color: transparent !important;
border-color: #D6D6D6;
border-width: 0 1px;
color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
background-color: #F9F9F9 !important;
color: #444444;
}
.widget-title span.icon {
padding: 9px 10px 7px 11px;
float: left; border-right:1px solid #dadada;
}
.widget-title h5 {
color: #666;
float: left;
font-size: 12px;
font-weight: bold;
padding: 12px;
line-height: 12px;
margin: 0;
}
.widget-title .buttons {
float: right;
margin: 8px 10px 0 0;
}
.widget-title .label {
padding: 3px 5px 2px;
float: right;
margin: 9px 11px 0 0;
box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
margin-right: 190px;
}
.widget-content {
padding:15px;
border-bottom: 1px solid #cdcdcd;
}
.widget-box.widget-plain .widget-content {
padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
border-bottom: 1px solid #CDCDCD;
}
.recent-posts, .recent-comments, .recent-users {
margin: 0;
padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
border-bottom: 1px dotted #AEBDC8;
list-style: none outside none;
padding: 10px;
}
.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall {
padding: 0;
}
.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a {
padding: 5px;
text-align: center;
display: block;
color: #888888;
}
.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover, .recent-users li.viewall a:hover {
background-color: #eeeeee;
}
.recent-posts li:last-child, .recent-comments li:last-child, .recent-users li:last-child {
border-bottom: none !important;
}
.user-thumb {
background: none repeat scroll 0 0 #FFFFFF;
float: left;
height: 40px;
margin-right: 10px;
margin-top: 5px;
padding: 2px;
width: 40px;
}
.user-info {
color: #666666;
font-size: 11px;
}
.invoice-content {
padding: 20px;
}
.invoice-action {
margin-bottom: 30px;
}
.invoice-head {
clear: both;
margin-bottom: 40px;
overflow: hidden;
width: auto;
}
.invoice-meta {
font-size: 18px;
margin-bottom: 40px;
}
.invoice-date {
float: right;
font-size: 80%;
}
.invoice-content h5 {
color: #333333;
font-size: 16px;
font-weight: normal;
margin-bottom: 10px;
}
.invoice-content ul {
list-style: none;
margin: 0;
padding: 0;
}
.invoice-to {
float: left;
width: 370px;
}
.invoice-from {
float: right;
width: 300px;
}
.invoice-to li, .invoice-from li {
clear: left;
}
.invoice-to li span, .invoice-from li span {
display: block;
}
.invoice-content th.total-label {
text-align: right;
}
.invoice-content th.total-amount {
text-align: left;
}
.amount-word {
color: #666666;
margin-bottom: 40px;
margin-top: 40px;
}
.amount-word span {
color: #5476A6;
font-weight: bold;
padding-left: 20px;
}
.panel-left {
margin-top:103px;
}
.panel-left2 {
margin-left:176px;
}
.panel-right {
width: 100%;
background-color: #fff;
border-bottom: 1px solid #dddddd;
position: absolute;
right: 0;
overflow:auto;
top:38px;
height:76px;
}
.panel-right2 {
width: 100%;
background-color: #fff;
border-right: 1px solid #dddddd;
position: absolute;
left: 0;
overflow:auto;
top:0px;
height:94%;
width:175px;
}
.panel-right .panel-title, .panel-right2 .panel-title {
width: 100%;
background-color: #ececec;
border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5, .panel-right2 .panel-title h5 {
font-size: 12px;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
padding: 6px 10px 5px;
margin: 0;
}
.panel-right .panel-content {
padding: 10px;
}
.chat-content {
height: 470px;
padding: 15px;
}
.chat-messages {
height: 420px;
overflow: auto;
position: relative;
}
.chat-message {
padding: 7px 15px;
margin: 7px 0 0;
}
.chat-message input[type=text] {
margin-bottom: 0 !important;
width: 100%;
}
.chat-message .input-box {
display: block;
margin-right: 90px;
}
.chat-message button {
float: right;
}
#chat-messages-inner p {
padding:0px;
margin: 10px 0 0 0;
}
#chat-messages-inner p img {
display: inline-block;
float: left;
vertical-align: middle;
width: 28px;
height: 28px;
margin-top:-1px;
margin-right:10px;
}
#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #cccccc;
box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
display: block;
margin-left:0px;
padding: 10px;
position: relative;
}
#chat-messages-inner p.offline span {
background: none repeat scroll 0 0 #FFF5F5;
}
#chat-messages-inner .time {
color: #999999;
font-size: 11px;
float:right;
}
#chat-messages-inner .msg {
display: block;
margin-top: 13px;
border-top:1px solid #dadada;
}
#chat-messages-inner .msg-block:before {
border-right: 7px solid rgba(0,0,0,0.1);
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
content: "";
display:none;
left: -7px;
position: absolute;
top: 11px;
}
#chat-messages-inner .msg-block:after {
border-right: 6px solid #ffffff;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
content: "";
display: none;
left: -6px;
position: absolute;
top: 12px;
}
.chat-users {
padding: 0 0 30px;
}
.chat-users .contact-list {
line-height: 21px;
list-style: none outside none;
margin: 0;
padding: 0;
font-size: 10px;
}
.chat-users .contact-list li {
border: 1px solid #DADADA;
margin:5px 5px;
padding: 1px;
position: relative;
}
.chat-users .contact-list li:hover {
background-color: #efefef;
}
.chat-users .contact-list li a {
color: #666666;
display: block;
padding: 8px 5px;
}
.chat-users .contact-list li.online a {
font-weight: bold;
}
.chat-users .contact-list li.new {
background-color: #eaeaea;
}
.chat-users .contact-list li.offline {
background-color: #EDE0E0;
}
.chat-users .contact-list li a img {
display: inline-block;
margin-right: 10px;
vertical-align: middle;
width: 28px;
height: 28px;
}
.chat-users .contact-list li .msg-count {
padding: 3px 5px;
position: absolute;
right: 10px;
top: 12px;
}
.taskDesc i {
margin: 1px 5px 0;
}
.taskStatus, .taskOptions {
text-align: center !important;
}
.taskStatus .in-progress {
color: #64909E;
}
.taskStatus .pending {
color: #AC6363;
}
.taskStatus .done {
color: #75B468;
}
.activity-list {
list-style: none outside none;
margin: 0;
}
.activity-list li {
border-bottom: 1px solid #EEEEEE;
display: block;
}
.activity-list li:last-child {
border-bottom: medium none;
}
.activity-list li a {
display: block;
padding: 7px 10px;
}
.activity-list li a:hover {
background-color: #FBFBFB;
}
.activity-list li a span {
color: #AAAAAA;
font-size: 11px;
font-style: italic;
}
.activity-list li a i {
margin-right: 10px;
opacity: 0.6;
vertical-align: middle;
}
.new-update {
border-top: 1px solid #DDDDDD;
padding: 10px 12px;
}
.new-update:first-child {
border-top: medium none;
}
.new-update span {
display:block;
}
.new-update i {
float: left;
margin-top: 3px;
margin-right: 13px;
}
.new-update .update-date {
color: #BBBBBB;
float: right;
margin: 4px -2px 0 0;
text-align: center;
width: 30px;
}
.new-update .update-date .update-day {
display: block;
font-size: 20px;
font-weight: bold;
margin-bottom: -4px;
}
.update-done, .update-alert, .update-notice {
display: block;
float: left;
max-width: 76%;
}
/* Tables */
tr:hover{ background:#f6f6f6;}
span.icon .checker {
margin-top: -5px;
margin-right: 0;
}
.dataTables_length {
color: #878787;
margin: 7px 5px 0;
position: relative;
left:5px; width:50%;
top: -2px;
}
.dataTables_length div {
vertical-align: middle;
}
.dataTables_paginate {
line-height: 16px;
text-align: right;
margin-top: 5px;
margin-right: 10px;
}
.dataTables_paginate {
	line-height:16px;
	text-align:right;
	margin-top:5px;
	margin-right:0px;
	}
.dataTables_paginate .ui-button, .pagination.alternate li a {
font-size: 12px;
padding: 4px 10px !important;
border-style: solid;
border-width: 1px;
border-color: #dddddd #dddddd #cccccc; /* for IE < 9 */
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
display: inline-block;
line-height: 16px;
background: #f5f5f5;
color: #333333;
text-shadow: 0 1px 0 #ffffff;
}
.dataTables_paginate .ui-button:hover, .pagination.alternate li a:hover {
background: #e8e8e8;
color: #222222;
text-shadow: 0 1px 0 #ffffff;
cursor: pointer;
}
.dataTables_paginate .first {
border-radius: 4px 0 0 4px;
}
.dataTables_paginate .last {
border-radius: 0 4px 4px 0;
}
.dataTables_paginate .ui-state-disabled, .fc-state-disabled, .pagination.alternate li.disabled a {
color: #AAAAAA !important;
}
.dataTables_paginate .ui-state-disabled:hover, .fc-state-disabled:hover, .pagination.alternate li.disabled a:hover {
background: #f5f5f5;
cursor: default !important;
}
.dataTables_paginate span .ui-state-disabled, .pagination.alternate li.active a {
background: #41BEDD !important;
color: #ffffff !important;
cursor: default !important;
}
div.dataTables_wrapper .ui-widget-header {
border-right: medium none;
border-top: 1px solid #D5D5D5;
font-weight: normal;
margin-top: -1px;
}
.dataTables_wrapper .ui-toolbar {
padding: 5px;
}
.dataTables_filter {
color: #878787;
font-size: 11px;
right: 0; top:37px;
margin: 4px 8px 2px 10px;
/*position: relative;*/
text-align: left;
}
.dataTables_filter input {
margin-bottom: 0;
margin-left: 15px;
}
.table th {
height:auto;
font-size:14px;
padding:5px 10px 2px;
border-bottom:0;
text-align:center;
color:#666666;
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
width: 10px;
}
.table.with-check tr th:first-child i {
margin-top: -2px;
opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
margin-right: 0;
}
.table tr.checked td {
background-color: #FFFFE3 !important;
}
/* Misc */
.nopadding {
padding: 0 !important;
}
.nopadding .table {
margin-bottom: 0;
}
.nopadding .table-bordered {
border: 0;
}
.thumbnails {
margin-left: -2.12766% !important;
}
.thumbnails [class*="span"] {
margin-left: 2.12766% !important;
position: relative;
}
.thumbnails .actions {
width: auto;
height: 16px;
background-color:#000;
padding: 4px 8px 8px 8px;
position: absolute;
bottom:0%;
left:50%;
margin-top: -13px;
margin-left: -24px;
opacity: 0; top:10%; transition:1s ease-out;
-moz-transition: opacity 0.3s ease-in-out;
}
.thumbnails li:hover .actions,.thumbnails li:hover .actions a:hover{
opacity: 1; color:#fff; top:50%; transition:1s ease-out;
}
.line {
background: url("../img/line.png") repeat-x scroll 0 0 transparent;
display: block;
height: 8px;
}
.modal {
z-index: 99999 !important;
}
.modal-backdrop {
z-index: 999 !important;
}
.modal-header {
height: auto;
padding: 8px 15px 5px;
}
.modal-header h3 {
font-size: 12px;
text-shadow: 0 1px 0 #ffffff;
}
.notify-ui ul {
list-style: none;
margin: 0;
padding: 0;
}
.notify-ui li {
background: #eeeeee;
margin-bottom: 5px;
padding: 5px 10px;
text-align: center;
border: 1px solid #dddddd;
}
.notify-ui li:hover {
cursor: pointer;
color: #777777;
}
/* Forms */
form {
margin-bottom: 0;
}
.form-horizontal .control-group {
border-top: 1px solid #ffffff;
border-bottom: 1px solid #eeeeee;
margin-bottom: 0;
}
.form-horizontal .control-group:last-child {
border-bottom: 0;
}
.form-horizontal .control-label {
padding-top: 6px;
}
.form-horizontal .controls {
margin-left: 200px;
padding: 10px 0;
}
.form-horizontal input[type=text], .form-horizontal input[type=password], .form-horizontal textarea {
}
.row-fluid .span20 {
width:97.8%
}
.form-horizontal .form-actions {
margin-top: 0;
margin-bottom: 0;
}
.help-block, .help-inline {
color: #999999;
}
/***********light-box***************/
#lightbox {
position:fixed; /* keeps the lightbox window in the current viewport */
top:0;
left:0;
width:100%;
height:100%;
background:url(overlay.png) repeat #000;
text-align:center;
z-index:9999;
}
#lightbox p {
position:absolute;
top:10px;
right:10px;
width:22px;
height:22px;
cursor:pointer;
z-index:22;
border:1px solid #fff;
border-radius:100%;
padding:2px;
text-align:center;
transition:0.5s;
}
#lightbox p:hover {
transform:rotate(180deg)
}
#imgbox {
position:absolute; /* keeps the lightbox window in the current viewport */
left:0;
top:0px;
width:100%;
height:100%;
background:url(overlay.png) repeat #000;
text-align:center;
z-index:21;
}
#imgbox img {
margin-top:100px;
border:10px solid #fff;
}
/***********Error Page******************/
.error_ex{ text-align:center;}
.error_ex h1{ font-size:140px; font-weight:bold; padding:50px 0; color:#28B779}
#sidebar  .content {
padding:10px;
position: relative; color:#939DA8;
}
#sidebar .percent {
font-weight: 700;
position: absolute;
right: 10px;
top:25px;
}
#sidebar .progress {
margin-bottom: 2px;
margin-top: 2px;
width: 70%;
}
#sidebar .progress-mini {
height: 6px;
}
#sidebar .stat {
font-size: 11px;
}
/***********light-box-end***************/
.btn-icon-pg ul {
margin:0px;
padding:0px;
}
.btn-icon-pg ul li {
margin:5px;
padding:5px;
list-style:none;
display:inline-block;
border:1px solid #dadada;
min-width:187px;
cursor:pointer
}
.btn-icon-pg ul li:hover i {
transition:0.3s;
-moz-transition:0.3s;
-webkit-transition:0.3s;
-o-transition:0.3s;
margin-left:8px;
}
.accordion {
margin-top:16px;
}
.fix_hgt {
height:115px;
overflow-x:auto;
}
.input-append .add-on:last-child, .input-append .btn:last-child {
border-radius:0px;
padding:6px 5px 2px;
}
.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
width:none;
}
.input-append input, .input-append select, .input-prepend span, .input-prepend input {
border-radius:0px!important;
}
/***********pop-over********************/
.bs-docs-tooltip-examples {
list-style: none outside none;
margin: 0 0 10px;
position:relative;
text-align: center;
}
.bs-docs-tooltip-examples li {
display: inline;
padding: 0 10px;
list-style:none;
position:relative;
}
/* Responsive design */
@media (max-width: 480px) {
#header h1 {
top: 10px; left:5px;
margin: 3px auto;
}
#user-nav {
position: relative;
left: auto;
right: auto;
width: 100%;
margin-top: -31px;
border-top:1px solid #363E48;
margin-bottom: 0px;
background:#2E363F;
float:right;
}
.navbar > .nav {
float: none;
}
#my_menu {
display:none;
}
#my_menu_input {
display:block;
}
#user-nav > ul {
right: 0px;
margin-left:20%!important;
margin-top:0px;
width:100%;
background:#000;
position: relative;
}
#user-nav > ul > li {
padding:0px 0px;
}
#user-nav > ul > li > a {
padding:5px 10px;
}
#sidebar .content{ display:none;}
#content {
margin-left: 0 !important;
border-top-left-radius: 0;
margin-top:0px;
}
#content-header {
margin-top: 0;
text-align: center;
}
#content-header h1, #content-header .btn-group {
float: none;
}
#content-header h1 {
display: block;
text-align: center;
margin-left: auto;
margin-top: 0;
padding-top: 15px;
width: 100%;
}
#content-header .btn-group {
margin-top: 70px;
margin-bottom: 0;
margin-right: 0;
left: 30%;
}
#sidebar {
float: none;
width: 100% !important;
display:block;
position:relative;
top:0px;
}
#sidebar > ul {
margin:0px;
padding:0px;
width:100%;
display:block;
z-index:999;
position:relative
}
#sidebar > ul > li {
list-style-type:none;
display:block;
border-top:1px solid #41BEDD;
float:none !important;
margin:0px;
position:relative;
padding:2px 10px;
cursor:pointer
}
#sidebar > ul > li:hover ul {
display:none;
}
#sidebar > ul > li:hover {
background-color:#27a9e3;
}
#sidebar > ul > li:hover a {
background:none;
}
#sidebar > ul li ul {
margin:0px;
padding:0px;
top:35px; left:0px;
z-index:999;
display:none;
position:absolute;
width:100%;
min-width:100%;
border-radius:none;
}
#sidebar > ul li ul li {
list-style-type:none;
margin:0px;
font-size:12px;
line-height:30px;
}
#sidebar > ul li ul li a {
display:block;
padding:5px 10px;
color:#fff;
text-decoration:none;
font-weight:bold;
}
#sidebar > ul li ul li:hover a {
border-radius:0px;
}
#sidebar > ul li span {
cursor:pointer;
margin:0px 2px 0 5px;
font-weight:bold;
color:#fff;
font-size:12px;
}
#sidebar > ul li a i {
background-image: url("../img/glyphicons-halflings-white.png");
margin-top:4px;
vertical-align: top;
}
#sidebar > a {
padding: 9px 20px 9px 15px;
display: block !important;
color: #eeeeee;
float:none !important;
font-size:12px;
font-weight:bold
}
#sidebar > ul > li > a {
padding:5px;
display:block;
color: #AAAAAA;
}
.widget-title .buttons > .btn {
width: 11px;
white-space: nowrap;
overflow: hidden;
}
.form-horizontal .control-label {
padding-left: 30px;
}
.form-horizontal .controls {
margin-left: 0;
padding: 10px 30px;
}
.form-actions {
text-align: center;
}
.panel-right2 {
width: 100%;
background-color: #fff;
border-right: 1px solid #dddddd;
position: relative;
left: 0;
overflow:auto;
top:0px;
height:87%;
width:100%;
}
.panel-left2 {
margin-left:0px;
}
.dataTables_paginate .ui-button, .pagination.alternate li a {
padding:4px 4px!important;
}
.table th {
padding: 5px 4px 2px;
}
}
@media (min-width: 481px) and (max-width: 970px) {
body {
background:#49CCED
}
#header h1 {
top:10px; left:35px;
}
#search {
top:5px
}
#my_menu {
display:none;
}
#my_menu_input {
display:block;
}
#content {
margin-top:0px;
}
#sidebar > ul > li {
float:none;
}
#sidebar>ul>li.submenu:hover>ul {
display:block;
}
#sidebar>ul>li.submenu li.submenu:hover>ul {
display:block;
}
#sidebar, #sidebar > ul {
width: 43px;
display: block;
position: absolute;
height:100%;
z-index:1;
}
#sidebar > ul ul {
display: none;
position: absolute;
left:43px;
top: 0;
min-width: 150px;
list-style: none;
}
#sidebar > ul ul li a {
white-space: nowrap;
padding: 10px 25px;
}
#sidebar > ul ul:before {
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
content: "";
display: inline-block;
left: -6px;
position: absolute;
top: 11px;
}
#sidebar > ul ul:after {
content: "";
display: inline-block;
left: -5px;
position: absolute;
top: 12px;
}
#sidebar > a {
display: none !important;
}
#sidebar > ul > li.open.submenu > a {
border-bottom: none !important;
}
#sidebar > ul > li > a > span {
display: none;
}
#content {
margin-left: 43px;
}
#sidebar .content{ display:none;}
}
@media (max-width: 600px) {
.widget-title .buttons {
float: left;
}
.panel-left {
margin-right: 0;
}
.panel-right {
border-top: 1px solid #DDDDDD;
border-left: none;
position: relative;
top: auto;
right: auto;
height: auto;
width: auto;
}
#sidebar .content{ display:none;}
}
@media (max-width: 767px) {
body {
padding: 0 !important;
}
.container-fluid {
padding-left: 20px;
padding-right: 20px;
}
#search {
display: none;
}
#user-nav > ul > li > a > span.text {
display: none;
}
#sidebar .content{ display:none;}
}
@media (min-width: 768px) and (max-width: 979px) {
[class*="span"], .row-fluid [class*="span"] {
display: block;
float: none;
margin-left: 0;
width: auto;
}
}
@media screen and (max-width: 979px) {
div.dataTables_wrapper .ui-widget-header {
height: 68px;
}
.dataTables_filter{ position:relative; top:0px;}
.dataTables_length{ width:100%; text-align:center;}
.dataTables_filter, .dataTables_paginate {
text-align: center;
}
#sidebar .content{ display:none;}
}
.dataTable th {
text-align:  left;
}
.dataTable td {
vertical-align: middle !important;
}
.user-list td {
width: 0% !important;
vertical-align: middle !important;
}
button.sts-btn {
background: #e49434;
border: none;
color:  #fff;
padding: 5px 10px;
border-radius: 4px;
}
.my-sts-table .pagination>li>a,
.my-sts-table .pagination>li>span {
color: #269ce7;
}
.my-sts-table .pagination>.active>a,
.my-sts-table .pagination>.active>span,
.my-sts-table .pagination>.active>a:hover,
.my-sts-table .pagination>.active>span:hover,
.my-sts-table .pagination>.active>a:focus,
.my-sts-table .pagination>.active>span:focus {
background-color: #269ce7;
border-color: #269ce7;
color: #fff;
}
h4.hed_form {
padding:  15px 0;
border-bottom: 1px solid #cccccc8c;
margin: 0 0 25px 0;
}
.card {
margin-bottom: 30px;
border: none;
box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
background-color: #fff;
border-radius: .25rem;
}
.social-profile {
margin: 0px 15px;
padding-top: 15px;
}
.social-profile img {
width: 100%;
}
.card-block {
padding: 15px;
}
.card-block h4 {
color:#1e242b;
font-weight: 400;
margin-top: 0px;
text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-block h5 {
font-weight: 400;
margin-top: 0px;
}
.card-block p {
font-size: 13px;
}
ul.list_prof {
list-style: none;
margin: 10px 0px;
padding: 0px;
}
ul.list_prof li {
margin-bottom: 5px;
}
ul.list_prof li .fa {
margin-right: 5px;
}
.faq-profBtn {
background: #e89d1f;
color: #fff !important;
padding: 5px 20px;
display: inline-block;
border-radius: 2px;
border: none;
}
.general-info {
margin-bottom: 30px;
border: none;
box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
background-color: #fff;
border-radius: .25rem;
display: inline-block;
width: 100%;
padding-bottom: 30px;
}
.card-header {
padding: 20px;
background:#f5f5f5;
color: #757575;
border-radius: .25rem .25rem 0 0;
border-bottom: 1px solid #f3f3f3;
margin-bottom: 15px;
}
.card-header h5 {
color: #636363;
font-size: 16px;
margin: 0px;
}
.f_name {
	padding: 7px 5px !important;
	color: #636363;
	font-weight:600;
}
.f_nameOne {
padding: 7px 5px !important;
color: #636363;
}
/* 14 feb */
input.btn.btn-default.up_but {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 0px;
background-color: #269ce7;
color: #fff;
}
.col-sm-offset-4.col-sm-8 a {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
background-color: #3d6745;
color: #fff;
}
button.chnge-mail.btn.btn-default.upps {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 0px;
background-color: #269ce7;
color: #fff;
}
#updatepassword .col-sm-4 a {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 0px;
background-color: #269ce7;
color: #fff;
}
.social-profile img.img-fluid {
width: 100%;
max-height: 250px;
}
.f_name a {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
background-color: #3d6745;
color: #fff;
margin-left: 1px;
}
.social-profile.thumb_img img {
width: 100%;
}
.form-group.box_txtAre input.uplimg {
width: 50%;
float: left;
}
.social-profile.thumb_img {
width: 30%;
float: right;
padding: 0;
}
span.male_se input[type="radio"]{
margin-right: 8px;
}
span.female_se input[type="radio"]{
margin-right: 8px;
}
span.male_se {
margin-right: 8px;
}
/* 15 feb */
.form-group.change_pass .col-sm-offset-4.col-sm-2 {
padding-left: 7px;
}
.admin_log_sec span.help-block {
color: #ca2727;
}
td.act_s_cont {
width: 104px;
}
#update_Profile a {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border: 1px solid transparent;
border-radius: 4px;
background-color: #3d6745;
color: #fff;
}
.cust_com_but a.btn.btn-md {
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
background-color: #3d6745;
color: #fff;
}
.cust_com_but a.btn.btn-md:hover {
color: #fff;
text-decoration: none;
}
.cust_com_but button.btn.btn-success.btn-md {
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
background-color: #3d6745;
color: #fff;
}
.cust_com_but button.btn.btn-success.btn-md:hover {
color: #fff;
text-decoration: none;

}
.Schedule_main_one span.help-block {
color: red;
}
.Schedule_main_one label.error {
color: red;
font-weight: 400;
padding-top: 4px;
letter-spacing: 0.2px;
}
.link-del-view {
width: auto;
}
@media (min-width:1020px) and (max-width:1300px) {
.change_pass .col-sm-offset-4.col-sm-3 {
width: 30%;
}

button.chnge-mail.btn.btn-default.upps
{
padding: 6px 8px;
font-size: 12px;
}
#updatepassword .col-sm-4 a
{
padding: 6px 8px;
font-size: 12px;
}

}
/* Permision Modual */
.permisn-section {
float: left;
width: 100%;
padding: 15px;
margin: 30px 0px;
background-color: #fff;
border: 1px solid #ddd;
}
.permisn-section .form-group .col-md-12 {
padding: 0;
text-align: left;
}
/* Custom Checkbox and Radio Buttons */
.animated-checkbox input[type="checkbox"] {
display: none;
}
.animated-checkbox input[type="checkbox"] + .label-text {
cursor: pointer !important;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-weight: 500;
}
.animated-checkbox input[type="checkbox"] + .label-text:before {
content: "\f096";
font-family: "FontAwesome";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
font-size: 18px;
-webkit-font-smoothing: antialiased;
width: 1em;
display: inline-block;
margin-right: 2px;
vertical-align: -2px;
}
.animated-checkbox input[type="checkbox"]:checked + .label-text:before {
content: "\f14a";
color: #3d6745;
-webkit-animation: tick 180ms ease-in;
animation: tick 180ms ease-in;
}
.animated-checkbox input[type="checkbox"]:disabled + .label-text {
cursor: not-allowed !important;
}
.animated-checkbox input[type="checkbox"]:disabled + .label-text:before {
content: "\f0c8";
color: #ccc;
}
.animated-radio-button input[type="radio"] {
display: none;
}
.animated-radio-button input[type="radio"] + .label-text {
cursor: pointer !important;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.animated-radio-button input[type="radio"] + .label-text:before {
content: "\f1db";
font-family: "FontAwesome";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
font-size: 18px;
-webkit-font-smoothing: antialiased;
width: 1em;
display: inline-block;
margin-right: 2px;
vertical-align: -2px;
}
.animated-radio-button input[type="radio"]:checked + .label-text:before {
content: "\f192";
color: #3d6745;
-webkit-animation: tick 180ms ease-in;
animation: tick 180ms ease-in;
}
.animated-radio-button input[type="radio"]:disabled + .label-text {
cursor: not-allowed !important;
}
.animated-radio-button input[type="radio"]:disabled + .label-text:before {
content: "\f111";
color: #ccc;
}
.prmsn-box {
float: left;
width: 100%;
padding: 10px;
border: 1px solid #cccccc;
}
.prmsn-box .animated-checkbox:first-child {
border-bottom: 1px solid #Ddd;
margin-bottom: 8px;
}
.prmsn-box .animated-checkbox label {
margin-right: 10px;
}
.permisn-section .form-group {
margin-bottom: 15px;
float: left;
width: 100%;
margin-left: 0;
}
.permisn-section  label.control-label {
font-weight: 600;
text-transform: uppercase;
font-size: 14px;
}
.permisn-section .form-group select.form-control {
border-radius: 0px;
}
.prmsn-box .animated-checkbox:first-child label span.label-text {
font-weight: 600;
font-size: 14px;
}
select.form-control {
border-radius: 0;
box-shadow: none;
}

@media screen and (min-width: 971px) {
	li.submenu.open > ul {
		display:block !important;
	}
}

li.paginate_button.active a, li.paginate_button.active a:focus {
background: #269ce7;
border-color: #269ce7;
}
.pagination>li>a, .pagination>li>span,
li.paginate_button a:focus,
li.paginate_button a, {
border: 1px solid #19b06b;
color: #19b06b;
background: transparent;
}
div.dataTables_info {
padding:0px 15px 0px 0px;
color: #269ce7;
font-size: 14px;
font-weight: 600;
}
.pagination {
margin: -5px 0px 0px;
}
form#updateArticals img {
width: 100%;
}
.btn-success
{
background-color: #048047;
border-color: #048047;
}
@media screen and (max-width: 1199px) {
div#userTable_wrapper,
div#roleTable_wrapper,
div#sampleTable_wrapper {
overflow-x: auto;
}
}
@media screen and (max-width: 970px) {
li.submenu {
text-align:  center;
}
li.submenu ul li a {
text-align:  left !important;
padding:  10px !important;
}
li.submenu .fa {
font-size:  15px;
color: #fff;
opacity: 1 !important;
}
li.submenu ul li a i.fa {
font-size:  12px;
margin-right: 4px;
}
#sidebar ul li a {
text-align: center;
}
#sidebar ul li a .fa-dashboard {
font-size:  16px;
color:  #fff !important;
opacity:  1;
}
li.submenu li.submenu {
position: relative;
}
li.submenu li.submenu ul {
left: 150px !important;
top: 0;
}
div#content {
padding: 40px 0 0  0;
}
}
@media screen and (max-width: 767px) {
.change_pass div {
display:  inline-block;
float:  none;
}
}
/* 17 march */
.Schedule_main_one .col-sm-offset-2.col-sm-10 {
margin-top: 10px;
}
@media(min-width:500px) and (max-width:767px)
{
.col-md-3 .social-profile {
width: 46%;
float: left;
}
.col-md-3 .card-block {
width: 44%;
float: left;
}
.col-md-3 .card.faq-left {
float: left;
}
}
@media(min-width:768px) and (max-width:955px)
{
.col-md-3 .social-profile {
width: 36%;
float: left;
}
.col-md-3 .card-block {
width: 54%;
float: left;
}
.col-md-3 .card.faq-left {
float: left;
}
}
#sidebar::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
#sidebar::-webkit-scrollbar {
width: 5px;
background-color: #1e242b;
}
#sidebar::-webkit-scrollbar-thumb {
background-color: #a5a5a5bd;
}
#sidebar > ul > li:last-child {
margin-bottom:37px;
}
#orderTable_wrapper .dataTables_length {
width:100% !important;
margin:0px 0px 10px;
margin-top:5px;
}
#orderTable_wrapper label {
width:100% !important;
font-weight:500;
font-size:13px;
}
#orderTable_wrapper .dataTables_length label select {
max-width: 290px !important;
width: 100%;
height: 35px;
}
#orderTable_wrapper #orderTable_filter input {
max-width:265px;
height:35px;
width:100%;
}
#orderTable_wrapper #orderTable_filter {
padding:0px !important;
margin:0px;
margin-top:5px;
}
table.dataTable thead tr th:last-child {
min-width: 118px;
}
form#AddService .form-group .col-md-10 label.error {
bottom: -22px;
}
table#sampleTable.dataTable img {
max-width: 50px;
}
form#AddUsers span.multiselect-native-select .btn-group button.multiselect.dropdown-toggle.btn.btn-default {
	min-width: 180px;
	}
form#AddCategory span.multiselect-native-select .btn-group button.multiselect.dropdown-toggle.btn.btn-default {
	min-width: 180px;
	}
.f_nameOnef {
    padding: 7px 36px !important;
    color: #636363;
	}
.f_nameOne {
    word-break:break-all !important;	
	}




	/* 17 june  */

.f_nameOne button.btn.ybt.btn-xs {
    width: 130px;
    padding: 10px;
    font-size: 15px;
}

.f_nameOne button.btn.xbt.btn-xs {
    width: 130px;
    padding: 10px;
    font-size: 15px;
}


button.btn-info.activation_cls {
    width: 130px;
    padding: 10px;
    font-size: 15px;
    border: 0;
    margin-left: 10px;
}

table.ver_full_tab {
    width: 100%;
}

th.status_sss {
    padding: 10px;
}

th.action_sss {
    padding: 10px;
}