.btn.btn-primary,.back_reminder a {
    margin: 30px 0 !important;
    padding: 10px 28px !important;
    max-width: 126px !important;
    width: 100% !important;
    border-radius: 50px !important;
  }
  
  .delete-email i {
    font-size: 20px !important;
}

.rem_add a {
    float: none;
}
.text_heading {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
  .photo-listMain {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  }

  table#sampleTable th {
    color: #000;
    text-align: left;
}
.delete-email {
    float: right;
    padding-left: 10px;
}
.photo-listMain {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  }

  .main_section h1 {
    color: #000;
    padding-top: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 27px;
  }

  .addNote a,
  .btn.btn-primary {
    margin: 30px 0 !important;
    padding: 10px 28px !important;
    max-width: 126px !important;
    width: 100% !important;
    border-radius: 50px !important;
  }

  

  input#from_caregiver {
    float: left;
    width: 100%;
    padding: 9px;
    border: 1px solid #ddd;
  }
  .rem_add a {
    display: inline-block;
    margin: 0 auto;
    float: none;
}

.rem_add {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


tbody tr th,tbody tr td {
    color: #000;
    font-family: Nunito, sans-serif;
    font-weight: normal;
}
form#reminder .error {
    color: #ff0000;
    margin-top: 8px;
}
td.act {
    text-align: left !important;
}
.tab_medi td a.edit_btn {
    background: #1f569e;
    color: #fff;
    padding: 10px 17px;
    max-width: 139px;
    width: 100%;
    border-radius: 41px;
}
  form#detail_acknowledge {
    background: #fff;
    padding: 20px;
  }
  .delete-email {
        float: right;
        padding-left: 10px;
    }
  .bx_med {
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
  }
  .alert-success {
    margin-top: 17px;
}
  form#add_note label {
    color: #000;
    font-size: 17px;
    margin-bottom: 5px;
    padding-bottom: 6px;
  }

  section.content.photo-list {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }