/******Note****/


.addNote a,
input.btn.btn-primary {
    margin: 30px 0 !important;
    padding: 10px 28px !important;
    max-width: 126px !important;
    width: 100% !important;
    border-radius: 50px !important;
}
.logo img {
    width: 106px;
    height: auto;
}
.logo {
    padding-top: 9px;
}
.label_heading:checked ~ .checkmark:after {
    display: block;
}

.label_heading .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.label_heading input:checked ~ .checkmark:after {
    display: block;
}

.label_heading .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.label_heading input:checked ~ .checkmark {
    background-color: #2efa00;
}
.label_heading {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 17px 0;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Nunito' , sans-serif;
    font-size: 16px;
    font-weight: 0;
}
.label_heading:hover input ~ .checkmark {
    background-color: #e7e7e7;
}
.label_heading input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.second_card_row .col-lg-4 {
    padding-left: 0;
    padding: 20px;
    box-sizing: border-box;
    width: 31%;
    margin-right: 40px;
    background: #fff;
}
.remove_padding {
    padding: 0;
}
.remove_padding .card.alert {
    margin-top: 62px;
}
.second_card_row .col-lg-4:last-child {
    margin: 0;
}
.row.card_rows.second_card_row {
    background: none;      box-shadow: none !important;
}
.row.card_rows.second_card_row .col-lg-4 {
    height: 244px;  box-shadow: 0 2px 7px 4px #ccc !important;

}
.row.card_rows {
    background: #fff;
    margin-top: 25px;
    margin-bottom: 25px;    box-shadow: 0 2px 7px 4px #ccc !important;

}
.stat-content {
    margin: 8px 0 !important;
    padding: 0 !important;
}
.stat-widget-two .progress {
    margin: 8px 0px !important;
}
.st-tabs .st-buttons button {
    /* width: 16%; */
    flex: 1;
    padding: 6px 0px;
    font-size: 19px;
}
.card {
    background: none;
    margin: 0;
    padding: 0;
    border: 0px;
    border-radius: 0px;height:auto;
}
.st-buttons button:hover {
    background: #32c7f1 !important;
    color: #000 !important;    font-weight: bold;
}
.sidebar-sticky {
    padding-top: 98px;
}
.main_section {
    padding-top: 50px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.col-md-2.sidebar {
    padding: 0;
}

#vertical-menu {
    color: #fff;border-top: 1px solid #d4d4d4;top:0;
    /*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
.header {
    min-height: 70px !important;
    height: 70px !important;
}
.navbar {
    position: relative;
    min-height: inherit;
    margin-bottom: 0;
}
.nano-content li span {
    float: right;
    margin-right: 6px;
    font-size: 17px;
    border-radius: 49px;
    color: #fff !important;
    height: 20px;
    width: 20px;
    background: #0073B7 !important;
    padding: 0;
    vertical-align: middle;
}
.nano-content h3 {
    font-size: 14px;
    text-align: center;
    padding: 0;
}


.sidebar img {
    height: 21px;
    margin-right: 0px;
    float: left;
    padding-right: 0;
}

/*heading styles*/
#vertical-menu h3 {
    font-size: 14px;
    line-height: normal;
    padding: 0 10px;
    cursor: pointer;
}
/*heading hover effect*/
 #vertical-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#vertical-menu li {
    list-style-type: none;
    border-bottom: 1px solid #d4d4d4;
}
#vertical-menu ul ul{
    border-top: 1px solid #d4d4d4;

}
.sidebar .nano-content > ul li > a {
    border-bottom: none;}
/*links*/
#vertical-menu ul ul li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    display: block;
    padding: 5px 15px 5px 20px;
    transition: all 0.15s;
    text-align: left;
}
 #vertical-menu ul ul li a:hover {
    background: #003545;
}
 #vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}

.text_heading {
    text-align: center;
    
}
.sidebar .nano-content > ul {
    width: 100% !important;
    transition: width 300ms ease-in-out;
}

.tooltip-2 a i {
    font-size: 29px;
}
.st-tabs {
    height: auto;
}
.tooltip-2 a i.fa-toggle-on {
    color: green;
}
.dashboard_shadow {
    -moz-box-shadow:rgba(100, 100, 111, 0.4) 0px 7px 29px 0px !important;
    padding: 0;
    box-shadow:rgb(100 100 111 / 40%) 0px 7px 29px 0px !important;
}
.shadow {
    -moz-box-shadow: 2x 3px 3px 0px #ccc;
    /* -webkit-box-shadow: 2px 3px 3px 0px #ccc; */
    box-shadow: 0 12px 7px 4px #ccc !important;
    padding: 0;
}
body {
    background: #f5f5f5 !important;
    color: #878787;
}
.dashboard_shadow {
    -moz-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px !important;
    padding: 0 !important;
    box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px !important;
}

#vertical-menu h3 {
    color: #32c7f1;
}
.navbar {
    position: relative;
    min-height: inherit !important;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
}


.tooltip-2 a {
    float: right;
    width: 40px;
}

.tooltip-2 {
    width: 100%;
}

