p.text-warning {
    color: #000;
    font-size: 19px;
    line-height: normal;
}
#vertical-menu li {
    display: inline-block;
    width: 100%;
}
.sidebar .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
.nodataContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
.nodataContainer h4 {
    justify-content: center;
    align-items: center;
}
img.game.app {
    height: 100%;
    width: 100%;
    max-height: 30px;
    max-width: 30px;
}
.serv.col-md-3.bg-info {
    width: 17%;
}
.modal-header .close {
    margin-top: -27px;
    vertical-align: top;
    top: 0;
    color: #000 !important;
    opacity: 1;
}
#vertical-menu li:nth-child(2) img, #vertical-menu li:nth-child(5) img {
    margin-right: 9px;
}
.sidebar img {
    margin-right: 15px;
    vertical-align: middle;
}
#vertical-menu h3 {

    text-align: left;
}
.nano-content li span {
    padding: 0 0 0 5px;
}
#vertical-menu ul ul li a {
    padding-left: 48px;
    padding-right: 0;
}