
* { font-family: Helvetica, 'sans-serif'; }

/*----------------------form container---------*/
.Modal-content {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.Modal-content input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.Modal-content input[type=text], .form-container input[type=password] {
  background-color: #f2f2f2;
  outline: none;
}

/* Set a style for the submit/login button */
.Modal-content .btn {
  background-color: #1f569e;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:0px;
  margin-top:10px;
  opacity: 0.8;
  height: 30px;
}

/* Add a red background color to the cancel button */
.Modal-content .close {
  background-color: red;
}

/* Add some hover effects to buttons */
.Modal-content .btn:hover, .open-button:hover {
  opacity: 1;
}


/*------------------*/



.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.MainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: #fff;
}

.Heading {
  font-size: 34px;
  font-weight: bold;
}

.btn {
  background-color: #1f569e;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 100px 400px;
  cursor: pointer;
  border-radius: 16px;
}

.btn:hover { background-color: #54b6ea; }

/* Overlay */

.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

/* The Close Button */

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}

.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.checkbox-inline input {
  float: right !important;
}

.col-lg-6 {
  padding-top:20px;
}


/*------------button-video------*/

.btnvideo {
    background-color: #1f569e;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 400px;
    cursor: pointer;
    border-radius: 16px;
    width:150px;
}
/*-----------*/
