.navbar-header.logo_s {
    width: 12% !important;
    float: left;
}

table th {
    color: #000 !important;
    text-align: left !important;
}
.header {
    min-height: 50px !important;
    height: 50px !important;
}

.navbar .col-md-11 h1 {
    color: #fff;
    font-size: 20px !important;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    padding: 13px 0;
    box-sizing: border-box;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
#dropdownDashboard{
    display: none;
}
section.effortless_sec {
    padding-top: 0;
}.whole_family {
    margin: 45px 0px 3px;
}
.effortless_sec_two {
    padding: 55px 0px 0px !important;
}
main#main_inner section.teacherSection {
    padding-top: 23px;
}
.new_faqs_sec {padding: 0 0 38px;
    max-width: 1000px;
    margin: 0 auto;
}
    .toggle-switch-container {
        margin-right: 94px;
        margin-top: -77px;
    }

@media(max-width:1024px){
    .row.yoga_filter .col-md-3 li {
        max-width: 100%;
        width: 100%;
    }
    table.table.table-hover.table-bordered.table-mailbox.send-user-mail.tab_medi {
        border: 0 !important;
    }
    td.act{
        text-align: right !important;
    }
    td {
        text-align: right !important;
    }
    table {
        border: 0;
      }
    
      table caption {
        font-size: 1.3em;
      }
      
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
      }
      
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 16px;
        text-align: right;
      }
      table td::before {font-size: 12px;
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      table td:last-child {
        border-bottom: 0;
      }
    .toggle-switch-container {
        margin-right: 97px;
        margin-top: -77px;
    }
   .modal-body .col-lg-4 {
        width: auto;
        float: left;
        padding-top: 0;
    }
    .remove_padding .card.alert {
        margin-top: 0;
    }
    .tdl-holder {
        margin: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
    .card_rows.second_card_row div.col-lg-4 {
        min-height: 252px;
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    #vertical-menu ul ul li a {
        padding-left: 23px !important;
        padding-right: 0;
    }
    header#main_header_id {
        min-height: 73px;
    }
    .flip-card-front h3 {
        font-size: 14px;
    }
.subsc_story_s {    top: -5px;}
.member_story_s_one {    margin-bottom: 0 !important;    margin-top: 0 !important;}
.bigText {
    font-size: 94px;
}
.member_story_s .bigText {
    font-size: 94px;
}
.top_lange a:after {
    top: 0;
    height: 47px;
}
.top_lange a {
    height: 47px;
}
.top_lange a {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}
.About_sec_two_r {
    margin-left: 0px;
    margin-top: 0;
    top: 0 !important;
}
.About_sec_two {
    width: 100%;
    float: none;
    display: table;
    margin: 0 0 30px 0;
    max-width: 100%;
}
.About_one.in_ab .bigHeading {
    margin-bottom: 11px;
}
ul.box_ls li {
    font-size: 16px;
}
section.fer_pln_s {
    padding: 0 !important;
}
.feature_story_s_one {
    width: 100% !important;
    float: left;
    margin-top: 0px;
    margin-left: 0 !important;
    margin-bottom: 50px;
}
.faq {
    padding: 0px 25px;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
}
main#main_inner section.teacherSection {    padding-top: 0 !important;    padding-bottom: 0 !important;}
}
@media(max-width:980px){
   #update_pro label, #change_pass label{
        text-align: left;
        width: 100%;
        color: #000;
    }
    .banner_ser {
        top: 15%;
        left: 3%;
    }
    .banner_txt_l b {
        font-size: 26px;
        line-height: 34px;
    }
    .txt_im p {
        font-size: 12px;
        line-height: 19px;
    }
    .main_section {
        padding-top: 20px !important;
    }
    .col-lg-4.col-sm-4.remove_padding {
        width: 100%;
        padding: 0;
        margin-bottom: 0 !important;
    }
    .photo-listMain {
        text-align: center;
        float: left !important;
        width: 100%;
        background: #fff;
        padding: 20px;
        margin-top: 10px;max-width: 100% !important;
    }
}
@media(max-width:812px){
    .row.yoga_filter .col-md-3 ul {
        width: 100%;
    }
    .row.yoga_filter .col-md-3 li {
        max-width: 162px !important;
        width: 200px !important;
    }
    .toggle-switch-container {
        margin-right: 94px;
        margin-top: -77px;
    }
    label.col-sm-4.col-form-label {
        float: left;
        width: 100%;
        text-align: left;
    }
    #add_testreport input.btn.btn-primary {
        max-width: 151px !important;
        float: left;
        margin: 0 0 10px 0 !important;
    }
  
      .serv.col-md-3.bg-info {
        width: 48%;
    }
    .modal-body .row {
        margin: 10px 0;
    }
     
    .st-tabs .st-buttons {
        height: 272px !important;
    }
    .card_rows.col-lg-12 {
        float: left;
        width: 100%;
    }
    #dropdownDashboard {
        display: block;
        background: #1f569e;
        color: #fff;
        border: 0;
        padding: 10px 42px;
        width: 100%;
    }
    .st-buttons a {
        background: #fff;
        padding: 14px 2px !important;
        font-size: 13px !important;
        float: left;
        width: 100% !important;
    }
    .st-tabs .st-buttons {
        /* padding: 15px 20px; */
        display: block;
        width: 100%;
    }
    .contact_page_main {
        padding: 39px 0px 78px;
        background-size: 100% 100%;
    }
    .left_side_div_c {
        margin: -13px 0 20px 0;width:100%;
    }
    .contact_page_main_two_l {
        width: 100%;
        float: left;
        margin: 1% 0%;
    }
    .contact_page_main_two_r {
        width: 100%;
        float: left;
        margin: 1% 0% 38px 0;
    }
     .top_lange {
        margin-top: 9px !important;
        margin-bottom: 6px;
    }
    ul.main-nav li a {
        margin: 10px 6px 5px;
    }
    .menu_s.collapse.navbar-collapse.text-right {
        width: 73%;
    }
    .home_slider {
        margin-top: 0;
    }
    ul.box_ls img {
        height: 19px;
        width: 20px;
        vertical-align: middle;
        line-height: normal;
    }
    ul.box_ls li {
        line-height: 21px;
    }
    header#main_header_id {
        min-height: 53px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .banner_ser {
        top: 36%;
        left: 3%;
    }
    .top_lange a {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 26px;
        width: 100%;
        padding-top: 4px;
        padding-bottom: 10px;
        height: 33px;
    }
    .top_lange a:after {
        top: 0;
        height: 33px;
        width: 100%;
    }
    .flip-card-front h3 {
        font-size: 12px;
        padding: 0 20px;
        line-height: 18px;
    }
    .nes_let form {
        width: 100%;
        margin: 0 !important;
        text-align: center;
    }
    .f_heading.last_tb {
        margin-top: 0;
        float: left;
        margin-left: 0px;
        margin-bottom: 0 !important;
    }
    .member_story_s_three .col-md-5 {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    .member_story_s_three.for_desktop_s {
        display: none !important;
    }
    .member_story_s_one.for_mob_s {
        display: block !important;
        margin-top: 79px !important;
    }
    .member_story_s {
        padding: 30px 0px 80px;
    }
    .member_story_s_three .col-md-7 {
        width: 100%;
        float: left;
    }
.bigText {    font-size: 86px;}
.member_story_s .bigText {
    font-size: 86px;
}
.signup-page .container {
    width: 100% !important;
    position: relative;
    margin: 0 auto;
}
.effortless_sec_on .bigText {
    font-size: 55px !important;
    padding-top: 0 !important;
    margin-top: 2px !important;
}
span.bat_bann a {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 10px;
    width: 140px;
    height: 37px;
}
span.bat_bann a:after {
    width: 140px;
    height: 39px;
}
footer.main_footer {
    margin-top: 0;}
.bigHeading {    margin-bottom: 0 !important;}
.member_story_s_one .col-md-7 {    width: 100%;}
.main_form_sec_four {
    float: left;
    width: 100%;
    padding: 0px 0;
    max-width: 100%;
    margin: 0;
    display: table;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    margin-left: 0;
}
.member_story_s_one .col-md-5 {    width: 100%;    left: 0px !important;    position: relative !important;    top: 0 !important;}
}
@media(max-width:767px){
    .header {
        min-height: 114px !important;
        height:114px !important;
        text-align: center;
        margin: 0 auto;
    }
    .logo img {
        width: 83px !important;
        height: auto;
    }
    .logo {
        /* max-width: 100px; */
        width: 100%;
    }
    .navbar .col-md-11 h1 {
        font-size: 18px !important;
        text-align: center;
        width: 100%;
        float: left;
    }
    a.logout {
        color: #fff;
        text-align: center;
        float: left;
        font-size: 19px;
        width: 100%;
        float: left;
        margin-top: 6px;
    }
    .toggle-switch-container {
        margin-top: -149px;
    }
    .priyacy_policy_sec p {
        font-size: 15px;
        line-height: 30px;
        margin: 0 0 20px 0;
        width: 100%;
    }
    .priyacy_policy_sec ul {
        padding-left: 0;
    }
    .whole_family {
        margin: 0 !important;
    }
    .navbar-header.logo_s {
        width: 100% !important;
        float: left;
    }
    .signup-page .container {
        width: 100% !important;
        position: relative;
        margin: 0 auto;
    }
    .main_form_sec_twooo div {
        width: 100%;
        margin: 0 auto 20px 0;
        text-align: center;
    }
}
@media(max-width:667px){
    .topnav {
        margin-top: 115px;
    }
    .navbar .col-md-11 h1 span {
        margin-left: -25px;
    }
    .navbar .col-md-11 h1 {
        font-size: 15px !important;
    }
    .banner_txt_l b {
        font-size: 17px;
        line-height: 21px;
        max-width: 200px;
        left: 0;
        margin-left: 0;
        text-shadow: none !important;
        margin-bottom: 0 !important;
    }
    .buy_butt {
        margin-top: 9px;
    }
    .f_middle {
        padding: 40px 0 0;
        overflow: hidden;
    }
    #dropdownDashboard {
        width: 100%;
    }
    .text_heading h2 {
        font-size: 16px;
    }
    .text_heading h3 {
        font-size: 21px;
    }
    .switch {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width:568px){
    .toggle-switch-container {
        margin-top: -149px;
        margin-right: 36px;
    }
    label.checkbox-inline {
        padding: 0;
    }
    .serv.col-md-3.bg-info {
        width: 100%;
    }
    .member_story_s {
        padding: 0;
    }
    .bigText {
        font-size: 57px;
    }
    section.our_plan_s {
        padding-bottom: 0 !important;
    }
    .member_story_s_one .col-md-5 {
        left: 0 !important;
    }
    .subsc_story_s h2 {
        font-size: 19px;
        margin-bottom: 4px;
        line-height: normal;
    }
    .How_it_works_s_on {
        padding-top: 0;
        margin-top: 25px;
    }
    .top_lange a:after {
        height: 38px;
    }
    .top_lange a {
        height: 38px;
        font-size: 12px;    padding-top: 5px;
    }
    .member_story_s_on_r h2 {
        font-size: 18px;
        line-height: normal;
    }
}
@media(max-width:480px){
    .row.yoga_filter .col-md-3 li {
        max-width: 100% !important;
        width: 100% !important;
    }
    .topnav {
        display: block;
        width: 100%;
    }
    .foot_m {
        padding-left: 0 !important;
    }
    .top_lange a {
        height: 34px;
        padding-top: 5px;
    }
    .top_lange a:after {
        height: 34px;
    }
}