@charset "UTF-8";
/*
    Template: Nixon
    Author: VueJSAdmin
    Url: https://vuejsadmin.com/
    Developer by: VueJS Admin

*/
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
/*

Fonts
-------------------------------------------------*/
@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/MontserratLight.eot");
  src: url("../fonts/MontserratLight.eot") format("embedded-opentype"), url("../fonts/MontserratLight.woff2") format("woff2"), url("../fonts/MontserratLight.woff") format("woff"), url("../fonts/MontserratLight.ttf") format("truetype"), url("../fonts/MontserratLight.svg#MontserratLight") format("svg"); }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }
/*

Global
-------------------------------------------------*/
body {
  font-family: Nunito, sans-serif;
  background: #f5f5f5;
  color: #878787; }

a,
button {
  outline: none !important;
  text-decoration: none !important;
  color: #878787;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  a:hover, a:focus, a.active,
  button:hover,
  button:focus,
  button.active {
    color: #252525;
    outline: none !important;
    text-decoration: none !important; }

ul {
  padding: 0px;
  margin: 0px; }

li {
  list-style: none; }

p {
  font-family: Nunito, sans-serif;
  color: #878787; }

h1,
h2,
h3,
h4,
h5,
h6.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Nunito, sans-serif;
  color: #32c7f1;
  }

  h1 {
    font-size: 30px !important;
  }

.dib {
  display: inline-block; }

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.main-content {    box-sizing: border-box;
  padding: 15px; }

.alert h4 {
  color: #878787; }

/*    Color Mixins
-------------------*/
.text-primary,
.color-primary {
  color: #00838F; }

.text-success,
.color-success {
  color: #41c300; }

.text-info,
.color-info {
  color: #19A9D5; }

.text-danger,
.color-danger {
  color: #ed7f7e; }

.text-warning,
.color-warning {
  color: #eeb043; }

.text-pink,
.color-pink {
  color: #e6a1f2; }

.text-dark,
.color-dark {
  color: #252525; }

/*    Background Mixins
--------------------------*/
.bg-primary,
.card.bg-primary {
  background: #00838F;
  color: #fff; }

.bg-success,
.card.bg-success {
  background: #41c300;
  color: #fff; }

.bg-info,
.card.bg-info {
  background: #19A9D5;
  color: #fff; }

.bg-danger,
.card.bg-danger {
  background: #ed7f7e;
  color: #fff; }

.bg-warning,
.card.bg-warning {
  background: #eeb043;
  color: #fff; }

.bg-pink,
.card.bg-pink {
  background: #e6a1f2;
  color: #fff; }

.bg-dark,
.card.bg-dark {
  background: #252525;
  color: #fff; }

.bg-transparent,
.card.bg-transparent {
  background: transparent;
  color: #252525; }

/*    Border Mixins
--------------------------*/
.border-primary {
  border-color: #00838F; }

.border-success {
  border-color: #41c300; }

.border-info {
  border-color: #19A9D5; }

.border-danger {
  border-color: #ed7f7e; }

.border-warning {
  border-color: #eeb043; }

.border-pink {
  border-color: #e6a1f2; }

.border-dark {
  border-color: #252525; }

.no-border {
  border: 0px !important; }

/*    Brand Background
-----------------------------*/
.bg-facebook {
  background: #3b5998; }

.bg-twitter {
  background: #1da1f2; }

/*  Colors
-----------------------------*/
.color-1 {
  color: #41c300; }

.color-2 {
  color: #00838F; }

.color-3 {
  color: #eeb043; }

.color-4 {
  color: #ed7f7e; }

/*    width
-----------------------------*/
.w10pr {
  width: 10%; }

.w12pr {
  width: 12%; }

#sidebar {
  z-index: 999; }

  .col-lg-4 {
    padding-left: 20px;
    padding-top: 20px;
  }

  .col-lg-6 {
    padding-left: 10px;
  }
/*

icons sidebar
--------------------------------*/



.sidebar img {
  height: 25px;
  margin-right: 0px;
  float: left;
  padding-right: 20px;

}

img.img-expand {
    float: right;
    padding-right: 0px;
}

.content-wrap img {
  float:right;
  height: 50px;
}
  /*

  tabs

  --------------------------------------------*/
  .st-tabs {
  width: 100%;
  line-height: 25px;
  height:100px;
  
  display: absolute;
}

.st-tabs .st-buttons {
  height: 50%;
}

.st-tabs .st-buttons1 {
  height: 50%;
}

.st-tabs .st-buttons button {
  width: 16%;
  height:100%;
  float:left;
  border: 1px solid #d4d4d4;
  outline:none;
  cursor:pointer;
  padding-left: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  background-color: #fff;
}

.st-tabs .st-buttons1 button {
  width: 13.7%;
  height:100%;
  float:left;
  border: 1px solid #d4d4d4;
  outline:none;
  cursor:pointer;
  padding-left: 2px;
  font-family: 'Nunito', sans-serif;;
  font-size: 15px;
  background-color: #fff;
}


/*

table------------------------ */

.st-tabpanel1 table, td, th {
  border: 1px solid #d4d4d4;
  padding: 3px;
}

.st-tabpanel1 table {
  width: 100%;
  border-collapse: collapse;
}

.card h5 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0px;

}

.st-tabs1 {
  width:100%;


line-height: 25px;
  height:100%;
  
  display: absolute;
}

.st-tabs1 .st-buttons2 {
  height: 50%;
}


.st-tabs1 .st-buttons2 button {
  width: 33.3%;
  height:100%;
  float:left;
  border: 1px solid #d4d4d4;
  outline:none;
  cursor:pointer;
  padding-left: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  background-color: #fff;
}

.st-tabpanel1 .table {
  height: 30px;
}

thead {
  font-size: 13px;
  outline: none;
  font-family: 'Nunito', sans-serif;
}
.col-md-10.text_heading {
  text-align: center;
  padding-top: 30px;
}
thead tr {

text-align: center;
}
/*

border shadow---------------*/
.shadow {
  -moz-box-shadow: 2x 3px 3px 0px #ccc;
  -webkit-box-shadow: 2px 3px 3px 0px #ccc;
  box-shadow: 2px 3px 3px 0px #ccc;

}
/*

sidebar-top-margin
-------------------------------*/
.sidebar .nano-content > ul > li.active > a {
  margin-top: 50px !important;
}

/*-------search icon--*/
.searchwrapper img{
  width:15%;
  float:right;
  height: 50px;
}




/*

card
-------------------------------------------------*/


.card-body {
  background: #fff; }



.card-header h4 {
  display: inline-block; }
.card-header p {
  font-family: Poppins, sans-serif;
  margin-bottom: 12px; }

.card-header-right-icon {
  display: inline-block;
  float: right; }
  .card-header-right-icon li {
    float: right;
    opacity: 0;
    padding-left: 14px;
    color: #878787;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: inline-block; }
    .card-header-right-icon li .ti-close {
      font-size: 12px; }

.card:hover .card-header-right-icon li {
  opacity: 1; }

.card-option {
  position: relative; }

.card-option-dropdown {
  display: none;
  left: auto;
  right: 0; }
  .card-option-dropdown li {
    display: block;
    float: left;
    width: 100%;
    padding: 0px; }
    .card-option-dropdown li a {
      line-height: 25px;
      font-size: 12px; }
      .card-option-dropdown li a i {
        margin-right: 10px; }

.doc-link {
  float: right;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .doc-link:hover:after, .doc-link:focus:after {
    opacity: 1;
    visibility: visible; }
  .doc-link:after {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    content: "Documentation";
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    right: -30px;
    top: -30px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }


/*

icons sidebar
-------------------------------------*/


/*

Badge
--------------------------------------------------*/
/*

Tab
-------------------------------------------------*/
.nav-tabs > li > a {
  border-radius: 0px;
  padding: 7px 24px;
  margin-right: 0px; }

.tab-pane {
  color: #878787;
  line-height: 26px;
  padding-top: 15px; }

/*

Header
-------------------------------------------------*/
.header {
  background-image: linear-gradient(to right, rgba(222, 246, 253, 1), rgba(0, 163, 245, 1));
  position: fixed;
  width: 100%;
  min-height: 50px;
  height: 50px;
  z-index: 999; }

.logo {
  background-image: none;
  display: inline-block;
  padding: 0px 0;
  text-align: center;
  width: 250px;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  overflow: hidden;
  float: left; }
  .logo img {
    width: 100px;
    height: 50px;
    -webkit-transition: all .25s;
    transition: all .25s; }
  .logo span {
    color: #fff;
    font-size: 14px;
    font-weight: 400; }

.sidebar-hide .logo {
  width: 60px; }
  .sidebar-hide .logo span {
    display: none; }

.header-icon {
  font-size: 18px;
  padding: 12px 15px;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  float: left;
  cursor: pointer; }
  .header-icon:hover, .header-icon:focus, .header-icon.active {
    background: #007580; }
  .header-icon .note-count {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 100%;
    text-align: center;
    background: #00a4b9;
    z-index: 9999;
    font-weight: 600; }



/*    Search box
----------------------*/
.main .page-header {
  min-height: 50px;
  margin: 0px;
  padding: 0px 15px;
  background: #f5f5f5;
  border-bottom: 0px; }
  .main .page-header h1 {
    font-size: 18px;
    padding: 14px 0px;
    margin: 0px;
    text-align: center; }
  
.dropdown-task .progress {
  height: 5px;
  margin-bottom: 0px;
  margin-top: 20px;
  -webkit-box-shadow: none;
          box-shadow: none; }
.dropdown-task .progress-bar {
  -webkit-box-shadow: none;
          box-shadow: none; }

/

/**
 * FOOTER
 */
footer {
  display: block;
  margin: 1rem 0;
  padding: 1rem 0 0; }
  footer p {
    font-size: 12px; }

/**
 * PRINT STYLE
 */
@media print {
  .header,
  .sidebar,
  .chat-sidebar,
  .control,
  .control-bar {
    display: none !important; }

  [contenteditable]:hover, [contenteditable]:focus {
    outline: none; } }
/*

invoice
-------------------------------------------------*/

.title p {
  text-align: right;
  font-size: 12px; }



.effect2 {
  position: relative; }

.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg); }

.effect2:after {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto; }

.legal {
  width: 70%; }

/*

Widget list
-------------------------------------------------*/
/*    Widget One
---------------------------*/
.stat-widget-one {
  overflow: hidden; }
  .stat-widget-one .stat-icon {
    vertical-align: top;
    float: left; }
    .stat-widget-one .stat-icon i {
      font-size: 30px;
      border-width: 3px;
      border-style: solid;
      border-radius: 100px;
      padding: 15px;
      font-weight: 900;
      display: inline-block; }
  .stat-widget-one .stat-content {
    margin-left: 15px;
    margin-top: 7px;
    float: left; }
  .stat-widget-one .stat-text {
    font-size: 14px;
    color: #878787; }
  .stat-widget-one .stat-digit {
    font-size: 24px;
    color: #878787; }

/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: left;
  position: relative; }
  .stat-widget-two .stat-digit {
    font-size: 16px;
    font-weight: 600;
    color: #878787; }
    .stat-widget-two .stat-digit i {
      margin-right: 2px; }
  .stat-widget-two .stat-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #878787; }
  .stat-widget-two .progress {
    height: 5px;
    margin-bottom: 0px;
    margin-top: 10px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .stat-widget-two .progress-bar {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .stat-widget-two .widget-icon {
    position: absolute;
    right: -5px;
    top: -10px;
    font-size: 20px; }

   


 
/*
Forms
-------------------------------------------------*/
/*    Input Style
------------------------*/
.form-group {
  margin-bottom: 20px; }

.form-control {
  height: 42px;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #e7e7e7;
  font-family: Poppins, sans-serif; }
  .form-control:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #e7e7e7; }
  .form-control:focus, .form-control.active {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #878787; }

.input-default {
  border-radius: 4px; }

.input-flat {
  border-radius: 0px; }

.input-rounded {
  border-radius: 100px; }

.input-focus {
  border-color: #00838F; }
  .input-focus:focus {
    border-color: #00838F; }

/*    Search Box Input Button
--------------------------------*/
.input-group-btn .btn {
  padding: 10px 12px; }

.input-group-default .form-control {
  border-radius: 4px; }

.input-group-flat .form-control {
  border-radius: 4px; }
.input-group-flat .btn {
  border-radius: 0px;
  border-radius: 0px; }

.input-group-rounded .form-control {
  border-radius: 100px; }
.input-group-rounded .btn-group-left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; }
.input-group-rounded .btn-group-right {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px; }

.input-group-close-icon {
  background: none;
  color: #252525;
  border-color: #e7e7e7; }
  .input-group-close-icon:hover, .input-group-close-icon:focus, .input-group-close-icon.active {
    background: none;
    border-color: #e7e7e7;
    color: #252525; }

/*    Input States
-----------------------*/


/*    Basic form
----------------------*/
label {
  font-weight: 400;
  margin-bottom: 10px; }

/
.fileinput-button {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #e6e6e6;
  float: left;
  margin-right: 4px;
  overflow: hidden;
  position: relative; }
  .fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(-300px, 0px) scale(4);
            transform: translate(-300px, 0px) scale(4); }

.modal-header h4.modal-title {
  font-weight: 300; }

.modal-body label {
  font-weight: 400; }

.heading-inbox h4 {
  border-bottom: 1px solid #ddd;
  color: #444;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 10px; }

.sender-info {
  margin-bottom: 20px; }
  .sender-info img {
    height: 30px;
    width: 30px; }

.sender-dropdown {
  background: none repeat scroll 0 0 #eaeaea;
  color: #777;
  font-size: 10px;
  padding: 0 3px; }

.view-mail a {
  color: #ed7f7e; }

.attachment-mail {
  margin-top: 30px; }
  .attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%; }
    .attachment-mail ul li {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 150px; }
      .attachment-mail ul li img {
        width: 100%; }
      .attachment-mail ul li span {
        float: right; }
  .attachment-mail .file-name {
    float: left; }
  .attachment-mail .links {
    display: inline-block;
    width: 100%; }

.fileupload-buttonbar .btn {
  margin-bottom: 5px; }
.fileupload-buttonbar .toggle {
  margin-bottom: 5px; }

.files .progress {
  width: 200px; }

.fileupload-processing .fileupload-loading {
  display: block; }

* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0; }
* + html .fileinput-button {
  margin: 1px 0 0;
  padding: 2px 15px; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.inbox-small-cells {
  text-align: center; }

.mail-group-checkbox {
  position: relative;
  top: 2px; }

.mail-checkbox.mail-group-checkbox {
  position: relative;
  top: 2px;
  left: 2px; }

.table-inbox > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #e7e7e7;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top; }

@media (max-width: 767px) {
  .files .btn span {
    display: none; }
  .files .preview * {
    width: 40px; }
  .files .name * {
    display: inline-block;
    width: 80px;
    word-wrap: break-word; }
  .files .progress {
    width: 20px; }
  .files .delete {
    width: 60px; } }
/*

Progess Bar
-------------------------------------------------*/
.progress-bar-success1 {
    background-color: #ff621f;
}

.progress-bar-success2 {
    background-color: #00d600;
}
.progress-bar-success3 {
    background-color: #d600ba;
}
.progress-bar-success4 {
    background-color: #00a3f5;
}
.progress-bar-success5 {
    background-color: #ff0a0a;
}

.progress-bar-success6 {
    background-color: #00a3f5;
}




/*



Table
-------------------------------------------------*/
thead tr th {
  color: #878787;
  font-weight: normal;
  text-transform: uppercase; }
  thead tr th:last-child {
    text-align: right; }

tbody tr th {
  color: #878787;
  font-family: Nunito, sans-serif;
  font-weight: normal; }
tbody tr td {
  font-family: Nunito, sans-serif;
  color: #878787; }
  tbody tr td:last-child {
    text-align: right; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 32px;
  vertical-align: top; }

.table > thead > tr > th {
  border-bottom: 1px solid #e7e7e7; }

.table .badge {
  text-transform: uppercase; }

  /*
  Search-----------------------------*/

 
 .container1 {
   position: absolute;
   margin: auto;
   top: 0;
   left: auto;
   right: 0;
   bottom: 0;
   width: 300px;
   height: 0px;
   float: right;
}
 .container1 .search1 {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   background: #00a3f5;
   border-radius: 50%;
   transition: all 1s;
   z-index: 4;
   
}
 .container1 .search1:hover {
   cursor: pointer;
}
 .container1 .search1::before {
   content: "";
   position: absolute;
   margin: auto;
   top: 22px;
   right: 0;
   bottom: 0;
   left: 22px;
   width: 12px;
   height: 2px;
   background: white;
   transform: rotate(45deg);
   transition: all 0.5s;
}
 .container1 .search1::after {
   content: "";
   position: absolute;
   margin: auto;
   top: -5px;
   right: 0;
   bottom: 0;
   left: -5px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: 2px solid white;
   transition: all 0.5s;
}
 .container1 input {
   font-family: 'Nunito', sans-serif;
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   outline: none;
   border: none;
   background: #ffffff;
   color: #3dc8ff;
   
   padding: 0 80px 0 20px;
   border-radius: 30px;
   
   transition: all 1s;
   opacity: 0;
   z-index: 5;
   font-weight: bolder;
   letter-spacing: 0.1em;
}
 .container1 input:hover {
   cursor: pointer;
}
 .container1 input:focus {
   width: 200px;
   opacity: 1;
   cursor: text;
}
 .container1 input:focus ~ .search1 {
   right: -250px;
   background: #00a3f5;
   z-index: 6;
}
 .container1 input:focus ~ .search1::before {
   top: 0;
   left: 0;
   width: 25px;
}
 .container1 input:focus ~ .search1::after {
   top: 0;
   left: 0;
   width: 25px;
   height: 2px;
   border: none;
   background: white;
   border-radius: 0%;
   transform: rotate(-45deg);
}
 .container1 input::placeholder {
   color: white;
   opacity: 0.5;
   font-weight: bolder;
}


/*

checkbox
-------------------------------------------------*/
.tdl-holder {
  margin: 20px;
  margin-top:20px;
  padding-bottom: 5px;

   }
  


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin:20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Nunito' , sans-serif;
  font-size: 20px;
  font-weight: 0;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d4d4d4;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #e7e7e7;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2efa00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/*

chart
-------------------------------------------------*/
.cpu-load {
  width: 100%;
  height: 272px;
  font-size: 14px;
  line-height: 1.2em; }

.cpu-load-data-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px; }

.cpu-load-data {
  margin-bottom: 30px; }
  .cpu-load-data li {
    display: inline-block;
    width: 32.5%;
    text-align: center;
    border-right: 1px solid #e7e7e7; }
    .cpu-load-data li:last-child {
      border-right: 0px; }


/*12-03-2021 aditya's chnages */

div#caregiverDetails li {
    text-align: left !important;
}
div#caregiverDetails ul {
    width: 75% !important;
    margin: auto !important;
    display: flex;
    flex-wrap: wrap;
}
div#caregiverDetails li {
    text-align: left !important;
    margin-bottom: 8px !important;
}
#callUserNameTxt{
    display:none !important;;
}
video#videooutgoing {
    display: none !important;;
}
video#videoincoming {
    display: none !important;;
}

.send-user-mail.table-mailbox .badge {
    text-transform: uppercase !important;
    white-space: pre-wrap !important;
    line-height: 19px !important;
}
.send-user-mail.table-mailbox thead tr:first-child {
    background: #cef1fd !important;
}
.ct-flex {
    display: flex !important;
    justify-content: space-between !important;
}
.ct-flex .form-group {
    width: 49% !important;
}
@media(max-width: 768px){
    div#caregiverDetails ul {
        width: 100% !important;
    } 
     .send-user-mail.table-mailbox td,
     .send-user-mail.table-mailbox th{
    text-align: center !important;
    display: block !important;
    }
    
    .send-user-mail.table-mailbox th{
        font-weight:700;
        background: #cef1fd;
     }

}
@media(max-width: 576px){
 
    div#caregiverDetails li {
        display: inline-block;
        width: 50%;
    }  
   
}



