.main_section h1 {
    color: #000;
    padding-top: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 20px !important;
}

.st-buttons a {
    background: #fff;
    padding: 14px 10px;
    box-sizing: border-box;
    width: 16%;
    text-align: center;
    color: #000;
    font-size: 16px;
}
.text_heading h2 {
    width: 100% !important;
}
.photo-listMain.reminder_listMain h4 {
    color: #000;
    text-align: center;
}
.iconDiv a img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.iconDiv a img:hover, .iconDiv a img:focus, .iconDiv a img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
table#sampleTable {
    table-layout: fixed;
}

.st-tabs .st-buttons {
    height: 54px;
}
.st-tabs .st-buttons button {
    font-size: 16px;
}
.text_heading h3 {
    padding-bottom: 23px;
    margin-top: 0;
    padding-top: 30px;
}
.sidebar-sticky {
    padding-top: 17px;
}
.addNote a, .btn.btn-primary {
    margin: 14px 0 !important;
}
.error {
    color: #ff0000;
    padding-top: 3px;
}
