.iconDiv {
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 27px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .card_rows {
    background: #fff !important;
    margin: 20px 0;box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;
}
.modal-title {
    text-align: center;
    color: #000;
    font-size: 20px;
}
li.paginate_button.active {
    background: transparent !important;
}
.text_heading {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}
.modal .btn.btn-primary {
    margin: 6px 0 0 !important;
}
a.logout {
    color: #fff;
    text-align: right;
    float: right;
    font-size: 16px;
}


.tooltip-2 a {
    float: none !important; 
     width: auto !important;
    vertical-align: middle;
}
.st-buttons a {
    background: #fff;
    padding: 14px 10px;
    box-sizing: border-box;
    width: 17% !important;
    text-align: center;
    color: #000;
    font-size: 16px;border: 1px solid #eee;
}
.card_rows.second_card_row div.col-lg-4 {
    min-height: 252px;
    height: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;margin-top:50px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #32c7f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */

  
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;position: inherit;
  }

  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #32c7f1;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-bottom: 1px solid #eee;
}
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#32c7f1;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav {
    display: none;
}
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;background: #fff;
  }
  
img.game.app {
    height: 30px;
    width: 30px;
}
tbody tr td:last-child {
    text-align: left;
}
.rem_add_button {
    width: 100%;
    /* text-align: center; */
    float: left;
    /* margin: 0 auto; */
    display: block;
    text-align: center;
    margin-top: 13px;
}

.btn-primary:hover {
    color: #000 !important;
}
.serv.col-md-3 {
    text-align: center;
    box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
    padding: 14px 0;
    margin-top: 20px;
}
.rem_add_button a {
    font-size: 19px;
    margin-right: 10px;
    margin-top: 20px;
}
.row.card_rows {
    float: left;
    width: 100%;
}
h4.noresult {
    color: #000;
    text-align: center;
    font-size: 20px;
}
div#calendar {
    max-height: 500px;
    max-width: 500px;
    margin: 0 auto 40px;
    width: 100%;
}
.calendar {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.calendar .dropdown {
    width: 100% !important;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 160px; */
    left: 0px;
    z-index: 2000;
    height: 300px;
    overflow-y: scroll;
}

.calendar .dropdown .dropdown-item {
    opacity: 1;
    /* transition: .5s opacity; */
    color: #000;
}

.calendar .dropdown .dropdown-item:hover {
    opacity: 1;
}

.calendar .years {
    display: none;
}

.calendar .title {
    text-align: center;
    font-size: 20pt;
}

.calendar .calendar-btn {
    float: left;
    background-color: #1f569e;
    color: white;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 35%;
    cursor: pointer;
    transition: .5s background-color;
}

.calendar .calendar-btn:hover {
    background-color: #1f71a1;
}

.calendar .year-btn {
    float: right;
}

.calendar .calendar-dates .days .day {
    float: left;
    width: 12%;
    margin: 1%;
    padding: 1%;
    font-size: 13pt;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #ddd;
    cursor: pointer;
}

.calendar .calendar-dates .days .day.blank {
    background-color: white;
    border: none;
}

.calendar .calendar-dates .days .day.selected {
    background-color: #1caff6;
    color: white;
    cursor: pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover {
    opacity: 1;
}

.calendar .calendar-dates .days .day.label {
    height: 27px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
}

.clear {
    clear: both;
}

.label1 {
    color: white;
    padding: 8px;
}

.active1 {
    background: #1f569e;
    color: #fff;
}

table#heading_click {
    background: #fff;
    text-align: center !important;
    table-layout: fixed;
}
#vertical-menu ul ul li a:hover,.st-buttons a:hover {
    background: #204d74 !important;
     color: #fff !important;
 }
 h4{
     color:#000;
     text-align:center;font-size: 22px;font-weight: bold;
 }
 .card_rows {
    background: #fff !important;
    margin: 20px 0;box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;
}
.text_heading {
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.tooltip-2 a {
    float: none !important; 
     width: auto !important;
    vertical-align: middle;
}
.st-buttons a {
    background: #fff;
    padding: 14px 10px;
    box-sizing: border-box;
    width: 17% !important;
    text-align: center;
    color: #000;
    font-size: 16px;border: 1px solid #eee;
}
.card_rows.second_card_row div.col-lg-4 {
    min-height: 252px;
    height: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;margin-top:50px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #32c7f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;position: inherit;
  }

  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: #32c7f1;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-bottom: 1px solid #eee;
}
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#32c7f1;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav {
    display: none;
}
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;background: #fff;
  }

  img.game.app {
    height: 100%;
    width: 100%;
    max-height: 180px;
    max-width: 180px;
}
tbody tr td:last-child {
    text-align: left;
}
.rem_add_button {
    width: 100%;
    /* text-align: center; */
    float: left;
    /* margin: 0 auto; */
    display: block;
    text-align: center;
    margin-top: 13px;
}

.btn-primary:hover {
    color: #000 !important;
}
.serv.col-md-3 {
    text-align: center;
    box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
    padding: 14px 0;
    margin-top: 20px;
}
.rem_add_button a {
    font-size: 19px;
    margin-right: 10px;
    margin-top: 20px;
}
.row.card_rows {
    float: left;
    width: 100%;
}
h4.noresult {
    color: #000;
    text-align: center;
    font-size: 20px;
}
div#calendar {
    max-height: 500px;
    max-width: 500px;
    margin: 0 auto 40px;
    width: 100%;
}
.calendar {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.calendar .dropdown {
    width: 100% !important;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #1caff6;
    text-align: center;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 160px; */
    left: 0px;
    z-index: 2000;
    height: 300px;
    overflow-y: scroll;
}

.calendar .dropdown .dropdown-item {
    cursor: pointer;
    opacity: .7;
    transition: .5s opacity;
}

.calendar .dropdown .dropdown-item:hover {
    opacity: 1;
}

.calendar .years {
    display: none;
}

.calendar .title {
    text-align: center;
    font-size: 20pt;
}


.calendar .calendar-btn:hover {
    background-color: #1f71a1;
}

.calendar .year-btn {
    float: right;
}

.calendar .calendar-dates .days .day {
    float: left;
    width: 12%;
    margin: 1%;
    padding: 1%;
    font-size: 13pt;
    text-align: center;
    border-radius: 10px;
    border: solid 1px #ddd;
    cursor: pointer;
}

.calendar .calendar-dates .days .day.blank {
    background-color: white;
    border: none;
}

.calendar .calendar-dates .days .day.selected {
    background-color: #1caff6;
    color: white;
    cursor: pointer;
    opacity: .5;
    transition: .5s opacity;
}

.calendar .calendar-dates .days .day.selected:hover {
    opacity: 1;
}

.calendar .calendar-dates .days .day.label {
    height: 27px;
    font-size: 12px;
    background-color: white;
    color: black;
    border: none;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
}

.clear {
    clear: both;
}

.label1 {
    color: white;
    padding: 8px;
}

.active1 {
    background: #1f569e;
    color: #fff;
}

table#heading_click {
    background: #fff;
    text-align: center !important;
    table-layout: fixed;
}


div#showeventdata table th,
div#showeventdata table td,
table#heading_click th,
table#heading_click td {
    text-align: center !important;
}

div#showeventdata table {
    background: #fff;
    text-align: center !important;
    table-layout: fixed;
}

.info1 {
    background-color: #2196F3;
    text-align: center;
}
.serv.col-md-3  .btn-primary {
    color: #000;
     background-color: transparent !important; 
    /* border-color: #2e6da4; */
}
table#sampleTable {
    table-layout: fixed;
    text-align: left;
}
td.lcol a i {
    font-style: normal;
}
td.lcol a {
    margin-right: 5px;
}

.tab_medi td a.edit_btn {
    background: #1f569e;
    color: #fff;
    padding: 10px 17px;
    max-width: 139px;
    width: 100%;
    border-radius: 41px;
}
.serv.col-md-3 h4 {
    font-size: 22px;
    color: #000;
}
.serv.col-md-3.bg-info {
    background: #f8f9fa;
    margin-right: 2%;
    width: 23%;
    border-radius: 9px;
    min-height: 158px;
    height: 100%;
    padding-top: 20px;
}
.main_section h1 {
    color: #000;
    padding-top: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 20px !important;
}
.st-buttons a {
    background: #fff;
    padding: 14px 10px;
    box-sizing: border-box;
    width: 16%;
    text-align: center;
    color: #000;
    font-size: 16px;
}
.text_heading h2 {
    width: 100% !important;
}
.photo-listMain.reminder_listMain h4 {
    color: #000;
    text-align: center;
}
.iconDiv a img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.iconDiv a img:hover, .iconDiv a img:focus, .iconDiv a img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
table#sampleTable {
    table-layout: fixed;
}

.st-tabs .st-buttons {
    height: 54px;
}
.st-tabs .st-buttons button {
    font-size: 16px;
}
.text_heading h3 {
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 20px;
}
.sidebar-sticky {
    padding-top: 17px;
}
.addNote a, .btn.btn-primary {
    margin: 0px 0 !important;
}

@media(max-width:1366px){
    .st-buttons a {background: #fff;
        padding: 14px 5px !important;
        font-size: 14px !important;
    }
}
@media(max-width:1100px){
    .st-buttons a {
        padding: 16px 20px;
        font-size: 13px;
        line-height: normal;
        height: auto !important;
    }
}
@media(max-width:1024px){
    .serv.col-md-3.bg-info {
        margin-right: 1%;
        width: 48%;
    }
}
  @media screen and (max-width: 812px) {
    .serv.col-md-3.bg-info {
        margin-right: 0%;
        width: 100%;
        float: left;
    }
    .main_section {
        padding-top: 20px;
    }
    .card_rows.second_card_row div.col-lg-4 {
        min-height: 252px;
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .remove_padding .card.alert {
        margin-top: 20px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
    }
    .remove_padding {
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .topnav {
        display: block;
    }
    .topnav a{
        font-size: 15px;
    border: none;
    outline: none;
    color: #32c7f1;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-bottom: 1px solid #eee;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .col-md-2.d-none.d-md-block.bg-light.sidebar {
        display: none;
    }
    
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

div#showeventdata table th,
div#showeventdata table td,
table#heading_click th,
table#heading_click td {
    text-align: center !important;
}

div#showeventdata table {
    background: #fff;
    text-align: center !important;
    table-layout: fixed;
}

.info1 {
    background-color: #2196F3;
    text-align: center;
}
.serv.col-md-3  .btn-primary {
    color: #000;
     background-color: transparent !important; 
    /* border-color: #2e6da4; */
}
table#sampleTable {
    table-layout: fixed;
    text-align: left;
}
td.lcol a i {
    font-style: normal;
}
td.lcol a {
    margin-right: 5px;
}

.tab_medi td a.edit_btn {
    background: #1f569e;
    color: #fff;
    padding: 10px 17px;
    max-width: 139px;
    width: 100%;
    border-radius: 41px;
}
.serv.col-md-3 h4 {
    font-size: 22px;
    color: #000;
}
.serv.col-md-3.bg-info {
    background: #f8f9fa;
    margin-right: 1%;
    width: 24%;
    border-radius: 9px;
    min-height: 158px;
    height: 100%;
    padding-top: 20px;
}
.main_section h1 {
    color: #000;
    padding-top: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 20px !important;
}
.st-buttons a {
    background: #fff;
    padding: 14px 6px;
    box-sizing: border-box;
    width: 16%;
    text-align: center;
    color: #000;
    font-size: 16px;
}
.text_heading h2 {
    width: 100% !important;
}
.photo-listMain.reminder_listMain h4 {
    color: #000;
    text-align: center;
}
.iconDiv a img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.iconDiv a img:hover, .iconDiv a img:focus, .iconDiv a img:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
table#sampleTable {
    table-layout: fixed;
}
table#devicatable td, table#devicatable th {
    font-size: 14px;
    text-align: left;
    line-height: normal;
}
.st-tabs .st-buttons {
    height: 54px;
}
.st-tabs .st-buttons button {
    font-size: 16px;
}
table#devicatable td, table#devicatable th {
    font-size: 14px;
}
.btn.btn-primary,.back_reminder a {
    margin: 30px 0 !important;
    padding: 10px 28px !important;
    max-width: 126px !important;
    width: 100% !important;
    border-radius: 50px !important;
  }
  
  .delete-email i {
    font-size: 20px !important;
}

.rem_add a {
    float: none;
}
.text_heading {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
  .photo-listMain {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  }

  table#sampleTable th {
    color: #000;
    text-align: left;
}
.delete-email {
    float: right;
    padding-left: 10px;
}
.photo-listMain {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  }

  .main_section h1 {
    color: #000;
    padding-top: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 27px;
  }

  .addNote a,
  .btn.btn-primary {
    margin: 30px 0 !important;
    padding: 10px 28px !important;
    max-width: 126px !important;
    width: 100% !important;
    border-radius: 50px !important;
  }

  

  input#from_caregiver {
    float: left;
    width: 100%;
    padding: 9px;
    border: 1px solid #ddd;
  }
  .rem_add a {
    display: inline-block;
    margin: 0 auto;
    float: none;
}

.rem_add {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


tbody tr th,tbody tr td {
    color: #000;
    font-family: Nunito, sans-serif;
    font-weight: normal;
}
form#reminder label.error {
    color: #ff0000;
    margin-top: 8px;
}
td.act {
    text-align: left !important;
}
.tab_medi td a.edit_btn {
    background: #1f569e;
    color: #fff;
    padding: 10px 17px;
    max-width: 139px;
    width: 100%;
    border-radius: 41px;
}
  form#detail_acknowledge {
    background: #fff;
    padding: 20px;
  }
  .delete-email {
        float: right;
        padding-left: 10px;
    }
  .bx_med {
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
  }
  .alert-success {
    margin-top: 17px;
}
  form#add_note label {
    color: #000;
    font-size: 17px;
    margin-bottom: 5px;
    padding-bottom: 6px;
  }

  section.content.photo-list {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }
.text_heading h3 {
    padding-bottom: 10px;
    margin-top: 0;
    padding-top: 20px;
}
.sidebar-sticky {
    padding-top: 17px;
}
.addNote a, .btn.btn-primary {
    margin: 0px 0 !important;
}
label.error {font-size: 12px;
    color: #ff0000;
    padding-top: 3px;
}
@media(max-width:1280px){
    .st-buttons a {
        font-size: 13px;
    }
}
@media(max-width:1100px){
    .st-buttons a {
        padding: 16px 20px;
        font-size: 13px;
        line-height: normal;
        height: auto !important;
    }
}

  @media screen and (max-width: 812px) {
    .main_section {
        padding-top: 20px;
    }
    .card_rows.second_card_row div.col-lg-4 {
        min-height: 252px;
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .remove_padding .card.alert {
        margin-top: 20px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
    }
    .remove_padding {
        padding: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .topnav {
        display: block;
    }
    .topnav a{
        font-size: 15px;
    border: none;
    outline: none;
    color: #32c7f1;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-bottom: 1px solid #eee;
    }
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .col-md-2.d-none.d-md-block.bg-light.sidebar {
        display: none;
    }
    
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }