/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}


@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.curs-admin>.navbar-header>a.navbar-brand>img {
    width: 150px;
}
#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.navbar {
    min-height: 60px !important;
}
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px !important;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #000;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}


.multiselect-native-select .btn-group {
    width: 100% !important;
}

.multiselect-native-select button.multiselect.dropdown-toggle.btn.btn-default {
    width: 100% !important;
    text-align: left !important;
}
/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
nav.navbar.navbar-inverse.navbar-fixed-top.curs-admin ul.nav.navbar-right.top-nav {
    margin-top: 10px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none !important;
    color: #fff !important;
}
.content-div {
    display: inline-block;
    width: 100%;
    padding-top: 80px;
}
.navbar-inverse, .navbar-fixed-top {
    background-color: #000 !important;
    border-color: #000000 !important;
    min-height: 60px !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #e49434 !important;
}
a.navbar-brand {
    height: initial;
    padding: 12px;
}
.dc-sub-ico {
    width: 80px;
    height: 70px;
    background: #ffb53e;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    position: absolute;
    left: 0;top: 0;
}

.dc-sub {
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #d8d8d8;
}
.dc-sub-txt {
    display: inline-block;
    width: 100%;
    padding: 5px 0 0 90px;
    height: 70px;
    background: #f3f3f3;
}
.dc-sub-ico.busi-ico {
    background: #00cad6;
}
body {
    background: #f1f4f7 !important;
}
.dc-sub-txt h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 2px 0 0;
}
.dc-sub-txt p {
    color: #929292;
}
.dc-sub-ico.new-let-ico {
    background: #F44336;
}
.dc-sub-ico.event-ico {
    background: #2196F3;
}
.dash-counter h2 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 35px;
    color: #636363;
    padding-left: 15px;
    border-left: 2px solid rgba(0, 0, 0, 0.13);
}
.dash-counter {
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 1px 1px 5px #d8d8d8;
    background: #ffffff;
    display: inline-block;
    width: 100%;
}
.import-create.dash-counter .dc-sub-ico {
    background: #f3f3f3;
    color: #b7b7b7;
}
.dc-sub-txt.pu-txt h3 {
    color: #ffb53e;
}
.dc-sub-txt.bu-txt h3 {
    color: #00cad6;
}
.dc-sub-txt.nl-txt h3 {
    color: #f44336;
}
.dc-sub-txt.et-txt h3 {
    color: #2196f3;
}
.import-create.dash-counter .dc-sub-txt {
    background: rgba(243, 243, 243, 0.49);
}
.user-table.table-responsive th a {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.user-table.table-responsive th {
    color: #333;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    background: #f1f4f7;
}
.read-more {
    text-align: center;
    display: inline-block;
    width: 100%;
}
.read-more a {
    display: inline-block;
    padding: 7px 15px;
    background: #e49434;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}
.read-more a:hover{
    text-decoration: none;
    color: #333;
    background: #f3f3f3;
}
.news-let-dash {
    display: inline-block;
    width: 100%;
}
.news-let-dash a.btn.btn-large.btn-primary {
    padding: 6px 15px;
    border-radius: 20px;
    background: #e49434;
    border: none;
}
.link-del-view a {
    width: 25px;
    height: 25px;
    background: #e49434;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    padding: 2px;
}
.link-del-view a:hover{
    color: #fff;
}
.tooltip-2 {
    position: relative;
    display: inline-block;
    margin-right: 2px;
}

.tooltip-2 .tooltiptext {
    visibility:hidden;
    background-color:black;
    color:#fff;
    text-align:center;
    border-radius:6px;
    padding:5px 0;        
    position: absolute;
    z-index: 1;
    bottom: 30px;
    padding: 5px 10px;
    font-size: 10px;
    right: 0;
    }
.tooltip-2:hover .tooltiptext {
    visibility:visible;
    }
.collapse.navbar-collapse.navbar-ex1-collapse a {
    border-bottom:1px solid #131313;
    }
.add-btn a {
    padding: 6px 15px;
    background-color: #269ce7;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    border-radius: 2px;
    }
.bx_user {
    float: right;
    margin-top: -37px;
    margin-right: 15px;
    }


table.dataTable.no-footer {
    border-bottom:1px solid #ddd !important;
    }
table.dataTable thead th, table.dataTable thead td {    
    border-bottom:0px solid #ddd !important;
    }





@media screen and (max-width: 1199px){
    .dc-sub-ico {
        width: 60px;
    }
    .dc-sub-txt {
        padding: 5px 0 0 65px;
    }
}




