@font-face {
	font-family: 'Kimberley Bl';
	src: url('../fonts/KimberleyBl-Regular.eot');
	src: url('../fonts/KimberleyBl-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/KimberleyBl-Regular.woff2') format('woff2'),  url('../fonts/KimberleyBl-Regular.woff') format('woff'),  url('../fonts/KimberleyBl-Regular.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'PRIMETIME-Regular';
	src: url('../fonts/PRIMETIME-Regular.ttf.woff') format('woff'),  url('../fonts/PRIMETIME-Regular.ttf.svg#PRIMETIME-Regular') format('svg'),  url('../fonts/PRIMETIME-Regular.ttf.eot'),  url('../fonts/PRIMETIME-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
a, .btn, button {
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
}
html {
	width: 100%;
	overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
	width: 100%;
}
*, *:focus,  .btn:focus, button:focus, a:focus,  form:focus {
	outline: none !important;
}
/*top header*/

nav.menu-header {
	border-radius: 0;
	margin: 0;
	border: none;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
}
.top-header ul {
	display: block;
	padding: 0;
	margin: 0;
}
.top-header ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
.top-header ul li a {
	padding: 10px 20px 10px 0px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.top-header {
	position: relative;
}
.top-header:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
	background: #19b06b;
	content: '';
	z-index: -1;
	width: 50%;
}
.top-header:before {
	position: absolute;
	top: 0;
	left: auto;
	bottom: 0;
	right: 0;
	background: #19b06b;
	content: '';
	z-index: -1;
	width: 50%;
}
.search-box input.input-search {
	width: 100%;
	max-width: 220px;
	float: right;
	border: none;
	background: transparent;
	color: #fff;
	padding:8px 35px 8px 8px;
	height: 38px;
}
 .search-box input.input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color:#fff;
}
 .search-box input.input-search::-moz-placeholder { /* Firefox 19+ */
 color:#fff;
}
 .search-box input.input-search:-ms-input-placeholder { /* IE 10+ */
 color:#fff;
}
 .search-box input.input-search:-moz-placeholder { /* Firefox 18- */
 color:#fff;
}
.search-box button.search-btn {
	position: absolute;
	right: 9px;
	background: transparent;
	color: #fff;
	border: none;
	top: 11px;
	z-index: 9999;
}
.search-box {
	position: relative;
	overflow: hidden;
}
/**header**/

.navbar-default {
	background-color: rgba(255, 255, 255, 0.75);
	border-bottom: none;
}
header#main_header_id {
/*    position:  absolute;

    top: 0;

    z-index:  999;

    width:  100%;

    left:  0;

    right:  0;*/

}
ul.main-nav li a {
	color: #000 !important;
	font-weight: 600;
	padding: 30px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
ul.main-nav li a:hover {
	color: #82a950 !important;
}
a.navbar-brand {
	padding: 15px;
}
.navbar-brand img {
	max-width: 120px;
	width: 100%;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
	-moz-transition: all ease-in-out 400ms;
	-ms-transition: all ease-in-out 400ms;
	-o-transition: all ease-in-out 400ms;
}
nav.menu-header.navi {
	position: fixed;
	background: #fff;
	z-index: 99999999;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
}
.navi ul.main-nav li a {
	padding: 25px 15px;
}
.navi .navbar-brand img {
	max-width: 110px;
}
ul.nav.navbar-nav.main-nav {
	float: none;
	display: inline-block;
	margin: 0 auto;
}
.navbar-brand {
	height: auto;
}
.home-slider-img {
	position: relative;
	max-height: 100vh;
	height: 100%;
}
.home-slider-img img {
	width: 100%;
}
.home-slider-img:after {
	background: rgba(0, 0, 0, 0.2);
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}
.slide-btn a {
	position: absolute;
	bottom: 0px;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 41px;
	padding: 7px 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 9;
	box-shadow: 0 3px 4px #868686 !important;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
	-moz-transition: all ease-in-out 400ms;
	-ms-transition: all ease-in-out 400ms;
	-o-transition: all ease-in-out 400ms;
}
.slide-btn a {
	color: #3d6745;
}
.home_slider .owl-next, .home_slider .owl-prev {
	position: absolute;
	top: 50%;
	z-index: 9999999;
	background: transparent !important;
	margin-top: -50px !important;
}
.home_slider .owl-next {
	right: 0;
}
.home_slider .owl-prev {
	left: 0;
}
.home_slider .owl-next i.fa,  .home_slider .owl-prev i.fa {
	font-size: 80px;
}
.slider-containt h2 {
	color: #fff;
	font-size: 45px;
	letter-spacing: 2px;
	text-transform: capitalize;
	max-width: 410px;
	line-height: 70px;
	text-shadow: 0 2px 7px rgba(0, 0, 0, 0.67);
	font-family: 'PRIMETIME-Regular';
	}
.slider-containt {
    position:absolute;
    bottom:inherit;
    padding:100px;
    z-index:999;
    top:20%;	
	}
section.popu-countries {
	padding: 80px 0 40px 0;
	background: url(../images/er-bg.jpg);
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	border-bottom: 5px solid #fff !important;
}
.img-er img {
	width: 100%;
}
.er-containt h2 {
	font-weight: lighter;
	font-size: 35px;
	margin: 0 0 15px;
	padding: 0;
	color: #000000;
}
.er-containt h2 span {
	font-weight: bold;
	color: #000000;
}
.er-containt p {
	max-width: 535px;
	letter-spacing: 1.2px;
	line-height: 40px;
	margin: 20px 0 0;
	color: #000;
}
.er-containt {
	padding: 80px 0;
}
.top-header ul li a .fa {
	font-size: 16px;
	margin-right: 5px;
}
section.our-work {
	padding: 50px 0;
}
.box {
	padding: 15px;
	background: #f7f6f6;
	text-align: center;
	margin-top: 40px;
	box-shadow: 0 1px 4px #ccc !important;
}
.icons-setting-top {
	background: #ffffff;
	height: 85px;
	width: 85px;
	margin: -50px auto 0;
	border-radius: 110%;
	padding: 5px;
	text-align: center;
	box-shadow: 0 1px 8px #ccc !important;
}
.icons-setting-top img {
	width: 100%;
}
.box-text h2 {
	font-weight: 600;
	margin: 0;
	padding: 15px 0 15px;
	color: #000;
}
.box-text p {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 1.2px;
	margin: 0 0 20px 0;
}
.box-text button.btn {
	background: #8fb850;
	text-transform: capitalize;
	color: #fff;
	border-radius: 2px;
	padding: 10px 15px;
	border: 2px solid #8fb850;
}

.box-text button.btn:hover {
	background: #3d6745;
	border-radius: 3px;
	border: 2px solid #8fb850;
}
.box-text a.btn {
	background: #8fb850;
	text-transform: capitalize;
	color: #fff;
	border-radius: 2px;
	padding: 10px 15px;
	border: 2px solid #8fb850;
}
.box-text a.btn:hover {
	background: #3d6745;
	border-radius: 3px;
	border: 2px solid #8fb850;
}

/****/

section.rag-sec {
	background: #fff url(../images/login.jpg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	margin-bottom: 5px !important;
}
.col-sm-6.two-6 {
	padding: 50px 50px;
	background: rgba(0, 0, 0, 0.64);
}
section.box_servies {
	display: inline-block;
	width: 100%;
	background: #f7f6f6;
	margin-top: 5px;
	padding: 15px 0px 50px;
}
.heading-section h2 {
	margin: 45px auto 25px;
	font-size: 34px;
	text-transform: capitalize;
	font-weight: 300;
}
.heading-section {
	max-width: 899px;
	text-align: center;
	margin: 0px auto;
	padding: 0px 0px 35px;
	position: relative;
}
.heading-section p {
	margin: 0;
	font-size: 16px;
	position: relative;
	line-height: 30px;
	letter-spacing: 1.2px;
}
span.yellow {
	color: #000000;
	font-weight: bold;
}
.heading-section:after {
	content: '';
	width: 68px;
	height: 75px;
	bottom: 36px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: url(../images/img_tree.png) no-repeat;
}
.box_serLeft {
	text-align: right;
}
.box_serLeftT, .box_serRightT {
	margin-bottom: 40px;
	margin-top: 60px;
	display: inline-block;
}
.box_servies h4 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
	margin-top: 0px;
}
.box_serLeft p, .box_serRight p {
	color: #000000;
	font-size: 14px;
	line-height: 26px;
}
.img_cntr {
	text-align: center;
}
.box_lefOne {
	width: calc(100% - 65px);
	float: left;
}
.box_lefTwo {
	display: inline-block;
	margin-right: -30px;
}
.box_serRight .box_lefOne {
	float: right;
}
.box_serRight .box_lefTwo {
	margin-left: -30px;
}
section.add-class {
	padding:0px 0 50px;
	background: url(../images/bg_object.jpg);
	background-repeat:no-repeat !important;
	margin-bottom:5px !important;
	background-size:100% 100% !important;
}
ul.list-choose {
	list-style: none;
	margin: 0px;
	padding: 0px 25px 0px 0px;
}
ul.list-choose li {
	margin-bottom: 25px;
	color: #fff;
	background: url(../images/icon_listImg.png) no-repeat left 3px;
	padding: 0px 0px 0px 35px;
	font-weight: 600;
	margin-bottom: 20px;
}
.had_fact {
	font-size: 28px;
	color: #fff;
	margin-bottom: 25px;
}
.add-class .heading-section:after {
	background: url(../images/img_treeDark.png) no-repeat;
}
p.hed_wdt {
	width: 60%;
	margin: 0px auto 25px !important;
	line-height: 26px;
}
.mob_exp {
	margin: 50px 0px 0px;
}
.main_accordion .panel {
	background: none;
}
.main_accordion h4.panel-title {
	color: #abdc61;
}
.main_accordion h4.panel-title .fa {
	color: #fff;
	margin-right: 5px;
}
.main_accordion .panel-default>.panel-heading {
	background: none;
}
.main_accordion .panel-default {
	border: none;
}
ul.list_acd {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	list-style: none;
}
ul.list_acd li a {
	color: #fff;
	text-decoration: none;
}
ul.list_acd li {
	padding: 8px 0px;
}
.main_accordion .panel-body {
	border: none !important;
	padding-top: 0px;
}
.main_accordion .panel-default + .panel-default {
	border-top: 1px solid rgba(255, 255, 255, 0.33);
}
.tes-pro img {
	border-radius:50%;
	overflow:hidden;
	border:4px solid #fff;
    height:200px;
    width:200px;
	}
p.coment {
	text-align: left;
	margin: 0 auto 24px;
	font-size: 15px !important;
	line-height: 32px;
	color: #fff;
	font-style: normal !important;
}
.testo-slider .heading-section {
	color: #fff;
}
.testo-slider .heading-section span {
	color: #fff;
}
.item-cont h3 {
	color: #fff;
	margin: 0 0 0;
	padding: 10px 0 5px;
	font-weight: 700;
	font-size: 15px;
	text-align: left;
}
.item-cont h3 span {
	font-weight: 300;
}
.testo-slider .heading-section:after {
	background: url(../images/img_treeDark.png) no-repeat;
}
section.testo-slider {
	padding: 0px 0 60px;
	background: url(../images/test-slid.jpg);
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
.tes-pro {
	margin: 0px 10px;
	text-align: right;
}
.testo-slider .owl-controls {
	display: none !important;
}
.footer-add ul li .fa {
	position: absolute;
	left: 0px;
	font-size: 18px !important;
}
.footer-add ul li a {
	position: relative;
}
.footer-add ul li .fa {
	position: absolute;
	left: 0px;
	font-size: 18px !important;
	top: 5px;
}
.footer-add ul li {
	padding-left: 30px !important;
	position: relative;
}
footer {
	margin: 0px 0px;
	background: #e8e9e7;
	padding: 50px 0px 0px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.f_heading h3 {
	font-size: 20px;
	color: #181818;
	margin: 0 0 40px;
	font-weight: 600;
	text-transform: capitalize;
}
.f_middle ul li a {
	color: #181818;
	padding: 3px 0;
	display: block;
	font-size: 14px;
}
.f_middle p {
	font-size: 14px;
	color: #181818;
	letter-spacing: 1.2px;
	font-weight: 400;
	line-height: 24px;
}
.f_middle {
	margin-bottom: 15px;
}
.footer-bottom {
	background: #111010;
	margin-top: 15px;
	padding: 15px;
	background: url(../images/img-ftBg.jpg) no-repeat;
	min-height: 200px;
	background-size: 100% 100%;
}
.slider-containt p {
	font-size: 16px;
	max-width: 620px;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 0.8px;
	line-height: 28px;
}
.slider-containt button {
	border: 2px solid #fff !important;
	font-weight: 600;
	letter-spacing: 1px;
}
article.slider-arti, section {
	overflow-x: hidden;
}
article.slider-arti {
	overflow-x: hidden;
	min-height: 120px;
}
.home_page article.slider-arti {
	min-height: inherit;
}
.new-head span.yellow,  .new-head .heading-section h2 {
	color: #fff;
}
.new-head p {
	margin: -4px 0 25px;
	color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.2px;
	font-size: 16px;
	font-weight: lighter;
}
.f_middle {
	display: block;
	overflow: hidden;
}
.f_middle ul {
	padding: 0;
	margin: 0 0;
}
.f_middle ul li {
	list-style: none;
	padding: 0;
	margin: 0 0 2px;
}
.footer-link-social ul {
	padding: 0;
	margin: 0;
}
.footer-link-social ul li {
	display: inline-block;
}
.footer-link-social ul li a {
	display: inline-block;
	font-size: 20px;
	padding: 7px;
	color: #848383;
}
.f_follow {
	color: #181818;
	margin: 12px 0;
	font-size: 15px;
	letter-spacing: 1.2px;
	font-weight: lighter;
	text-align: left;
}
.f_middle ul li a i.fa {
	width: 40px;
	font-size: 25px;
	vertical-align: middle;
}
.foter-form i.fa.fa-envelope {
	position: absolute;
	z-index: 999;
	left: 13px;
	top: 13px;
	color: #949494;
}
 .foter-form input::-webkit-input-placeholder {
 color: #949494;
 font-weight: 600;
 font-size: 12px
}
 .foter-form input::-moz-placeholder {
 color: #949494;
 font-weight: 600;
 font-size: 12px
}
 .foter-form input:-ms-input-placeholder {
 color: #949494;
 font-weight: 600;
 font-size: 12px
}
 .foter-form input:-moz-placeholder {
 color: #949494;
 font-weight: 600;
 font-size: 12px
}
.f_middle ul li a:hover {
	color: #3d6745;
	text-decoration: none;
}
.footer-link-social ul li a:hover {
	color: #3d6745;
}
.footer-link-social ul li p {
	color: #fff;
	margin: 0;
	font-size: 18px;
	position: relative;
	letter-spacing: 1.5px;
	font-weight: 400;
}
.item-cont ul {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}
.item-cont ul li {
	display: inline-block;
	list-style: none;
	color: #cf9533;
}
.slider-back .owl-page.active span {
	background: #cf9533 !important;
	opacity: 1 !important;
	border: 1px solid #cf9533;
}
.item-cont p {
	font-style: italic;
	font-size: 12px;
}
.item-cont {
	text-align: center;
}
.slider-back .owl-page span {
	background: transparent !important;
	opacity: 1 !important;
	border: 1px solid #a7a7a7;
	margin: 5px 4px !important;
}
.footer-logo h3 {
	font-weight: 600;
	color: #fff;
	margin: 0 0 40px;
	font-size: 25px;
	text-transform: capitalize;
}
.f_heading .footer-add li {
	margin-top: 10px;
}
.footer-link-social {
	margin: 0;
}
.footer-social {
	margin-top: 0px;
	padding: 0px 0;
	border-top: 0px solid #6d6d6d;
	text-align: right;
}
.rag-form h2 {
	color: #fff;
	font-weight: 400;
	margin: 0 0 40px;
	line-height: 40px;
	font-size: 26px;
}
.teacher .input-filed input {
	background: #292624;
	border: 1px solid #282422;
}
 .rag-form input::-webkit-input-placeholder {
 color: #fff;
}
 .rag-form input::-moz-placeholder {
 color:#fff;
}
 .rag-form input:-ms-input-placeholder {
 color:#fff;
}
 .rag-form input:-moz-placeholder {
 color:#fff;
}
 .rag-form textarea::-webkit-input-placeholder {
 color:#fff;
}
 .rag-form textarea::-moz-placeholder {
 color:#fff;
}
 .rag-form textarea:-ms-input-placeholder {
 color:#fff;
}
 .rag-form textarea:-moz-placeholder {
 color:#fff;
}
.input-filed {
	position: relative;
}
.input-filed img.icon {
	position: absolute;
	top: 8px;
	left: 6px;
}
/**About-page**/

section.bcrumb-sec {
	background: url(../images/about_bg.jpg);
	height: 330px;
	padding: 0px;
	background-attachment: fixed;
	background-position: center bottom;
	position: relative;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.breadcrumb-content.text-center h2.page-cat {
	color: #fff;
}
.page-cat {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.page_links {
	margin-top: 11px;
	font-size: 14px;
}
.breadcrumb-content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.text-center .breadcrumb-list>li {
	display: inline-block;
	float: none;
	margin: 0 10px;
	position: relative;
}
.text-center .breadcrumb-list li a {
	color: #fff;
}
.breadcrumb-list li:last-child {
	color: #fff;
}
.breadcrumb-list>li::before {
	bottom: -1px;
	content: "/";
	position: absolute;
	left: -15px;
}
section.bcrumb-sec:before {
	background: rgba(0, 0, 0, 0.45);
	height: 100%;
	padding: 140px 0;
	position: absolute;
	content: "";
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
section.form-sec {
	padding: 0px 0px 50px;
	background: #eaeaea;
}
.head-main-sec {
	text-align: center;
	padding: 0px 0px 20px;
}
.about_contant {
	max-width: 800px;
	margin: 0px auto;
	text-align: center;
}
.about_contant h2 span {
	font-size: 13px;
	display: block;
	margin: 11px 0px 0px 0px;
}
.about_contant p {
	font-size: 13px;
	line-height: 25px;
	letter-spacing: 1px;
	text-align: center;
}
.about_contant img {
	max-width: 200px;
	margin: 10px 0px 0px 0px;
}
section.who_we {
	padding: 40px 0px;
}
.about-who h3 {
	margin: 0 0 15px 0;
	padding-bottom: 15px;
	position: relative;
}
.about-who h3:after {
	position: absolute;
	content: '';
	background: rgba(51, 51, 51, 0.72);
	height: 2px;
	width: 50px;
	left: 0;
	bottom: 0;
}
.about-who ul {
	padding: 0px;
}
.about-who p {
	font-size: 13px;
	line-height: 24px;
	color: #777777;
}
.about-who ul li {
	list-style: none;
	position: relative;
	padding: 9px 0 9px 25px;
	margin: 0;
	font-size: 13px;
	color: #777777;
}
.about-who ul li:after {
	position: absolute;
	height: 12px;
	width: 12px;
	content: "\f00c";
	font-family: FontAwesome;
	left: 0;
	top: 13px;
	border-radius: 3px;
	color: #000;
	font-size: 10px;
	line-height: 8px;
}
.box_vision p, .box_vision h3 {
	color: #fff;
}
.box_vision ul li, .box_vision ul li:after {
	color: #fff;
}
.box_vision h3:after {
	background: #fff;
}
/****Contact-page**/

section.contact_form {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 60px 0px;
}
.about_are {
	margin: 0px 0px 15px 0px;
	padding-bottom: 15px;
	position: relative;
}
.about_are:after {
	position: absolute;
	content: '';
	background: rgba(51, 51, 51, 0.72);
	height: 2px;
	width: 50px;
	left: 0px;
	bottom: 0px;
}
.info {
	padding: 0px;
	margin-bottom: 20px;
}
.info li {
	list-style:none;
	overflow:hidden;
	padding:15px 0px;
	}
.info li .icon {
	float: left;
	margin-right: 15px;
	font-size: 26px;
	color: #181818;
	line-height: 1;
}
.info li .icon .fa-envelope {
	font-size: 22px;
}
.info li .content p {
	margin: 0px;
	color: #696969;
	font-size: 14px;
	font-weight: 600;
}
.contact-info .info li .content {
	display: table;
}
.contact_02_social_media ul {
	padding: 0px;
}
.contact_02_social_media ul li {
	display: inline;
	margin-right: 10px;
	float: left;
}
.contact_02_social_media ul li a {
	text-decoration: none;
	border: solid 1px #999;
	border-radius: 100%;
	overflow: hidden;
	color: #000;
	transition: all ease-in-out 400ms;
	float: left;
	width: 50px;
	height: 50px;
	font-size: 19px;
	position: relative;
	margin-bottom: 15px;
	text-align: center;
}
.contact_02_social_media ul li a:hover {
	transform: rotate(360deg);
	transition: all ease-in-out 400ms;
	background: #8fb850;
	color: #ffffff;
	border-color: #3d6745;
}
.contact_02_social_media .fa {
	text-decoration: none;
	position: absolute;
	top: 15px;
	left: 0px;
	right: 0;
	bottom: 0;
	margin: 0px auto;
	width: 16px;
}
.or_heading {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	position: relative;
	height: 340px;
}
.or_heading::before {
	position: absolute;
	background: #000;
	width: 1px;
	content: '';
	top: 0;
	left: 33px;
	right: 0;
	bottom: 0;
	margin-top: 30px;
}
.or_heading h3 {
	margin: 0px;
	padding: 0px;
	border-radius: 100%;
	background: #8fb850;
	color: #fff;
	width: 65px;
	height: 65px;
	padding-top: 16px;
	vertical-align: middle;
	position: absolute;
	margin: 0 auto;
	top: 43%;
	left: 0;
	right: 0;
	bottom: 0;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	font-family: quicksand;
	font-weight: 500;
	font-size: 20px;
}
.contact_form_section input[type="submit"] {
	background: #8fb850;
	color: #fff;
	border-radius: 0;
	border: 2px solid #8fb850;
	padding: 10px 20px 10px 20px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 15px;
	position: relative;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	border-radius: 0px;
}
.contact_form_section textarea {
	border-radius: 0px;
	box-shadow: none;
	padding-left: 45px;
	color: #333;
}
.contact_form_section {
	margin-top: 40px;
}
section.contact-map-main {
	display: inline-block;
	width: 100%;
}
.contact_form_section .input-filed input {
	color: #333;
	padding: 10px 10px 10px 45px;
}
.contact_form_section .input-filed img.icon {
	top: 0px;
	left: 0px;
	background: #3d6745;
	padding: 8px 7px 8px;
}
.contact_form_section .input-filed textarea {
	height: 110px;
	box-shadow: none;
}
.contact_form_section .text_areaicon img.icon {
	padding: 42px 7px 42px;
}
.contact_form_section .input-filed textarea {
	border: 1px solid rgba(183, 183, 183, 0.54);
}
.contact_form_section input[type="submit"]:hover {
	background: #3d6745;
	border-radius: 3px;
	border: 2px solid #8fb850;
}
.input-filed input {
	padding: 10px 10px 10px 40px;
	width: 100%;
	background: transparent;
	border: 1px solid rgba(183, 183, 183, 0.54);
	margin-bottom: 20px;
	color: #fff;
}
/****/

/* Team Page css starts */

#team .team-card {
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 2px 58px -10px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: 0px 2px 58px -10px rgba(0, 0, 0, 0.48);
	box-shadow: 0px 2px 58px -10px rgba(0, 0, 0, 0.48);
	text-align: center;
	margin-bottom: 30px;
	overflow: hidden;
}
#team .social-row a:nth-last-child(1) {
	border-right: none !important;
}
#team img {
	border-radius: 50%;
	margin: 0 auto;
	width: 60%;
	margin-bottom: 20px;
}
#team p {
	color: #2c2c2c;
	font-size: 15pt;
	margin-bottom: 5px;
}
#team span {
	color: #82a950 !important;
	font-weight: 500;
}
#team .social-row {
	margin-top: 15px;
	padding: 0 0;
	background: #f7f7f7;
	margin-bottom: 0;
	display: block;
	overflow: hidden;
}
#team .social-row a {
	color: #616161;
	padding: 15px;
	display: inline-block;
	border-right: 1px solid #e4e4e4;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
}
.team-title {
	color: #333;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	font-weight: 800;
}
.team-head {
	margin-bottom: 40px;
}
.team-title:after {
	content: "";
	position: absolute;
	width: 7.5%;
	left: 46.5%;
	height: 45px;
	border-bottom: 1px solid #5e5e5e;
}
.team-back {
	width: 100%;
	background-image: url(../images/team-back.jpg);
	float: left;
	background-size: 100%;
	padding: 60px 0px 30px;
}
#team .social-row a:hover i.fa {
	color: #82a950;
}
/* Team Page css ends */

/**Why the**/

section.bus-diag {
	padding: 20px 0px 60px;
}
.bd-img-main {
	margin-right: 30px;
	border: 3px solid rgb(156, 192, 38);
}
.bd-img-main img {
	width: 100%;
}
.bd-txt-main {
	padding: 15px 0px 0px;
}
.acm-head h2 {
	font-size: 32px;
	font-weight: 200;
	letter-spacing: 0.6px;
	line-height: 38px;
	margin: 25px 0 25px;
}
.acm-txt-sub p {
	line-height: 25px;
	letter-spacing: 0.3px;
}
section.serv-list-sec {
	padding: 40px 0;
	background: #f3f3f3;
}
.slc-txt-main p {
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.3px;
}
.slc-list ul li {
	list-style: none;
	margin-bottom: 15px;
	padding-left: 25px;
	position: relative;
	text-transform: capitalize;
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: 22px;
}
.slc-list ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 8px;
	width: 8px;
	height: 8px;
	background: #ccc;
}
.box_why {
	background: url(../images/bg_object1.jpg);
	background-repeat: no-repeat;
}
.box_why .mob_exp img {
	border: 3px solid rgb(156, 192, 38);
}
/****/

/**CHECK**/

.form-group.form-sub.no-bord::before {
	display: none;
}
.list ul li a:hover {
	background: rgba(0, 0, 0, 0.16);
	color: #000;
}
#cate-slid .item,  #cate-slid3 .item {
	padding: 0 10px;
}
.logo {
	text-align: center;
	width: 100%;
	margin: 0;
	border-radius: 0;
	overflow: hidden;
}
.contant h2 {
	margin: 0 0 7px;
	font-size: 22px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	letter-spacing: 1px;
}
.contant {
	padding: 12px;
	margin-bottom: 5px
}
.contant p {
	font-size: 14px;
	color: #262626;
	margin: 8px 0 0;
	;
}
.contant h3 {
	background: #f2f2f2;
	margin: 0 -12px;
	font-size: 18px;
	padding: 10px;
	color: #000;
}
.contant h3 span a {
	font-size: 13px;
	padding: 1px 5px;
	display: inline-block;
	color: #000;
	text-decoration: none;
	position: relative;
}
.contant h3 span a.active {
	color: #007700;
}
.contant h3 span a:nth-child(1):after {
	content: '/';
	position: absolute;
	right: -5px;
	top: 1px;
	color: #909090;
	font-size: 16px;
}
.contant h3 span a:hover {
	color: #fcba4a;
}
.contant h3 span {
	float: right
}
.logo img {
	width: 100%;
	height: 100%;
}
#cate-slid2 .item {
	padding: 6px;
}
.list {
	margin-top: 6px;
}
#cate-slid2 .owl-next, #cate-slid2 .owl-prev {
	position: absolute;
	top: 45%;
	z-index: 9999999;
	background: #ffffff !important;
	margin: 0;
	opacity: 1;
	border-radius: 0;
	padding: 2px 13px;
}
#cate-slid2 .owl-next {
	right: -50px;
}
#cate-slid2 .owl-prev {
	left: -50px;
}
#cate-slid2 .owl-next i.fa,  #cate-slid2 .owl-prev i.fa {
	font-size: 45px;
	color: #8c8c8c;
}
#cate-slid2 .owl-controls.clickable {
	margin: 0px;
}
.list ul li a span {
	float: right;
}
.slidecontainer {
	width: 100%;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover {
	opacity: 1;
}
 .slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 background: #4CAF50;
 cursor: pointer;
}
 .slider::-moz-range-thumb {
 width: 25px;
 height: 25px;
 border-radius: 50%;
 background: #4CAF50;
 cursor: pointer;
}
/**Ashish**/

.inner-section ul.list-choose li {
	color: #000;
	background: url(../images/green-icon_listImg.png) no-repeat left 3px;
}
.inner-section ul.list-choose {
	padding: 20px 0;
}
button.dnl-btn {
	background: #8fb850;
	text-transform: capitalize;
	color: #fff;
	border-radius: 0;
	padding: 10px 15px;
	border: 2px solid #8fb850;
	border-radius: 3px;
}
button.dnl-btn:hover {
	background: #3d6745;
	border-radius: 3px;
	border: 2px solid #8fb850;
}
.ppt-div {
	padding: 50px 0;
	text-align: center
}
.ppt-div p {
	margin: 20px 0;
	line-height: 27px;
	letter-spacing: 0.7px;
	text-align: center;
	font-size: 13px;
}
.ppt-div button {
	margin-top: 10px;
}
section.bus-diag.ppt-sec {
	background: #f3f3f3;
}
section.serv-list-sec.video-sec {
	background: #fff;
}
.video-box iframe {
	width: 100%;
	height: 200px;
}
.img-box img {
	width: 100%;
}
.img-listing ul {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}
.img-listing ul li {
	margin: 0 2%;
	padding: 0px;
	display: inline-block;
	width: 15%;
	border: 2px solid #597f1e;
	border-radius: 3px;
}
.img-gallery img {
	width: 100%;
}
.img-gallery {
	padding: 0;
	border: 1px solid #dadada;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
	margin: 0 0 20px;
}
section.service-sec {
	padding: 50px 0 30px 0;
}
.img-gallery h4 {
	margin: 0;
	font-size: 16px;
	white-space: nowrap;
	padding: 0 0 10px 0;
	font-weight: 600;
	text-align: left;
	    text-overflow: ellipsis;
    overflow: hidden;
}
.content-gall {
	padding: 15px;
}
.img-gallery a {
	overflow: hidden;
	display: block;
}
/**login**/

.tile {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 0;
}
.form-input {
	display: block;
	position: relative;
	margin-bottom: 25px;
}
.form-input i.fa {
	position: absolute;
	font-size: 15px;
	top: 18px;
	color: #8fb850;
}
.form-input input ~ .label {
	color: #868e96;
	font-size: 12px;
	margin: 0;
	pointer-events: none;
	position: absolute;
	top: -5px;
	left: 20px;
	transition: top .2s, font .2s;
	z-index: 1;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: .6px;
	font-weight: 400;
}
.submit-login {
	padding-top: 10px;
}
.tile-body label.form-input {
	font-weight: 400;
}
.form-input input {
	border: none;
	box-shadow: none;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 100%;
}
.form-input input ~ .underline {
	background-color: #bdc1c5;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.form-input input:hover ~ .underline, .form-input input:focus ~ .underline {
	background-color: #3d6745;
}
.form-input input:hover ~ .label, .form-input input:focus ~ .label {
	color: #3d6745;
}
.form-input input:focus ~ .underline {
	height: 2px;
}
 .form-input input:focus ~ .label, .form-input input:valid ~ .label {
 top: -5px;
 font-size: 12px;
 color: #3d6745;
}
 .form-input input:-webkit-autofill ~ .label {
 top: -5px;
 font-size: 12px;
 color: #8fb850;
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: left;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
section.login-sec {
	padding: 50px 0;
	background: rgba(220, 220, 220, 0.22);
}
.submit-login button.btn.btn-irenic {
	background: #3d6745;
	text-transform: capitalize;
	color: #fff;
	border-radius: 4px;
	padding: 7px 10px;
	border: 0px solid #3d6745;
}
section.bcrumb-sec.my-login:before {
	background: #000000c2;
}
.submit-login button.btn.btn-irenic:hover {
	background: #3d6745;
	border-radius: 3px;
	border: 2px solid #8fb850;
}
.login-page section.bcrumb-sec {
	height: 150px;
	overflow: hidden;
}
p.forgot-link {
	margin: 0;
	text-align: right;
}
p.forgot-link a {
	font-size: 12px;
	text-decoration: none;
	color: #3d6745;
	font-weight: 600;
}
/*p.forgot-link a:hover {

    text-decoration: underline;

    color: #81af45;

}*/

.lb-data .lb-close {
	background-size: 100% 100% !important;
}
section.bcrumb-sec.my-login {
	height: auto;
}
.log-form {
	overflow: hidden;
	width: 100%;
	background: #fff;
	z-index: 99999;
	position: relative;
	max-width: 800px;
	margin: 20px auto;
	padding: 0;
	border-radius: 6px;
}
.site-logo {
	text-align: center;
	padding: 0 0 10px;
}
.site-logo img {
	max-width: 150px;
	width: 100%;
}
.site-logo h3 {
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	color: #3c6644;
	margin: 20px 0 0;
}
.bg-lg img {
	width: 100%;
}
.img-gallery .img_glry_img {
	position: relative;
}
.img-gallery .img_glry_img:after {
	content: "";
	background: rgba(143, 184, 80, .6);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.img-gallery:hover .img_glry_img:after {
	display: block;
}
.img-gallery .content-gall p {
	line-height: 24px;
}
.img-gallery .content-gall a {
	display: inline-block;
	background: #8fb850;
	text-transform: capitalize;
	color: #fff;
	border-radius: 2px;
	padding: 5px 15px;
	border: 2px solid #8fb850;
	text-decoration: none;
}
.img-gallery .content-gall a:hover {
	background: #3d6745;
	border-radius: 30px;
	border: 2px solid #8fb850;
}
.service_details {
	padding-top: 50px;
}
.service_details .services_point {
	margin-top: 50px;
}
.service_details .services_point .srvs_img img {
	width: 100%;
}
.service_details .services_point h4 {
	color: #3d6745;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 30px;
}
.service_details .services_point p {
	font-size: 15px;
	line-height: 26px;
	margin: 0;
	padding-bottom: 15px;
}
.service_details .services_point_list {
	padding: 50px 0;
	background: url(../images/srvs_bg.jpg) no-repeat center;
	margin-bottom: 5px;
	background-attachment: fixed;
	background-size: cover;
	margin-top: 50px;
	position: relative;
}
.service_details .services_point_list .overlay {
	content: "";
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.service_details .services_point_list h2 {
	color: #fff;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 30px;
}
.service_details .services_point_list ul {
	margin: 0;
	padding: 0;
}
.service_details .services_point_list ul li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	width: 49%;
	padding: 0px 10px 10px 25px;
	position: relative;
	color: #fff;
}
.service_details .services_point_list ul li:before {
	content: "»";
	color: #fff;
	position: absolute;
	left: 0px;
	top: -11px;
	font-size: 24px;
}
.product_page {
	background: #f7f6f6;
	width: 100%;
	padding: 50px 0 20px;
	margin: 5px 0;
}
.product_page .product_list {
	padding-top: 20px;
	text-align: center;
}
.product_page .product_list .prdt_list_cont {
	margin-bottom: 30px;
}
.product_page .product_list .prdt_list_cont .product_icon {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: 0 auto -34px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	background: #fff;
	padding: 15px;
	-webkit-box-shadow: 0 1px 8px #ccc;
	-moz-box-shadow: 0 1px 8px #ccc;
	-ms-box-shadow: 0 1px 8px #ccc;
	-o-box-shadow: 0 1px 8px #ccc;
	box-shadow: 0 1px 8px #ccc;
}
.product_page .product_list .prdt_list_cont img {
	width: 100%;
}
.product_page .product_list .prdt_list_cont .product_icon_cont {
	background: #fff;
	border: 2px solid #8fb850;
	position: relative;
	overflow: hidden;
	padding: 50px 15px 25px;
	min-height: 265px;
	border-radius: 10px;
}
.product_page .product_list .prdt_list_cont .product_icon_cont:before {
	content: "";
	background: #fff;
	border: solid 2px #8fb850;
	width: 120px;
	height: 120px;
	position: absolute;
	border-radius: 50%;
	left: 0;
	right: 0;
	top: -80px;
	margin: 0 auto;
}
.product_page .product_list .prdt_list_cont .product_icon_cont h2 {
	color: #3d6745;
	margin: 0;
	padding: 5px 0 15px;
	font-size: 24px;
	font-weight: bold;
}
.product_page .product_list .prdt_list_cont .product_icon_cont a {
	display: inline-block;
	background: #8fb850;
	text-transform: capitalize;
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
	border: 2px solid #8fb850;
	text-decoration: none;
}
.product_page .product_list .prdt_list_cont .product_icon_cont p {
	font-size: 15px;
	color: #000;
	line-height: 26px;
	margin: 0;
	padding-bottom: 15px;
}
.product_page .product_list .prdt_list_cont .product_icon_cont a:hover {
	background: #3d6745;
	border-color: #3d6745;
}
/* 3 feb */

p.forgot-link-signup {
	margin: 0;
	text-align: right;
	float: right;
	margin-top: 20px;
}
p.forgot-link-signup a {
	margin-left: 7px;
	/* background: #3d6745; */

    /* text-transform: inherit; */

	color: #3d6745;
	/* border-radius: 2px; */

    /* padding: 4px 10px; */

    /* border: 2px solid #3d6745; */

    /* letter-spacing: 0.5px; */

	font-weight: 600;
}
.form-input i.fas {
	position: absolute;
	font-size: 15px;
	top: 18px;
	color: #8fb850;
}
.submit-login input.btn.btn-irenic {
	background-color: #3d6745;
	color: #fff;
}
/*p.forgot-link-signup a:hover {

    background: #3d6745;

    border-radius: 3px;

    border: 2px solid #8fb850;

    text-decoration: none;

}*/

.top_login_sec {
	width: auto;
	float: right;
	margin: 0px;
	padding: 0px 14px;
	text-align: right;
}
.top_search_sec {
	width: 55%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.top_login_sec a {
	color: #fff;
	padding: 4px 13px;
	letter-spacing: 0.5px;
	font-size: 14px;
	border: 1px solid #fff;
	position: relative;
	top: 10px;
	margin-right: 7px;
	background: #19b06b;
	line-height: 0px;
	text-transform: uppercase;
}
.top_login_sec a:hover {
	text-decoration: none;
}
p.forgot-link input.btn.btn-irenic.pull-left {
	background-color: #3d6745;
	color: #fff;
}
.long-foot {
	float: left;
	width: 100%;
	margin-top: 21px;
}
.long-foot p a {
	float: right;
}
.long-foot p {
	display: inline-block;
	width: auto;
}
.long-foot p a {
	float: right;
	color: #3d6745;
	margin-left: 6px;
	font-weight: 600;
}
/* 14 feb */

.main_login_sec .col-sm-6 {
	width: 50%;
	padding-left: 0;
	padding-right: 0;
}
.main_login_sec .tile {
	background: #fff;
	padding: 5px 30px 5px 15px;
}
.main_login_sec ul.nav.nav-tabs {
	text-align: center;
	width: 90%;
	margin: 0px auto;
	padding: 0px;
	display: table;
	margin-bottom: 23px;
	margin-top: 13px;
}
.log-form.inner_log {
	background: transparent;
}
.main_login_sec ul.nav.nav-tabs li {
}
.main_login_sec ul.nav.nav-tabs li a {
	border: 0px solid #8bb857;
	margin-bottom: 5px;
	margin-right: 5px;
	background: #e8e8e8e6;
	color: #150b07;
	text-transform: uppercase;
	font-weight: 600;
}
.main_login_sec ul.nav.nav-tabs li.active a {
	background: #9dc271;
	color: #ffffff;
}
.main_login_sec .tile .tile-body {
	padding: 0;
	width: 100%;
}
.main_login_sec .long-foot {
	padding-bottom: 20px;
}
.main_login_sec .site-logo {
	margin-bottom: 12px;
	margin-top: 12px;
}
.tile-body .help-block {
	color: #ff9090;
	font-size: 12px;
}
.tile-body .submit-login {
	width: auto;
	float: left;
	margin-right: 15px;
}
p.forgot-link a {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
}
input.btn.btn-default.up_but {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
}
.col-sm-offset-2.col-sm-10 a {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
	margin-left: 0px;
}
 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
 background-color:transparent !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow:inset 0 0 0px 9999px white;
	}
	
@-webkit-keyframes autofill {
    to {
        color: #666;
        background:#fff;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}	
	
 input:-webkit-autofill {
 background-color: white !important;
}
a.front_dashbo {
	position: relative;
	top: 20px;
}
/* 15 feb */

.main_admin_sec {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	background: url(../images/login_bg.jpg) no-repeat;
	background-size: cover;
	height: 795px;
	background-repeat: no-repeat;
}
.main_admin_sec:before {
	/*  background: rgba(0, 0, 0, 0.45);*/

	height: 100%;
	padding: 140px 0;
	position: absolute;
	content: "";
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.main_admin_sec_inner {
	width: 380px;
	margin: 12% auto;
	background: #fff;
	padding: 5px;
	position: relative;
	padding: 5px;
	border-radius: 4px;
}
.admin_log_sec {
	text-align: center;
	padding: 9px;
}
.admin_log_sec {
	width: 100%;
	padding: 0px 15px;
}
.admin_log_sec a {
	color: #000;
	float: right;
	text-align: right;
	font-weight: 600;
}
a.Admin_log_logo {
	float: left;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.admin_log_sec input.btn-primary {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
	text-align: left !important;
	margin-left: 0px !important;
	position: relative;
	left: -56px;
}
.main_admin_sec_inner h2 {
	text-align: center;
	color: #000;
	margin-bottom: 18px;
	font-size: 30px;
	letter-spacing: 0.5px;
	margin-top: 13px;
}
.main_admin_sec_inner input.form-control {
	border-radius: 0px;
}
.complaint_sec {
	background: url(../images/about_bg.jpg);
	width: 100%;
	height: 100%;
	padding: 0px;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center bottom;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.complaint_sec:before {
	background: rgba(0, 0, 0, 0.45);
	height: 100%;
	padding: 140px 0;
	position: absolute;
	content: "";
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.complaint_sec .heading-section h2 {
	color: #fff;
}
.complaint_sec span.yellow {
	color: #fff;
}
.complaint_sec .well.well-sm.post-complaint {
	padding: 0px 18px 20px;
}
.form_cust_one {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.form_cust_one input.form-control {
	border-radius: 0;
}
.post-complaint button.btn.btn-success.btn-md {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
}
.post-complaint a.btn.btn-md {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
}
.form_cust_one label {
	font-weight: 600;
	letter-spacing: 0.5px;
}
.complaint_sec label {
	font-weight: 600;
	letter-spacing: 0.5px;
}
.complaint_sec button.btn.btn-success.btn-lg {
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #3d6745;
	color: #fff;
}
.complaint_sec .stars.starrr {
	float: left;
	padding-left: 4px;
}
.form_cust_one textarea#new-review {
	border-radius: 0;
}
.well.well-sm.post-feeback {
	padding: 14px 18px 20px;
}
/* 19 feb */

p.forgot-link a:hover {
	color: #fff;
	text-decoration: none;
}
p.forgot-link input.btn.btn-irenic.pull-left:hover {
	color: #fff;
	text-decoration: none;
}
.submit-login button.btn.btn-irenic:hover {
	color: #fff;
	text-decoration: none;
	border: 0;
}
.feedback_frm .col-md-6 {
	padding-left: 0;
}
.feedback_frm .bg-lg img {
	max-height: 405px;
}
.feedback_frm .well.well-sm.post-feeback {
	border-radius: 0px 5px 5px 0;
}
.heading-section.feedback_hed {
	padding-bottom: 0;
}
.heading-section.feedback_hed h2 {
	margin-bottom: 9px;
}
section.bus-diag.fed_bac {
	padding-bottom: 0;
	padding-top: 0;
}
.main_login_sec.place_order_sf {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	float: left;
}
.place_order_sf .form-group {
	float: left;
	width: 100%;
}
.log-form.inner_log.pls_ord_s {
	width: 100%;
	max-width: 100%;
}
.complaint_sec .heading-section h2 {
	color: #fff;
}
.main_login_sec.place_order_sf {
	width: 100%;
}
.place_order_sf label.control-label {
	text-align: left;
	font-weight: 600;
	font-size: 13px;
	color: #333;
}
.place_order_sf .form-control {
	border-radius: 0px;
}
.place_order_sf h4 {
	font-size: 16px;
	padding-left: 0px;
	margin-bottom: 16px;
	color: #000;
	margin-top: 6px;
}
.place_order_sf .form-group {
	margin-bottom: 10px;
}
.place_order_sf h2 {
	margin-top: 0;
	margin-bottom: 20px;
}
.place_order_sf .col-md-6 {
	padding: 0;
}
.place_order_sf h2 {
	padding-left: 15px;
}
.place_order_sf strong {
	font-size: 16px;
	margin-top: 19px;
	float: left;
	margin-bottom: 15px;
}
#panel, #flip {
	padding: 0px;
	text-align: center;
}
.panel_sec {
	padding: 5px;
	text-align: center;
	background-color: #fff;
	border: solid 1px #c3c3c3;
	float: left;
	width: 100%;
}
#panel {
	padding: 0px;
	width: 100%;
	float: left;
	display: none;
}
.col-md-12.map_n_s {
	padding: 7px;
}
label.pic_a {
	font-size: 18px;
}
#panel label.control-label.col-md-12 {
	padding: 0;
}
#panel .col-md-12 {
	padding: 0;
}
.panel_sec .form-group {
	margin-bottom: 0;
}
.place_order_sf .submit-login {
	margin-left: 16px;
}
/* 28 feb */

/* news page */

section.wel-come {
	padding: 50px 0;
	background: rgba(204, 204, 204, 0.25);
}
article.cmsmasters_post_masonry {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 25px;
	box-shadow: -1px 0px 3px 1px #ccc;
}
.cmsmasters_img_link img {
	width: 100%;
}
.cmsmasters_post_header {
	padding: 15px 20px 20px;
	background: #fff;
	box-shadow: 0px 0px 0px 1px #ccc !important;
}
h5.cmsmasters_post_title a {
	font-size: 18px;
	padding: 15px 0;
	margin: 0;
	vertical-align: middle;
	overflow: hidden;
	line-height: 30px;
	color: #777777;
}
.cmsmasters_post_content p {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: justify;
	color: #777777;
}
abbr.published {
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	border: none !important;
	color: #6f6b67 !important;
}
.form-map {
	margin-bottom: 30px;
}
span.cmsmasters_post_likes {
	margin-left: 10px;
}
span.cmsmasters_post_likes a {
	color: #3c3834;
	font-size: 13px;
	margin-left: 5px;
}
.cmsmasters_comments {
	margin-left: 10px;
}
.cmsmasters_comments a {
	color: #3c3834;
	font-size: 13px;
	margin-left: 5px;
}
.widget_search h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
}
.search-form input.search-field.form-control {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: none;
	background: #fff;
	height: 55px;
	color: #777777;
}
.btn_ser button.btn.btn-default {
	min-height: 55px;
}
.box_post h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
ul.list_product {
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
ul.list_product li {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
.product-thumb {
	width: 30%;
	float: left;
	border: 1px solid transparent;
	-webkit-transition: all .4s;
	transition: all .4s;
	margin-right: 5%;
	padding: 0px;
}
.product-details {
	width: 65%;
	float: left;
}
p.product-date {
	margin: 0px;
	font-weight: 500;
	font-size: 13px;
}
.product-thumb a img {
	width: 100%;
	border: 1px solid #ccc;
}
.product-details h4 a {
	font-size: 14px;
	color: #444;
	text-decoration: none;
	font-weight: 600;
}
/* career page */

.recent-job {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	background: #fff;
	margin-top: 25px;
}
.recent-job-hedng {
	width: 100%;
	background-color: #e4e4e4;
	padding-left: 20px;
	padding: 15px;
}
.recent-job-hedng h1 {
	font-size: 22px;
	padding: 0;
	margin: 0;
}
.recent-job-list {
	float: left;
	width: 100%;
}
.recent-job-list ul {
	padding-left: 0;
	list-style: none;
	margin: 0;
}
.recent-job-list ul li {
	float: left;
	width: 100%;
	border: 1px solid #f1f1f1;
	padding-left: 0px;
}
.recnt-job-box {
	float: left;
	width: 100%;
	background-color: #fff;
}
.recnt-job-box .rcnt-one {
	float: left;
	width: 60%;
	padding: 15px;
}
.recnt-job-box .rcnt-two {
	float: left;
	width: 20%;
	padding: 15px;
	border-left: 1px solid #f1f1f1;
	text-align: center;
}
.recnt-job-box .rcnt-three {
	float: left;
	width: 20%;
	padding: 15px;
	border-left: 1px solid #f1f1f1;
	text-align: center;
}
.recnt-job-box .rcnt-three span {
	padding: 5px 8px;
	background-color: #000;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	border-radius: 3px;
	font-weight: 600;
}
.recnt-job-box .rcnt-two i {
	padding: 5px 8px;
	background-color: #9cc026;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	border-radius: 3px;
}
.recnt-job-box .rcnt-one span {
	text-transform: uppercase;
	font-weight: 700;
}
.recnt-job-box .rcnt-three span a {
	color: #fff;
}
.recent-job-list ul li:nth-child(even) .recnt-job-box {
	background-color: #f7f7f7;
}
.recent-job-list ul li:hover .recnt-job-box {
	background-color: #9cc02621;
}
.career_cont {
	width: 100%;
	float: left;
	margin: 0px;
	background: #fff;
	padding: 15px 0;
}
.career_cont_l {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.career_cont_r {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.career_cont_r p {
	font-size: 15px;
	line-height: 27px;
	letter-spacing: 0.5px;
	padding: 0px 0px;
}
/* search result */

.search_result {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.search_result_top {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 15px;
	background: #fff;
	margin-bottom: 15px;
}
.search_result_top_l {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.search_result_top_l h2 {
	margin-top: 0px;
	padding: 0px;
}
.search_result_top_l h2 {
	margin-top: 8px;
	margin-bottom: 15px;
	font-size: 23px;
	font-weight: 600;
}
.search_result_top_l p {
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.5px;
	margin-bottom: 15px;
}
.search_result_top_l a {
	background: #19b06be0;
	padding: 8px 11px;
	float: left;
	color: #fff;
	letter-spacing: 0.5px;
}
.search_result_top_l a:hover {
	background: #000;
	text-decoration: none;
}
p.add-l i {
	padding-right: 8px;
	color: #34b97d;
	font-size: 18px;
	padding-left: 2px;
}
section.widget_search {
	background: #fff;
	padding: 15px;
}
.box_post {
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.search_pagenation {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}
.search_pagenation ul.pagination.justify-content-end {
	margin-top: 5px;
}
.search_pagenation .pagination>li>a, .pagination>li>span {
	color: #34b97d;
	border: 1px solid #34b97d;
}
.search_pagenation .pagination>.disabled>a {
	color: #34b97d;
	border: 1px solid #34b97d;
}
.search_pagenation li.page-item a:hover {
	color: #fff;
	border: 1px solid #34b97d;
	background: #34b97d;
}
.search_pagenation .pagination>.active>a {
	background: #34b97d;
	color: #fff;
}
.apply_form {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 13px;
	margin-top: 0px;
	background: #99999938;
}
.apply_form form.form-horizontal {
	width: 80%;
	margin: 2% auto;
}
.apply_form input {
	border-radius: 0;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #252525;
}
.apply_form button.btn.btn-primary.btn-lg {
	padding: 5px 8px;
	background-color: #9cc026;
	color: #fff;
	font-style: normal;
	font-size: 12px;
	border-radius: 3px;
}
.apply_form button.btn.btn-primary.btn-lg {
	padding: 7px 12px;
	background-color: #9cc026;
	color: #fff;
	font-style: normal;
	font-size: 14px;
	border-radius: 3px;
	border: 0;
}
.recnt-job-box .rcnt-three span button.nav-toggle {
	background: #000;
	color: #fff;
	border: 0px;
}
/* account dashboard */

.box_tabUser {
	background: #2E363F;
	min-height: 100vh;
}
.box_tabUser .col-xs-9 {
	padding-left: 0px !important;
	width: -webkit-calc(100% - 250px);
	width: -moz-calc(100% - 250px);
	width: calc(100% - 250px);
}
.box_tabUser h3 {
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
	margin: 0px;
}
ul.dash_tab {
	border-bottom: 1px solid #37414b;
}
ul.dash_tab li {
	width: 100%;
	border-top: 1px solid #37414b;
	border-bottom: 1px solid #1f262d;
	margin: 0px;
}
ul.dash_tab li a {
	color: #c7c7c7;
	margin: 0px;
	border: none;
	font-size: 13px;
}
.box_tabUser .nav-tabs>li.active>a, .box_tabUser .nav-tabs>li.active>a:focus, .box_tabUser .nav-tabs>li.active>a:hover {
	color: #fff;
	background-color: #19b06b;
	border: none;
	border-radius: 0px;
}
.card {
	margin-bottom: 30px;
	border: none;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
 border-radius: .25rem;
}
.social-profile {
	margin: 0 0;
	padding: 15px 15px 0;
}
.social-profile img {
	width: 100%;
}
.card-block {
	padding: 15px;
}
.card-block h4 {
	color: #000;
	font-weight: 400;
	margin-top: 0px;
}
.card-block h5 {
	font-weight: 400;
	margin-top: 0px;
}
.card-block p {
	font-size: 13px;
}
ul.list_prof {
	list-style: none;
	margin: 10px 0px;
	padding: 0px;
}
ul.list_prof li {
	margin-bottom: 5px;
}
ul.list_prof li .fa {
	margin-right: 5px;
}
ul.list_prof li a {
	color: #636363;
}
ul.list_prof li a {
	color: #636363;
}
.card-header {
	padding: 20px;
	background: #f9f9f9;
	color: #757575;
 border-radius: .25rem .25rem 0 0;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 15px;
}
ul.categries-list {
	list-style: none;
	padding: 10px 20px 0px;
	margin: 0px;
	display: inline-block;
}
ul.categries-list li {
	float: left;
	width: 100%;
	margin: 0 0 5px;
	position: relative;
}
ul.categries-list li a {
	float: left;
	width: auto;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	color: #636363;
	padding-left: 20px;
}
.follow-btn {
	margin: 10px 0px 0px 20px;
	display: inline-block;
}
.btn_follow {
	background: #19b06b;
	color: #fff !important;
	padding: 7px 20px;
	display: inline-block;
	border-radius: 2px;
	border: none;
	text-decoration: none !important;
}
span.rating-main ul li .fa {
	background: none;
	color: #fcba4a;
	padding: 0;
	margin: 0;
	font-size: 16px;
	width: 15px;
}
span.rating-main ul li {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
span.rating-main ul {
	padding: 0;
	margin: 0;
}
span.rating-main {
	display: inline-block;
	vertical-align: middle;
}
.main-map-sec_new {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 15px 15px;
	background: #fff;
	min-height: 100vh;
}
.faq-profBtn {
	background: #19b06b;
	color: #fff !important;
	padding: 5px 20px;
	display: inline-block;
	border-radius: 2px;
	border: none;
}
.general-info {
	margin-bottom: 0;
	border: none;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
 border-radius: .25rem;
	display: inline-block;
	width: 100%;
	padding-bottom: 30px;
}
.box_tabUser .col-xs-3 {
	padding-right: 0px;
	max-width: 250px;
}
.box_tabUser .nav-tabs>li>a:focus, .box_tabUser .nav-tabs>li>a:hover {
	color: #fff;
	background-color: #3bad78;
	border-radius: 0px;
	border: none;
}
article.slider-arti.customer_dashboard_sec {
	min-height: 80px;
	border-bottom: 1px solid #999;
}
.card-header h5 {
	color: #636363;
	font-size: 16px;
	margin: 0px;
	font-weight: 700;
}
.f_name {
	padding: 7px 5px !important;
	color: #636363;
	font-weight: 700;
}
ul.categries-list li a:before {
	float: left;
	content: "\f192";
	margin: 0px;
	color: currentColor;
	font-family: "FontAwesome";
	left: 0px;
	position: absolute;
}
.card {
	margin-bottom: 0px;
	border: none;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
 border-radius: .25rem;
}
.card h2 {
	margin: 0;
	padding: 0 0 20px;
}
p.dec {
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 310px;
	overflow: hidden;
	margin: 0 !important;
}
div.dataTables_length {
	margin: 0;
}
div.dataTables_length select {
	width: 110px !important;
	padding: 5px;
}
.dataTable th, .dataTable td {
	font-size: 12px;
	vertical-align: middle !important;
}
a.add-comp {
	float: right;
	background: #19b06b;
	color: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	margin: -70px 0 0 0;
}
a.navbar-brand {
	height: auto;
}
a.add-comp:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.card.pad-15 {
	padding: 15px;
}
div.dataTables_info {
	padding: 10px 0;
}
.dataTables_paginate ul.pagination {
	margin: 0;
}
div.dataTables_paginate {
	margin: 0;
}
.dataTables_length {
	color: #878787;
	margin: 7px 5px 0;
	position: relative;
	left: 5px;
	width: 50%;
	top: -2px;
}
.dataTables_filter {
	color: #878787;
	font-size: 11px;
	right: 0;
	top: 37px;
	margin: 4px 8px 2px 10px;
	/* position: relative; */

	text-align: left;
}
tr:hover {
	background: #f6f6f6;
}
.table-bordered {
	border: 1px solid #ddd;
}
.tab-content.inner_dash_s {
	padding: 20px;
	width: 100%;
}
.tooltip-2 {
	position: relative;
	display: inline-block;
	margin-right: 2px;
}
.link-del-view a {
	width: 25px;
	height: 25px;
	background: #19b06b;
	display: inline-block;
	text-align: center;
	color: #fff;
	border-radius: 7px;
	padding: 5px 2px;
}
.tooltip-2 .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 30px;
	padding: 5px 10px;
	font-size: 10px;
	right: 0;
}
.link-del-view a:hover {
	color: #fff;
}
.dataTables_paginate {
	line-height: 16px;
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}
.my-sts-table .pagination>.active>a, .my-sts-table .pagination>.active>span, .my-sts-table .pagination>.active>a:hover, .my-sts-table .pagination>.active>span:hover, .my-sts-table .pagination>.active>a:focus, .my-sts-table .pagination>.active>span:focus {
	background-color: #19b06b;
	border-color: #19b06b;
	color: #fff;
}
.my-sts-table .pagination>li>a, .my-sts-table .pagination>li>span {
	color: #19b06b;
}
.tooltip-2 .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 30px;
	padding: 5px 10px;
	font-size: 10px;
	right: 0;
}
.tooltip-2:hover .tooltiptext {
	visibility: visible;
}
.dataTables_filter input {
	margin-bottom: 0;
	margin-left: 15px;
}
#sampleTable_filter {
	float: right;
}
#sampleTable_filter {
	float: right;
}
/* 28 feb */

/* news page */

section.wel-come {
	padding: 50px 0;
	background: rgba(204, 204, 204, 0.25);
}
article.cmsmasters_post_masonry {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 25px;
	box-shadow: -1px 0px 3px 1px #ccc;
}
.cmsmasters_img_link img {
	width: 100%;
}
.cmsmasters_post_header {
	padding: 15px 20px 20px;
	background: #fff;
	box-shadow: 0px 0px 0px 1px #ccc !important;
}
h5.cmsmasters_post_title a {
	font-size: 18px;
	padding: 15px 0;
	margin: 0;
	vertical-align: middle;
	overflow: hidden;
	line-height: 30px;
	color: #777777;
}
.cmsmasters_post_content p {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: justify;
	color: #777777;
}
abbr.published {
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0;
	border: none !important;
	color: #6f6b67 !important;
}
span.cmsmasters_post_likes {
	margin-left: 10px;
}
span.cmsmasters_post_likes a {
	color: #3c3834;
	font-size: 13px;
	margin-left: 5px;
}
.cmsmasters_comments {
	margin-left: 10px;
}
.cmsmasters_comments a {
	color: #3c3834;
	font-size: 13px;
	margin-left: 5px;
}
.widget_search h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
	margin-top: 0px;
}
.search-form input.search-field.form-control {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: none;
	background: #fff;
	height: 55px;
	color: #777777;
}
.btn_ser button.btn.btn-default {
	min-height: 55px;
}
.box_post h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
ul.list_product {
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
ul.list_product li {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
.product-thumb {
	width: 30%;
	float: left;
	border: 1px solid transparent;
	-webkit-transition: all .4s;
	transition: all .4s;
	margin-right: 5%;
	padding: 0px;
}
.product-details {
	width: 65%;
	float: left;
}
p.product-date {
	margin: 0px;
	font-weight: 500;
	font-size: 13px;
}
.product-thumb a img {
	width: 100%;
	border: 1px solid #ccc;
}
.product-details h4 a {
	font-size: 14px;
	color: #444;
	text-decoration: none;
	font-weight: 600;
}
/**********customer***signup***************/

.form-section {
	max-width:800px;
	background-color:#fff;
	border-radius:2px;
	display: block;
	margin: 70px auto;
	overflow: hidden;
	}
.form-section .site-logo {
	margin-bottom: 25px;
	margin-top: 25px;
}
.tile.customer-signup .form-group label {
	font-size: 14px;
	font-weight: 400;
}
.tile.customer-signup input {
	font-size: 13px;
}
.tile.customer-signup select {
	font-size: 13px;
}
.tile.customer-signup textarea {
	font-size: 13px;
}
.tile.customer-signup .form-group label.frm-head {
	padding: 8px;
	background-color: #ececec;
	float: left;
	width: 100%;
	font-size: 14px;
	border-radius: 3px;
	font-weight: 600;
	margin: 10px 0;
}
.tile.customer-signup {
	padding-bottom: 20px;
}
button.btn.btn-primary {
	background-color: #9cc26f;
	border-color: #8bb559;
	margin-top: 15px;
}
button.btn.btn-primary:hover {
	background-color: #3c6644;
	border-color: #8bb559;
}
/***new css***/

.general-info input.form-control {
	height: 40px;
	padding: 8px;
	box-shadow: none;
	border-radius: 2px;
	outline: none;
}
.general-info select.form-control {
	height: 40px;
	padding: 8px;
	box-shadow: none;
	border-radius: 2px;
	outline: none;
}
.general-info form#update_Profile {
	padding: 0 15px;
}
span.male_se, span.female_se {
	padding: 5px 20px 5px 0;
	display: inline-block;
}
span.male_se input, span.female_se input {
	margin-right: 6px;
}
.card input.form-control {
	height: 40px;
	padding: 8px;
	box-shadow: none;
	border-radius: 2px;
	outline: none;
}
.card select.form-control {
	height: 40px;
	padding: 8px;
	box-shadow: none;
	border-radius: 2px;
	outline: none;
}
button.chnge-mail {
	background: #3d6745;
	padding: 8px 16px;
	border: none;
	color: #fff;
	margin-right: 10px;
}
button.chnge-mail:hover {
	background: #000;
	padding: 8px 16px;
	border: none;
	color: #fff;
}
a.cancel-btn {
	background: #3d6745;
	padding: 8px 16px;
	border-radius: 4px;
	vertical-align: middle;
	color: #fff;
	margin-left: 0px;
	display: inline-block;
	text-decoration: none;
}
a.cancel-btn:hover {
	background: #000;
	outline: none;
	color: #fff;
	text-decoration: none;
}
a.page-link:hover {
	color: #fff;
	text-decoration: none;
}
.card.pad-15 .card-header {
	margin: -15px -15px 20px;
}
label.error {
	font-weight: normal;
	font-size: 12px;
	margin-top: 4px;
	color: #ff0000;
}
.main-map-sec_new.account-page {
	padding: 15px 0;
}
a.page-link {
	padding: 8px 15px;
	background: #3d6745;
	margin-top: 10px;
	display: inline-block;
	color: #fff;
	font-weight: normal;
	border-radius: 3px;
}
.uplad-img img {
	max-width: 100px;
}
.social-profile.thumb_img.uplad-img {
	padding: 15px 0 10px 0;
}
.tablename-head .form-group {
	overflow: hidden;
}
.card.pad-15 .form-group {
	overflow: hidden;
}
.vie_Complaint_rep textarea {
	height: 70px !important;
	width: 100% !important;
}
.help-block {
	color: #f10000 !important;
	font-size: 12px;
}
.Schedule_main_one button.btn.btn-success.btn-md {
	background-color: #3d6745;
	border: 1px solid #3d6745;
}
.Schedule_main_one.card textarea {
	padding: 10px;
	height: 80px !important;
	width: 100% !important;
}
.customer-signup input.form-control {
	height:42px;
	padding:8px;
	border-radius:0px;
	margin: 0 0 10px;
	box-shadow:none;
	outline:none;
	}
.customer-signup select.form-control {
	height:42px;
	padding:8px;
	border-radius:0px;
	margin:0px 0 10px;
	box-shadow:none;
	outline:none;
	}
.customer-signup .help-block {
	font-size: 11px;
	position: absolute;
	bottom: -8px;
	width: 100%;
	margin: 0;
}
.site-logo.sign-up-page {
	margin-bottom: 5px;
}
.img_cntr img {
	width: 100%;
	max-width: 280px;
	margin: 40px 0;
}
.home_slider {
	position: relative;
}
.breadcrumb-content {
	padding: 120px 0;
}
.login-page .breadcrumb-content {
	padding: 0;
}
.statment-head-left h4,  .statment-head-right h4 {
	font-size: 14px;
	padding: 8px 0;
	margin: 0;
}
.f_nameOne {
	padding: 6px 0;
}
.statment h2 {
	text-align: center;
	font-weight: 600;
	font-size: 25px;
	margin: 35px 0;
}
.head-statment {
	overflow: hidden;
	padding: 10px 0;
	border: 1px solid #ccc;
	margin-bottom: 25px;
}
.card-body.statment th,  .card-body.statment td {
	padding: 12px 8px;
}

/**Ard**/

select.select-lang {
    float:right;
    margin-top:22px;
    padding:5px 10px;
    background:#8fb850;
    text-transform:capitalize;
    color:#fff;
    border-radius:2px;
    border:2px solid #8fb850;
    margin-left:10px;
	}
.navi select.select-lang { 
    margin-top:18px;
	}
.footer-add ul li:nth-child(1) {
    position:relative;
	}
.footer-add ul li:nth-child(1):after {
    content: "\f041";
    position:absolute;
    font-family:FontAwesome;
    left:0px;
    top:0px;
    font-size:22px;
    color:#333;
	}	
.footer-add ul li:nth-child(2) {
    position:relative;
	}
.footer-add ul li:nth-child(2):after {
    content: "\f0e0";
    position:absolute;
    font-family:FontAwesome;
    left:0px;
    top:0px;
    font-size:18px;
    color:#333;
	}	
.footer-add ul li:nth-child(3) {
    position:relative;
	}
.footer-add ul li:nth-child(3):after {
    content:"\f095";
    position:absolute;
    font-family:FontAwesome;
    left:0px;
    top:0px;
    font-size:20px;
    color:#333;
	}	
.content ul li:nth-child(1) {
    position:relative;
	}
.content ul li:nth-child(1):after {
    content: "\f041";
    position:absolute;
    font-family:FontAwesome;
    font-family: FontAwesome;
    left: 3px;
    top: 14px;
    font-size:22px;
    color:#181818;
	}	
.content ul li:nth-child(2) {
    position: relative;
	}	
.content ul li:nth-child(2):after {
    content: "\f0e0";
    position:absolute;
    font-family:FontAwesome;
    font-family: FontAwesome;
    left: 3px;
    top: 14px;
    font-size:20px;
    color:#181818;
	}	
.content ul li:nth-child(3) {
    position: relative;
	}	
.content ul li:nth-child(3):after {
    content:"\f095";
    position:absolute;
    font-family:FontAwesome;
    font-family: FontAwesome;
    left: 3px;
    top: 14px;
    font-size:20px;
    color:#181818;
	}	
.content ul li {	
    position:relative;
    padding-left:35px;
    color:#696969;
    font-size:14px;
    font-weight:600;
    list-style:none;
    border-bottom:1px solid #eeeeee;
    overflow:hidden;
    align-items:center;	
	}	
.content ul li a {
    color: #696969;
    font-size: 14px;
    font-weight: 600;
	}		
.content ul {
    padding: 0px !important;
	}	
.cinavlink a {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px 15px;
    display: inline-block;
    color: #333;
	}
.cinavlink {
    text-align:center;
	}	
.newsList .box_post {
    margin-top:0px;
	}
.navi a.navbar-brand {
    padding:12px;
	}	
.gogreen ul.list-choose {
    margin-top:55px;
	}
#recent_job input {
    border-radius:0px;
    box-shadow:none;
	}					
form#recent_job{
    padding:25px;
	}
.jobadd {
    background: #8fb850;
    color: #fff;
    border-radius: 0;
    border: 2px solid #8fb850;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
	}	
.main_icon {
    position:relative;
	}
.main_icon .fa {
    position:absolute;
    top:0px;
    background:#3d6745;
    width:42px;
    height:42px;
    text-align:center;
    line-height:42px;
    font-size:18px;
    color:#fff;
	}
.customer-signup input.form-control{
    padding-left:47px;
	}
.customer-signup label.frm-head {
    margin:10px 0px 20px 0px !important;
    padding:0px 0px 10px 0px !important;
    background:none !important;
    font-size:18px !important;
    border-bottom:1px solid #ccc;
	}	
/*.customer-signup label.frm-head:after {
    position: absolute;
    content: '';
    background: rgba(51, 51, 51, 0.72);
    height: 2px;
    width: 50px;
    left: 0px;
    bottom: 0px;
	}*/	
.customer-signup .submit-login .btn {
    background:#8fb850 !important;
    border:2px solid #8fb850 !important;
    padding:10px 20px 10px 20px !important;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase !important;
    margin-top:15px;
    position:relative;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    border-radius: 0px !important;
	}	
.datepicker-dropdown{
    min-width:275px !important;
	}
.btn-successOne{
    border:2px solid #8fb850 !important;
    padding:10px 20px 10px 20px !important;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase !important;
    margin-top:15px;
    position:relative;
	}

.forgot_admin .submit-login {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
	}
.forgot_admin .submit-login input {
    float: left;
}

.forgot_admin .submit-login a{    
    float: right;
    text-align: right;
    font-weight: normal;
    background-color: #3d6745;
    color: #fff;
	}
.forgot_admin span.help-block.success_msg {
    color:#008619 !important;
	}
.general-info #floating-panel input {
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: 180px !important;
	}
	
	
	

	


/****/



@media screen and (min-width: 1600px) {
	.slider-containt {
		bottom:130px;
	}
}
@media screen and (max-width: 1199px) {
	.navi ul.main-nav li a,  ul.main-nav li a {
		padding: 30px 10px;
	}
	.navi ul.login-div {
		margin: 23px 0 0;
	}
	.top_search_sec {
		width: 53%;
	}
}
@media screen and (max-width: 991px) {

.container {
    width:100%;
	}
ul.login-div {
	padding: 0;
	margin: 0 auto 15px;
	text-align: center;
	float: none !important;
	display: inline-block;
}
.navbar-brand img {
	max-width: 125px;
}
ul.main-nav li a {
	padding: 31px 8px;
	font-size: 12px;
}
.navi ul.main-nav li a {
	padding: 25px 8px;
}
.navi .navbar-brand img {
	max-width: 100px;
}
.navi ul.login-div {
	margin: 5px 0 15px;
}
.stu-coment h4 {
	line-height:18px;
	letter-spacing: 0.8px;
	font-size:13px;
}
.footer-link-social ul li p {
	font-size:14px;
}
.contant h3 {
	font-size:14px;
}
.contant h3 span a {
	font-size:11px;
}
.top_search_sec {
	width: 47%;
}
.top_login_sec a {
	padding: 4px 8px;
	letter-spacing: 0.3px;
	font-size: 13px;
	margin-right: 3px;
}
.top-header ul li a .fa {
	font-size: 13px;
	margin-right: 3px;
}
.top-header ul li a {
	padding: 10px 6px 10px 2px;
	font-size: 13px;
}
.site-logo img {
	max-width: 80px;
	width: 100%;
}
.site-logo h3 {
	font-size: 16px;
	margin: 15px 0 0;
}
.box_tabUser .col-xs-9 {
	width: 75% !important;
}
.box_tabUser .col-xs-3 {
	max-width: inherit !important;
}
}
 @media screen and (max-width: 850px) {
#cate-slid2 .owl-prev {
	left: -5px;
}
#cate-slid2 .owl-next {
	right: -5px;
}
#cate-slid .owl-next {
	right: -5px;
	background: #000 !important;
	border-radius: 0;
}
#cate-slid .owl-prev {
	left: -5px;
	background: #000 !important;
	border-radius: 0;
}
}
 @media screen and (max-width: 820px) {
.rag-sec .col-sm-6 {
	float: left;
	width: 100%;
	display: block;
}
.col-sm-6.two-6 {
	padding: 50px 70px;
}
}
 @media screen and (max-width: 767px) {
.stu-coment h4 {
	line-height: 20px;
	letter-spacing: 0.8px;
	font-size: 13px;
}
.map-form {
	padding: 30px;
	background: #fff;
	margin: 0 0 0 0;
}
.news_letter_heading h2 {
	margin: 15px 0;
	text-align: center;
}
.footer-link-social ul li p {
	margin: 12px 0;
}
.footer-link-social ul {
	text-align: center;
}
.f_heading h3 {
	margin: 20px 0;
	text-align: center;
}
.f_middle ul {
	text-align: center;
}
.f_middle p {
	padding: 30px 0;
	/*  text-align: center;*/

	max-width: 600px;
	margin: 0 auto;
}
.footer-logo h3 {
	margin: 20px 0 0;
	text-align: center;
}
.slider-containt h2 {
	font-size: 25px;
	letter-spacing: 1px;
	margin: 0 0 30px 0;
	line-height: 35px;
}
.slider-containt p {
	font-size: 14px;
	letter-spacing: 0.6px;
	line-height: 20px;
	font-weight: 500;
	margin: 0 0 25px;
}
ul.login-div li button.user-btn {
	padding: 5px 18px;
	font-size: 13px;
}
.home_slider button.user-btn.login:after {
	display: none;
}
.slider-containt {
	position: absolute;
	padding: 24px 40px;
	top: 24%;
	text-align: center;
}
.home_slider ul.login-div li {
	text-align: center;
	float: none;
	margin: 0;
}
.home_slider ul.login-div li button.user-btn {
	margin: 0 0 20px;
}
ul.nav.navbar-nav.main-nav {
	display: block;
	margin-bottom: 15px;
}
ul.nav.navbar-nav.main-nav li a {
	padding: 10px;
	text-align: left;
}
button.user-btn.login:after {
	top: 15px;
}
.navbar-toggle {
	margin-top: 20px;
}
.cate-slider .owl-next {
	right: 0;
	background: #fff !important;
	border-radius: 0 !important;
}
.cate-slider .owl-prev {
	left: 0;
	background: #fff !important;
	border-radius: 0 !important;
}
.box_serRight .box_lefTwo {
	margin-left: 10px;
}
.box_lefOne {
	width: calc(100% - 110px);
}
.box_lefTwo {
	display: inline-block;
	margin-right: 10px;
}
.main_login_sec .col-sm-6 {
	width: 100%;
	padding: 0 15px;
}
.bg-lg {
	display: none;
}
.main_login_sec .tile {
	padding: 5px 15px 5px 15px;
	max-width: 450px;
	border-radius: 8px;
}
.f_follow {
	text-align: center;
}
.footer-link-social {
	margin: 40px 0 0;
}
.top-header ul {
	text-align: center;
}
.er-containt {
	padding: 20px 0;
	text-align: center;
}
.tes-pro {
	margin: 0;
	text-align: center;
}
.tes-pro img {
	max-width: 75px;
}
p.coment {
	text-align: center;
}
.item-cont h3 {
	text-align: center;
}
.f_name {
	padding: 7px 0 !important;
}
.box_tabUser .col-xs-9 {
	width: 66.66666667% !important;
}
.box_tabUser .col-xs-3 {
	max-width: inherit !important;
	width: 33.33333333%;
}
}







/* 17 march */







@media (min-width:320px) and (max-width:450px) {
.top-header ul li a {
	padding: 10px 8px 5px 5px;
	font-size: 12px;
}
.top-header .col-sm-6 {
	padding: 0;
}
.search-box input.input-search {
	font-size: 12px;
}
.top-header i.fa {
	display: none;
}
.top_login_sec a {
	padding: 4px 6px;
	font-size: 12px;
}
.slider-containt h2 {
	font-size: 20px;
	line-height: 30px;
}
.slider-containt {
	padding: 8px 40px;
}
.col-sm-6.two-6 {
	padding: 50px 30px;
}
.er-containt p {
	line-height: 30px;
}
.f_middle ul li {
	text-align: left;
}
.f_heading h3 {
	text-align: left;
}
.box_serLeftT, .box_serRightT {
	margin-bottom: 40px;
}
section.popu-countries {
	padding: 40px 0 40px 0;
}
ul.list-choose li p {
	font-size: 13.5px;
	font-weight: 200;
	line-height: 25px;
	letter-spacing: 0.5px;
}
.ppt-div {
	padding: 0px 0;
}
.search-box i.fa {
	display: block;
}
.details .box {
	margin-bottom: 65px;
}
}

@media (min-width:451px) and (max-width:767px) {
.er-containt p {
	line-height: 27px;
}
ul.list-choose li p {
	line-height: 25px;
	font-size: 13px;
	font-weight: 400;
}
ul.list-choose li {
	margin-bottom: 16px;
}
p.coment {
	line-height: 28px;
	margin-top: 25px;
}
.f_middle p {
	padding-bottom: 0px;
}
.f_heading h3 {
	text-align: left;
}
.working_hours li {
	text-align: left;
}
.img_cntr img {
	max-width: 211px;
	margin: 40px 0;
	margin-top: 25px;
	margin-bottom: 0;
}
.team-back .team-card {
	width: 48%;
	float: left;
	margin: 0px 1%;
	margin-bottom: 8px !important;
}
.team-card .social-row a {
	padding: 15px 8px !important;
}
}

@media (min-width:768px) and (max-width:955px) {
.my-test-slider .col-md-4 {
	float: left;
	width: 25%;
}
.my-test-slider .col-md-8 {
	width: 70%;
	float: left;
	margin-left: 5%;
}
p.coment {
	text-align: left;
	margin: 0 auto 24px;
	font-size: 14px !important;
	line-height: 28px;
	color: #fff;
	font-style: normal !important;
	margin-top: 14px;
}
.er-containt {
	padding: 20px 0;
}
.er-containt p {
	line-height: 30px;
}
.box-text h2 {
	font-size: 25px;
}
p.hed_wdt {
	width: 80%;
}
ul.list-choose li p {
	font-size: 13px;
	font-weight: 500;
	line-height: 24px;
}
ul.list-choose li p {
	font-size: 12.5px;
	font-weight: 500;
	line-height: 23px;
}
.f_heading.footer-add a {
	word-break: break-all;
	font-size: 13px;
}
.f_middle .col-sm-4 {
	padding-left: 12px;
}
section.popu-countries {
	padding: 40px 0 40px 0;
}
.copyright {
	float: left;
	width: 97%;
}
.top_login_sec {
	padding: 0px 0px;
}
.contact_02_social_media ul li a {
	width: 40px;
	height: 40px;
	font-size: 14px;
}
.contact_02_social_media .fa {
	top: 12px;
}
.heading-section {
	padding: 0px 0px 27px;
}
p.hed_wdt {
	width: 60%;
	margin: 0px auto 5px !important;
	line-height: 26px;
	font-size: 14px !important;
}
.heading-section h2 {
	margin: 45px auto 22px;
}
section.add-class {
	padding: 0px 0 12px;
}
.career_cont .col-md-3 {
	width: 35%;
	float: left;
}
.career_cont .col-md-9 {
	width: 65%;
	float: left;
	margin-left: 0%;
}
.career_cont_l img {
	width: 100%;
}
section.our-work {
	padding: 25px 0;
}
.top-header .col-sm-6 {
	padding-left: 7px;
}
}
